﻿@model Initiatives.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Html.BeginForm("ActivityReport", "OppoList", FormMethod.Post, new { @id = "ActivityReport", @class = "sky-form", @enctype = "multipart/form-data" }))
{
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="container-fluid">
                @*<form class="sky-form" id="sky-form">*@

                <div class="container">
                    <h4><b>Activities</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                @*<div class="col-md-6">*@
                @Html.HiddenFor(m => m.CreateByUserId)
                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.OppContId)
                <div id="OppoIds" class="hidden">@Model.OppContId</div>@*use for jquery upload calling*@
                <div id="RoleIds" class="hidden">@Model.RoleId</div>
                <label class="label h4">Put your recent activity report here</label>
                <label class="textarea">
                    <i class="icon-append fa fa-comment"></i>
                    <textarea id="ActivityReportContent" rows="2"></textarea>
                </label>
                <label class="label h4">Put your action plan here</label>
                <label class="textarea">
                    <i class="icon-append fa fa-comment"></i>
                    <textarea id="ActionPlanContent" rows="2"></textarea>
                </label>
                <label class="label h4">Put your remark here</label>
                <label class="textarea">
                    <i class="icon-append fa fa-comment"></i>
                    <textarea id="RemarkContent" rows="2"></textarea>
                </label>
                <div class="clearfix margin-bottom-10"></div>
                <div class="row container-fluid btn-FloatRight">
                    <button class="btn-u btn-success margin-bottom-25" type="button" data-toggle="modal">
                        <i class="fa fa-tags"></i> Submit Activities
                    </button>
                </div>
            </div>
        </div>
    </div>
}
