﻿@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }
@model Initiatives.Models.MainModel

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("OpportunityList", "OppoList")'">
        <i class="fa fa-tags"></i> Back
    </button>
    <div class="panel panel-u margin-bottom-20">
        <div class="panel-heading margin-bottom-10">
            <h3 class="panel-title"><i class="fa fa-user"></i> Create New Opportunity</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("CreateOpportunity", "OppoList", FormMethod.Post, new { @id = "CreateOpportunity", @class = "sky-form" }))
            {
                <div class="shadow-wrapper">
                    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                        <div class="row">
                            <div class="container">
                                <h4><b>General Information</b></h4>
                            </div>
                            <div class="clearfix margin-bottom-10"></div>
                            <div class="col-md-6">
                                <section>
                                    <label for="name" class="col-lg-3 control-label">Customer Name</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.OppoListDetail.CustId, (IEnumerable<SelectListItem>)ViewBag.Customerlist, new { @id = "custName", @class = "form-control-static" })
                                    </label>
                                </section>
                                <section>
                                    @Html.LabelFor(m => m.OppoListDetail.OpportunityName, "Opportunity Name", new { @class = "col-lg-3 control-label" })
                                    @Html.TextBoxFor(m => m.OppoListDetail.OpportunityName, new { @id = "OpportunityName", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.OppoListDetail.OpportunityName, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="Description" class="col-lg-3 control-label">Description</label>
                                    <label class="col-lg-offset-5 textarea textarea-resizable">
                                        @Html.TextAreaFor(m => m.OppoListDetail.Description, 3, 1, new { @id = "Description" })
                                    </label>
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.OppoListDetail.Description, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="userName" class="col-lg-3 control-label">Assign To</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.OppoListDetail.AccManagerId, (IEnumerable<SelectListItem>)ViewBag.Managerlist, new { @id = "AssignTo", @class = "form-control-static" })
                                    </label>
                                </section> 
                                <section>
                                    <label for="LOBApproval" class="col-lg-3 control-label">Approval by Hand of LOB</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.OppoListDetail.ApprovalId, (IEnumerable<SelectListItem>)ViewBag.LOBApproval, new { @id = "LOBApproval", @class = "form-control-static" })
                                    </label>
                                </section>
                                <section>
                                    <label for="WinningChances" class="col-lg-3 control-label">Winning Chances</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.OppoListDetail.WinningChancesId, (IEnumerable<SelectListItem>)ViewBag.WinningChances, new { @id = "WinningChances", @class = "form-control-static" })
                                    </label>
                                </section>
                                <section>
                                    <label for="type" class="col-lg-3 control-label">Opportunity Type</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.OppoListDetail.OppoTypeId, (IEnumerable<SelectListItem>)ViewBag.OppoTypeList, new { @id = "OpportunityType", @class = "form-control-static" })
                                    </label>
                                </section>                               
                            </div>
                            <div class="col-md-6">       
                                <section>
                                    <label for="type" class="col-lg-3 control-label">Opportunity Category</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.OppoListDetail.CatId, (IEnumerable<SelectListItem>)ViewBag.CategoryList, new { @id = "OpportunityCategory", @class = "form-control-static" })
                                    </label>
                                </section>
                                <section>
                                    <label for="OpportunityValue" class="col-lg-3 control-label">Opportunity Value (RM)</label>
                                    @Html.TextBoxFor(m => m.OppoListDetail.OpportunityValue, new { @id = "OpportunityValue", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label> 
                                    @Html.ValidationMessageFor(m => m.OppoListDetail.OpportunityValue, null, new { @class = "note-error color-red" })
                                </section>
                                @*<section>
                                    <label for="BudgetaryRevenue" class="col-lg-3 control-label">Budgetary Revenue (RM)</label>
                                    @Html.TextBoxFor(m => m.OppoListDetail.BudgetaryRevenue, new { @id = "BudgetaryRevenue", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label> 
                                    @Html.ValidationMessageFor(m => m.OppoListDetail.BudgetaryRevenue, null, new { @class = "note-error color-red" })
                                </section>*@      
                                <section>
                                    <label for="TargetGP" class="col-lg-3 control-label">Target GP (%)</label>
                                    @Html.TextBoxFor(m => m.OppoListDetail.TargetGP, new { @id = "TargetGP", @class = "form-control", @type = "text" })
                                    @Html.ValidationMessageFor(m => m.OppoListDetail.TargetGP, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="MajorProjectRisk" class="col-lg-3 control-label">Major Project Risk</label>
                                    @Html.TextBoxFor(m => m.OppoListDetail.MajorProjectRisk, new { @id = "MajorProjectRisk", @class = "form-control", @type = "text" })
                                    @Html.ValidationMessageFor(m => m.OppoListDetail.MajorProjectRisk, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="SimilarProject" class="col-lg-3 control-label">Similar Project Previously Done by KUBTel</label>
                                    @Html.TextBoxFor(m => m.OppoListDetail.SimilarProject, new { @id = "SimilarProject", @class = "form-control", @type = "text" })
                                    @Html.ValidationMessageFor(m => m.OppoListDetail.SimilarProject, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="ApprovingAuthority" class="col-lg-3 control-label">Approving Authority to Enter Business Potential</label>
                                    @Html.TextBoxFor(m => m.OppoListDetail.ApprovingAuthority, new { @id = "ApprovingAuthority", @class = "form-control", @type = "text" })
                                    @Html.ValidationMessageFor(m => m.OppoListDetail.ApprovingAuthority, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="Submission" class="col-lg-3 control-label">Proposal Submission</label>
                                    <label class="col-lg-offset-5 input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        @Html.TextBoxFor(m => m.OppoListDetail.Submission, "{0:dd/MM/yyyy}", new { @id = "Submission", @class = "datepicker", @type = "text" })
                                    </label>
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.OppoListDetail.Submission, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="TargetAward" class="col-lg-3 control-label">Target Award</label>
                                    @Html.TextBoxFor(m => m.OppoListDetail.TargetAward, new { @id = "TargetAward", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.OppoListDetail.TargetAward, null, new { @class = "note-error color-red" })
                                </section>
                                @*<section>
                                    <label for="Status" class="col-lg-3 control-label">Status</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.OppoListDetail.StatusId, (IEnumerable<SelectListItem>)ViewBag.StatusList, new { @id = "Status", @class = "form-control-static" })
                                    </label>
                                </section>*@
                            </div>
                            <div class="clearfix margin-bottom-20"></div>
                        </div>
                    </div>
                </div>               
                <button type="submit" class="btn-u btn-u-primary btn-FloatRight">Submit</button>
            }
        </div>
    </div>
</div>

    @section scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                //debugger;
                $.validator.addMethod('date',
                function (value, element) {
                    if (this.optional(element)) {
                        return true;
                    }

                    var ok = true;
                    try {
                        $.datepicker.parseDate('dd/mm/yy', value);
                    }
                    catch (err) {
                        ok = false;
                    }
                    return ok;
                });

                $(".datepicker").datepicker({
                    dateFormat: 'dd/mm/yy',
                    prevText: '<i class="fa fa-angle-left"></i>',
                    nextText: '<i class="fa fa-angle-right"></i>'
                });
            });
        </script>
    }
