﻿@model IEnumerable<Initiatives.Models.FileUpload>

<h2>Index</h2>

<p>
    @Html.ActionLink("Upload New", "DocManagement")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.File)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        string filename = item.FileName.Replace("\\", ",");
        string filename1 = filename.Split(',')[3].ToString();
        <tr>
            <td>
                @Html.DisplayFor(modelItem => filename1)
            </td>
            <td>
                @Html.ActionLink("Download", "Filedownload", new { id = item.fileEntryId })
            </td>
        </tr>
    }
</table>