﻿@model Initiatives.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Html.BeginForm("InitiationReport", "OppoList", FormMethod.Post, new { @id = "InitiationReport", @class = "sky-form", @enctype = "multipart/form-data" }))
{
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="container-fluid">
                <div class="container">
                    <h4><b>Initiation Report</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                @Html.HiddenFor(m => m.CreateByUserId)
                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.OppContId)
                @Html.HiddenFor(m => m.RoleId)
                <div class="container">
                    <h4><b>Technology Provider</b></h4>
                    <div class="btn-FloatLeft">
                        <button id="AddTechProvider" type="button" class="btn-SaveChanges btn-u btn-u-primary">Add Technology Provider</button>
                    </div>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover wrapper" id="TechProviderTable">
                        <thead>
                            <tr>
                                <th class="all">Name</th>
                                <th class="all">Product</th>
                                <th class="all">Solution</th>
                                <th class="all">Appointment</th>
                                <th class="desktop"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 1; int j = 1; }
                            @foreach (var item in Model.TechProviderDetail)
                            {
                                <tr>
                                    <td><input class="form-control form-control-doc all" type="text" name="Name" @*readonly*@ value="@item.TechName" /></td>
                                    <td><input class="form-control form-control-doc all" type="text" name="Product" @*readonly*@ value="@item.TechProduct" /></td>
                                    <td><input class="form-control form-control-doc all" type="text" name="Solution" @*readonly*@ value="@item.TechSolution" /></td>
                                    <td>
                                        <label class="select">
                                            @Html.DropDownListFor(m => item.appointmentId, (IEnumerable<SelectListItem>)ViewData["Appointmentlist" + i], new { @id = "Appointment", @class = "form-control-static" })
                                            @*@Html.DropDownListFor(m => item.appointmentId, new SelectList(Model.TechProviderDetail, "appointmentId", "appointmentName",item.appointmentId), new { @id = "Appointment", @class = "form-control-static" })*@
                                        </label>
                                    </td>
                                    <td><button type="button" class="RemoveTechProviderItem btn-u btn-u-primary">Delete</button></td>
                                </tr>
                                i++;
                            }
                        </tbody>

                    </table>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="container">
                    <h4><b>Competitor</b></h4>
                    <div class="btn-FloatLeft">
                        <button id="AddCompetitorTable" type="button" class="btn-SaveChanges btn-u btn-u-primary">Add Competitor Name</button>
                    </div>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover wrapper" id="CompetitorTable">
                        <thead>
                            <tr>
                                <th class="all">Name</th>
                                <th class="all">Product</th>
                                <th class="all">Solution</th>
                                <th class="desktop">Strength</th>
                                <th class="desktop"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CompetitorDetail)
                            {
                                <tr>
                                    <td><input class="form-control form-control-doc all" type="text" name="Name" @*readonly*@ value="@Html.DisplayFor(m => item.CompetitorName)" /></td>
                                    <td><input class="form-control form-control-doc all" type="text" name="Product" @*readonly*@ value="@Html.DisplayFor(m => item.CompetitorProduct)" /></td>
                                    <td><input class="form-control form-control-doc all" type="text" name="Solution" @*readonly*@ value="@Html.DisplayFor(m => item.CompetitorSolution)" /></td>
                                    <td>
                                        <label class="select">
                                            @Html.DropDownListFor(m => item.CompStrengthId, (IEnumerable<SelectListItem>)ViewData["CompStrengthList" + j], new { @id = "Strength", @class = "form-control-static" })
                                        </label>
                                    </td>
                                    <td><button type="button" class="RemoveCompetitorItem btn-u btn-u-primary">Delete</button></td>
                                </tr>
                                j++;
                            }
                        </tbody>
                    </table>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="container">
                    <h4><b>SWOT Analysis</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover wrapper" id="SWOTAnalysisTable">
                        <thead>
                            <tr>
                                <th class="all">Strength</th>
                                <th class="all">Weakness</th>
                                <th class="all">Opportunity</th>
                                <th class="all">Threat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @if (Model.SWOTAnalysisDetail == null)
                                {
                                    <td>
                                        <label id="Strength" class="Strength textarea textarea-resizable">
                                            <textarea rows="3"></textarea>
                                        </label>
                                    </td>
                                    <td>
                                        @*<input class="form-control form-control-doc all" type="text" name="Weakness" />*@
                                        <label id="Weakness" class="Weakness textarea textarea-resizable">
                                            <textarea rows="3"></textarea>
                                        </label>
                                    </td>
                                    <td>
                                        <label id="Opportunity" class="Opportunity textarea textarea-resizable">
                                            <textarea rows="3"></textarea>
                                        </label>
                                    </td>
                                    <td>
                                        <label id="Threat" class="Threat textarea textarea-resizable">
                                            <textarea rows="3"></textarea>
                                        </label>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <label id="Strength" class="Strength textarea textarea-resizable">
                                            <textarea rows="3">@Model.SWOTAnalysisDetail.Strength</textarea>
                                        </label>
                                    </td>
                                    <td>
                                        @*<input class="form-control form-control-doc all" type="text" name="Weakness" />*@
                                        <label id="Weakness" class="Weakness textarea textarea-resizable">
                                            <textarea rows="3">@Model.SWOTAnalysisDetail.Weakness</textarea>
                                        </label>
                                    </td>
                                    <td>
                                        <label id="Opportunity" class="Opportunity textarea textarea-resizable">
                                            <textarea rows="3">@Model.SWOTAnalysisDetail.Opportunity</textarea>
                                        </label>
                                    </td>
                                    <td>
                                        <label id="Threat" class="Threat textarea textarea-resizable">
                                            <textarea rows="3">@Model.SWOTAnalysisDetail.Threat</textarea>
                                        </label>
                                    </td>
                                }                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                @if (Model.RoleId == "R02" || Model.objCanEdit.canEdits == true)
                {
                    <div class="row btn-FloatRight">
                        @*<button id="UpdateInitReport" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Update changes</button>*@
                        <button id="SubmitInitReport" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                    </div>
                }
            </div>
        </div>
    </div>
}