﻿@model Initiatives.Models.MainModel
@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <div id="result">
        <!--Basic Table Option (Spacing)-->
        <div class="panel panel-u">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-user"></i>Opportunities List
                </h3>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="margin-bottom-25">
                    @if (Model.RoleId == "R02" || Model.RoleId == "R03")
                    {
                        <button id="bAddOpportunity" type="button" class="btn-u btn-u-primary" onclick="location.href = '@Url.Action("CreateOpportunity", "OppoList")'">Add New Opportunity</button>
                    }
                    @*<button id="bOpportunitySummary" type="button" class="btn-u btn-u-primary">Opportunities Summary</button>*@
                </div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover wrapper hidden" id="OppoTable">
                        <thead>
                            <tr>
                                <th class="never"></th>
                                <th class="all"></th>
                                <th class="all">Customer</th>
                                <th class="all">Opportunity Name</th>
                                @*<th class="desktop">Type</th>*@
                                <th class="desktop">Description</th>
                                @*<th class="desktop">Assign To</th>
    <th class="desktop">Business Category</th>*@
                                <th class="desktop">Value (RM)</th>
                                <th class="desktop">Proposal Submission</th>
                                <th class="desktop">Target Award</th>
                                @*<th class="desktop">Status</th>*@
                                <th class="desktop">Last Activity</th>
                                <th class="desktop">Last Activity Date</th>
                                @*<th class="tablet">Gross Profit (%)</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OppoListObject)
                            {
                                <tr>
                                    <td class="hide never">@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td class="all"></td>
                                    <td class="all">@Html.DisplayFor(modelItem => item.Abbreviation)</td>
                                    <td class="all">@Html.DisplayFor(modelItem => item.OpportunityName)</td>
                                    @*<td class="desktop">@Html.DisplayFor(modelItem => item.OppoType)</td>*@
                                    <td class="desktop">@Html.DisplayFor(modelItem => item.Description)</td>
                                    @*<td class="desktop">@Html.DisplayFor(modelItem => item.AccManagerName)</td>*@
                                    <td class="desktop">@Html.DisplayFor(modelItem => item.OpportunityValue)</td>
                                    <td class="desktop">@Html.DisplayFor(modelItem => item.Submission)</td>
                                    <td class="desktop">@Html.DisplayFor(modelItem => item.TargetAward)</td>
                                    @*<td class="desktop">@Html.DisplayFor(modelItem => item.Status)</td>*@
                                    <td class="desktop">@Html.DisplayFor(modelItem => item.LastActivity)</td>
                                    <td class="desktop">@Html.DisplayFor(modelItem => item.LastActivityDate)</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" style="text-align:right; border-bottom:0px;">Total:</td>
                                <td colspan="5" style="border-bottom:0px; border-left: 1px;"></td>
                            </tr>
                        </tfoot>
                        @*<tfoot>
                            <tr>
                                <th class="never"></th>
                                <th class="all"></th>
                                <th class="all">Customer</th>
                                <th class="all">Opportunity Name</th>
                                <th class="desktop">Type</th>
                                <th class="desktop">Description</th>
                                <th class="desktop">Assign To</th>
                                <th class="desktop">Value (RM)</th>
                                <th class="tablet">Submission</th>
                                <th class="tablet">Target Award</th>
                                <th class="tablet">Status</th>
                                <th class="tablet">Last Activity</th>
                                <th class="tablet">Last Activity Date</th>
                            </tr>
                        </tfoot>*@
                    </table>
                </div>
            </div>
        </div>
        <!--End Basic Table-->
        @*<div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div id="result" class="modal-dialog">
                </div>
            </div>*@
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        var UrlGreenalert = "@Url.Content("~/Images/greenalert.png")";
        var UrlOpportunityList = "@Url.Action("OpportunityList", "OppoList")";
        var UrlContractList = "@Url.Action("ContractList", "ContList")";
        var UrlUserList = "@Url.Action("UserList", "Home")";
        var UrlCustomerList = "@Url.Action("CustomerList", "Home")";
        var UrlViewInfo = "@Url.Action("ViewInfo", "OppoList")";
    </script>
    @Scripts.Render("~/bundles/JSPages");
}



