﻿@model Initiatives.Models.MyViewModel

<button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href='@Url.Action("Main", "Home")'">
    <i class="fa fa-tags"></i> Back
</button>
<div class="panel panel-u">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-user"></i>Opportunities Summary
        </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover wrapper" id="OpportunitySummary" data-model="@Html.Raw(Html.AttributeEncode(Json.Encode(Model)))">
                <thead>
                    <tr>
                        <th class="all">#</th>
                        <th class="all">Opportunity</th>
                        <th class="all">Customer Name</th>
                        <th class="desktop">Initiate By</th>
                        @*<th class="desktop">Business Category</th>*@
                        <th class="desktop">Team Members</th>
                        @*<th class="desktop">Assigned to</th>*@
                        <th class="desktop">Last Activities</th>
                        <th class="desktop">Last Activities Date</th>
                    </tr>                   
                </thead>
            </table>
        </div>
    </div>
    <div id="update">
        @{ Html.RenderAction("ViewLastActivity", "Home", new { uid = Model.userId }); }
    </div>
    <script type="text/javascript">
    $(document).ready(function () {
        var model = $("#OpportunitySummary").data('model');
        var aaData = JSON.parse(model.aaData);

        var table = $('#OpportunitySummary').DataTable({
            data: aaData,
            bAutoWidth: false,
            responsive: {
                breakpoints: [
                    { name: 'desktop', width: 1024 },
                    { name: 'tablet', width: 768 },
                    { name: 'phone', width: 480 }
                ]
            }
        });

        $('#OpportunitySummary tbody').on('click', 'tr', function (e) {
            e.preventDefault();
            //debugger;
            var data = table.row($(this)).data();
            var id = data[0];

            $.ajax({
                method: 'POST',
                cache: false,
                url: "@Url.Action("ViewLastActivity","OppoList")",
                data: { 'caseid': id, 'uid': @Model.UserId },
                    success: function (html) {
                        //alert("babila");
                        //debugger;
                        var oid = id;
                        $(document).ready(function () {
                            $("#updateActivity").html(html);
                            $("#LastActModal").modal("toggle");
                            $("#closeButton1").on("click", function (e) {
                                //debugger;
                                $("#LastActModal").modal("toggle");
                                $('body').removeClass('modal-open');
                            });
                            $("#closeButton2").on("click", function (e) {
                                //debugger;
                                $("#SelectMemberModal").modal("toggle");
                                $('body').removeClass('modal-open');
                            });
                            $("#SendMessage1").on('click', function (e) {
                                //debugger;
                                if ($("#MessageContent").val().trim() != "") {
                                    oid = id;
                                    var uid = @Model.UserId;
                                    var content = $("#MessageContent").val();
                                    //debugger;
                                    var selectedUserId = [];
                                    $("#selMultiple :selected").each(function (i, selected) {
                                        selectedUserId[i] = $(selected).val();
                                    });
                                    if (selectedUserId.length != 0) {
                                        $.ajax({
                                            type: "POST",
                                            url: "@Url.Action("SendMessage", "MainTabs")",
                                            data: { OppoId: oid, UserId: uid, Content: content, selectedUserId: selectedUserId },
                                            dataType: "json",
                                            traditional: true,
                                            success: function (newdata) {
                                                $.ajax({
                                                    type: "POST",
                                                    url: "@Url.Action("OpportunitySummary", "Home")",
                                                    data: { caseid: id, uid: uid },
                                                    success: function (data) {
                                                        $("#result").html(data);
                                                        $('body').removeClass('modal-open');
                                                        alert("Send Message Success!");
                                                    }
                                                });
                                            }
                                        });
                                    } else {
                                        alert("Please select the recipient");
                                        $("#LastActModal").modal("toggle");
                                        $('body').removeClass('modal-open');
                                    }
                                } else {
                                    alert("Do not leave the message empty");
                                    $("#SelectMemberModal").modal("toggle");
                                    $('body').removeClass('modal-open');
                                }
                        });
                    });
                }
            });
        });

        $('#OpportunitySummary tbody tr').on('mouseover', function () {
            $(this).css('cursor', 'pointer');
        });
    });
    </script>
</div>