﻿@model Initiatives.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Html.BeginForm("PertinentInfo", "OppoList", FormMethod.Post, new { @id = "PertinentInfo", @class = "sky-form", @enctype = "multipart/form-data" }))
{
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="container-fluid">
                <div class="container">
                    <h4><b>General Information</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                @*<div class="col-md-6">*@
                @Html.HiddenFor(m => m.CreateByUserId)
                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.OppContId)
                <div id="OppoIds" class="hidden">@Model.OppContId</div>@*use for jquery upload calling*@
                <div id="RoleIds" class="hidden">@Model.RoleId</div>
                <div id="OppoSS" class="hidden">@Model.SaveSuccess</div>
                <section>
                    <label for="name" class="col-lg-3 control-label">Customer Name</label>
                    <label class="select">
                        @Html.DropDownListFor(m => m.OppoListDetail.CustId, (IEnumerable<SelectListItem>)ViewBag.Customerlist, new { @id = "CustomerName", @class = "form-control-static" })
                    </label>
                </section>
                <section>
                    @*<label for="OpportunityName" class="col-lg-3 control-label">Opportunity Name</label>*@
                    @Html.LabelFor(m => m.OppoListDetail.OpportunityName, "Opportunity Name", new { @class = "col-lg-3 control-label" })
                    @*<input class="form-control" type="text" value="@ViewData["TypeOfOpportunity"]" />*@
                    @Html.TextBoxFor(m => m.OppoListDetail.OpportunityName, new { @id = "OpportunityName", @class = "form-control", @type = "text" })
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.OppoListDetail.OpportunityName, null, new { @class = "note-error color-red" })
                </section>
                <section>
                    <label for="Description" class="col-lg-3 control-label">Description</label>
                    <label class="col-lg-offset-5 textarea textarea-resizable">
                        @*<textarea rows="3">@ViewData["CustomerRequirementDetail"]</textarea>*@
                        @Html.TextAreaFor(m => m.OppoListDetail.Description, 4, 1, new { @id = "Description" })
                    </label>
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.OppoListDetail.Description, null, new { @class = "note-error color-red" })
                </section>
                <section>
                    <label for="userName" class="col-lg-3 control-label">Assign To</label>
                    <label class="select">
                        @*<input type="hidden" value="@Model.AccManagerId" name="AccManagerId" />*@
                        @Html.DropDownListFor(m => m.OppoListDetail.AccManagerId, (IEnumerable<SelectListItem>)ViewBag.Managerlist, new { @id = "AssignTo", @class = "form-control-static" })                       
                    </label>
                </section>
                <section>
                    <label for="LOBApproval" class="col-lg-3 control-label">Approval by Hand of LOB</label>
                    <label class="select">
                        @Html.DropDownListFor(m => m.OppoListDetail.ApprovalId, (IEnumerable<SelectListItem>)ViewBag.LOBApproval, new { @id = "LOBApproval", @class = "form-control-static" })
                    </label>
                </section>
                <section>
                    <label for="WinningChances" class="col-lg-3 control-label">Winning Chances</label>
                    <label class="select">
                        @Html.DropDownListFor(m => m.OppoListDetail.WinningChancesId, (IEnumerable<SelectListItem>)ViewBag.WinningChances, new { @id = "WinningChances", @class = "form-control-static" })
                    </label>
                </section>
                <section>
                    <label for="type" class="col-lg-3 control-label">Opportunity Type</label>
                    <label class="select">
                        @Html.DropDownListFor(m => m.OppoListDetail.OppoTypeId, (IEnumerable<SelectListItem>)ViewBag.OppoTypeList, new { @id = "OpportunityType", @class = "form-control-static" })
                    </label>
                </section>
                <section>
                    <label for="type" class="col-lg-3 control-label">Opportunity Category</label>
                    <label class="select">
                        @Html.DropDownListFor(m => m.OppoListDetail.CatId, (IEnumerable<SelectListItem>)ViewBag.CategoryList, new { @id = "OpportunityCategory", @class = "form-control-static" })
                    </label>
                </section>
                <section>
                    <label for="OpportunityValue" class="col-lg-3 control-label">Opportunity Value (RM)</label>
                    @Html.TextBoxFor(m => m.OppoListDetail.OpportunityValue, String.Format("{0:N2}", Model.OppoListDetail.OpportunityValue), new { @id = "OpportunityValue", @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(m => m.OppoListDetail.OpportunityValue, null, new { @class = "note-error color-red" })
                </section>
                <section>
                    <label for="TargetGP" class="col-lg-3 control-label">Target GP (%)</label>
                    @Html.TextBoxFor(m => m.OppoListDetail.TargetGP, new { @id = "TargetGP", @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(m => m.OppoListDetail.TargetGP, null, new { @class = "note-error color-red" })
                </section>
                <section>
                    <label for="MajorProjectRisk" class="col-lg-3 control-label">Major Project Risk</label>
                    @Html.TextBoxFor(m => m.OppoListDetail.MajorProjectRisk, new { @id = "MajorProjectRisk", @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(m => m.OppoListDetail.MajorProjectRisk, null, new { @class = "note-error color-red" })
                </section>
                <section>
                    <label for="SimilarProject" class="col-lg-3 control-label">Similar Project Previously Done by KUBTel</label>
                    @Html.TextBoxFor(m => m.OppoListDetail.SimilarProject, new { @id = "SimilarProject", @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(m => m.OppoListDetail.SimilarProject, null, new { @class = "note-error color-red" })
                </section>
                <section>
                    <label for="ApprovingAuthority" class="col-lg-3 control-label">Approving Authority to Enter Business Potential</label>
                    @Html.TextBoxFor(m => m.OppoListDetail.ApprovingAuthority, new { @id = "ApprovingAuthority", @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(m => m.OppoListDetail.ApprovingAuthority, null, new { @class = "note-error color-red" })
                </section>                                
                <section>
                    <label for="Submission" class="col-lg-3 control-label">Proposal Submission</label>
                    <label class="col-lg-offset-5 input">
                        <i class="icon-append fa fa-calendar"></i>
                        @Html.TextBoxFor(m => m.OppoListDetail.Submission, "{0:dd/MM/yyyy}", new { @id = "Submission", @class = "datepicker", @type = "text" })
                    </label>
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.OppoListDetail.Submission, null, new { @class = "note-error color-red" })
                </section>
                <section>
                    <label for="TargetAward" class="col-lg-3 control-label">Target Award</label>
                    @*<input class="form-control" type="text" value="@ViewData["SourceOfOpportunity"]" />*@
                    @Html.TextBoxFor(m => m.OppoListDetail.TargetAward, new { @id = "TargetAward", @class = "form-control", @type = "text" })
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.OppoListDetail.TargetAward, null, new { @class = "note-error color-red" })
                </section>
                <section>
                    <label for="Status" class="col-lg-3 control-label">Status</label>
                    <label class="select">
                        @*<input type="hidden" value="@Model.Status" name="Status" />*@
                        @Html.DropDownListFor(m => m.OppoListDetail.StatusId, (IEnumerable<SelectListItem>)ViewBag.StatusList, new { @id = "Status", @class = "form-control-static", @disabled = "disabled" })
                    </label>
                </section>
                <div class="clearfix"></div>
            </div>
            @if (Model.RoleId == "R02" || Model.objCanEdit.canEdits == true)
            {
                <div class="row btn-FloatRight">
                    <button id="SubmitOppoDetails" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            }
        </div>
    </div>
}

