﻿@model Initiatives.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Html.BeginForm("QuestionAnswer", "OppoList", FormMethod.Post, new { @id = "QuestionAnswer", @class = "sky-form", @enctype = "multipart/form-data" }))
{
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="container-fluid">
                <label class="label h4"><b>Activities</b></label>
                <div class="clearfix margin-bottom-10"></div>
                <div class="panel-height">
                    @{
                        int i = 1;
                    }
                    @foreach (var MessageList in Model.MessageListModel)
                {
                    if (i == 1)
                    {
                            @*<div class="row margin-left-10 margin-bottom-5">
                                <div class="col-md-8">
                                    @MessageList.CreateDate [<b>@MessageList.FromUserName</b> create activity report]
                                </div>
                                <div class="col-md-8">
                                    <div><b>Activity Report :</b> Saya berjumpa dengan client bincangkan plan.</div>
                                    <div><b>Action Plan :</b> Akan berjumpa dia lagi minggu depan</div>
                                    <div><b>Remark :</b> Akan membawa dokumen yang berkaitan pada perjumpaan depan</div>
                                </div>
                            </div>
                            <hr />*@
                        }
                        if (MessageList.QNAtype == "Message")
                        {
                            <div class="row margin-left-10 margin-bottom-5">
                                <div class="col-md-8">
                                    @*27 Jun 2015 12:15 PM [Muzhafar send to Unknown, Saiful, Azimah]*@
                                    @*<div id="UserIds"class="hidden">@MessageList.Uid</div>*@
                                    @MessageList.CreateDate [@MessageList.FromUserName send to @MessageList.ToUserName]
                                </div>
                                <div class="col-md-8">
                                    @*<div><b>Muzhafar :</b> Hai apa khabar</div>*@
                                    <div><b>@MessageList.FromUserName :</b> @MessageList.Content</div>
                                </div>
                            </div>
                        }
                        else if (MessageList.QNAtype == "ActivityReport")
                        {
                            <div class="row margin-left-10 margin-bottom-5">
                                <div class="col-md-8">
                                    @MessageList.CreateDate [@MessageList.FromUserName create activity report]
                                </div>
                                <div class="col-md-8">
                                    @*<div><b>@MessageList.Report :</b> @MessageList.ReportContent</div>
                                        <div><b>@MessageList.ActionPlan :</b> @MessageList.ActionPlanContent</div>
                                        <div><b>@MessageList.Remark :</b> @MessageList.RemarkContent</div>*@
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row margin-left-10 margin-bottom-5">
                                <div class="col-md-10">
                                    @*27 Jun 2015 12:15 PM [Muzhafar send to Unknown, Saiful, Azimah]*@
                                    @*<div id="UserIds"class="hidden">@MessageList.Uid</div>*@
                                    @MessageList.CreateDate [<b>@MessageList.FromUserName</b> @MessageList.Content]
                                </div>
                            </div>
                        }
                        <hr />
                        i++;
                    }
                </div>

                <div id="UserIds" class="hidden">@Model.UserId</div>
                <button id="triggerButton" type="button" class="hidden"></button>
                <div class="clearfix margin-bottom-30"></div>
                <label class="label h4"><b>New Notes</b></label>
                <label class="textarea">
                    <i class="icon-append fa fa-comment"></i>
                    <textarea id="MessageContent" rows="2"></textarea>
                </label>
                <label class="label h4"><b>Attachment</b></label>
                <div class="row container-fluid">
                    <label class="col-lg-1 label">File Description</label>
                    <label class="textarea textarea-resizable btn-FloatLeft form-control-doc">
                        <textarea id="FileDesc" name="FileDescription" rows="1"></textarea>
                    </label>
                </div>
                <div class="row container-fluid">
                    <label class="col-lg-1 label">File Input</label>
                    <label class="input input-file btn-FloatLeft form-control-doc" for="file">
                        <div class="button"><input type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</div><input type="text" readonly>
                    </label>
                </div>
                <div class="margin-bottom-20"><hr></div>
                <div class="row container-fluid btn-FloatRight">
                    <button id="UploadOppoFile" class="btn-u" type="button">Upload File</button>
                    <button class="btn-u btn-success margin-bottom-25" type="button" data-toggle="modal" data-target="#OppoQNA_Modal">
                        <i class="fa fa-tags"></i> Submit message
                    </button>
                </div>
                <div class="modal fade responsive" id="OppoQNA_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div id="result" class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close closeButton" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Please select the recipient:</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row container">
                                    <label class="control-label">Select users: (Ctrl + left click to select multiple users)</label>
                                    <label class="select select-multiple form-control-popup">
                                        @*<select multiple id="selMultiple">
                                                <option value="2">muzhafar</option>
                                                <option value="12">m.faizal</option>
                                                <option value="22">saiful</option>
                                                <option value="32">azimah</option>
                                            </select>*@
                                        @Html.ListBox("userIds", (MultiSelectList)ViewBag.NotiMemberList, new { @id = "OpposelMultiple" })
                                        @*@Html.ListBoxFor(m => m.UserID, Model.MessageListModel, new { size = 5 })*@
                                    </label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn-u btn-success btn-FloatRight" type="button" id="OppoSendMessage">
                                    <i class="fa fa-tags"></i> Submit message
                                </button>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                    0% Complete
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                        }


<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="row" id="uploadProgress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    0% Complete
                </div>
            </div>
        </div>
    </div>
</div>
