﻿@model Initiatives.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Ajax.BeginForm("RiskReview", "OppoList", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "riskreview-1" }, new { @id = "riskreview", @class = "sky-form" }))
{
    <div class="shadow-wrapper">
        <div class="row">
            <div class="panel-heading">
                <h4><b>A) General</b></h4>
            </div>
            <div class="clearfix margin-bottom-10"></div>
        </div>
        <div id="OppoIds" class="hidden">@Model.OppContId</div>
        <div id="RoleId" class="hidden">@Model.RoleId</div>
        @Html.HiddenFor(m => m.OppContId)
        @Html.HiddenFor(m => m.CreateByUserId)
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q1" class="col-lg-6 control-label">1) Are you going to bid for this project/tender?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q1 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q1, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q1, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q1 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q1, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q1, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q1Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q1Remark, new { @id = "SecA_Q1Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q1CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q1CeoComment, new { @id = "SecA_Q1CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q1CeoComment, new { @id = "SecA_Q1CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q2" class="col-lg-6 control-label">2)   Have they specified the tender value? How much?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q2 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q2, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q2, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q2 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q2, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q2, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q2Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q2Remark, new { @id = "SecA_Q2Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q2CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q2CeoComment, new { @id = "SecA_Q2CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q2CeoComment, new { @id = "SecA_Q2CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }                      
                    </section>
                </div>
            </div>
        </div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q3" class="col-lg-6 control-label">3) Have they specified the project duration? Please state project duration</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q3 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q3, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q3, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q3 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q3, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q3, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q3Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q3Remark, new { @id = "SecA_Q3Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q3CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q3CeoComment, new { @id = "SecA_Q3CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q3CeoComment, new { @id = "SecA_Q3CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }                      
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q4" class="col-lg-8 control-label">4) Is there any recommendation from customer? Please explain</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q4 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q4, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q4, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q4 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q4, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q4, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q4Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q4Remark, new { @id = "SecA_Q4Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q4CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q4CeoComment, new { @id = "SecA_Q4CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q4CeoComment, new { @id = "SecA_Q4CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }                        
                    </section>
                </div>
            </div>
        </div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q5" class="col-lg-6 control-label">5) Have we engaged the ground level?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q5 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q5, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q5, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q5 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q5, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q5, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q5Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q5Remark, new { @id = "SecA_Q5Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q5CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q5CeoComment, new { @id = "SecA_Q5CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q5CeoComment, new { @id = "SecA_Q5CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q6" class="col-lg-6 control-label">6) Do we have experience in dealing with the same technical scope of the project?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q6 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q6, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q6, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q6 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q6, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q6, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q6Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q6Remark, new { @id = "SecA_Q6Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q6CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q6CeoComment, new { @id = "SecA_Q6CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q6CeoComment, new { @id = "SecA_Q6CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
            </div>
        </div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q7" class="col-lg-6 control-label">7) Do we have necessary skills to carry out the project?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q7 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q7, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q7, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q7 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q7, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q7, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q7Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q7Remark, new { @id = "SecA_Q7Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q7CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q7CeoComment, new { @id = "SecA_Q7CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q7CeoComment, new { @id = "SecA_Q7CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q8" class="col-lg-6 control-label">8) Do we require a partner/principal?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q8 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q8, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q8, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q8 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q8, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q8, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q8Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q8Remark, new { @id = "SecA_Q8Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q8CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q8CeoComment, new { @id = "SecA_Q8CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q8CeoComment, new { @id = "SecA_Q8CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
            </div>
        </div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q9" class="col-lg-6 control-label">9) Did the principal fulfill customer's tender request in terms of pricing and technical specification?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q9 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q9, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q9, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q9 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q9, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q9, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q9Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q9Remark, new { @id = "SecA_Q9Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q9CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q9CeoComment, new { @id = "SecA_Q9CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q9CeoComment, new { @id = "SecA_Q9CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q10" class="col-lg-8 control-label">10) Does the principal influence the decision making process?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q10 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q10, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q10, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q10 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q10, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q10, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q10Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q10Remark, new { @id = "SecA_Q10Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q10CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q10CeoComment, new { @id = "SecA_Q10CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q10CeoComment, new { @id = "SecA_Q10CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
            </div>
        </div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q11" class="col-lg-8 control-label">11) Does the partner have a direct influence with the customer?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q11 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q11, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q11, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q11 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q11, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q11, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q11Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q11Remark, new { @id = "SecA_Q11Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q11CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q11CeoComment, new { @id = "SecA_Q11CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q11CeoComment, new { @id = "SecA_Q11CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q2" class="col-lg-6 control-label">12) Is there any political influence for the project?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q12 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q12, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q12, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q12 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q12, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q12, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q12Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q12Remark, new { @id = "SecA_Q12Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q12CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q12CeoComment, new { @id = "SecA_Q12CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q12CeoComment, new { @id = "SecA_Q12CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
            </div>
        </div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q13" class="col-lg-6 control-label">13) Is this project involving foreign currencies?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q13 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q13, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q13, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q13 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q13, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q13, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q13Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q13Remark, new { @id = "SecA_Q2Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q13CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q13CeoComment, new { @id = "SecA_Q13CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q13CeoComment, new { @id = "SecA_Q13CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q14" class="col-lg-6 control-label">14)   Is foreign purchase required?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q14 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q14, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q14, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q14 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q14, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q14, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q14Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q14Remark, new { @id = "SecA_Q2Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q14CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q14CeoComment, new { @id = "SecA_Q14CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q14CeoComment, new { @id = "SecA_Q14CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
            </div>
        </div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q15" class="col-lg-6 control-label">15) Which country are we sourcing the product from?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q15 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q15, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q15, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q15 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q15, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q15, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q15Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q15Remark, new { @id = "SecA_Q15Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q15CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q15CeoComment, new { @id = "SecA_Q15CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q15CeoComment, new { @id = "SecA_Q15CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q16" class="col-lg-6 control-label">16) Can KUBTel lock the price with principal?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q16 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q16, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q16, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q16 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q16, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q16, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q16Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q16Remark, new { @id = "SecA_Q16Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q16CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q16CeoComment, new { @id = "SecA_Q16CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q16CeoComment, new { @id = "SecA_Q16CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
            </div>
        </div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q17" class="col-lg-8 control-label">17) Does the decision making process involve higher level overseas?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q17 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q17, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q17, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q17 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q17, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q17, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q17Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q17Remark, new { @id = "SecA_Q17Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q17CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q17CeoComment, new { @id = "SecA_Q17CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q17CeoComment, new { @id = "SecA_Q17CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q18" class="col-lg-6 control-label">18) Does this tender require any agreement with principal? Eg: Board paper/GMD paper/teaming agreement/NDA. Please specify.</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q18 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q18, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q18, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q18 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q18, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q18, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q18Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q18Remark, new { @id = "SecA_Q18Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q18CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q18CeoComment, new { @id = "SecA_Q18CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q18CeoComment, new { @id = "SecA_Q18CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
            </div>
        </div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q19" class="col-lg-8 control-label">19) Is the customer financially reliable? Known good/bad paymaster?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q19 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q19, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q19, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q19 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q19, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q19, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q19Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q19Remark, new { @id = "SecA_Q19Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q19CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q19CeoComment, new { @id = "SecA_Q19CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q19CeoComment, new { @id = "SecA_Q19CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q20" class="col-lg-8 control-label">20) Are we able to handle this project by utilizing existing resources?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q20 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q20, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q20, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q20 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q20, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q20, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q20Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q20Remark, new { @id = "SecA_Q20Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q20CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q20CeoComment, new { @id = "SecA_Q20CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q20CeoComment, new { @id = "SecA_Q20CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
            </div>
        </div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q21" class="col-lg-8 control-label">21) Do we need to outsource? With sho (subcontractor) - please specify.</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q21 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q21, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q21, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q21 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q21, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q21, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q21Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q21Remark, new { @id = "SecA_Q21Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q21CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q21CeoComment, new { @id = "SecA_Q21CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q21CeoComment, new { @id = "SecA_Q21CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q22" class="col-lg-6 control-label">22) Have we done the SWOT analysis for this project?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q22 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q22, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q22, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q22 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q22, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q22, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q22Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q22Remark, new { @id = "SecA_Q22Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q22CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q22CeoComment, new { @id = "SecA_Q22CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q22CeoComment, new { @id = "SecA_Q22CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
            </div>
        </div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <label for="SecA_Q23" class="col-lg-6 control-label">23) Have we done the SWOT analysis with partner?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q23 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q23, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q23, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q23 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q23, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecA_Q23, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q23Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q23Remark, new { @id = "SecA_Q23Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecA_Q23CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q23CeoComment, new { @id = "SecA_Q23CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecA_Q23CeoComment, new { @id = "SecA_Q23CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="shadow-wrapper">
        <div class="row">
            <div class="panel-heading">
                <h4><b>B) Further information on partner</b></h4>
            </div>
            <div class="clearfix margin-bottom-10"></div>
        </div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <label for="SecB_Q1" class="col-lg-6 control-label">1) Are they Bumiputera?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecB_Q1 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q1, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q1, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecB_Q1 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q1, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q1, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecB_Q1Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q1Remark, new { @id = "SecB_Q1Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecB_Q1CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q1CeoComment, new { @id = "SecB_Q1CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q1CeoComment, new { @id = "SecB_Q1CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="SecB_Q2" class="col-lg-6 control-label">2) CTOS/CCRIS check result</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecB_Q2 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q2, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q2, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecA_Q2 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q2, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q2, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecB_Q2Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q2Remark, new { @id = "SecB_Q2Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecB_Q2CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q2CeoComment, new { @id = "SecB_Q2CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q2CeoComment, new { @id = "SecB_Q2CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
            </div>
        </div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <label for="SecB_Q3" class="col-lg-6 control-label">3) Are we purchasing a product from Israel?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecB_Q3 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q3, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q3, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecB_Q3 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q3, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q3, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecB_Q3Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q3Remark, new { @id = "SecB_Q3Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecB_Q3CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q3CeoComment, new { @id = "SecB_Q3CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q3CeoComment, new { @id = "SecB_Q3CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="SecB_Q4" class="col-lg-6 control-label">4)  Have they any experience with the same scope of work or with the client</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecB_Q4 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q4, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q4, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecB_Q4 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q4, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q4, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecB_Q4Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q4Remark, new { @id = "SecB_Q4Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecB_Q4CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q4CeoComment, new { @id = "SecB_Q4CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q4CeoComment, new { @id = "SecB_Q4CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
            </div>
        </div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <label for="SecB_Q5" class="col-lg-8 control-label">5) Have we conducted a risk review on the partner? What is the result?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecB_Q5 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q5, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q5, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecB_Q5 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q5, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q5, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecB_Q5Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q5Remark, new { @id = "SecB_Q5Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecB_Q5CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q5CeoComment, new { @id = "SecB_Q5CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q5CeoComment, new { @id = "SecB_Q5CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="SecB_Q6" class="col-lg-6 control-label">6) Does the partner have any records of non-delivery or late delivery of a project before?</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecB_Q6 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q6, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q6, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecB_Q6 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q6, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q6, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecB_Q6Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q6Remark, new { @id = "SecB_Q6Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecB_Q6CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q6CeoComment, new { @id = "SecB_Q6CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q6CeoComment, new { @id = "SecB_Q6CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
            </div>
        </div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <label for="SecB_Q7" class="col-lg-6 control-label">7) Is the project environmental friendly? Eg: Relates with chop down the trees/release carbon dioxide.</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecB_Q7 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q7, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q7, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecB_Q7 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q7, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q7, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecB_Q7Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q7Remark, new { @id = "SecB_Q7Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecB_Q7CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q7CeoComment, new { @id = "SecB_Q7CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q7CeoComment, new { @id = "SecB_Q7CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="SecB_Q8" class="col-lg-8 control-label">8) Does this project provide social contribution? Eg: Job opportunities</label>
                        <div class="inline-group">
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecB_Q8 == true)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q8, "true", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q8, "true") }
                                <i class="rounded-x"></i>
                                Yes
                            </label>
                            <label class="radio">
                                @if (Model.RiskReviewDetail.SecB_Q8 == false)
                                {
                                    @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q8, "false", new { @checked = "checked" })
                                }
                                else
                                { @Html.RadioButtonFor(model => model.RiskReviewDetail.SecB_Q8, "false") }
                                <i class="rounded-x"></i>
                                No
                            </label>
                        </div>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RiskReviewDetail.SecB_Q8Remark, "Remark", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q8Remark, new { @id = "SecB_Q8Remark", @class = "form-control", @type = "text" })
                        @Html.LabelFor(m => m.RiskReviewDetail.SecB_Q8CeoComment, "CEO comment", new { @class = "col-lg-2 control-label" })
                        @if (Model.RiskReviewDetail.Role.Contains("CEO"))
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q8CeoComment, new { @id = "SecB_Q8CeoComment", @class = "form-control", @type = "text" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q8CeoComment, new { @id = "SecB_Q8CeoComment", @class = "form-control", @type = "text", @readonly = true })
                        }
                    </section>
                </div>
            </div>
        </div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <label for="SecB_Q9Networking" class="control-label">9) How do you know this supplier/principal?</label>
                    </section>
                    <section>
                        <label for="SecB_Q9Networking" class="col-lg-3 control-label">Networking</label>
                        @Html.TextBoxFor(m => m.RiskReviewDetail.SecB_Q9Networking, new { @id = "SecB_Q9Networking", @class = "form-control", @type = "text" })
                    </section>
                    <section>
                        <label for="type" class="col-lg-3 control-label">Suggested by internal staff</label>
                        <label class="select">
                            @Html.DropDownListFor(m => m.RiskReviewDetail.SecB_Q9StaffId, (IEnumerable<SelectListItem>)ViewBag.Stafflist, "Please select staff name here", new { @id = "SecB_Q9StaffId", @class = "form-control-static" })
                        </label>
                    </section>
                    <section>
                        <label for="type" class="col-lg-3 control-label">Suggested by customer</label>
                        <label class="select">
                            @Html.DropDownListFor(m => m.RiskReviewDetail.SecB_Q9CustId, (IEnumerable<SelectListItem>)ViewBag.Customerlist, "Please select customer name here", new { @id = "SecB_Q9CustId", @class = "form-control-static" })
                        </label>
                    </section>
                </div>
            </div>
            @if (Model.RoleId == "R02" || Model.objCanEdit.canEdits == true)
            {
                <div class="row btn-FloatRight">
                    <button type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            }
        </div>
    </div>
    if (Model.SaveSuccess == true)
    {
        <script>
            $.ajax({
                type: "POST",
                url: "@Url.Action("QuestionAnswer", "OppoList")",
                data: { uid: $("#UserIds")[0].textContent, oppoId: $("#OppoIds")[0].textContent, roleid: $("#RoleId")[0].textContent },
                cache: false,
                success: function (data) {
                    //debugger;
                    $("#qna-1").html(data);
                }
            });
            alert("Save Success!");
        </script>
    }
}


