﻿@model List<KubtelHelpdesk.Models.QuestionAnswerModels>

@*<button id="ViewLastAct" class="btn-u btn-success hidden" data-toggle="modal" data-target="#LastActModal" type="button">
    <i class="fa fa-tags"></i> Submit message
</button>*@
<div>
@using (Ajax.BeginForm("ViewLastActivity", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "update" }, new { @id = "updateActivity", @class = "sky-form" }))
{
    <div class="modal fade" id="LastActModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div id="result" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="closeButton1" type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Notification</h4>
                </div>
                <div class="modal-body">
                    <form class="sky-form" action="#">
                        <div class="panel-body panel-height">
                            @foreach (KubtelHelpdesk.Models.QuestionAnswerModels MessageList in Model)
                            {
                                //MessageList.
                            <div class="row margin-left-10 margin-bottom-5">
                                <div class="col-md-8">
                                    @*27 Jun 2015 12:15 PM [Muzhafar send to Unknown, Saiful, Azimah]*@
                                    @*<div id="UserIds" class="hidden">@MessageList.Uid</div>*@
                                    @MessageList.CreateDate [@MessageList.FromUserName send to @MessageList.ToUserName]
                                </div>
                                <div class="col-md-8">
                                    @*<div><b>Muzhafar :</b> Hai apa khabar</div>*@
                                    <div><b>@MessageList.FromUserName :</b> @MessageList.Content</div>
                                </div>
                            </div>
                            <hr />
                            }
                        </div>
                        <label class="label h4">Put your question or answer here</label>
                        <label class="textarea">
                            <i class="icon-append fa fa-comment"></i>
                            <textarea id="MessageContent" rows="2"></textarea>
                        </label>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn-u btn-success margin-bottom-25 btn-FloatRight" data-toggle="modal" data-target="#SelectMemberModal" type="button">
                        <i class="fa fa-tags"></i> Submit message
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="SelectMemberModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div id="result1" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="closeButton2" type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Please select the recipient:</h4>
                </div>
                <div class="modal-body">
                    <div class="row container">
                        <label class="control-label">You can select multiple users:</label>
                        <label class="select select-multiple form-control-static">
                            @Html.ListBox("userId", (MultiSelectList)ViewBag.NotiMemberList, new { @id = "selMultiple" })
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn-u btn-success margin-bottom-25 btn-FloatRight" type="button" id="SendMessage1">
                        <i class="fa fa-tags"></i> Submit message
                    </button>
                </div>
            </div>
        </div>
    </div>
}
</div>