﻿@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }
@model Initiatives.Models.MainModel

<div class="container-fluid" id="docupload">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("OpportunityList", "OppoList")'">
        <i class="fa fa-tags"></i> Back
    </button>
    <!-- Tab v2 -->
    <div class="tab-v2">
        <ul class="nav nav-tabs">
            @*@if (Model.OppoListDetail.StatusId.Trim() == "OS001")
            {
                <li class="active navbar-height"><a href="#info-1" data-toggle="tab"><h4>Info</h4></a></li>
                <li class="navbar-height"><a href="#initiation-1" data-toggle="tab"><h4>Initiation Report</h4></a></li>
            @*}
            @if (Model.OppoListDetail.StatusId.Trim() == "OS002")
            {*@
                <li class="active navbar-height"><a href="#info-1" data-toggle="tab"><h4>Info</h4></a></li>
                <li class="navbar-height"><a href="#initiation-1" data-toggle="tab"><h4>Assesment Report</h4></a></li>
                @*<li class="navbar-height"><a href="#activity-1" data-toggle="tab"><h4>Activity Report</h4></a></li>*@
                <li class="navbar-height"><a href="#teammember-1" data-toggle="tab"><h4>Team Member</h4></a></li>
                <li class="navbar-height"><a href="#docmanagement-1" data-toggle="tab"><h4>Doc Management</h4></a></li>
                @*<li class="navbar-height"><a href="#projectbg-1" data-toggle="tab"><h4>Project BG</h4></a></li>
    <li class="navbar-height"><a href="#riskreview-1" data-toggle="tab"><h4>Risk Review</h4></a></li>*@
            @*}*@
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="info-1">
                <div class="row">
                    <div class="col-md-5" id="PertinentInfo-1">
                        @{ Html.RenderAction("PertinentInfo", "OppoList", new { OppContId = Model.OppContId }); }
                    </div>
                    <div class="col-md-7" id="QuestionAnswer-1">
                        @{ Html.RenderAction("QuestionAnswer", "OppoList", new { OppContId = Model.OppContId }); }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade in" id="initiation-1">
                @{ Html.RenderAction("InitiationReport", "OppoList", new { OppContId = Model.OppContId }); }
            </div>
            @*<div class="tab-pane fade in" id="activity-1">
                @{ Html.RenderAction("ActivityReport", "OppoList", new { OppContId = Model.OppContId }); }
            </div>*@
            <div class="tab-pane fade in" id="teammember-1">
                @{ Html.RenderAction("TeamMember", "OppoList", new { OppContId = Model.OppContId }); }
                @*this is teammember*@
            </div>
            <div class="tab-pane fade in" id="docmanagement-1">
                @*@@Html.Partial(MVC.Shared.Views.FilesForm, Model)*@
                @{ Html.RenderAction("DocManagement", "OppoList", new { OppContId = Model.OppContId }); }
                <div class="clearfix margin-bottom-20"></div>
            </div>
            @*<div class="tab-pane fade in" id="projectbg-1">
                @{ Html.RenderAction("ProjectBG", "OppoList", new { OppContId = Model.OppContId }); }
            </div>*@
            @*<div class="tab-pane fade in" id="riskreview-1">
                @{ Html.RenderAction("RiskReview", "OppoList", new { OppContId = Model.OppContId }); }
            </div>*@
        </div>
    </div>
    <!-- End Tab v2 -->
</div>

@section scripts {
    <script type="text/javascript">
        var UrlTeamPermission = "@Url.Action("TeamPermission", "OppoList")";
        var UrlTeamMember = "@Url.Action("TeamMember", "OppoList")";
        var UrlAddTeamMember = "@Url.Action("AddTeamMember", "OppoList")";
        var UrlQuestionAnswer = "@Url.Action("QuestionAnswer", "OppoList")";
        var UrlGreenalert = "@Url.Content("~/Images/greenalert.png")";
        var UrlRedalert = "@Url.Content("~/Images/redalert.png")";
        var UrlYellowalert = "@Url.Content("~/Images/yellowalert.png")";
        var UrlOppoTabs = "@Url.Action("OppoTabs", "OppoList")";
        var UrlOppoDetails = "@Url.Action("PertinentInfo", "OppoList")";
        var UrlOppoDocManagement = "@Url.Action("DocManagement", "OppoList")";
        var UrlOppoDocUpload = "@Url.Action("DocUpload", "OppoList")";
        var UrlOppoFileArchive = "@Url.Action("FileArchive", "OppoList")";
        var UrlOppoSendMessage = "@Url.Action("OppoSendMessage", "OppoList")";
        var UrlViewInfo = "@Url.Action("ViewInfo", "OppoList")";
        var UrlCreateInitReport = "@Url.Action("CreateInitiationReport", "OppoList")";
        var UrlInitnReport = "@Url.Action("InitiationReport", "OppoList")";
    </script>
    @Scripts.Render("~/bundles/JSPages");
}
