﻿@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }
@model KubtelHelpdesk.Models.ProjectDetailList

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("ProjectList", "ProjectList")'">
        <i class="fa fa-tags"></i> Back
    </button>
    <div class="panel panel-u margin-bottom-20">
        <div class="panel-heading margin-bottom-10">
            <h3 class="panel-title"><i class="fa fa-user"></i> Create New Project</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("CreateProject", "ProjectList", FormMethod.Post, new { @id = "sky-form", @class = "sky-form" }))
            {
                <div class="shadow-wrapper">
                    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                        <div class="row">
                            <div class="container">
                                <h4><b>General Information</b></h4>
                            </div>
                            <div class="clearfix margin-bottom-10"></div>
                            <div class="col-md-6">
                                <section>
                                    <label for="name" class="col-lg-3 control-label">Customer Name</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.CustId, (IEnumerable<SelectListItem>)ViewBag.Customerlist, new { @id = "Customer", @class = "form-control-static" })
                                    </label>
                                </section>
                                <section>
                                    <label for="type" class="col-lg-3 control-label">Project Type</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.OppoTypeId, (IEnumerable<SelectListItem>)ViewBag.OppoTypeList, new { @id = "ProjectType", @class = "form-control-static" })
                                    </label>
                                </section>
                                <section>
                                    <label for="type" class="col-lg-3 control-label">Project Category</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.CatId, (IEnumerable<SelectListItem>)ViewBag.CategoryList, new { @id = "ProjectCategory", @class = "form-control-static" })
                                    </label>
                                </section>
                                <section>
                                    @Html.LabelFor(m => m.ProjectName, "Project Name", new { @class = "col-lg-3 control-label" })
                                    @Html.TextBoxFor(m => m.ProjectName, new { @id = "ProjectName", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.ProjectName, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="Description" class="col-lg-3 control-label">Description</label>
                                    <label class="col-lg-offset-5 textarea textarea-resizable">
                                        @Html.TextAreaFor(m => m.Description, 3, 1, new { @id = "Description" })
                                    </label>
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "note-error color-red" })
                                </section>
                            </div>
                            <div class="col-md-6">
                                <section>
                                    <label for="userName" class="col-lg-3 control-label">Assign To</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.AccManagerId, (IEnumerable<SelectListItem>)ViewBag.Managerlist, new { @id = "AssignTo", @class = "form-control-static" })
                                    </label>
                                </section>
                                <section>
                                    @Html.LabelFor(m => m.ContractNo, "Project Number", new { @class = "col-lg-3 control-label" })
                                    @Html.TextBoxFor(m => m.ContractNo, new { @id = "ProjectNo", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.ContractNo, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="ProjectValue" class="col-lg-3 control-label">Project Value (RM)</label>
                                    @Html.TextBoxFor(m => m.ProjectValue, new { @id = "ProjectValue", @class = "form-control", @type = "text" })
                                    @Html.ValidationMessageFor(m => m.ProjectValue, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="BudgetaryRevenue" class="col-lg-3 control-label">Budgetary Revenue (RM)</label>
                                    @Html.TextBoxFor(m => m.BudgetaryRevenue, new { @id = "BudgetaryRevenue", @class = "form-control", @type = "text" })
                                    @Html.ValidationMessageFor(m => m.BudgetaryRevenue, null, new { @class = "note-error color-red" })
                                </section>                            
                                <section>
                                    <label for="Submission" class="col-lg-3 control-label">Submission</label>
                                    <label class="col-lg-offset-5 input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        @Html.TextBoxFor(m => m.Submission, "{0:dd/MM/yyyy}", new { @id = "Submission", @class = "datepicker", @type = "text" })
                                    </label>
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.Submission, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="TargetAward" class="col-lg-3 control-label">Target Award</label>
                                    @Html.TextBoxFor(m => m.TargetAward, new { @id = "TargetAward", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.TargetAward, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="Status" class="col-lg-3 control-label">Status</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.StatusId, (IEnumerable<SelectListItem>)ViewBag.StatusList, new { @id = "Status", @class = "form-control-static" })
                                    </label>
                                </section>
                            </div>
                            <div class="clearfix margin-bottom-20"></div>
                        </div>
                    </div>
                </div>
                <div class="shadow-wrapper">
                    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                        <div class="row">
                            <div class="container">
                                <h4><b>Other Information</b></h4>
                            </div>
                            <div class="clearfix margin-bottom-10"></div>
                            <div class="col-md-6">
                                <section>
                                    <label for="Source" class="col-lg-3 control-label">Source of Project</label>
                                    @Html.TextBoxFor(m => m.Source, new { @id = "SourceOfProject", @class = "form-control", @type = "text" })
                                    @Html.ValidationMessageFor(m => m.Source, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="CreditTerm" class="col-lg-3 control-label">Credit Term</label>
                                    @Html.TextBoxFor(m => m.CreditTerm, new { @id = "CreditTerm", @class = "form-control", @type = "text" })
                                    @Html.ValidationMessageFor(m => m.CreditTerm, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="CreditLimit" class="col-lg-3 control-label">Credit Limit</label>
                                    @Html.TextBoxFor(m => m.CreditLimit, new { @id = "CreditLimit", @class = "form-control", @type = "text" })
                                    @Html.ValidationMessageFor(m => m.CreditLimit, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="OutstandingInvoice" class="col-lg-3 control-label">Outstanding Invoice</label>
                                    @Html.TextBoxFor(m => m.OutstandingInvoice, new { @id = "OutstandingInvoice", @class = "form-control", @type = "text" })
                                    @Html.ValidationMessageFor(m => m.OutstandingInvoice, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="Industry" class="col-lg-3 control-label">Industry</label>
                                    @Html.TextBoxFor(m => m.Industry, new { @id = "Industry", @class = "form-control", @type = "text" })
                                    @Html.ValidationMessageFor(m => m.Industry, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="Region" class="col-lg-3 control-label">Region</label>
                                    @Html.TextBoxFor(m => m.Region, new { @id = "Region", @class = "form-control", @type = "text" })
                                    @Html.ValidationMessageFor(m => m.Region, null, new { @class = "note-error color-red" })
                                </section>
                            </div>
                            <div class="col-md-6">                           
                                <section>
                                    <label for="CoreSolution" class="col-lg-3 control-label">Core Solution</label>
                                    @Html.TextAreaFor(m => m.CoreSolution, new { @id = "CoreSolution", @class = "form-control", @type = "text" })
                                    @Html.ValidationMessageFor(m => m.CoreSolution, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="ExpectedClosingDate" class="col-lg-3 control-label">Expected Closing Date</label>
                                    <label class="col-lg-offset-5 input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        @Html.TextBoxFor(m => m.ExpectedClosingDate, "{0:dd/MM/yyyy}", new { @id = "ExpectedClosingDate", @class = "datepicker", @type = "text" })
                                        @Html.ValidationMessageFor(m => m.ExpectedClosingDate, null, new { @class = "note-error color-red" })
                                    </label>
                                </section>
                                <section>
                                    <label for="CusRequirementDetail" class="col-lg-3 control-label">Customer Requirement Detail</label>
                                    <label class="col-lg-offset-5 textarea textarea-resizable">
                                        @Html.TextAreaFor(m => m.CusRequirementDetail, 3, 1, new { @id = "CustomerRequirementDetail" })
                                        @Html.ValidationMessageFor(m => m.CusRequirementDetail, null, new { @class = "note-error color-red" })
                                    </label>
                                </section>                             
                                <section>
                                    <label for="Remark" class="col-lg-3 control-label">Remarks</label>
                                    <label class="col-lg-offset-5 textarea textarea-resizable">
                                        @Html.TextAreaFor(m => m.Remark, 3, 1, new { @id = "Remarks" })
                                        @Html.ValidationMessageFor(m => m.Remark, null, new { @class = "note-error color-red" })
                                    </label>
                                </section>                            
                                <section>
                                    <label for="ProposalIntDate" class="col-lg-3 control-label">Proposal Internal Date</label>
                                    <label class="col-lg-offset-5 input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        @Html.TextBoxFor(m => m.ProposalIntDate, "{0:dd/MM/yyyy}", new { @id = "ProposalInternalDate", @class = "datepicker", @type = "text" })
                                        @Html.ValidationMessageFor(m => m.ProposalIntDate, null, new { @class = "note-error color-red" })
                                    </label>
                                </section>
                            </div>
                            <div class="clearfix margin-bottom-20"></div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn-u btn-u-primary btn-FloatRight">Submit</button>
            }
        </div>
    </div>
</div>

    @section scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                //debugger;
                $.validator.addMethod('date',
                function (value, element) {
                    if (this.optional(element)) {
                        return true;
                    }

                    var ok = true;
                    try {
                        $.datepicker.parseDate('dd/mm/yy', value);
                    }
                    catch (err) {
                        ok = false;
                    }
                    return ok;
                });

                $(".datepicker").datepicker({
                    dateFormat: 'dd/mm/yy',
                    prevText: '<i class="fa fa-angle-left"></i>',
                    nextText: '<i class="fa fa-angle-right"></i>'
                });
            });
        </script>
    }
