﻿@model KubtelHelpdesk.Models.FileUploadModel

<div class="clearfix margin-bottom-20"></div>
<h4>Document Management</h4>
<div class="clearfix margin-bottom-10"></div>
<div class=" custom-wrap">
    <div class="row container-fluid">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover wrapper" id="newDocument">
                <thead>
                    <tr>
                        <th class="never">#</th>
                        <th class="all">File Name</th>
                        <th class="all">Upload By</th>
                        <th class="desktop">Description</th>
                        <th class="desktop">Upload Date</th>
                        <th class="desktop">Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="never">#</th>
                        <th class="all">File Name</th>
                        <th class="all">Upload By</th>
                        <th class="desktop">Description</th>
                        <th class="desktop">Upload Date</th>
                        <th class="desktop">Action</th>
                    </tr>
                </tfoot>
                @foreach (var item in Model.UploadFileModel)
                {
                    string filename = item.FileName.Replace("\\", ",");
                    string filename1 = filename.Split(',')[filename.Split(',').Length - 1].ToString();
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.fileEntryId)</td>
                    <td>
                        @Html.DisplayFor(modelItem => filename1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.uploadUserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.uploadDate)
                    </td>
                    <td>
                        @Html.ActionLink("Download", "Filedownload", new { id = item.fileEntryId }) |
                        <a class="ArchiveFile" id="@item.fileEntryId" href="#">Archive</a>
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
    <div class="clearfix margin-bottom-20"></div>
    <div class="row container-fluid">
        <h4>Archive(s)</h4>
        <div class="clearfix margin-bottom-10"></div>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover wrapper" id="newArchive">
                <thead>
                    <tr>
                        <th class="never">#</th>
                        <th class="all">File Name</th>
                        <th class="all">Upload By</th>
                        <th class="desktop">Description</th>
                        <th class="desktop">Upload Date</th>
                        <th class="desktop">Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="never">#</th>
                        <th class="all">File Name</th>
                        <th class="all">Upload By</th>
                        <th class="desktop">Description</th>
                        <th class="desktop">Upload Date</th>
                        <th class="desktop">Action</th>
                    </tr>
                </tfoot>

                @foreach (var item in Model.FileArchiveModel)
                {
                    string filename = item.FileName.Replace("\\", ",");
                    string filename1 = filename.Split(',')[filename.Split(',').Length - 1].ToString();
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.fileEntryId)</td>
                    <td>
                        @Html.DisplayFor(modelItem => filename1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.uploadUserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.uploadDate)
                    </td>
                    <td>
                        @Html.ActionLink("Download", "Filedownload", new { id = item.fileEntryId })<a id="@item.fileEntryId"></a>
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>
@*<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="row" id="uploadProgress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    0% Complete
                </div>
            </div>
        </div>
    </div>
</div>*@



