﻿@model KubtelHelpdesk.Models.ProjectDetailList

<div class="clearfix margin-bottom-10"></div>
@using (Ajax.BeginForm("PertinentInfo", "ProjectList", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "info-1" }, new { @id = "sky-form", @class = "sky-form" }))
{
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                @*<form class="sky-form" id="sky-form">*@

                <div class="container">
                    <h4><b>General Information</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="col-md-6">
                    @Html.HiddenFor(m => m.CreateByUserId)
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.No)
                    <div id="proIds" class="hidden">@Model.Id</div>@*use for jquery upload calling*@
                    <div id="RoleIds" class="hidden">@Model.RoleId</div>
                    <section>
                        <label for="name" class="col-lg-3 control-label">Customer Name</label>
                        @*<input class="form-control" type="text" value="@ViewData["Description"]" />*@
                        <label class="select">
                            @*<input type="hidden" value="@Model.CustId" name="CustId" />*@
                            @Html.DropDownListFor(m => m.CustId,(IEnumerable<SelectListItem>)ViewBag.Customerlist, new { @id = "Customer", @class = "form-control-static" })
                        </label>
                    </section>
                    <section>
                        <label for="type" class="col-lg-3 control-label">Project Type</label>
                        <label class="select">
                            @Html.DropDownListFor(m => m.OppoTypeId, (IEnumerable<SelectListItem>)ViewBag.OppoTypeList, new { @id = "ProjectType", @class = "form-control-static" })
                        </label>
                    </section>
                    <section>
                        <label for="type" class="col-lg-3 control-label">Project Category</label>
                        <label class="select">
                            @Html.DropDownListFor(m => m.CatId, (IEnumerable<SelectListItem>)ViewBag.CategoryList, new { @id = "ProjectCategory", @class = "form-control-static" })
                        </label>
                    </section>
                    <section>
                        @*<label for="ProjectName" class="col-lg-3 control-label">Project Name</label>*@
                        @Html.LabelFor(m => m.ProjectName, "Project Name", new { @class = "col-lg-3 control-label" })
                        @*<input class="form-control" type="text" value="@ViewData["TypeOfProject"]" />*@
                        @Html.TextBoxFor(m => m.ProjectName, new { @id = "ProjectName", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.ProjectName, null, new { @class = "note-error color-red" })                                             
                    </section>
                    <section>
                        <label for="Description" class="col-lg-3 control-label">Description</label>
                        <label class="col-lg-offset-5 textarea textarea-resizable">
                            @*<textarea rows="3">@ViewData["CustomerRequirementDetail"]</textarea>*@
                            @Html.TextAreaFor(m => m.Description, 4, 1, new { @id = "Description" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "note-error color-red" })                      
                    </section>                   
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="userName" class="col-lg-3 control-label">Assign To</label>
                        <label class="select">
                            @*<input type="hidden" value="@Model.AccManagerId" name="AccManagerId" />*@
                            @Html.DropDownListFor(m => m.AccManagerId, (IEnumerable<SelectListItem>)ViewBag.Managerlist, new { @id = "AssignTo", @class = "form-control-static" })
                        </label>                   
                    </section>
                    <section>
                        @Html.LabelFor(m => m.ContractNo, "Project Number", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.ContractNo, new { @id = "ProjectNo", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.ContractNo, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="ProjectValue" class="col-lg-3 control-label">Project Value (RM)</label>
                        @*<input class="form-control" type="text" value="@ViewData["BudgetaryRevenue"]" />*@
                        @Html.TextBoxFor(m => m.ProjectValue, String.Format("{0:N2}", Model.ProjectValue), new { @id = "ProjectValue", @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(m => m.ProjectValue, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="BudgetaryRevenue" class="col-lg-3 control-label">Budgetary Revenue (RM)</label>
                        @*<input class="form-control" type="text" value="@ViewData["BudgetaryRevenue"]" />*@
                        @Html.TextBoxFor(m => m.BudgetaryRevenue, String.Format("{0:N2}", Model.BudgetaryRevenue), new { @id = "BudgetaryRevenue", @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(m => m.BudgetaryRevenue, null, new { @class = "note-error color-red" })
                    </section>    
                    <section>
                        <label for="Submission" class="col-lg-3 control-label">Submission</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @*<input name="ProposalDueDate" id="ProposalDueDate" class="datepicker" type="text" placeholder="@ViewData["ProposalDueDate"]" />*@
                            @Html.TextBoxFor(m => m.Submission, "{0:dd/MM/yyyy}", new { @id = "Submission", @class = "datepicker", @type = "text" })                                                   
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.Submission, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="TargetAward" class="col-lg-3 control-label">Target Award</label>
                        @*<input class="form-control" type="text" value="@ViewData["SourceOfProject"]" />*@
                        @Html.TextBoxFor(m => m.TargetAward, new { @id = "TargetAward", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.TargetAward, null, new { @class = "note-error color-red" })                    
                    </section>
                    <section>
                        @*<label for="Status" class="col-lg-3 control-label">Status</label>
                        @Html.TextBoxFor(m => m.Status, new { @id = "Status", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.Status, null, new { @class = "note-error color-red" })*@   

                        <label for="Status" class="col-lg-3 control-label">Status</label>
                        <label class="select">
                            @*<input type="hidden" value="@Model.Status" name="Status" />*@
                            @Html.DropDownListFor(m => m.StatusId, (IEnumerable<SelectListItem>)ViewBag.StatusList, new { @id = "Status", @class = "form-control-static" })
                        </label>               
                    </section>
                </div>
                @*</form>*@
                <div class="clearfix"></div>
            </div>
            @if (Model.RoleId == "R02" || Model.objCanEdit.canEdits == true)
            {
            <div class="row btn-FloatRight">
                <button type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
            </div>
            }
        </div>
    </div>
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                @*<form class="sky-form" id="sky-form">*@

                <div class="container">
                    <h4><b>Other Information</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="col-md-6">
                    <section>
                        <label for="Source" class="col-lg-3 control-label">Source of Project</label>
                        @*<input class="form-control" type="text" value="@ViewData["SourceOfProject"]" />*@
                        @Html.TextBoxFor(m => m.Source, new { @id = "SourceOfProject", @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(m => m.Source, null, new { @class = "note-error color-red" })
                    </section>                  
                    <section>
                        <label for="CreditTerm" class="col-lg-3 control-label">Credit Term</label>
                        @*<input class="form-control" type="text" value="@ViewData["CreditTerm"]" />*@
                        @Html.TextBoxFor(m => m.CreditTerm, new { @id = "CreditTerm", @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(m => m.CreditTerm, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="CreditLimit" class="col-lg-3 control-label">Credit Limit</label>
                        @*<input class="form-control" type="text" value="@ViewData["CreditLimit"]" />*@
                        @Html.TextBoxFor(m => m.CreditLimit, new { @id = "CreditLimit", @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(m => m.CreditLimit, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="OutstandingInvoice" class="col-lg-3 control-label">Outstanding Invoice</label>
                        @*<input class="form-control" type="text" value="@ViewData["OutstandingInvoice"]" />*@
                        @Html.TextBoxFor(m => m.OutstandingInvoice, new { @id = "OutstandingInvoice", @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(m => m.OutstandingInvoice, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="Industry" class="col-lg-3 control-label">Industry</label>
                        @*<input class="form-control" type="text" value="@ViewData["Industry"]" />*@
                        @Html.TextBoxFor(m => m.Industry, new { @id = "Industry", @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(m => m.Industry, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="Region" class="col-lg-3 control-label">Region</label>
                        @*<input class="form-control" type="text" value="@ViewData["Region"]" />*@
                        @Html.TextBoxFor(m => m.Region, new { @id = "Region", @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(m => m.Region, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                <div class="col-md-6">                 
                    <section>
                        <label for="CoreSolution" class="col-lg-3 control-label">Core Solution</label>
                        @*<input class="form-control" type="text" value="@ViewData["CoreSolution"]" />*@
                        @Html.TextAreaFor(m => m.CoreSolution, new { @id = "CoreSolution", @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(m => m.CoreSolution, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="ExpectedClosingDate" class="col-lg-3 control-label">Expected Closing Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @*<input name="ExpectedClosingDate" id="ExpectedClosingDate" class="datepicker" type="text" placeholder="@ViewData["ExpectedClosingDate"]" />*@
                            @Html.TextBoxFor(m => m.ExpectedClosingDate, new { @id = "ExpectedClosingDate", @class = "datepicker", @type = "text" })
                            @Html.ValidationMessageFor(m => m.ExpectedClosingDate, null, new { @class = "note-error color-red" })
                        </label>
                    </section>
                    <section>
                        <label for="CusRequirementDetail" class="col-lg-3 control-label">Customer Requirement Detail</label>
                        <label class="col-lg-offset-5 textarea textarea-resizable">
                            @*<textarea rows="3">@ViewData["CustomerRequirementDetail"]</textarea>*@
                            @Html.TextAreaFor(m => m.CusRequirementDetail, 3, 1, new { @id = "CustomerRequirementDetail" })
                            @Html.ValidationMessageFor(m => m.CusRequirementDetail, null, new { @class = "note-error color-red" })
                        </label>
                    </section>                  
                    <section>
                        <label for="Remark" class="col-lg-3 control-label">Remarks</label>
                        <label class="col-lg-offset-5 textarea textarea-resizable">
                            @*<textarea rows="3">@ViewData["Remarks"]</textarea>*@
                            @Html.TextAreaFor(m => m.Remark, 3, 1, new { @id = "Remarks" })
                            @Html.ValidationMessageFor(m => m.Remark, null, new { @class = "note-error color-red" })
                        </label>
                    </section>                  
                    <section>
                        <label for="ProposalIntDate" class="col-lg-3 control-label">Proposal Internal Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @*<input name="ProposalInternalDate" id="ProposalInternalDate" class="datepicker" type="text" placeholder="@ViewData["ProposalInternalDate"]" />*@
                            @Html.TextBoxFor(m => m.ProposalIntDate, "{0:dd/MM/yyyy}", new { @id = "ProposalInternalDate", @class = "datepicker", @type = "text" })
                            @Html.ValidationMessageFor(m => m.ProposalIntDate, null, new { @class = "note-error color-red" })
                        </label>
                    </section>
                </div>
                @*</form>*@
                <div class="clearfix"></div>
            </div>
            @if (Model.RoleId == "R02" || Model.objCanEdit.canEdits == true)
            {
                <div class="row btn-FloatRight">
                    <button type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            }
        </div>       
    </div>
    if (Model.SaveSuccess == true)
    {
        <script>
            //debugger;
            $.ajax({
                type: "POST",
                url: "@Url.Action("QuestionAnswer", "OppoList")",
                data: { uid: $("#UserIds")[0].textContent, oppoId: $("#OppoIds")[0].textContent, roleId: $("#RoleId")[0].textContent },
                cache: false,
                success: function (data) {
                    //debugger;
                    $("#qna-1").html(data);
                }
            });
            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }

                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });
            $(".datepicker").datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-angle-left"></i>',
                nextText: '<i class="fa fa-angle-right"></i>'
            });
            alert("Save Success!");
        </script>
    }
    else if (Model.StatusId.Trim() == "OS007")
    {
        <script>
            //debugger;
                $.ajax({
                    method: 'POST',
                    cache: false,
                    url: "@Url.Action("ViewProjectList", "OppoList")",
                    dataType: "json",
                    success: function (response) {
                        if (response.success) {
                            //debugger;
                            window.location = response.url;
                        };
                    }
                });
        </script>
    }
}

