﻿@model KubtelHelpdesk.Models.MyViewModel
@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <div class="hide">
        <a data-ajax="true"
           data-ajax-method="Get"
           data-ajax-mode="replace"
           data-ajax-update="#result"
           class="btn-FloatRight"
           href="~/ProjectList/ViewTabs" id="actionProject"></a>
        <a data-ajax="true"
           data-ajax-method="Get"
           data-ajax-mode="replace"
           data-ajax-update="#result"
           class="btn-FloatRight"
           href="~/ProjectList/NewProject" id="aCreateProject"></a>
        @*<a data-ajax="true"
            data-ajax-method="Get"
            data-ajax-mode="replace"
            data-ajax-update="#result"
            class="btn-FloatRight"
            href="~/Home/OpportunitySummary" id="aOpportunitySummary"></a>*@
    </div>
    <div id="result">
        <!--Basic Table Option (Spacing)-->
        <div class="panel panel-u">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-user"></i>Project List
                </h3>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="margin-bottom-25">
                    @if (Model.RoleId == "R02" && Model.RoleId == "R09")
                    {
                        <button id="bAddProject" type="button" class="btn-u btn-u-primary">Add New Project</button>
                    }
                    @*<button id="bOpportunitySummary" type="button" class="btn-u btn-u-primary">Opportunities Summary</button>*@
                </div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover wrapper" id="Project">
                        <thead>
                            <tr>
                                <th class="never"></th>
                                <th class="all"></th>
                                <th class="all">Customer</th>
                                <th class="all">Project Name</th>
                                <th class="desktop">Type</th>
                                <th class="desktop">Description</th>
                                <th class="desktop">Assign To</th>
                                @*<th class="desktop">Business Category</th>*@
                                <th class="desktop">Value (RM)</th>
                                <th class="desktop">Submission</th>
                                <th class="desktop">Target Award</th>
                                <th class="desktop">Status</th>
                                <th class="desktop">Last Activity</th>
                                <th class="desktop">Last Activity Date</th>
                                @*<th class="tablet">Gross Profit (%)</th>
                    <th class="tablet">Probability (%)</th>
                    <th class="tablet">Target Submission</th>
                    <th class="phone">Target Award</th>
                    <th class="phone">Status</th>
                    <th class="phone">Status Date</th>
                    <th class="phone">Group ID</th>
                    <th class="phone">UserGroup ID</th>*@
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th class="never"></th>
                                <th class="all"></th>
                                <th class="all">Customer</th>
                                <th class="all">Project Name</th>
                                <th class="desktop">Type</th>
                                <th class="desktop">Description</th>
                                <th class="desktop">Assign To</th>
                                @*<th class="desktop">Business Category</th>*@
                                <th class="desktop">Value (RM)</th>
                                <th class="tablet">Submission</th>
                                <th class="tablet">Target Award</th>
                                <th class="tablet">Status</th>
                                <th class="tablet">Last Activity</th>
                                <th class="tablet">Last Activity Date</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!--End Basic Table-->
        @*<div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div id="result" class="modal-dialog">
                </div>
            </div>*@
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        var url = "@Url.Content("~/Images/information.png")";
        //debugger;
    </script>
    <script src="~/Scripts/dataTables.responsive.js" type="text/javascript"></script>
    <script src="~/Scripts/main.js"></script>
}



