﻿@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }
@model KubtelHelpdesk.Models.MyViewModel

<div class="container-fluid" id="docupload">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("ProjectList", "ProjectList")'">
        <i class="fa fa-tags"></i> Back
    </button>
    <!-- Tab v2 -->
    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <li class="active navbar-height"><a href="#info-1" data-toggle="tab"><h4>Info</h4></a></li>
            <li class="navbar-height"><a href="#teammember-1" data-toggle="tab"><h4>Team Member</h4></a></li>
            <li class="navbar-height"><a href="#docmanagement-1" data-toggle="tab"><h4>Doc Management</h4></a></li>
            <li class="navbar-height"><a href="#qna-1" data-toggle="tab"><h4>Updates</h4></a></li>
        </ul>
        <div class="tab-content">
            @*<div class="tab-pane fade in active" id="info-1">
                </div>*@
            <div class="tab-pane fade in active" id="info-1">
                @{ Html.RenderAction("PertinentInfo", "ProjectList", new { uid = Model.userId, roleid = Model.RoleId, proId = Model.proId }); }
                @*this is info*@
            </div>
            <div class="tab-pane fade in" id="teammember-1">
                @{ Html.RenderAction("TeamMember", "ProjectList", new { uid = Model.userId, roleid = Model.RoleId, proId = Model.proId }); }
                @*this is teammember*@
            </div>
            <div class="tab-pane fade in" id="docmanagement-1">
                @*@@Html.Partial(MVC.Shared.Views.FilesForm, Model)*@
                @{ Html.RenderAction("DocManagement", "ProjectList", new { uid = Model.userId, roleid = Model.RoleId, proId = Model.proId }); }
                <div class="clearfix margin-bottom-20"></div>
            </div>
            <div class="tab-pane fade in" id="qna-1">
                @{ Html.RenderAction("QuestionAnswer", "ProjectList", new { uid = Model.userId, roleid = Model.RoleId, proId = Model.proId }); }
            </div>
        </div>
    </div>
    <!-- End Tab v2 -->
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var memberTable; var docTable; var arcTable;
            //debugger;
            $(".datepicker").datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-angle-left"></i>',
                nextText: '<i class="fa fa-angle-right"></i>'
            });

            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }

                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });
            //TeamMember.cshtml script
            $(".PermissionBorder").css({
                "border-bottom-style": "solid",
                "border-bottom-color": "#ddd",
                "border-bottom-width": "1px"
            });

            $("#docupload").on("click", "#SubmitPermission", function (e) {
                e.preventDefault();
                //var permissionCollection = new Array(3);
                var permissionCollection = [];
                var j = 0; var k = 1; var l = 2;
                $.each(memberTable.rows().data(), function (i, item) {
                    //debugger;
                    item[2] = $("tr.permission").find("input.subpermission")[j].value;
                    item[3] = $("tr.permission").find("input.subpermission")[k].checked;
                    item[4] = $("tr.permission").find("input.subpermission")[l].checked;
                    permissionCollection.push(item);
                    j = j + 3; k = k + 3; l = l + 3;
                });
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("TeamPermission", "ProjectList")",
                    traditional: true,
                    contentType: 'application/json',
                    data: JSON.stringify({ permissions: permissionCollection, oid: $("#proIds")[0].textContent }),
                    dataType: "json",
                    cache: false,
                    success: function (data) {
                        //debugger;
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("TeamMember", "ProjectList")",
                            dataType: "json",
                            data: { uid: $("#UserIds")[0].textContent, proId: $("#proIds")[0].textContent, roleid: $("#RoleIds")[0].textContent },
                            cache: false,
                            success: function (data) {
                                $("#teammember-1").html(data);
                                $(".PermissionBorder").css({
                                    "border-bottom-style": "solid",
                                    "border-bottom-color": "#ddd",
                                    "border-bottom-width": "1px"
                                });
                            }
                        });
                        alert("Update Permission Success!");
                    }
                });
            });
            $(".container-fluid").on("click", "#SubmitNewMember", function (e) {
                e.preventDefault();
                var uid = $("#TeamMemberList option:selected").val();
                //debugger;
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddTeamMember", "ProjectList")",
                    data: { UserId: uid, proId: $("#proIds")[0].textContent },
                    dataType: "json",
                    cache: false,
                    success: function (data) {
                        //debugger;
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("TeamMember", "ProjectList")",
                            data: { uid: $("#UserIds")[0].textContent, proId: $("#proIds")[0].textContent, roleid: $("#RoleIds")[0].textContent },
                            cache: false,
                            success: function (data) {
                                $("#teammember-1").html(data);
                                $(".PermissionBorder").css({
                                    "border-bottom-style": "solid",
                                    "border-bottom-color": "#ddd",
                                    "border-bottom-width": "1px"
                                });
                                memberTable = $('#newMember').DataTable({
                                    bAutoWidth: false,
                                    bSort: false,
                                    responsive: {
                                        breakpoints: [
                                            { name: 'desktop', width: 1024 },
                                            { name: 'tablet', width: 768 },
                                            { name: 'phone', width: 480 }
                                        ]
                                    }
                                });
                                //debugger;
                                $.ajax({
                                    type: "POST",
                                    url: "@Url.Action("QuestionAnswer", "ProjectList")",
                                    data: { uid: $("#UserIds")[0].textContent, proId: $("#proIds")[0].textContent, roleid: $("#RoleIds")[0].textContent },
                                    cache: false,
                                    success: function (data) {
                                        $("#qna-1").html(data);
                                    }
                                });
                            }
                        });
                        alert("Add New Member Success!");
                    }
                });
            });

            //DocManagement.cshtml script
            docUploader();

            memberTable = $('#newMember').DataTable({
                bAutoWidth: false,
                bSort: false,
                responsive: {
                    breakpoints: [
                        { name: 'desktop', width: 1024 },
                        { name: 'tablet', width: 768 },
                        { name: 'phone', width: 480 }
                    ]
                }
            });

            $("#docupload").on("click", "#UploadFile", function (e) {
                e.preventDefault();
                //var formData = new FormData($('#formUpload')[0]);
                var fd = new FormData();
                fd.append("file", $('#QuestionAnswer').find('[name="file"]')[0].files[0]);
                fd.append("Description", $("#FileDesc").val());
                fd.append("UserId", $("#UserIds")[0].textContent);
                fd.append("proId", $("#proIds")[0].textContent);
                //debugger;
                $.ajax({
                    url: "@Url.Action("DocUpload", "ProjectList")",
                    type: 'POST',
                    cache: false,
                    beforeSend: function () { $("#uploadModal").modal("show"); },
                    xhr: function () {  // Custom XMLHttpRequest
                        var xhr = new window.XMLHttpRequest();
                        //Upload progress
                        xhr.upload.addEventListener("progress", function (evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                //Do something with upload progress
                                console.log(percentComplete);
                                //debugger;                               
                                $('#uploadProgress > .progress-bar').attr("style", "width: " + percentComplete * 100 + "%");
                                $('#uploadProgress > .progress-bar')[0].textContent = "" + percentComplete * 100 + "% Complete ";
                            }
                        }, false);
                        return xhr;
                    },
                    success: function (result) {
                        //debugger;
                        $('#uploadModal').modal("hide");
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("QuestionAnswer", "ProjectList")",
                            data: { uid: $("#UserIds")[0].textContent, proId: $("#proIds")[0].textContent, roleid: $("#RoleIds")[0].textContent },
                            cache: false,
                            success: function (data) {
                                //debugger;
                                $("#qna-1").html(data);
                            }
                        });
                        $.ajax({
                            type: "POST",
                            cache: false,
                            url: "@Url.Action("DocManagement", "ProjectList")",
                            data: { uid: $("#UserIds")[0].textContent, proId: $("#proIds")[0].textContent, roleid: $("#RoleIds")[0].textContent },
                            success: function (data) {
                                //debugger;
                                $("#docmanagement-1").html(data);
                                docUploader();                               
                            }
                        });
                        $('body').removeClass('modal-open');                        
                        alert("Upload Success!"); 
                    },                  
                    error: function () { },
                    data: fd,
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });

            function docUploader(){
                $('#newDocument tfoot th').each(function () {
                    if ($(this)[0].textContent != "") {
                        var title = $(this).text();
                        $(this).html('<input type="text" class="form-control custom-filter" placeholder="Search" />');
                    }
                });

                $('#newArchive tfoot th').each(function () {
                    if ($(this)[0].textContent != "") {
                        var title = $(this).text();
                        $(this).html('<input type="text" class="form-control custom-filter" placeholder="Search" />');
                    }
                });
                docTable = $('#newDocument').DataTable({
                    bAutoWidth: false,
                    order: [[4, "desc"]],
                    initComplete: function () {
                        var r = $('#newDocument tfoot tr');
                        r.find('th').each(function () {
                            //debugger;
                            $(this).css('padding', 8);
                        });
                        $('#newDocument thead').append(r);
                        $('#search_0').css('text-align', 'center');
                    },
                    responsive: {
                        breakpoints: [
                            { name: 'desktop', width: 1024 },
                            { name: 'tablet', width: 768 },
                            { name: 'phone', width: 480 }
                        ]
                    }
                });

                arcTable = $('#newArchive').DataTable({
                    bAutoWidth: false,
                    order: [[4, "desc"]],
                    initComplete: function () {
                        var r = $('#newArchive tfoot tr');
                        r.find('th').each(function () {
                            //debugger;
                            $(this).css('padding', 8);
                        });
                        $('#newArchive thead').append(r);
                        $('#search_0').css('text-align', 'center');
                    },
                    responsive: {
                        breakpoints: [
                            { name: 'desktop', width: 1024 },
                            { name: 'tablet', width: 768 },
                            { name: 'phone', width: 480 }
                        ]
                    }
                });

                docTable.columns().every(function () {
                    var that = this;
                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });

                arcTable.columns().every(function () {
                    var that = this;
                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            }

            $("#docupload").on("click", ".ArchiveFile", function (e) {
                e.preventDefault();
                var selectedId = $(this)[0].id;
                $.ajax({
                    type: "POST",
                    cache: false,
                    url: "@Url.Action("FileArchive", "ProjectList")",
                    data: { selectedId: selectedId },
                    dataType: "json",
                    traditional: true,
                    success: function (data) {
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("DocManagement", "ProjectList")",
                            cache: false,
                            data: { uid: $("#UserIds")[0].textContent, proId: $("#proIds")[0].textContent, roleid: $("#RoleIds")[0].textContent },
                            success: function (data) {
                                //debugger;
                                $("#docmanagement-1").html(data);
                                docUploader();
                                alert("Archiving Success!");
                            }
                        });
                    },
                    cache: false
                });
            });

            @*$(".DeleteFile").on("click", function (e) {
            e.preventDefault();
            var selectedId = $(this)[0].id;
            $.ajax({
                type: "POST",
                cache: false,
                url: "@Url.Action("Deletes", "MainTabs")",
                data: { selectedId: selectedId },
                dataType: "json",
                traditional: true,
                success: function (data) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("DocManagement", "MainTabs")",
                        cache: false,
                        success: function (data) {
                            $("#docmanagement-1").html(data);
                            alert("Delete Success!");
                        }
                    });
                },
                cache: false
            });
        });*@

            //QuesstionAnswer.cshtml script
            $("#docupload").on("click", "#SendMessage", function (e) {
                e.preventDefault();
                //debugger;
                if ($("#MessageContent").val().trim() != "") {
                    var uid = $("#UserIds")[0].textContent; var oid = $("#proIds")[0].textContent;
                    var content = $("#MessageContent").val();
                    var selectedUserId = [];
                    $("#selMultiple :selected").each(function (i, selected) {
                        selectedUserId[i] = $(selected).val();
                    });
                    if (selectedUserId.length != 0) {                    
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("SendMessage", "ProjectList")",
                            data: { UserId: uid, proId: oid, Content: content, selectedUserId: selectedUserId },
                            dataType: "json",
                            traditional: true,
                            cache: false,
                            xhr: function(){
                                var xhr = new window.XMLHttpRequest();
                                //Upload progress
                                xhr.upload.addEventListener("progress", function (evt) {                                  
                                    if (evt.lengthComputable) {
                                        var percentComplete = evt.loaded / evt.total;
                                        //Do something with upload progress
                                        console.log(percentComplete);
                                        $('.progress > .progress-bar').attr("style", "width: " + percentComplete * 99 + "%");
                                        $('.progress > .progress-bar')[0].textContent = "" + percentComplete * 99 + "% Complete ";
                                    }
                                }, false);
                                //Download progress
                                xhr.addEventListener("progress", function (evt) {
                                    if (evt.lengthComputable) {
                                        var percentComplete = evt.loaded / evt.total;
                                        //Do something with download progress
                                        console.log(percentComplete);
                                        $('.progress > .progress-bar').attr("style", "width: " + percentComplete * 99 + "%");
                                        $('.progress > .progress-bar')[0].textContent = "" + percentComplete * 99 + "% Complete ";
                                    }
                                }, false);
                                return xhr;
                            },
                            success: function (newdata) {
                                //debugger;
                                $.ajax({
                                    type: "POST",
                                    url: "@Url.Action("QuestionAnswer", "ProjectList")",
                                    data: { uid: $("#UserIds")[0].textContent, proId: $("#proIds")[0].textContent, roleid: $("#RoleIds")[0].textContent },
                                    cache: false,
                                    success: function (data) {
                                        //debugger;
                                        $("#qna-1").html(data);
                                        $('body').removeClass('modal-open');
                                        alert("Send Message Success!");
                                    }
                                });
                            }
                        });
                    } else {
                        alert("Please select the recipient");
                        $("#responsive").modal("toggle");
                        $('body').removeClass('modal-open');
                    }
                } else {
                    alert("Do not leave the message empty");
                    $("#responsive").modal("toggle");
                    $('body').removeClass('modal-open');
                }
            });

            $("#docupload").on("click", "#closeButton", function (e) {
                $("#responsive").modal("toggle");
                $('body').removeClass('modal-open');
            });
        });
    </script>
}
