﻿@model Initiatives.Models.MainModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <div class="hide">
        <a data-ajax="true"
           data-ajax-method="Get"
           data-ajax-mode="replace"
           data-ajax-update="#result"
           class="btn-FloatRight"
           href="~/Home/CustomerList" id="actionUser"></a>
    </div>
    <div id="result">
        <!--Basic Table Option (Spacing)-->
        <div class="panel panel-u">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-user"></i>Customer List
                </h3>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="margin-bottom-25">
                    @if (Model.RoleId == "R02" || Model.RoleId == "R04" || Model.RoleId == "R09" || Model.RoleId == "R03")
                    {
                        <button id="bAddCustomer" type="button" class="btn-u btn-u-primary" onclick="location.href = '@Url.Action("NewCustomer", "Home")'">Add New Customer</button>
                    }
                    @*<button id="bOpportunitySummary" type="button" class="btn-u btn-u-primary">Opportunities Summary</button>*@
                </div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover wrapper hidden" id="CustomerTable">
                        <thead>
                            <tr>
                                <th class="never">#</th>
                                <th class="all">#</th>
                                <th class="all">Name</th>
                                <th class="all">Abbreviation</th>
                                <th class="desktop">Registration No</th>
                                @*<th class="desktop">Business Category</th>*@
                                <th class="desktop">Customer Type</th>
                                <th class="desktop">Customer URL</th>
                                <th class="desktop">Address</th>
                                <th class="desktop">Telephone No</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.CustomerListObject)
                        {
                            <tr>
                                <td class=" hide never">@Html.DisplayFor(modelItem => item.custId)</td>
                                <td class="all"></td>
                                <td class="all">@Html.DisplayFor(modelItem => item.Name)</td>
                                <td class="all">@Html.DisplayFor(modelItem => item.Abbreviation)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.CustRegNo)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.Type)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.HomeURL)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.Address)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.TelephoneNo)</td>
                            </tr>
                        }
                        <tfoot>
                            <tr>
                                <th class="never"></th>
                                <th class="all"></th>
                                <th class="all">Name</th>
                                <th class="all">Abbreviation</th>
                                <th class="desktop">Registration No</th>
                                @*<th class="desktop">Business Category</th>*@
                                <th class="desktop">Customer Type</th>
                                <th class="desktop">Customer URL</th>
                                <th class="desktop">Address</th>
                                <th class="desktop">Telephone No</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!--End Basic Table-->
        @*<div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div id="result" class="modal-dialog">
                </div>
            </div>*@
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        var UrlGreenalert = "@Url.Content("~/Images/greenalert.png")";
        var UrlOpportunityList = "@Url.Action("OpportunityList", "OppoList")";
        var UrlContractList = "@Url.Action("ContractList", "ContList")";
        var UrlUserList = "@Url.Action("UserList", "Home")";
        var UrlCustomerList = "@Url.Action("CustomerList", "Home")";
    </script>
    @Scripts.Render("~/bundles/JSPages");
}
