﻿@model Initiatives.Models.MainModel
@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <div class="hide">
        <a data-ajax="true"
           data-ajax-method="Get"
           data-ajax-mode="replace"
           data-ajax-update="#result"
           class="btn-FloatRight"
           href="~/OppoList/NewOpportunity" id="aCreateOpportunity"></a>
        <div id="getLocation" class="button"></div>
    </div>
    <div id="row">
        <div class="col-md-6">
            <div class="row">
                <h2>My Dashboard</h2>
                <div class="col-md-6">
                    <!--Tag Box v6-->
                    <div class="tag-box tag-box-v6">
                        <h2>Fusce condimentum eleifend enim a ditailis estf eugiat...</h2>
                        <p>Et harum quidem rerum facexpe ditailis est et  distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit ellentesque viverra vehicu. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor...</p>
                    </div>
                    <!--End Tag Box v6-->
                </div>
                <div class="col-md-6">
                    <!--Tag Box v7-->
                    <div class="tag-box tag-box-v6">
                        <h2>Expedita distinctio lorem ipsum dolor sit amet consectetur!</h2>
                        <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit ellentesque viverra vehicu. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor...</p>
                    </div>
                    <!--End Tag Box v7-->
                </div>
                <div class="col-md-6">
                    <!--Tag Box v6-->
                    <div class="tag-box tag-box-v6">
                        <h2>Fusce condimentum eleifend enim a ditailis estf eugiat...</h2>
                        <p>Et harum quidem rerum facexpe ditailis est et  distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit ellentesque viverra vehicu. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor...</p>
                    </div>
                    <!--End Tag Box v6-->
                </div>
                <div class="col-md-6">
                    <!--Tag Box v7-->
                    <div class="tag-box tag-box-v6">
                        <h2>Expedita distinctio lorem ipsum dolor sit amet consectetur!</h2>
                        <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit ellentesque viverra vehicu. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor...</p>
                    </div>
                    <!--End Tag Box v7-->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            @*<form action="#" class="sky-form">*@
            @using (Html.BeginForm("Dashboard", "Home", FormMethod.Post, new { @id = "MyActivity", @class = "sky-form", @enctype = "multipart/form-data" }))
            {
                <h2>Activity</h2>
                    <div class="tag-box tag-box-v6">
                        <div class="row">
                            <section>
                                <label for="ActivityDate" class="col-lg-3 control-label">Activity Date</label>
                                <label class="col-lg-offset-13 input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    @*<input type="text" name="date" id="ActivityDate" class="datepicker">*@
                                    @Html.TextBoxFor(m => m.ActivityDetail.ActivityDate, "{0:dd/MM/yyyy}", new { @id = "ActivityDate", @class = "datepicker", @type = "text" })
                                </label>
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.ActivityDetail.ActivityDate, null, new { @class = "note-error color-red" })
                            </section>
                            <section>
                                <label for="name" class="col-lg-3 control-label">Customer Name</label>
                                <label class="col-lg-7 select">
                                    @*<select class="form-control form-control-doc">
                                            <option value="volvo">Volvo</option>
                                            <option value="saab">Saab</option>
                                            <option value="mercedes">Mercedes</option>
                                            <option value="audi">Audi</option>
                                        </select>*@
                                    @Html.DropDownListFor(m => m.ActivityDetail.CustId, (IEnumerable<SelectListItem>)ViewBag.Customerlist, "", new { @id = "CustomerName", @class = "form-control form-control-doc" })
                                </label>
                            </section>
                            <section>
                                <label for="Project" class="col-lg-3 control-label">Project</label>
                                @*@Html.LabelFor(m => m.OppoListDetail.OpportunityName, "Opportunity Name", new { @class = "col-lg-3 control-label" })*@
                                <label class="col-lg-7 input">
                                    @*<input class="form-control form-control-doc" type="text" value="" />*@
                                    @Html.TextBoxFor(m => m.ActivityDetail.Project, new { @id = "Project", @class = "form-control form-control-doc", @type = "text" })
                                </label>
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.ActivityDetail.Project, null, new { @class = "col-lg-7 note-error color-red" })
                            </section>
                            <section>
                                <label for="Report" class="col-lg-3 control-label">Report</label>
                                <label class="form-control-static col-lg-7 textarea textarea-resizable">
                                    @*<textarea rows="4"></textarea>*@
                                    @Html.TextAreaFor(m => m.ActivityDetail.Report, 4, 1, new { @id = "Report" })
                                </label>
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.ActivityDetail.Report, null, new { @class = "col-lg-7 note-error color-red" })
                            </section>
                            <section>
                                <label for="ActionPlan" class="col-lg-3 control-label">Action Plan</label>
                                <label class="form-control-static col-lg-7 textarea textarea-resizable">
                                    @*<textarea rows="4"></textarea>*@
                                    @Html.TextAreaFor(m => m.ActivityDetail.ActionPlan, 4, 1, new { @id = "ActionPlan" })
                                </label>
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.ActivityDetail.ActionPlan, null, new { @class = "col-lg-7 note-error color-red" })
                            </section>
                            <section>
                                <label for="Remark" class="col-lg-3 control-label">Remark</label>
                                @*@Html.LabelFor(m => m.OppoListDetail.OpportunityName, "Opportunity Name", new { @class = "col-lg-3 control-label" })*@
                                <label class="col-lg-7 input">
                                    @*<input class="form-control form-control-doc" type="text" value="" />*@
                                    @Html.TextBoxFor(m => m.ActivityDetail.Remark, new { @id = "Remark", @class = "form-control form-control-doc", @type = "text" })
                                </label>
                                @*@Html.TextBoxFor(m => m.OppoListDetail.OpportunityName, new { @id = "OpportunityName", @class = "form-control", @type = "text" })*@
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.OppoListDetail.OpportunityName, null, new { @class = "note-error color-red" })
                            </section>
                        </div>
                        <div class="row btn-FloatRight">
                            <button id="SubmitMyActivity" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                        </div>
                    </div>
            }
            @*</form>*@
        </div>
        @if (Model.RoleId == "R02")
            {
            <h2>KUBtel Staff's Activities</h2>
                <div class="col-md-12">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover wrapper" id="SalesActivitiesTable">
                            <thead>
                                <tr>
                                    <th class="never">ActivityId</th>
                                    @*<th class="all"></th>*@
                                    <th class="all">Account Manager Name</th>
                                    <th class="all">Activity Date</th>
                                    <th class="desktop">Customer Name</th>
                                    <th class="desktop">Project</th>
                                    <th class="desktop">Report</th>
                                    <th class="desktop" style="width:40%;">Action Plan</th>
                                    <th class="desktop">Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="hide never"></td>
                                    @*<td class="all"></td>*@
                                    <td class="all">Account Manager Name</td>
                                    <td class="all">Activity Date</td>
                                    <td class="desktop">Customer Name</td>
                                    <td class="desktop">Project</td>
                                    <td class="desktop">Report</td>
                                    <td class="desktop">Action Plan</td>
                                    <td class="desktop">Remark</td>
                                </tr>
                            </tbody>
                            @*@foreach (var item in Model.ContListObject)
                                            {
                                            <tbody>
                                                <tr>
                                                    <td class="hide never"></td>
                                <td class="all"></td>
                                <td class="all">Account Manager Name</td>
                                <td class="all">Activity Date</td>
                                <td class="desktop">Customer Name</td>
                                <td class="desktop">Project</td>
                                <td class="desktop">Report</td>
                                <td class="desktop">Action Plan</td>
                                <td class="desktop">Remark</td>
                                                                            </tr>
                                                        </tbody>
                                }*@
                        </table>
                    </div>

                </div>
        }
        @if (Model.RoleId != "R02")
            {
            <h2>My Activities</h2>
                <div class="col-md-12">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover wrapper" id="AMActivitiesTable">
                            <thead>
                                <tr>
                                    <th class="never">ActivityId</th>
                                    <th class="all">Activity Date</th>
                                    <th class="desktop">Customer Name</th>
                                    <th class="desktop">Project</th>
                                    <th class="desktop">Report</th>
                                    <th class="desktop" style="width:40%;">Action Plan</th>
                                    <th class="desktop">Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="hide never"></td>
                                    <td class="all">Activity Date</td>
                                    <td class="desktop">Customer Name</td>
                                    <td class="desktop">Project</td>
                                    <td class="desktop">Report</td>
                                    <td class="desktop">Action Plan</td>
                                    <td class="desktop">Remark</td>
                                </tr>
                            </tbody>
                            @*@foreach (var item in Model.ContListObject)
                                            {
                                            <tbody>
                                                <tr>
                                                    <td class="hide never"></td>
                                <td class="all"></td>
                                <td class="all">Account Manager Name</td>
                                <td class="all">Activity Date</td>
                                <td class="desktop">Customer Name</td>
                                <td class="desktop">Project</td>
                                <td class="desktop">Report</td>
                                <td class="desktop">Action Plan</td>
                                <td class="desktop">Remark</td>
                                                                            </tr>
                                                        </tbody>
                                }*@
                        </table>
                    </div>

                </div>
        }
        <p>UNDER CONSTRUCTION</p>
        <!--Basic Table Option (Spacing)-->
        @*<div id="map_canvas" style="width:100%;height:400px">
            </div>*@
    </div>
</div>
@section scripts {
    @*<script src="~/Scripts/jquery.ui.map.js" type="text/javascript"></script>
        <script src="~/Scripts/jquery.ui.map.services.js" type="text/javascript"></script>
        <script src="~/Scripts/jquery.ui.map.overlays.js" type="text/javascript"></script>
        <script src="~/Scripts/jquery.ui.map.extensions.js" type="text/javascript"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACUG6G6Tv1JFk-MaVZCuhW5jA1laXyG4I"></script>*@
    <script type="text/javascript">
        var UrlGreenalert = "@Url.Content("~/Images/greenalert.png")";
        var UrlDashboard = "@Url.Action("Dashboard", "Home")";
        App.initAnimateDropdown();
        CirclesMaster.initCirclesMaster1();
        $(document).ready(function () {
            var lat; var lng; var address; var latlng;
            var options = {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 0
            };

            function success(pos) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    //debugger;
                    lat = position.coords.latitude;
                    lng = position.coords.longitude;
                    latlng = new google.maps.LatLng(lat, lng);
                    var geocoder = new google.maps.Geocoder();
                    if (geocoder == null) {
                        geocoder = new google.maps.Geocoder();
                    }
                    geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            if (results[1]) {
                                //debugger;
                                address = results[1].formatted_address;
                                $("#getLocation").trigger("click");
                            }
                        }
                    });
                });
            };

            function error(err) {
                alert('ERROR(' + err.code + '): ' + err.message);
            };

            //navigator.geolocation.getCurrentPosition(success, error, options);

            $("#getLocation").on("click", function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetLocation", "Home")",
                    data: { lat: lat,lng: lng, address: address },
                    cache: false,
                    success: function (data) {
                        //debugger;
                        alert("Update location Success!");
                    }
                });
            });
        });
    </script>
    @Scripts.Render("~/bundles/JSPages");
}

