﻿@model KubtelHelpdesk.Models.MyViewModel
@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <div class="hide">
        <a data-ajax="true"
           data-ajax-method="Get"
           data-ajax-mode="replace"
           data-ajax-update="#result"
           class="btn-FloatRight"
           href="~/OppoList/ViewTabs" id="action"></a>
        <a data-ajax="true"
           data-ajax-method="Get"
           data-ajax-mode="replace"
           data-ajax-update="#result"
           class="btn-FloatRight"
           href="~/OppoList/NewOpportunity" id="aCreateOpportunity"></a>
    </div>
    <div id="result">
        <!--Basic Table Option (Spacing)-->
        <div class="panel panel-u">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-user"></i>Dashboard
                </h3>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                This is dashboard
            </div>
        </div>
        <!--End Basic Table-->
        @*<div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div id="result" class="modal-dialog">
                </div>
            </div>*@
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        var url = "@Url.Content("~/Images/information.png")";
        //debugger;       
    </script>
    <script src="~/Scripts/main.js"></script>
}

