﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@model Initiatives.Models.MainModel

<div class="wrapper">
    <div class="container content">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @id = "Login", @class = "reg-page" }))
                {
                    <div class="reg-header">
                        <h2>Login to your account</h2>
                    </div>

                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.TextBoxFor(m => m.UserName, new { @id = "username", @class = "validate[required] form-control", @autocomplete = "off", @placeholder = "Username", @type = "text" })
                    </div>
                    <div class="input-group margin-bottom-10">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        @*<input type="password" placeholder="Password" class="form-control">*@
                        @Html.TextBoxFor(m => m.LoginObject.Password, new { @id = "password", @class = "validate[required] form-control", @autocomplete = "off", @placeholder = "Password", @type = "password" })
                    </div>
                    <div class="input-group margin-bottom-10">
                        @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "note-error color-red" })
                    </div>
                    <div class="row">
                        <div class="col-md-6 checkbox">
                            <label><input type="checkbox"> Stay signed in</label>
                        </div>
                        <div class="col-md-6">
                            <button id="SubmitLogin" class="btn-u pull-right" type="submit">Login</button>
                        </div>
                    </div>

                    <hr>

                    <p><center>© 2017 KUB Telekomunikasi Sdn. Bhd</center></p>
                    <p><center>(Company No, 230021-D). All rights reserved.</center></p>
                }
            </div>
        </div><!--/row-->
    </div><!--/container-->
</div><!--/wrapper-->
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).ajaxError(function (evt, xhr) {
                try {
                    //var json = $.parseJSON(xhr.responseText);
                    $('.wrapper').html("");
                    $('.wrapper').html(xhr.responseText);
                } catch (e) { 
                    alert('Error occured. Please contact Administrator');
                }
            });

            $(document).on("click", "#SubmitLogin",function (e) {
                e.preventDefault();
                var fd = new FormData();
                //fd.append("file", $("#" + partialForm).find('[name="file"]')[0].files[0]);
                var other_data = $("#Login").serializeArray();
                $.each(other_data, function (key, input) {
                    fd.append(input.name, input.value);
                });
                $.ajax({
                    url: "@Url.Action("Index", "Home")",
                    method: 'POST',
                    data: fd,
                    contentType: false,
                    processData: false,
                    cache: false,
                    dataType: "json",
                    success: function (response) {
                        //debugger;
                        if (response.success) {
                            window.location = response.url;
                        }
                        else {
                            $('.wrapper').html("");
                            $('.wrapper').html(response.view);
                        }
                    }
                });
            });
        });
    </script>
}