﻿@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }
@model KubtelHelpdesk.Models.MyViewModel

<div class="wrapper">
    <!--=== Header v7 Left ===-->
    <div class="header-v7 header-left-v7">
        <nav class="navbar navbar-default mCustomScrollbar" role="navigation" data-mcs-theme="minimal-dark">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="menu-container">
                <!-- Toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- End Toggle -->
                <!-- Logo -->
                <div class="logo">
                    <a href="index.html">
                        <img id="logo-header" src="~/Images/logo.gif" alt="Logo">
                    </a>
                </div>
                <!-- End Logo -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <div class="menu-container">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li id="Home" class="dropdown active">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Home
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Home/Main">Home</a></li>
                                <li><a href="~/Home/Logout">Logout</a></li>
                            </ul>
                        </li>
                        <!-- End Home -->
                        <!-- Report Pages -->
                        @*<li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    Report Pages
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Report Manager</a></li>
                                    <li><a href="#">Statistical Report</a></li>
                                    <li><a href="#">Special Report</a></li>
                                    <li><a href="#">Loaner Report</a></li>
                                </ul>
                            </li>*@
                        <!-- End Report Pages -->
                        <!-- Registration -->
@if (Model.Role != "User")
                        {
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Registration
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Customer Registration</a></li>
                                <li><a href="#">User Registration</a></li>
                            </ul>
                        </li>
}
                        <!-- End Registration -->
                        <!-- Misc -->
                        @*<li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    Misc
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Configuration</a></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </li>*@
                        <!-- End Misc -->
                    </ul>

                    <p class="copyright-text">&copy; 2015 KUBTel. All Rights Reserved.</p>
                </div>
            </div>
            <!-- End Navbar Collapse -->
        </nav>
    </div>
    <!--=== End Header v7 Left ===-->
    <!--=== Content Side Left Right ===-->
    <div class="content-side-right">
        <!--=== Content Side Left Right ===-->
        <div class="hide">
            <a data-ajax="true"
               data-ajax-method="Get"
               data-ajax-mode="replace"
               data-ajax-update="#result"
               class="btn-FloatRight"
               href="~/Home/ViewTabs" id="action"></a>
            <a data-ajax="true"
               data-ajax-method="Get"
               data-ajax-mode="replace"
               data-ajax-update="#result"
               class="btn-FloatRight"
               href="~/Home/CreateOpportunity" id="aCreateOpportunity"></a>
            <a data-ajax="true"
               data-ajax-method="Get"
               data-ajax-mode="replace"
               data-ajax-update="#result"
               class="btn-FloatRight"
               href="~/Home/OpportunitySummary" id="aOpportunitySummary"></a>
        </div>
        <div id="result" class="container content">
            <!--Basic Table Option (Spacing)-->
            <div class="panel panel-u">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-user"></i>Opportunities List
                    </h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="margin-bottom-25">
                        @if (Model.Role != "User")
                        {
                            <button id="bAddOpportunity" type="button" class="btn-u btn-u-primary">Add New Opportunity</button>
                        }                       
                        <button id="bOpportunitySummary" type="button" class="btn-u btn-u-primary">Opportunities Summary</button>
                    </div>
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover wrapper" id="Opportunity" data-model="@Html.Raw(Html.AttributeEncode(Json.Encode(Model)))">
                            <thead>
                                <tr>
                                    <th class="all">#</th>
                                    <th class="all">Customer</th>
                                    <th class="all">Opportunity</th>                                   
                                    <th class="desktop">Assign To</th>
                                    <th class="desktop">Description</th>
                                    @*<th class="desktop">Business Category</th>*@
                                    <th class="desktop">Gross Profit (RM '000)</th>
                                    <th class="desktop">Submission</th>
                                    <th class="desktop">Target Award</th>
                                    <th class="desktop">Status</th>
                                    <th class="desktop">Last Activity</th>
                                    <th class="desktop">Last Activity Date</th>
                                    @*<th class="tablet">Gross Profit (%)</th>
                                        <th class="tablet">Probability (%)</th>
                                        <th class="tablet">Target Submission</th>
                                        <th class="phone">Target Award</th>
                                        <th class="phone">Status</th>
                                        <th class="phone">Status Date</th>
                                        <th class="phone">Group ID</th>
                                        <th class="phone">UserGroup ID</th>*@
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!--End Basic Table-->
            @*<div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div id="result" class="modal-dialog">
                    </div>
                </div>*@
        </div>
        <!--=== End Content Side Left Right ===-->
    </div>
</div>
