﻿@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model Initiatives.Models.CustomerList

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("CustomerList", "Home")'">
        <i class="fa fa-tags"></i> Back
    </button>
    <div class="panel panel-u margin-bottom-20">
        <div class="panel-heading margin-bottom-10">
            <h3 class="panel-title"><i class="fa fa-user"></i> Create New User</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("NewCustomer", "Home", FormMethod.Post, new { @id = "sky-form", @class = "sky-form" }))
            {
                <div class="shadow-wrapper">
                    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                        <div class="row">
                            <div class="container">
                                <h4><b>General Information</b></h4>
                            </div>
                            <div class="clearfix margin-bottom-10"></div>
                            <div class="col-md-6">
                                <section>
                                    <label for="Name" class="col-lg-3 control-label">Customer Name</label>
                                    @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="Abbreviation" class="col-lg-3 control-label">Abbreviation</label>
                                    @Html.TextBoxFor(m => m.Abbreviation, new { @id = "Abbreviation", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.Abbreviation, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    @Html.LabelFor(m => m.RegistrationNo, "Registration No.", new { @class = "col-lg-3 control-label" })
                                    @Html.TextBoxFor(m => m.RegistrationNo, new { @id = "RegistrationNo", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.RegistrationNo, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    @Html.LabelFor(m => m.CustomerType, "Customer Type", new { @class = "col-lg-3 control-label" })
                                    @Html.TextBoxFor(m => m.CustomerType, new { @id = "CustomerType", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.CustomerType, null, new { @class = "note-error color-red" })
                                </section>
                            </div>
                            <div class="col-md-6">
                                <section>
                                    <label for="CustomerURL" class="col-lg-3 control-label">Customer URL</label>
                                    @Html.TextBoxFor(m => m.CustomerURL, new { @id = "CustomerURL", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.CustomerURL, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="Address" class="col-lg-3 control-label">Address</label>
                                    @Html.TextBoxFor(m => m.Address, new { @id = "Address", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.Address, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="TelephoneNo" class="col-lg-3 control-label">Telephone No.</label>
                                    @Html.TextBoxFor(m => m.TelephoneNo, new { @id = "TelephoneNo", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.TelephoneNo, null, new { @class = "note-error color-red" })
                                </section>
                            </div>
                            <div class="clearfix margin-bottom-20"></div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn-u btn-u-primary btn-FloatRight">Submit</button>
            }
        </div>
    </div>
</div>
