﻿@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model Initiatives.Models.PartNoList

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("PartNoList", "Home")'">
        <i class="fa fa-tags"></i> Back
    </button>
    <div class="panel panel-u margin-bottom-20">
        <div class="panel-heading margin-bottom-10">
            <h3 class="panel-title"><i class="fa fa-user"></i> Create New Part No./Material No.</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("NewPartNo", "Home", FormMethod.Post, new { @id = "sky-form", @class = "sky-form" }))
            {
                <div class="shadow-wrapper">
                    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                        <div class="row">
                            <div class="container">
                                <h4><b>General Information</b></h4>
                            </div>
                            <div class="clearfix margin-bottom-10"></div>
                            <div class="col-md-6">
                                <section>
                                    <label for="MaterialNo" class="col-lg-3 control-label">Material No./Part No.</label>
                                    @Html.TextBoxFor(m => m.MaterialNo, new { @id = "MaterialNo", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.MaterialNo, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="Description" class="col-lg-3 control-label">Description</label>
                                    <label class="col-lg-offset-5 textarea textarea-resizable">
                                        @Html.TextAreaFor(m => m.Description, 4, 1, new { @id = "Description" })
                                    </label>
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "note-error color-red" })
                                </section>
                            </div>
                            <div class="col-md-6">
                                <section>
                                    <label for="UoM" class="col-lg-3 control-label">UoM</label>
                                    @Html.TextBoxFor(m => m.UoM, new { @id = "UoM", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.UoM, null, new { @class = "note-error color-red" })
                                </section>
                                @*<section>
                                    <label for="UnitPrice" class="col-lg-3 control-label">Unit Price</label>
                                    @Html.TextBoxFor(m => m.UnitPrice, new { @id = "UnitPrice", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.UnitPrice, null, new { @class = "note-error color-red" })
                                </section>*@
                            </div>
                            <div class="clearfix margin-bottom-20"></div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn-u btn-u-primary btn-FloatRight">Submit</button>
            }
        </div>
    </div>
</div>
