﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@model Initiatives.Models.UserList

<div class="wrapper">
    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                @using (Html.BeginForm("NewPassword", "Home", FormMethod.Post, new { @id = "validate", @class = "reg-page" }))
                {
                    <div class="reg-header">
                        <h2>Change to new Password</h2>
                    </div>

                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @*<input type="text" placeholder="Username" class="form-control">*@
                        @Html.TextBox("Email", "", new { @id = "username", @class = "validate[required] form-control", @autocomplete = "off", @placeholder = "Username", @type = "text" })
                    </div>
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        @*<input type="password" placeholder="Password" class="form-control">*@
                        @Html.TextBox("New password", "", new { @id = "newpassword", @class = "validate[required] form-control", @autocomplete = "off", @placeholder = "Password", @type = "password" })
                    </div>
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        @*<input type="password" placeholder="Password" class="form-control">*@
                        @Html.TextBox("Repeat password", "", new { @id = "repassword", @class = "validate[required] form-control", @autocomplete = "off", @placeholder = "Password", @type = "password" })
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn-u pull-right" type="submit">Confirm</button>
                        </div>
                    </div>
                }
                @*<form class="reg-page">
                    </form>*@
            </div>
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->
</div><!--/wrapper-->