﻿@model Initiatives.Models.MainModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <div id="result">
        <!--Basic Table Option (Spacing)-->
        <div class="panel panel-u">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-user"></i>Part No./Material No. List
                </h3>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="margin-bottom-25">
                    @if (Model.RoleId == "R02" || Model.RoleId == "R04" || Model.RoleId == "R09")
                    {
                        <button id="bAddPartNo" type="button" class="btn-u btn-u-primary" onclick="location.href = '@Url.Action("NewPartNo", "Home")'">Add New Part No.</button>
                    }
                    @*<button id="bOpportunitySummary" type="button" class="btn-u btn-u-primary">Opportunities Summary</button>*@
                </div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover wrapper hidden" id="PartNoTable">
                        <thead>
                            <tr>
                                <th class="never">#</th>
                                @*<th class="all"></th>*@
                                <th class="all">Material No.</th>
                                <th class="all">Description</th>
                                <th class="desktop">UoM</th>
                                @*<th class="desktop">Unit Price (RM)</th>
    <th class="desktop">Contract Name</th>*@
                            </tr>
                        </thead>
                        @foreach (var item in Model.PartNoListObject)
                        {
                            <tr>
                                <td class=" hide never">@Html.DisplayFor(modelItem => item.partNo)</td>
                                @*<td class="all"></td>*@
                                <td class="all">@Html.DisplayFor(modelItem => item.MaterialNo)</td>
                                <td class="all">@Html.DisplayFor(modelItem => item.Description)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.UoM)</td>
                                @*<td class="desktop">@Html.DisplayFor(modelItem => item.UnitPrice)</td>
    <td class="desktop">@Html.DisplayFor(modelItem => item.ContName)</td>*@
                            </tr>
                        }
                        <tfoot>
                            <tr>
                                <th class="never">#</th>
                                @*<th class="all"></th>*@
                                <th class="all">Material No.</th>
                                <th class="all">Description</th>
                                <th class="desktop">UoM</th>
                                @*<th class="desktop">Unit Price (RM)</th>
    <th class="desktop">Contract Name</th>*@
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!--End Basic Table-->
        @*<div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div id="result" class="modal-dialog">
                </div>
            </div>*@
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        var UrlGreenalert = "@Url.Content("~/Images/greenalert.png")";
        var UrlPartNoDetails = "@Url.Action("ViewPartNo", "Home")";
    </script>
    @Scripts.Render("~/bundles/JSPages");
}
