﻿@model Initiatives.Models.MainModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <div class="hide">
        <a data-ajax="true"
           data-ajax-method="Get"
           data-ajax-mode="replace"
           data-ajax-update="#result"
           class="btn-FloatRight"
           href="~/Home/UserList" id="actionUser"></a>
    </div>
    <div id="result">
        <!--Basic Table Option (Spacing)-->
        <div class="panel panel-u">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-user"></i>User List
                </h3>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="margin-bottom-25">
                    @if (Model.RoleId == "R02" || Model.RoleId == "R04")
                    {
                        <button id="bAddUser" type="button" class="btn-u btn-u-primary" onclick="location.href = '@Url.Action("NewUser", "Home")'">Add New User</button>
                    }
                    @*<button id="bOpportunitySummary" type="button" class="btn-u btn-u-primary">Opportunities Summary</button>*@
                </div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover wrapper hidden" id="User">
                        <thead>
                            <tr>
                                <th class="never">#</th>
                                <th class="all">#</th>
                                <th class="all">User Name</th>
                                <th class="all">Email Address</th>
                                <th class="desktop">First Name</th>
                                <th class="desktop">Last Name</th>
                                <th class="desktop">Job Title</th>
                                @*<th class="desktop">Business Category</th>*@
                                <th class="desktop">Superior Name</th>
                                <th class="desktop">Role</th>
                                <th class="desktop">Telephone No</th>
                                <th class="desktop">Address</th>
                                <th class="desktop">Extension No</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.UserListObject)
                        {
                        <tr>
                            <td class=" hide never">@Html.DisplayFor(modelItem => item.userId)</td>
                            <td class="all"></td>
                            <td class="all">@Html.DisplayFor(modelItem => item.UserName)</td>
                            <td class="all">@Html.DisplayFor(modelItem => item.Email)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.FirstName)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.LastName)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.JobTitle)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.SuperiorName)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.Role)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.TelephoneNo)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.Address)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.ExtensionNo)</td>
                        </tr>
                        }
                        <tfoot>
                            <tr>
                                <th class="never"></th>
                                <th class="all"></th>
                                <th class="all">User Name</th>
                                <th class="all">Email Address</th>
                                <th class="desktop">First Name</th>
                                <th class="desktop">Last Name</th>
                                <th class="desktop">Job Title</th>
                                @*<th class="desktop">Business Category</th>*@
                                <th class="desktop">Superior Name</th>
                                <th class="desktop">Role</th>
                                <th class="desktop">Telephone No</th>
                                <th class="desktop">Address</th>
                                <th class="desktop">Extension No</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!--End Basic Table-->
        @*<div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div id="result" class="modal-dialog">
                </div>
            </div>*@
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        var UrlGreenalert = "@Url.Content("~/Images/greenalert.png")";
        var UrlOpportunityList = "@Url.Action("OpportunityList", "OppoList")";
        var UrlContractList = "@Url.Action("ContractList", "ContList")";
        var UrlUserList = "@Url.Action("UserList", "Home")";
        var UrlCustomerList = "@Url.Action("CustomerList", "Home")";
    </script>
    @Scripts.Render("~/bundles/JSPages");
}



