﻿@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model Initiatives.Models.UserList

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("UserList", "Home")'">
        <i class="fa fa-tags"></i> Back
    </button>
    <div class="panel panel-u margin-bottom-20">
        <div class="panel-heading margin-bottom-10">
            <h3 class="panel-title"><i class="fa fa-user"></i> User Information</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("ViewUser", "Home", FormMethod.Post, new { @id = "sky-form", @class = "sky-form" }))
            {
            <div class="shadow-wrapper">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                    <div class="row">
                        <div class="container">
                            <h4><b>General Information</b></h4>
                        </div>
                        <div class="clearfix margin-bottom-10"></div>
                        <div class="col-md-6">
                            @*<input type="hidden" value="@Model.Id" name="oId" id="oId" />*@
                            <section>
                                <label for="UserName" class="col-lg-3 control-label">User Name</label>
                                @if (Model.ReadOnly == false)
                                {
                                    @Html.TextBoxFor(m => m.UserName, new { @id = "UserName", @class = "form-control", @type = "text" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.UserName, new { @id = "UserName", @class = "form-control", @readonly = "readonly", @type = "text" })
                                }
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "note-error color-red" })
                            </section>
                            <section>
                                <label for="EmailAddress" class="col-lg-3 control-label">Email Address</label>
                                @if (Model.ReadOnly == false)
                                {
                                    @Html.TextBoxFor(m => m.EmailAddress, new { @id = "EmailAddress", @class = "form-control", @type = "text" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.EmailAddress, new { @id = "EmailAddress", @class = "form-control", @readonly = "readonly", @type = "text" })
                                }
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "note-error color-red" })
                            </section>
                            <section>
                                @Html.LabelFor(m => m.FirstName, "First Name", new { @class = "col-lg-3 control-label" })
                                @if (Model.ReadOnly == false)
                                {
                                    @Html.TextBoxFor(m => m.FirstName, new { @id = "FirstName", @class = "form-control", @type = "text" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.FirstName, new { @id = "FirstName", @class = "form-control", @readonly = "readonly", @type = "text" })
                                }
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "note-error color-red" })
                            </section>
                            <section>
                                @Html.LabelFor(m => m.LastName, "Last Name", new { @class = "col-lg-3 control-label" })
                                @if (Model.ReadOnly == false)
                                {
                                    @Html.TextBoxFor(m => m.LastName, new { @id = "LastName", @class = "form-control", @type = "text" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.LastName, new { @id = "LastName", @class = "form-control", @readonly = "readonly", @type = "text" })
                                }
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "note-error color-red" })
                            </section>
                            <section>
                                <label for="Role" class="col-lg-3 control-label">Role</label>
                                <label class="select">
                                    @if (Model.ReadOnly == false)
                                    {
                                        @Html.DropDownListFor(m => m.RoleId, (IEnumerable<SelectListItem>)ViewBag.Role, new { @id = "Role", @class = "form-control-static" })
                                    }
                                    else
                                    { @Html.DropDownListFor(m => m.RoleId, (IEnumerable<SelectListItem>)ViewBag.Role, new { @id = "Role", @class = "form-control-static", @disabled = "disabled" })
                                }
                                </label>
                            </section>
                            @if (Model.UserLoginRole == "R02")
                            {
                                <section>
                                    <label for="Status" class="col-lg-3 control-label">Status</label>
                                    <div class="inline-group">
                                        <label class="radio">
                                            @*<input id="VariationOrder" name="VariationOrder" type="radio" checked="checked" />*@
                                            @if (Model.Status == true)
                                            {
                                                @Html.RadioButtonFor(model => model.Status, "true", new { @checked = "checked" })
                                            }
                                            else
                                            { @Html.RadioButtonFor(model => model.Status, "true")}
                                            <i class="rounded-x"></i>
                                            Active
                                        </label>
                                        <label class="radio">
                                            @*<input id="VariationOrder" name="VariationOrder" type="radio" />*@
                                            @if (Model.Status == false)
                                            {
                                                @Html.RadioButtonFor(model => model.Status, "false", new { @checked = "checked" })
                                            }
                                            else
                                            { @Html.RadioButtonFor(model => model.Status, "false")}
                                            <i class="rounded-x"></i>
                                            Deactivated
                                        </label>
                                    </div>
                                </section>
                            }
                        </div>
                        <div class="col-md-6">
                            <section>
                                <label for="JobTitle" class="col-lg-3 control-label">Job Title</label>
                                @if (Model.ReadOnly == false)
                                {
                                    @Html.TextBoxFor(m => m.JobTitle, new { @id = "JobTitle", @class = "form-control", @type = "text" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.JobTitle, new { @id = "JobTitle", @class = "form-control", @readonly = "readonly", @type = "text" })
                                }
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.JobTitle, null, new { @class = "note-error color-red" })
                            </section>
                            <section>
                                <label for="SuperiorName" class="col-lg-3 control-label">Superior Name</label>
                                <label class="select">
                                    @if (Model.ReadOnly == false)
                                    {
                                        @Html.DropDownListFor(m => m.OneLevelSuperiorId, (IEnumerable<SelectListItem>)ViewBag.Managerlist, "Please select superior (if applicable)", new { @id = "SuperiorName", @class = "form-control-static" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.OneLevelSuperiorId, (IEnumerable<SelectListItem>)ViewBag.Managerlist, "Please select superior (if applicable)", new { @id = "SuperiorName", @class = "form-control-static", @disabled = "disabled" })
                                    }
                                </label>
                            </section>
                            <section>
                                <label for="TelephoneNo" class="col-lg-3 control-label">Telephone No</label>
                                @if (Model.ReadOnly == false)
                                {
                                    @Html.TextBoxFor(m => m.TelephoneNo, new { @id = "TelephoneNo", @class = "form-control", @type = "text" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.TelephoneNo, new { @id = "TelephoneNo", @class = "form-control", @readonly = "readonly", @type = "text" })
                                }
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.TelephoneNo, null, new { @class = "note-error color-red" })
                            </section>
                            <section>
                                <label for="Address" class="col-lg-3 control-label">Address</label>
                                @if (Model.ReadOnly == false)
                                {
                                    @Html.TextBoxFor(m => m.Address, new { @id = "Address", @class = "form-control", @type = "text" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.Address, new { @id = "Address", @class = "form-control", @readonly = "readonly", @type = "text" })
                                }
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.Address, null, new { @class = "note-error color-red" })
                            </section>
                            <section>
                                <label for="ExtensionNo" class="col-lg-3 control-label">Extension No.</label>
                                @if (Model.ReadOnly == false)
                                {
                                    @Html.TextBoxFor(m => m.ExtensionNo, new { @id = "ExtensionNo", @class = "form-control", @type = "text" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.ExtensionNo, new { @id = "ExtensionNo", @class = "form-control", @readonly = "readonly", @type = "text" })
                                }
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.ExtensionNo, null, new { @class = "note-error color-red" })
                            </section>
                        </div>
                        <div class="clearfix margin-bottom-20"></div>
                    </div>
                </div>
                @if (Model.ReadOnly == false)
                {
                    <button type="submit" class="btn-u btn-u-primary btn-FloatRight">Submit</button>
                }
            </div>
            }
        </div>
    </div>
