﻿@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model Initiatives.Models.CustomerList

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("CustomerList", "Home")'">
        <i class="fa fa-tags"></i> Back
    </button>
    <div class="panel panel-u margin-bottom-20">
        <div class="panel-heading margin-bottom-10">
            <h3 class="panel-title"><i class="fa fa-user"></i> Customer Information</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("ViewCustomer", "Home", FormMethod.Post, new { @id = "sky-form", @class = "sky-form" }))
            {
                <div class="shadow-wrapper">
                    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                        <div class="row">
                            <div class="container">
                                <h4><b>General Information</b></h4>
                            </div>
                            <div class="clearfix margin-bottom-10"></div>
                            <div class="col-md-6">
                                @*<input type="hidden" value="@Model.Id" name="oId" id="oId" />*@
                                <section>
                                    <label for="Name" class="col-lg-3 control-label">Customer Name</label>
                                    @if (Model.ReadOnly == false)
                                    {
                                        @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "form-control", @type = "text" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "form-control", @readonly = "readonly", @type = "text" })
                                    }
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="Abbreviation" class="col-lg-3 control-label">Abbreviation</label>
                                    @if (Model.ReadOnly == false)
                                    {
                                        @Html.TextBoxFor(m => m.Abbreviation, new { @id = "Abbreviation", @class = "form-control", @type = "text" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.Abbreviation, new { @id = "Abbreviation", @class = "form-control", @readonly = "readonly", @type = "text" })
                                    }
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.Abbreviation, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    @Html.LabelFor(m => m.RegistrationNo, "Registration No.", new { @class = "col-lg-3 control-label" })
                                    @if (Model.ReadOnly == false)
                                    {
                                        @Html.TextBoxFor(m => m.RegistrationNo, new { @id = "RegistrationNo", @class = "form-control", @type = "text" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.RegistrationNo, new { @id = "RegistrationNo", @class = "form-control", @readonly = "readonly", @type = "text" })
                                    }
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.RegistrationNo, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    @Html.LabelFor(m => m.CustomerType, "Customer Type", new { @class = "col-lg-3 control-label" })
                                    @if (Model.ReadOnly == false)
                                    {
                                        @Html.TextBoxFor(m => m.CustomerType, new { @id = "CustomerType", @class = "form-control", @type = "text" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.CustomerType, new { @id = "CustomerType", @class = "form-control", @readonly = "readonly", @type = "text" })
                                    }
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.CustomerType, null, new { @class = "note-error color-red" })
                                </section>
                            </div>
                            <div class="col-md-6">
                                <section>
                                    <label for="CustomerURL" class="col-lg-3 control-label">Customer URL</label>
                                    @if (Model.ReadOnly == false)
                                    {
                                        @Html.TextBoxFor(m => m.CustomerURL, new { @id = "CustomerURL", @class = "form-control", @type = "text" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.CustomerURL, new { @id = "CustomerURL", @class = "form-control", @readonly = "readonly", @type = "text" })
                                    }
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.CustomerURL, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="TelephoneNo" class="col-lg-3 control-label">HQ Address</label>
                                    @if (Model.ReadOnly == false)
                                    {
                                        @Html.TextBoxFor(m => m.Address, new { @id = "Address", @class = "form-control", @type = "text" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.Address, new { @id = "Address", @class = "form-control", @readonly = "readonly", @type = "text" })
                                    }
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.Address, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="TelephoneNo" class="col-lg-3 control-label">HQ Telephone No.</label>
                                    @if (Model.ReadOnly == false)
                                    {
                                        @Html.TextBoxFor(m => m.TelephoneNo, new { @id = "TelephoneNo", @class = "form-control", @type = "text" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.TelephoneNo, new { @id = "TelephoneNo", @class = "form-control", @readonly = "readonly", @type = "text" })
                                    }
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.TelephoneNo, null, new { @class = "note-error color-red" })
                                </section>
                            </div>
                            <div class="clearfix margin-bottom-20"></div>
                        </div>
                    </div>
                </div>
                <div class="shadow-wrapper">
                    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                        <div class="row">
                            <div class="container">
                                <h4><b>Branch Information</b></h4>
                            </div>
                            <div class="clearfix margin-bottom-10"></div>
                        </div>
                    </div>
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover wrapper" id="BranchTable">
                            <thead>
                                <tr>
                                    <th class="never"></th>
                                    <th class="all"></th>
                                    <th class="all">Address</th>
                                    <th class="all">Telephone No.</th>
                                    <th class="desktop">Region</th>
                                    <th class="desktop">Contact Person</th>
                                </tr>
                            </thead>
                            @*@foreach (var item in Model.PRListObject)
                            {
                                <tr>
                                    <td class="hide never">@Html.DisplayFor(modelItem => item.BranchId)</td>
                                    <td class="all"></td>
                                    <td class="all">@Html.DisplayFor(modelItem => item.Address)</td>
                                    <td class="all">@Html.DisplayFor(modelItem => item.TelNo)</td>
                                    <td class="desktop">@Html.DisplayFor(modelItem => item.Region)</td>
                                    <td class="desktop">@Html.DisplayFor(modelItem => item.ContactPerson)</td>
                                </tr>
                            }*@
                            <tfoot>
                                <tr>
                                    <th class="never"></th>
                                    <th class="all"></th>
                                    <th class="all">Address</th>
                                    <th class="all">Telephone No.</th>
                                    <th class="desktop">Region</th>
                                    <th class="desktop">Contact Person</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>

                if (Model.ReadOnly == false)
                {
                    <button type="submit" class="btn-u btn-u-primary btn-FloatRight">Submit</button>
                }
            }
        </div>
    </div>
</div>
