﻿@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }
@model Initiatives.Models.MainModel

<div id="newPO" class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("ViewContract", "ContList" )' + '#io-1'">
        <i class="fa fa-tags"></i> Back
    </button>
    <div id="CreateNewIO-1">
        <div class="clearfix margin-bottom-10"></div>
        @using (Html.BeginForm("CreateIO", "IOList", FormMethod.Post, new { @id = "CreateNewIO", @class = "sky-form" }))
        {
            <div class="panel panel-u margin-bottom-20">
                <div class="panel-heading margin-bottom-10">
                    <h3 class="panel-title"><i class="fa fa-user"></i> Create New Internal Order</h3>
                </div>
                <div class="panel-body">
                    @Html.HiddenFor(m => m.OppContId)
                    <div class="shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                            <div class="row container-fluid">
                                <div class="container">
                                    <h4><b>Please tick PO Numbers</b></h4>
                                </div>
                                <div class="clearfix margin-bottom-10"></div>
                                <div class="margin-bottom-25">
                                    <button id="submitIOPO" type="button" class="btn-u btn-u-primary">Submit PO Number</button>
                                </div>
                                <div class="dataTable_wrapper">
                                    @{Html.RenderPartial("POTable", Model);}
                                </div>
                                <div class="clearfix margin-bottom-10"></div>
                                <div class="container">
                                    <h4><b>Please insert delivery quantity below. Delete row if not needed</b></h4>
                                </div>
                                <div class="clearfix margin-bottom-10"></div>
                                <div class="dataTable_wrapper" id="IOItemsTableDiv">
                                    @{Html.RenderPartial("IOItemsTable", Model);}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                            <div class="row">
                                <div class="container">
                                    <h4><b>Internal Order Information</b></h4>
                                </div>
                                <div class="clearfix margin-bottom-10"></div>
                                <div class="col-md-6">
                                    <section>
                                        @Html.LabelFor(m => m.IODetailObject.IONo, "Internal Order Number", new { @class = "col-lg-3 control-label" })
                                        @Html.TextBoxFor(m => m.IODetailObject.IONo, new { @id = "IOD_IONo", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.IODetailObject.IONo, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="IOD_IssueDate" class="col-lg-3 control-label">IO Issue Date</label>
                                        <label class="col-lg-offset-5 input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            @Html.TextBoxFor(m => m.IODetailObject.IOIssueDate, "{0:dd/MM/yyyy}", new { @id = "IOD_IssueDate", @class = "datepicker", @type = "text" })
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.IODetailObject.IOIssueDate, null, new { @class = "note-error color-red" })
                                    </section>
                                </div>
                                <div class="col-md-6">
                                    <section>
                                        @Html.LabelFor(m => m.FileDescription, "File Description", new { @class = "col-lg-3 control-label" })
                                        @Html.TextBoxFor(m => m.FileDescription, new { @id = "IOD_FileDescription", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.FileDescription, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label class="col-lg-3 control-label">IO File Input</label>
                                        <label class="col-lg-7 input input-file" for="file">
                                            <div class="button">@Html.TextBoxFor(m => m.file, null, new { @name = "file", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="IOD_Files" type="text" readonly>
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.file, null, new { @class = "note-error color-red" })
                                    </section>
                                </div>
                                @*<div class="clearfix margin-bottom-20"></div>*@
                            </div>
                        </div>
                    </div>
                    <button id="CreateIO" type="submit" class="btn-u btn-u-primary btn-FloatRight">Submit</button>
                </div>
            </div>

            <div class="modal fade bs-example-modal-sm" id="CreateIOLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
                </div>
            </div>
                                        }
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var UrlGetMaterialNoIO = "@Url.Action("GetMaterialNoIO","IOList")";
        var UrlCreateIO = "@Url.Action("CreateIO", "IOList")";
        var UrlViewContract = "@Url.Action("ViewContract", "ContList")";
        var UrlGetPOList = "@Url.Action("GetPOList","DOList")";
    </script>
    @Scripts.Render("~/bundles/JSPages");
}






