﻿@model Initiatives.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Html.BeginForm("IODetails", "IOList", FormMethod.Post, new { @id = "IODetails", @class = "sky-form", @enctype = "multipart/form-data" }))
{
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>General Information</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="col-md-6">
                    @Html.HiddenFor(m => m.CreateByUserId)
                    @Html.HiddenFor(m => m.OppContId)
                    @Html.HiddenFor(m => m.IOId)
                    @Html.HiddenFor(m => m.RoleId)
                    <div id="IOIds" class="hidden">@Model.IOId</div>@*use for jquery upload calling*@
                    <div id="IORoleId" class="hidden">@Model.RoleId</div>
                    <section>
                        @Html.LabelFor(m => m.IODetailObject.IONo, "Internal Order Number", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.IODetailObject.IONo, new { @id = "IOD_IONo", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.IODetailObject.IONo, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="IOD_IssueDate" class="col-lg-3 control-label">IO Issue Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.IODetailObject.IOIssueDate, "{0:dd/MM/yyyy}", new { @id = "IOD_IssueDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.IODetailObject.IOIssueDate, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="IOCompleteDate" class="col-lg-3 control-label">Complete Date</label>
                        @Html.TextBoxFor(m => m.IODetailObject.IOCompleteDate, new { @id = "IOCompleteDate", @class = "form-control", @type = "text", @readonly = true })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.IODetailObject.IOCompleteDate, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        @Html.LabelFor(m => m.FileDescription, "File Description", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.FileDescription, new { @id = "IOD_FileDescription", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.FileDescription, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label class="col-lg-3 control-label">IO File Input</label>
                        <label class="col-lg-7 input input-file" for="file">
                            <div class="button">@Html.TextBoxFor(m => m.file, null, new { @name = "file", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="IOD_Files" type="text" readonly>
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.file, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                @if (Model.RoleId == "R02" || Model.RoleId == "R04" || Model.RoleId == "R08" || Model.RoleId == "R09" || Model.RoleId == "R10")
                {
                    <div class="row btn-FloatRight">
                        <button id="SaveIOtoPDF" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Print</button>
                        <button id="VerifyIODetails" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save</button>
                    </div>
                }
            </div>
        </div>
        <div class="clearfix margin-bottom-10"></div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row container-fluid">
                <div class="clearfix margin-bottom-10"></div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover wrapper" id="IOItemsTable">
                        <thead>
                            <tr>
                                <th class="all">PO No.</th>
                                <th class="all">Material No.</th>
                                <th class="all">Description</th>
                                <th class="desktop">Demand Quantity</th>
                                <th class="desktop">Requested Quantity</th>
                                <th class="desktop">Outstanding Quantity</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.IOItemListObject)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PONo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaterialNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DemandQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RequestedQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OutstandingQuantity)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap Modals With Forms -->
    <div class="modal fade" id="IODetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4">Are you sure the details  below are correct? If yes please attached the required document and click Save Changes below.</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                @Html.LabelFor(m => m.IODetailObject.IONo, "Internal Order Number", new { @class = "col-lg-3 control-label" })
                                <input class="form-control" id="VIOD_IONo" type="text" readonly />
                            </section>
                            <section>
                                <label for="VIOD_IssueDate" class="col-lg-3 control-label">IO Issue Date</label>
                                <input class="form-control" type="text" id="VIOD_IssueDate" readonly />
                            </section>
                        </div>
                        <div class="col-md-6">
                            <section>
                                <label class="col-lg-3 control-label">File Description</label>
                                <label class="col-lg-offset-5 textarea textarea-resizable">
                                    <textarea cols="1" name="IODetailObject.Details_projectDescription" rows="3" id="VIOD_FileDescription" readonly disabled></textarea>
                                </label>
                            </section>
                            <section>
                                <label class="col-lg-3 control-label">IO File Input</label>
                                <input class="form-control" id="VIOD_File" type="text" readonly />
                            </section>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>                   
                    <button id="SubmitIODetails" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" id="IODetailsLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
        </div>
    </div>
}