﻿@model Initiatives.Models.IOFormModels
@{ Layout = "~/Views/Shared/_PdfLayout.cshtml"; }

<h1 id="original">INTERNAL ORDER</h1>
<h2 id="original">(ORIGINAL)</h2>
<h2 id="second">PROJECT DELIVERY DEPARTMENT</h2>

<table class="hiddenTable">
    <tr style="vertical-align: top;">
        <td><b>To</b></td>
        <td style="width: 10px;"><b>:</b></td>
        <td style="width: 120px;"><b>@Model.ToDept.ToUpper()</b></td>
        <td><b>Ref. No</b></td>
        <td style="width: 10px;"><b>:</b></td>
        <td style="width: 140px"><b>@Model.RefNo</b></td>
    </tr>
    <tr style="vertical-align: top;">
        <td><b>From</b></td>
        <td style="width: 10px;"><b>:</b></td>
        <td style="width: 120px;"><b>@Model.FromDept.ToUpper()</b></td>
        <td><b>Issue Date</b></td>
        <td style="width: 10px;"><b>:</b></td>
        <td style="width: 140px;"><b>@Model.IssueDate</b></td>
    </tr>
</table>

<table class="hiddenTable">
    <tr>
        <td class="td" style="width: 40%; padding-left:10px; border-top: 1px solid black;"><b>1. Exchange Name</b></td>
        <td class="td" style="padding-left:10px; border-top: 1px solid black; border-right: 1px solid black;"><b>@Model.ExchangeName.ToUpper()</b></td>
    </tr>
    <tr>
        <td class="td" style="padding-left:10px;"><b>2. Contract No.</b></td>
        <td class="td" style="padding-left:10px; border-right: 1px solid black;"><b>@Model.ContractNo</b></td>
    </tr>
    <tr>
        <td class="td" style="padding-left:10px;"><b>3. LOR/PO No.</b></td>
        <td class="td" style="padding-left:10px; border-right: 1px solid black;"><b>TM's PO-@Model.PONo.ToUpper()</b></td>
    </tr>
    <tr>
        <td class="td" style="padding-left:10px;"><b>4. Required Date</b></td>
        <td class="td" style="padding-left:10px; border-right: 1px solid black;"><b>@Model.RequiredDate.ToUpper()</b></td>
    </tr>
</table>
<table class="hiddenTable">
    <thead>
        <tr>
            <th colspan="34" align="center" class="td" style="border-top: 1px solid black; border-right: 1px solid black;"><b>Justification</b></th>
        </tr>
        <tr>
            <td colspan="34" class="td" style="border-right: 1px solid black;"><b>@Model.Justification.ToUpper()</b></td>
        </tr>
        <tr>
            <th colspan="2" rowspan="1" class="td" align="center"><b>NO.</b></th>
            <th colspan="5" rowspan="1" class="td" align="center"><b>MATERIAL NO.</b></th>
            <th colspan="12" rowspan="1" class="td" align="center"><b>DESCRIPTIONS</b></th>
            <th colspan="3" rowspan="1" class="td" align="center"><b>QTY</b></th>
            <th colspan="12" rowspan="1" class="td" align="center" style="border-right: 1px solid black;"><b>REMARKS</b></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;

            foreach (var item in Model.IOFormListObj)
            {
                int height = 120 / Model.IOFormListObj.Count;

                <tr>
                    <td colspan="2" rowspan="1" class="td" align="center"><b>@i</b></td>
                    <td colspan="5" rowspan="1" class="td" align="center"><b>@item.MaterialNo</b></td>
                    <td colspan="12" rowspan="1" class="td"><b>@item.ItemDescriptions.ToUpper()</b></td>
                    <td colspan="3" rowspan="1" class="td" align="center"><b>@item.ItemQuantity</b></td>
                    <td colspan="12" rowspan="1" class="td" style="border-right: 1px solid black;"><b>@if (item.Remarks == null)
                    { @item.Remarks }
                    else
                    { @item.Remarks.ToString().ToUpper() }</b></td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>

<div style="width:60%; float: left;">
    <h5>ISSUE (SYSTEM &amp; TECHNICAL SUPPORT)</h5>

    <table class="hiddenTable">
        <tr style="vertical-align: top;">
            <td class="td" align="center" style="height:40px; border-top: 1px solid black; "><b>Issued By</b></td>
            <td class="td" align="center" style="height:40px; border-top: 1px solid black;"><b>Verified by</b></td>
            <td class="td" align="center" style="height:40px; border-top: 1px solid black; border-right: 1px solid black;"><b>Approved by</b></td>
        </tr>
        <tr>
            <td class="td2" style="height:200px;"></td>
            <td class="td2" style="height:200px;"></td>
            <td class="td2" style="height:200px; border-right:1px solid black;"></td>
        </tr>
        <tr>
            <td class="td2" style="padding-bottom: 20px;"><b>NAME:</b></td>
            <td class="td2" style="padding-bottom: 20px;"><b>NAME:</b></td>
            <td class="td2" style="padding-bottom: 20px; border-right: 1px solid black;"><b>NAME:</b></td>
        </tr>
        <tr>
            <td class="td2" style="padding-bottom: 20px; border-bottom: 1px solid black"><b>DATE:</b></td>
            <td class="td2" style="padding-bottom: 20px; border-bottom: 1px solid black"><b>DATE:</b></td>
            <td class="td2" style="padding-bottom: 20px; border-right: 1px solid black; border-bottom: 1px solid black"><b>DATE:</b></td>
        </tr>
    </table>
</div>
<div style="width:70%; float:right;">
    <h5 style="text-align:center"><b>RECEIVED</b></h5>

    <table class="hiddenTable">
        <tr>
            <td class="td" align="center" style="height:40px; border-top: 1px solid black; border-right:1px solid black;"><b>Logistic Department</b></td>
        </tr>
        <tr>
            <td class="td2" style="height:200px; border-right:1px solid black;"></td>
        </tr>
        <tr>
            <td class="td2" style="border-right:1px solid black; padding-bottom: 20px;"><b>NAME:</b> </td>
        </tr>
        <tr>
            <td class="td2" style="border-bottom: 1px solid black; border-right:1px solid black; padding-bottom: 20px;"><b>DATE:</b> </td>
        </tr>
    </table>
</div>
