﻿@model Initiatives.Models.MainModel

<table class="table table-striped table-bordered table-hover wrapper" id="IOItemsTable">
    <thead>
        <tr>
            <th class="hidden">POId</th>
            <th class="hidden">ItemsId</th>
            <th class="all">PO No.</th>
            <th class="all">Material No.</th>
            <th class="all">Description</th>
            <th class="desktop">Demand Quantity</th>
            <th class="desktop">Requested Quantity</th>
            <th class="desktop">Outstanding Quantity</th>
            <th class="desktop"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.IOItemListObject != null)
        {
            foreach (var item in Model.IOItemListObject)
            {
                <tr class="ItemList">
                    <td class="hide never POId">@Html.DisplayFor(modelItem => item.POId)</td>
                    <td class="hide never ItemsId">@Html.DisplayFor(modelItem => item.ItemsId)</td>
                    <td class="all">@Html.DisplayFor(modelItem => item.PONo)</td>
                    <td class="all">@Html.DisplayFor(modelItem => item.MaterialNo)</td>
                    <td class="all">@Html.DisplayFor(modelItem => item.Description)</td>
                    <td class="desktop">@Html.DisplayFor(modelItem => item.DemandQuantity)</td>
                    <td class="desktop">
                        @Html.TextBoxFor(modelItem => item.RequestedQuantity, new { @id = "IOD_RequestedQuantity", @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(modelItem => item.RequestedQuantity, null, new { @class = "note-error color-red" })
                    </td>
                    <td class="desktop outstanding">@Html.DisplayFor(modelItem => item.OutstandingQuantity)</td>
                    <td class="desktop"><button type="button" class="RemoveIOItem btn-u btn-u-primary">Delete</button></td>
                </tr>
            }
        }
    </tbody>
</table>