﻿@model Initiatives.Models.MainModel
@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("ViewContract", "ContList")' +  '#io-1'">
        <i class="fa fa-tags"></i> Back
    </button>
    <!-- Tab v2 -->
    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <li class="navbar-height"><a href="#info-1" data-toggle="tab"><h4>Info</h4></a></li>
            <li class="navbar-height"><a href="#IODocManagement-1" data-toggle="tab"><h4>Doc Management</h4></a></li>
            <li class="navbar-height"><a href="#IOUpdates-1" data-toggle="tab"><h4>Updates</h4></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in firstTab" id="info-1">
                @{ Html.RenderAction("IODetails", "IOList", new { IOId = Model.IOId }); }
                @*this is info*@
            </div>
            <div class="tab-pane fade in" id="IODocManagement-1">
                @{ Html.RenderAction("IODocManagement", "IOList", new { IOId = Model.IOId }); }
                <div class="clearfix margin-bottom-20"></div>
            </div>
            <div class="tab-pane fade in" id="IOUpdates-1">
                @{ Html.RenderAction("IOUpdates", "IOList", new { IOId = Model.IOId }); }
            </div>
        </div>
    </div>
    <!-- End Tab v2 -->
</div>

@section scripts {
    <script type="text/javascript">
        var UrlIODocUpload = "@Url.Action("IODocUpload", "IOList")";
        var UrlIOUpdates = "@Url.Action("IOUpdates", "IOList")";
        var UrlIODocManagement = "@Url.Action("IODocManagement", "IOList")";
        var UrlFileArchive = "@Url.Action("FileArchive", "IOList")";
        var UrlIOSendMessage = "@Url.Action("IOSendMessage", "IOList")";
        var UrlIODetails = "@Url.Action("IODetails", "IOList")";
        var UrlIOForm = "@Url.Action("IOForm", "IOList")";
    </script>
    @Scripts.Render("~/bundles/JSPages");
}