﻿@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }
@model Initiatives.Models.MainModel

<div id="newPO" class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("ViewContract", "ContList" )'">
        <i class="fa fa-tags"></i> Back
    </button>
    <div id="CreateNewDO-1">
        <div class="clearfix margin-bottom-10"></div>
        @using (Html.BeginForm("CreatePR", "PRList", FormMethod.Post, new { @id = "CreateNewPR", @class = "sky-form" }))
        {
            <div class="panel panel-u margin-bottom-20">
                <div class="panel-heading margin-bottom-10">
                    <h3 class="panel-title"><i class="fa fa-user"></i> Create New Purchase Request</h3>
                </div>
                <div class="panel-body">
                    @Html.HiddenFor(m => m.OppContId)
                    <div class="shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                            <div class="row container-fluid">
                                <div class="container">
                                    <h4><b>Please tick PO Numbers</b></h4>
                                </div>
                                <div class="clearfix margin-bottom-10"></div>
                                <div class="margin-bottom-25">
                                    <button id="submitPRPO" type="button" class="btn-u btn-u-primary">Submit PO Number</button>
                                </div>
                                <div class="dataTable_wrapper">
                                    @{Html.RenderPartial("POTable", Model);}
                                </div>
                                <div class="clearfix margin-bottom-10"></div>
                                <div class="container">
                                    <h4><b>Please insert delivery quantity below. Delete row if not needed</b></h4>
                                </div>
                                <div class="clearfix margin-bottom-10"></div>
                                <div class="dataTable_wrapper" id="PRItemsTableDiv">
                                    @{Html.RenderPartial("PRItemsTable", Model);}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                            <div class="row">
                                <div class="container">
                                    <h4><b>PR & Vendor Information</b></h4>
                                </div>
                                <div class="clearfix margin-bottom-10"></div>
                                <div class="col-md-6">
                                    <section>
                                        @Html.LabelFor(m => m.PRDetailObject.PRNo, "Purchase Request Number", new { @class = "col-lg-3 control-label" })
                                        @Html.TextBoxFor(m => m.PRDetailObject.PRNo, new { @id = "PRD_PRNo", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.PRDetailObject.PRNo, null, new { @class = "note-error color-red" })
                                    </section>                                  
                                    <section>
                                        <label for="PRD_IssueDate" class="col-lg-3 control-label">PR Issue Date</label>
                                        <label class="col-lg-offset-5 input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            @Html.TextBoxFor(m => m.PRDetailObject.PRIssueDate, "{0:dd/MM/yyyy}", new { @id = "PRD_IssueDate", @class = "datepicker", @type = "text" })
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.PRDetailObject.PRIssueDate, null, new { @class = "note-error color-red" })
                                    </section>                                                                                     
                                    <section>
                                        <label for="name" class="col-lg-3 control-label">Vendor Company</label>
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.PRDetailObject.VendorId, (IEnumerable<SelectListItem>)ViewBag.VendorCompany, new { @id = "PRD_VendorCompany", @class = "form-control-static" })
                                        </label>
                                    </section>
                                    <section>
                                        @Html.LabelFor(m => m.PRDetailObject.VendorPIC, "Vendor Contact PIC", new { @class = "col-lg-3 control-label" })
                                        @Html.TextBoxFor(m => m.PRDetailObject.VendorPIC, new { @id = "PRD_ContactPIC", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.PRDetailObject.VendorPIC, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(m => m.PRDetailObject.VendorContNo, "Vendor Contact No", new { @class = "col-lg-3 control-label" })
                                        @Html.TextBoxFor(m => m.PRDetailObject.VendorContNo, new { @id = "PRD_VendorContactNo", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.PRDetailObject.VendorContNo, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(m => m.PRDetailObject.VendorEmail, "Vendor Email", new { @class = "col-lg-3 control-label" })
                                        @Html.TextBoxFor(m => m.PRDetailObject.VendorEmail, new { @id = "PRD_VendorEmail", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.PRDetailObject.VendorEmail, null, new { @class = "note-error color-red" })
                                    </section> 
                                </div>
                                <div class="col-md-6">                                                                                                            
                                    <section>
                                        <label for="name" class="col-lg-3 control-label">Requestor Company</label>
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.PRDetailObject.ReqCompId, (IEnumerable<SelectListItem>)ViewBag.RequestorCompany, new { @id = "PRD_RequestorCompany", @class = "form-control-static" })
                                        </label>
                                    </section>
                                    <section>
                                        <label for="name" class="col-lg-3 control-label">Requestor Name</label>
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.PRDetailObject.ReqId, (IEnumerable<SelectListItem>)ViewBag.RequestorName, new { @id = "PRD_RequestorName", @class = "form-control-static" })
                                        </label>
                                    </section>
                                    <section>
                                        <label for="PRD_TotalPrice" class="col-lg-3 control-label">Total Price (RM)</label>
                                        @Html.TextBoxFor(m => m.PRDetailObject.TotalPrice, @*String.Format("{0:N2}", Model.PRDetailObject.TotalPrice),*@ new { @id = "PRD_TotalPrice", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.PRDetailObject.TotalPrice, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(m => m.FileDescription, "File Description", new { @class = "col-lg-3 control-label" })
                                        @Html.TextBoxFor(m => m.FileDescription, new { @id = "PRD_FileDescription", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.FileDescription, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label class="col-lg-3 control-label">PR File Input</label>
                                        <label class="col-lg-7 input input-file" for="file">
                                            <div class="button">@Html.TextBoxFor(m => m.file, null, new { @name = "file", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="PRD_Files" type="text" readonly>
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.file, null, new { @class = "note-error color-red" })
                                    </section>
                                </div>
                                @*<div class="clearfix margin-bottom-20"></div>*@
                            </div>
                        </div>
                    </div>
                    <div class="shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                            <div class="row">
                                <div class="container">
                                    <h4><b>Budget Information</b></h4>
                                </div>
                                <div class="clearfix margin-bottom-10"></div>
                                <div class="col-md-6">
                                    <section>
                                        @Html.LabelFor(m => m.PRDetailObject.PurchaseType, "Purchase Type", new { @class = "col-lg-3 control-label" })
                                        @Html.TextBoxFor(m => m.PRDetailObject.PurchaseType, new { @id = "PRD_PurchaseType", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.PRDetailObject.PurchaseType, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(m => m.PRDetailObject.BudgetDescription, "Budget Description", new { @class = "col-lg-3 control-label" })
                                        @Html.TextBoxFor(m => m.PRDetailObject.BudgetDescription, new { @id = "PRD_BudgetDescription", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.PRDetailObject.BudgetDescription, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="PRD_BudgetedAmount" class="col-lg-3 control-label">Budgeted Amount (RM)</label>
                                        @Html.TextBoxFor(m => m.PRDetailObject.BudgetedAmount, @*String.Format("{0:N2}", Model.PRDetailObject.BudgetedAmount),*@ new { @id = "PRD_BudgetedAmount", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.PRDetailObject.BudgetedAmount, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="PRD_UtilizedToDate" class="col-lg-3 control-label">Utilized To Date (RM)</label>
                                        @Html.TextBoxFor(m => m.PRDetailObject.UtilizedToDate, @*String.Format("{0:N2}", Model.PRDetailObject.UtilizedToDate),*@ new { @id = "PRD_UtilizedToDate", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.PRDetailObject.UtilizedToDate, null, new { @class = "note-error color-red" })
                                    </section>                                   
                                </div>
                                <div class="col-md-6">
                                    <section>
                                        <label for="PRD_AmountRequired" class="col-lg-3 control-label">Amount Required (RM)</label>
                                        @Html.TextBoxFor(m => m.PRDetailObject.AmountRequired, @*String.Format("{0:N2}", Model.PRDetailObject.AmountRequired),*@ new { @id = "PRD_AmountRequired", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.PRDetailObject.AmountRequired, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="PRD_BudgetBalance" class="col-lg-3 control-label">Budget Balance (RM)</label>
                                        @Html.TextBoxFor(m => m.PRDetailObject.BudgetBalance, @*String.Format("{0:N2}", Model.PRDetailObject.BudgetBalance),*@ new { @id = "PRD_BudgetBalance", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.PRDetailObject.BudgetBalance, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(m => m.PRDetailObject.Remarks, "Remark", new { @class = "col-lg-3 control-label" })
                                        @Html.TextBoxFor(m => m.PRDetailObject.Remarks, new { @id = "PRD_Remarks", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.PRDetailObject.Remarks, null, new { @class = "note-error color-red" })
                                    </section>  
                                    <section>
                                        @Html.LabelFor(m => m.PRDetailObject.Justification, "Justification", new { @class = "col-lg-3 control-label" })
                                        @Html.TextBoxFor(m => m.PRDetailObject.Justification, new { @id = "PRD_Justification", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.PRDetailObject.Justification, null, new { @class = "note-error color-red" })
                                    </section>
                                </div>
                                @*<div class="clearfix margin-bottom-20"></div>*@
                            </div>
                        </div>
                    </div>
                    <button id="CreatePR" type="submit" class="btn-u btn-u-primary btn-FloatRight">Submit</button>
                </div>
            </div>

            <div class="modal fade bs-example-modal-sm" id="CreatePRLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var UrlGetMaterialNoPR = "@Url.Action("GetMaterialNoPR", "PRList")";
        var UrlCreatePR = "@Url.Action("CreatePR", "PRList")";
        var UrlViewContract = "@Url.Action("ViewContract", "ContList")";
        var UrlGetPOList = "@Url.Action("GetPOList","DOList")";
    </script>
@Scripts.Render("~/bundles/JSPages");
}






