﻿@model Initiatives.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Html.BeginForm("PRDetails", "PRList", FormMethod.Post, new { @id = "PRDetails", @class = "sky-form", @enctype = "multipart/form-data" }))
{
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>PR & Vendor Information</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="col-md-6">
                    @Html.HiddenFor(m => m.CreateByUserId)
                    @Html.HiddenFor(m => m.OppContId)
                    @Html.HiddenFor(m => m.PRId)
                    @Html.HiddenFor(m => m.RoleId)
                    <div id="PRIds" class="hidden">@Model.PRId</div>@*use for jquery upload calling*@
                    <div id="PRRoleId" class="hidden">@Model.RoleId</div>
                    <section>
                        @Html.LabelFor(m => m.PRDetailObject.PRNo, "Purchase Request Number", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.PRDetailObject.PRNo, new { @id = "PRD_PRNo", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRDetailObject.PRNo, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="PRD_IssueDate" class="col-lg-3 control-label">PR Issue Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.PRDetailObject.PRIssueDate, "{0:dd/MM/yyyy}", new { @id = "PRD_IssueDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRDetailObject.PRIssueDate, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="name" class="col-lg-3 control-label">Vendor Company</label>
                        <label class="select">
                            @Html.DropDownListFor(m => m.PRDetailObject.VendorId, (IEnumerable<SelectListItem>)ViewBag.Vendor, new { @id = "PRD_VendorCompany", @class = "form-control-static" })
                        </label>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.PRDetailObject.VendorPIC, "Vendor Contact PIC", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.PRDetailObject.VendorPIC, new { @id = "PRD_ContactPIC", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRDetailObject.VendorPIC, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        @Html.LabelFor(m => m.PRDetailObject.VendorContNo, "Vendor Contact No", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.PRDetailObject.VendorContNo, new { @id = "PRD_VendorContactNo", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRDetailObject.VendorContNo, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        @Html.LabelFor(m => m.PRDetailObject.VendorEmail, "Vendor Email", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.PRDetailObject.VendorEmail, new { @id = "PRD_VendorEmail", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRDetailObject.VendorEmail, null, new { @class = "note-error color-red" })
                    </section> 
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="name" class="col-lg-3 control-label">Requestor Company</label>
                        <label class="select">
                            @Html.DropDownListFor(m => m.PRDetailObject.ReqCompId, (IEnumerable<SelectListItem>)ViewBag.ReqComp, new { @id = "PRD_RequestorCompany", @class = "form-control-static" })
                        </label>
                    </section>
                    <section>
                        <label for="name" class="col-lg-3 control-label">Requestor Name</label>
                        <label class="select">
                            @Html.DropDownListFor(m => m.PRDetailObject.ReqId, (IEnumerable<SelectListItem>)ViewBag.RequestorName, new { @id = "PRD_RequestorName", @class = "form-control-static" })
                        </label>
                    </section>
                    <section>
                        <label for="PRD_TotalPrice" class="col-lg-3 control-label">Total Price (RM)</label>
                        @Html.TextBoxFor(m => m.PRDetailObject.TotalPrice, new { @id = "PRD_TotalPrice", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRDetailObject.TotalPrice, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        @Html.LabelFor(m => m.FileDescription, "File Description", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.FileDescription, new { @id = "PRD_FileDescription", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.FileDescription, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label class="col-lg-3 control-label">PR File Input</label>
                        <label class="col-lg-7 input input-file" for="file">
                            <div class="button">@Html.TextBoxFor(m => m.file, null, new { @name = "file", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="PRD_Files" type="text" readonly>
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.file, null, new { @class = "note-error color-red" })
                    </section>
                </div>
            </div>
        </div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>Budget Information</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="col-md-6">
                    <section>
                        @Html.LabelFor(m => m.PRDetailObject.PurchaseType, "Purchase Type", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.PRDetailObject.PurchaseType, new { @id = "PRD_PurchaseType", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRDetailObject.PurchaseType, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        @Html.LabelFor(m => m.PRDetailObject.BudgetDescription, "Budget Description", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.PRDetailObject.BudgetDescription, new { @id = "PRD_BudgetDescription", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRDetailObject.BudgetDescription, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="PRD_BudgetedAmount" class="col-lg-3 control-label">Budgeted Amount (RM)</label>
                        @Html.TextBoxFor(m => m.PRDetailObject.BudgetedAmount, new { @id = "PRD_BudgetedAmount", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRDetailObject.BudgetedAmount, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="PRD_UtilizedToDate" class="col-lg-3 control-label">Utilized To Date (RM)</label>
                        @Html.TextBoxFor(m => m.PRDetailObject.UtilizedToDate, new { @id = "PRD_UtilizedToDate", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRDetailObject.UtilizedToDate, null, new { @class = "note-error color-red" })
                    </section>            
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="PRD_AmountRequired" class="col-lg-3 control-label">Amount Required (RM)</label>
                        @Html.TextBoxFor(m => m.PRDetailObject.AmountRequired, new { @id = "PRD_AmountRequired", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRDetailObject.AmountRequired, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="PRD_BudgetBalance" class="col-lg-3 control-label">Budget Balance (RM)</label>
                        @Html.TextBoxFor(m => m.PRDetailObject.BudgetBalance, new { @id = "PRD_BudgetBalance", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRDetailObject.BudgetBalance, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        @Html.LabelFor(m => m.PRDetailObject.Remarks, "Remark", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.PRDetailObject.Remarks, new { @id = "PRD_Remarks", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRDetailObject.Remarks, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        @Html.LabelFor(m => m.PRDetailObject.Justification, "Justification", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.PRDetailObject.Justification, new { @id = "PRD_Justification", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRDetailObject.Justification, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                @if (Model.RoleId == "R02" || Model.RoleId == "R04" || Model.RoleId == "R06" || Model.RoleId == "R09" || Model.RoleId == "R08")
                {
                    <div class="row btn-FloatRight">
                        <button id="SavePRtoPDF" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Print</button>
                        <button id="VerifyPRDetails" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save</button>
                    </div>
                }
            </div>
        </div>
        <div class="clearfix margin-bottom-10"></div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row container-fluid">
                <div class="clearfix margin-bottom-10"></div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover wrapper" id="PRItemsTable">
                        <thead>
                            <tr>
                                <th class="all">PO No.</th>
                                <th class="all">Material No.</th>
                                <th class="all">Description</th>
                                <th class="desktop">Remark</th>
                                <th class="desktop">Required Date</th>
                                <th class="desktop">Demand Quantity</th>
                                <th class="desktop">Requested Quantity</th>
                                <th class="desktop">Outstanding Quantity</th>
                                <th class="desktop">Total Amount (RM)</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.PRItemListObject)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PONo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaterialNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.Remark)*@
                                    @Html.Raw(Html.Encode(item.Remark).Replace("\r\n", "<br /><br />").Replace("\n", "<br />"))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RequiredDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DemandQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RequestedQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OutstandingQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalAmount)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap Modals With Forms -->
    <div class="modal fade" id="PRDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4">Are you sure the details  below are correct? If yes please attached the required document and click Save Changes below.</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                @Html.LabelFor(m => m.PRDetailObject.PRNo, "Purchase Requisition Number", new { @class = "col-lg-3 control-label" })
                                <input class="form-control" id="VPRD_PRNo" type="text" readonly />
                            </section>
                            <section>
                                <label for="VPRD_IssueDate" class="col-lg-3 control-label">PR Issue Date</label>
                                <input class="form-control" type="text" id="VPRD_IssueDate" readonly />
                            </section>
                            <section>
                                <label for="VPRD_VendorCompany" class="col-lg-3 control-label">Vendor Company</label>
                                <input class="form-control" type="text" id="VPRD_VendorCompany" readonly />
                            </section>
                            <section>
                                <label for="VPRD_VendorPIC" class="col-lg-3 control-label">Vendor PIC</label>
                                <input class="form-control" type="text" id="VPRD_VendorPIC" readonly />
                            </section>
                            <section>
                                <label for="VPRD_VendorContNo" class="col-lg-3 control-label">Vendor Contact No</label>
                                <input class="form-control" type="text" id="VPRD_VendorContNo" readonly />
                            </section>
                            <section>
                                <label for="VPRD_VendorEmail" class="col-lg-3 control-label">Vendor Email</label>
                                <input class="form-control" type="text" id="VPRD_VendorEmail" readonly />
                            </section>
                            <section>
                                <label for="VPRD_RequestorCompany" class="col-lg-3 control-label">Requestor Company</label>
                                <input class="form-control" type="text" id="VPRD_RequestorCompany" readonly />
                            </section>
                            <section>
                                <label for="VPRD_RequestorName" class="col-lg-3 control-label">Requestor Name</label>
                                <input class="form-control" type="text" id="VPRD_RequestorName" readonly />
                            </section>
                            <section>
                                <label for="VPRD_TotalPrice" class="col-lg-3 control-label">Total Price</label>
                                <input class="form-control" type="text" id="VPRD_TotalPrice" readonly />
                            </section>
                            <section>
                                <label for="VPRD_PurchaseType" class="col-lg-3 control-label">Purchase Type</label>
                                <input class="form-control" type="text" id="VPRD_PurchaseType" readonly />
                            </section>                           
                        </div>
                        <div class="col-md-6">
                            <section>
                                <label for="VPRD_BudgetDescription" class="col-lg-3 control-label">Budget Description</label>
                                <input class="form-control" type="text" id="VPRD_BudgetDescription" readonly />
                            </section>
                            <section>
                                <label for="VPRD_BudgetedAmount" class="col-lg-3 control-label">Budgeted Amount</label>
                                <input class="form-control" type="text" id="VPRD_BudgetedAmount" readonly />
                            </section>
                            <section>
                                <label for="VPRD_UtilizedToDate" class="col-lg-3 control-label">Utilized To Date (RM)</label>
                                <input class="form-control" type="text" id="VPRD_UtilizedToDate" readonly />
                            </section> 
                            <section>
                                <label for="VPRD_AmountRequired" class="col-lg-3 control-label">Amount Required (RM)</label>
                                <input class="form-control" type="text" id="VPRD_AmountRequired" readonly />
                            </section>
                            <section>
                                <label for="VPRD_BudgetBalance" class="col-lg-3 control-label">Budget Balance (RM)</label>
                                <input class="form-control" type="text" id="VPRD_BudgetBalance" readonly />
                            </section>
                            <section>
                                <label for="VPRD_Remarks" class="col-lg-3 control-label">Remark</label>
                                <input class="form-control" type="text" id="VPRD_Remarks" readonly />
                            </section>
                            <section>
                                <label for="VPRD_Justification" class="col-lg-3 control-label">Justification</label>
                                <input class="form-control" type="text" id="VPRD_Justification" readonly />
                            </section>
                            <section>
                                <label class="col-lg-3 control-label">File Description</label>
                                <label class="col-lg-offset-5 textarea textarea-resizable">
                                    <textarea cols="1" name="IODetailObject.Details_projectDescription" rows="3" id="VIOD_FileDescription" readonly disabled></textarea>
                                </label>
                            </section>
                            <section>
                                <label class="col-lg-3 control-label">PR File Input</label>
                                <input class="form-control" id="VPRD_File" type="text" readonly />
                            </section>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                    <button id="SubmitPRDetails" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" id="PRDetailsLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
        </div>
    </div>
}