﻿@model Initiatives.Models.PRFormModels
@{ Layout = "~/Views/Shared/_KUBPdfLayout.cshtml"; }

<table class="t">
    <tbody>
        <tr style="height:20px" class="r1">
            <td class="c1_1" style="width:119px"></td>
            <td class="c1_2" style="width:0px"></td>
            <td class="c1_2" style="width:44px"></td>
            <td class="c1_1" style="width:80px"></td>
            <td class="c1_1" style="width:71px"></td>
            <td class="c1_1" style="width:66px"></td>
            <td style="width:65px"></td>
            <td style="width:65px"></td>
            <td style="width:78px"></td>
            <td style="width:75px"></td>
            <td style="width:44px">
                Date
            </td>
            <td style="width:88px">@Model.PRIssueDate</td>
            <td class="c1_13" style="width:97px"></td>
            <td style="width:70px">
                Ref No
            </td>
            <td class="c1_2" style="width:103px">@Model.PRNo</td>
        </tr>
        <tr style="height:31px" class="r2">
            <td style="width:119px">
                FORM B.2.1
            </td>
            <td style="width:0px"></td>
            <td style="width:44px"></td>
            <td style="width:80px"></td>
            <td style="width:71px"></td>
            <td style="width:66px"></td>
            <td style="width:65px"></td>
            <td style="width:65px"></td>
            <td style="width:78px"></td>
            <td style="width:75px"></td>
            <td style="width:44px"></td>
            <td class="c2_12" style="width:88px"></td>
            <td class="c2_12" style="width:97px"></td>
            <td style="width:70px"></td>
            <td class="c2_12" style="width:103px"></td>
        </tr>
        <tr style="height:30px" class="r2">
            <td colspan="15" class="c3_1">
                PURCHASE REQUISITION
            </td>
        </tr>
        <tr style="height:20px">
            <td class="c4_1" style="width:98px"></td>
            <td class="c4_2" style="width:21px"></td>
            <td class="c4_2" style="width:44px"></td>
            <td class="c4_2" style="width:80px"></td>
            <td class="c4_2" style="width:71px"></td>
            <td class="c4_2" style="width:66px"></td>
            <td class="c4_2" style="width:65px"></td>
            <td class="c4_2" style="width:65px"></td>
            <td class="c4_2" style="width:78px"></td>
            <td class="c4_2" style="width:75px"></td>
            <td class="c4_2" style="width:44px"></td>
            <td class="c4_2" style="width:88px"></td>
            <td class="c4_2" style="width:97px"></td>
            <td class="c4_2" style="width:70px"></td>
            <td class="c4_15" style="width:103px"></td>
        </tr>
        <tr style="height:20px" class="r1">
            <td class="c5_1" colspan="8" style="padding-left:10px;">
                POTENTIAL VENDOR
            </td>
            <td class="c5_15" colspan="7">
                REQUESTOR INFORMATIONS
            </td>
        </tr>
        <tr style="height:16px">
            <td class="c5_1" style="padding-left:10px;">
                Company
            </td>
            <td colspan="7">@Model.Vendor</td>
            <td colspan="2">
                Company
            </td>
            <td class="c6_15" colspan="5">@Model.ReqCompany</td>
        </tr>
        <tr style="height:16px">
            <td class="c5_1" style="width:98px; padding-left:10px;">
                Contact PIC
            </td>
            <td colspan="6" class="c2_12">@Model.ContactPIC</td>
            <td style="width:65px"></td>
            <td colspan="2">
                Name
            </td>
            <td colspan="4" class="c2_12">@Model.ReqName</td>
            <td class="c6_15" style="width:103px"></td>
        </tr>
        <tr style="height:16px">
            <td class="c5_1" style="width:98px; padding-left:10px;">
                Contact No
            </td>
            <td colspan="6" class="c2_12">@Model.ContactNo</td>
            <td style="width:65px"></td>
            <td colspan="2">
                Designation
            </td>
            <td colspan="4" class="c2_12">@Model.Designation</td>
            <td class="c6_15" style="width:103px"></td>
        </tr>
        <tr style="height:16px">
            <td class="c5_1" style="width:98px; padding-left:10px;">
                Email
            </td>
            <td colspan="6" class="c2_12">@Model.Email</td>
            <td class="c9_8" style="width:65px"></td>
            <td colspan="2">
                Div/Dept/Unit
            </td>
            <td colspan="4" class="c2_12">@Model.DivDept</td>
            <td class="c5_15" style="width:103px"></td>
        </tr>
        <tr style="height:16px">
            <td class="c5_1" style="width:98px"></td>
            <td class="c2_12" style="width:21px"></td>
            <td class="c2_12" style="width:44px"></td>
            <td class="c2_12" style="width:80px"></td>
            <td class="c2_12" style="width:71px"></td>
            <td class="c2_12" style="width:66px"></td>
            <td class="c2_12" style="width:65px"></td>
            <td style="width:65px"></td>
            <td style="width:78px"></td>
            <td style="width:75px"></td>
            <td class="c2_12" style="width:44px"></td>
            <td class="c2_12" style="width:88px"></td>
            <td class="c2_12" style="width:97px"></td>
            <td class="c2_12" style="width:70px"></td>
            <td class="c5_15" style="width:103px"></td>
        </tr>
        <tr style="height:20px" class="r11">
            <td class="c4_1" style="width:98px">
                Date
            </td>
            <td rowspan="2" colspan="5" class="c11_2">
                Description / Specification
            </td>
            <td rowspan="2" class="c11_2" style="width:65px">
                Item code
            </td>
            <td rowspan="2" class="c11_2" style="width:65px">
                Part No.
            </td>
            <td rowspan="2" class="c11_2" style="width:78px">
                PO Ref No.
            </td>
            <td rowspan="2" class="c11_2" style="width:75px">
                Quantity
            </td>
            <td rowspan="2" class="c11_2" style="width:44px">
                UM
            </td>
            <td rowspan="2" class="c11_2" style="width:88px">
                Unit Price
                <br />(RM)
            </td>
            <td rowspan="2" class="c11_2" style="width:97px">
                Total
                <br />(RM)
            </td>
            <td class="c11_2" style="width:70px">
                GST
            </td>
            <td class="c11_15" style="width:103px">
                Amount
            </td>
        </tr>
        <tr style="height:20px" class="r11">
            <td class="c5_1" style="width:98px">
                Required
            </td>
            <td class="c12_14" style="width:70px">
                6%
            </td>
            <td class="c12_15" style="width:103px">
                (RM)
            </td>
        </tr>
        @foreach (var item in Model.PRFormListObj)
        {
            //int height = 320 / Model.PRFormListObj.Count;

            <tr class="c1_2">
                <td class="c4_1" style="width:98px">@item.DateRequired.ToString("dd/MM/yyyy")</td>
                <td colspan="5" class="c11_3">@item.Description@*<br /><br />@Html.Raw(Html.Encode(item.Remarks).Replace("\r\n", "<br /><br />").Replace("\n", "<br />"))*@</td>
                <td class="c11_2" style="width:65px"></td>
                <td class="c11_2" style="width:65px">@item.PartNo</td>
                <td class="c11_2" style="width:78px">@item.PORefNo</td>
                <td class="c11_2" style="width:75px">@item.Quantity</td>
                <td class="c11_2" style="width:44px">@item.UM</td>
                <td class="c11_2" style="width:88px">@String.Format("{0:N2}", item.UnitPrice)</td>
                <td class="c11_2" style="width:97px">@item.Total</td>
                <td class="c11_2" style="width:70px">@item.GST</td>
                <td class="c11_15" style="width:103px">@item.Amount</td>
            </tr>
        }
        @for (int i = 0; i <= 11; i++)
        {
            <tr class="c1_2" style="height:20px">
                <td class="c4_1" style="width:98px"></td>
                <td colspan="5" class="c11_3"></td>
                <td class="c11_2" style="width:65px"></td>
                <td class="c11_2" style="width:65px"></td>
                <td class="c11_2" style="width:78px"></td>
                <td class="c11_2" style="width:75px"></td>
                <td class="c11_2" style="width:44px"></td>
                <td class="c11_2" style="width:88px"></td>
                <td class="c11_2" style="width:97px"></td>
                <td class="c11_2" style="width:70px"></td>
                <td class="c11_15" style="width:103px"></td>
            </tr>
        }
        <tr style="height:20px">
            <td class="c33_1" colspan="2">
                Ringgit Malaysia:
            </td>
            @*<td class="c4_2" style="width:21px"></td>*@
            <td class="c4_2" style="width:44px"></td>
            <td class="c4_2" style="width:80px"></td>
            <td class="c4_2" style="width:71px"></td>
            <td class="c4_2" style="width:66px"></td>
            <td class="c4_2" style="width:65px"></td>
            <td class="c4_2" style="width:65px"></td>
            <td class="c4_2" style="width:78px"></td>
            <td class="c4_2" style="width:75px"></td>
            <td class="c4_2" style="width:44px"></td>
            <td class="c33_12" style="width:88px"></td>
            <td class="c33_13" style="width:97px"></td>
            <td class="c33_13" style="width:70px">
                TOTAL
            </td>
            <td class="c33_15" style="width:103px">@Model.TotalPrice</td>
        </tr>
        <tr style="height:20px">
            <td style="width:98px"></td>
            <td style="width:21px"></td>
            <td style="width:44px"></td>
            <td style="width:80px"></td>
            <td style="width:71px"></td>
            <td style="width:66px"></td>
            <td style="width:65px"></td>
            <td style="width:65px"></td>
            <td style="width:78px"></td>
            <td style="width:75px"></td>
            <td style="width:44px"></td>
            <td class="c34_12" style="width:88px"></td>
            <td class="c34_12" style="width:97px"></td>
            <td class="c34_12" style="width:70px"></td>
            <td class="c34_15" style="width:103px"></td>
        </tr>
        <tr style="height:16px" class="r35">
            <td class="c35_1" style="width:98px">
                Purchase
            </td>
            <td rowspan="3" colspan="4" class="c35_1">
                Budget Description
            </td>
            <td class="c35_1" colspan="2" >
                Budgeted
            </td>
            <td class="c35_1" colspan="2">
                Utilized
            </td>
            <td class="c35_1" colspan="2">
                Amount
            </td>
            <td rowspan="3" colspan="2" class="c35_1">
                Budget Balance
            </td>
            @*<td class="c35_1" style="width:97px"></td>*@
            <td rowspan="3" colspan="2" class="c35_14">
                Remarks
            </td>
        </tr>
        <tr style="height:16px" class="r35">
            <td class="c12_14" style="width:98px">
                Type
            </td>
            <td class="c12_14" colspan="2">
                Amount
            </td>
            <td class="c12_14" colspan="2">
                to Date
            </td>
            <td class="c12_14" colspan="2">
                Required
            </td>
            @*<td class="c12_14" style="width:97px"></td>*@
        </tr>
        <tr style="height:16px" class="r35">
            <td class="c12_14" style="width:98px"></td>
            <td class="c12_14" colspan="2">
                (RM)
            </td>
            <td class="c12_14" colspan="2">
                (RM)
            </td>
            <td class="c12_14" colspan="2">
                (RM)
            </td>
            @*<td class="c12_14" style="width:97px"></td>*@
        </tr>
        <tr style="height:48px">
            <td class="c38_10" style="width:98px">@Model.PurchaseType</td>
            <td class="c38_10" colspan="4">@Model.BudgetDescription</td>
            <td class="c38_10" colspan="2">@Model.BudgetedAmount</td>
            <td class="c38_10" colspan="2">@Model.UtilizedToDate</td>
            <td class="c38_10" colspan="2">@Model.AmountRequired</td>
            <td colspan="2" class="c38_10">@Model.BudgetBalance</td>
            @*<td class="c38_10" style="width:97px"></td>*@
            <td class="c38_10 c38_15" colspan="2">@Model.Remarks</td>
            @*<td class="c38_15" style="width:103px">dfg56</td>*@
        </tr>
        @*<tr style="height:16px">
            <td class="c12_14" style="width:98px"></td>
            <td class="c38_2" style="width:21px"></td>
            <td class="c2_12" style="width:44px"></td>
            <td class="c2_12" style="width:80px"></td>
            <td class="c2_12" style="width:71px"></td>
            <td class="c2_12" style="width:66px"></td>
            <td class="c35_1" style="width:65px"></td>
            <td class="c35_1" style="width:65px"></td>
            <td class="c35_1" style="width:78px"></td>
            <td colspan="3" class="c38_10"></td>
            <td class="c38_10" style="width:97px"></td>
            <td class="c35_1" style="width:70px"></td>
            <td class="c38_15" style="width:103px"></td>
        </tr>
        <tr style="height:16px">
            <td class="c12_14" style="width:98px"></td>
            <td class="c38_2" style="width:21px"></td>
            <td class="c2_12" style="width:44px"></td>
            <td class="c2_12" style="width:80px"></td>
            <td class="c2_12" style="width:71px"></td>
            <td class="c2_12" style="width:66px"></td>
            <td class="c35_1" style="width:65px"></td>
            <td class="c35_1" style="width:65px"></td>
            <td class="c35_1" style="width:78px"></td>
            <td colspan="3" class="c38_10"></td>
            <td class="c38_10" style="width:97px"></td>
            <td class="c35_1" style="width:70px"></td>
            <td class="c38_15" style="width:103px"></td>
        </tr>*@
        <tr style="height:16px">
            <td class="c2_12" style="width:98px"></td>
            <td class="c2_12" style="width:21px"></td>
            <td class="c2_12" style="width:44px"></td>
            <td class="c2_12" style="width:80px"></td>
            <td class="c2_12" style="width:71px"></td>
            <td class="c2_12" style="width:66px"></td>
            <td class="c2_12" style="width:65px"></td>
            <td class="c2_12" style="width:65px"></td>
            <td class="c2_12" style="width:78px"></td>
            <td class="c2_12" style="width:75px"></td>
            <td class="c2_12" style="width:44px"></td>
            <td class="c2_12" style="width:88px"></td>
            <td class="c2_12" style="width:97px"></td>
            <td class="c2_12" style="width:70px"></td>
            <td class="c2_12" style="width:103px"></td>
        </tr>
        <tr style="height:10px" class="r42">
            <td class="c42_1" style="width:98px">
                Justification
            </td>
            <td class="c42_2" style="width:21px">
                :
            </td>
            <td colspan="13">@Model.Justification</td>
            @*<td style="width:44px"></td>
            <td style="width:80px"></td>
            <td style="width:71px"></td>
            <td style="width:66px"></td>
            <td style="width:65px"></td>
            <td style="width:65px"></td>
            <td style="width:78px"></td>
            <td style="width:75px"></td>
            <td style="width:44px"></td>
            <td style="width:88px"></td>
            <td style="width:97px"></td>
            <td style="width:70px"></td>
            <td style="width:103px"></td>*@
        </tr>
        <tr style="height:10px" class="r43">
            <td class="c43_1" style="width:98px"></td>
            <td class="c6_12" style="width:21px"></td>
            <td class="c2_12" style="width:44px"></td>
            <td class="c2_12" style="width:80px"></td>
            <td class="c2_12" style="width:71px"></td>
            <td class="c2_12" style="width:66px"></td>
            <td class="c2_12" style="width:65px"></td>
            <td class="c2_12" style="width:65px"></td>
            <td class="c2_12" style="width:78px"></td>
            <td class="c2_12" style="width:75px"></td>
            <td class="c2_12" style="width:44px"></td>
            <td class="c2_12" style="width:88px"></td>
            <td class="c2_12" style="width:97px"></td>
            <td class="c2_12" style="width:70px"></td>
            <td class="c2_12" style="width:103px"></td>
        </tr>
        <tr style="height:16px">
            <td class="c44_1" colspan="15">
                Note: This form must be submitted at least six(6) working days before the order date.
            </td>
            @*<td style="width:21px"></td>
                <td style="width:44px"></td>
                <td style="width:80px"></td>
                <td style="width:71px"></td>
                <td style="width:66px"></td>
                <td style="width:65px"></td>
                <td style="width:65px"></td>
                <td style="width:78px"></td>
                <td style="width:75px"></td>
                <td style="width:44px"></td>
                <td style="width:88px"></td>
                <td style="width:97px"></td>
                <td style="width:70px"></td>
                <td style="width:103px"></td>*@
        </tr>
    </tbody>
</table>

<div style="width:100%;">
    <table class="hiddenTable">
        <tr>
            <td class="td" style="height:10px; border-top: 1px solid black;">Requested by</td>
            <td class="td" style="height:10px;  border-top: 1px solid black;">Verified by HOD/HOC</td>
            <td class="td" style="height:10px;  border-top: 1px solid black; border-right: 1px solid black;">Recommended by Related Department</td>
        </tr>
        <tr>
            <td class="td2" style="height:10px;"></td>
            <td class="td2" style="height:10px;"></td>
            <td class="td2" style="height:10px; border-right:1px solid black;">(IT/Corporate Services/Advisor)</td>
        </tr>
        <tr>
            <td class="td2" style="height:40px;"></td>
            <td class="td2" style="height:40px;"></td>
            <td class="td2" style="height:40px; border-right:1px solid black;"></td>
        </tr>
        <tr>
            <td class="td2" style="">Name: @Model.ReqName</td>
            <td class="td2" style="">Name:</td>
            <td class="td2" style=" border-right: 1px solid black;">Name:</td>
        </tr>
        <tr>
            <td class="td2" style="border-bottom: 1px solid black; padding-bottom:10px;">Date: @Model.PRIssueDate</td>
            <td class="td2" style="border-bottom: 1px solid black; padding-bottom:10px;">Date:</td>
            <td class="td2" style="border-right: 1px solid black; padding-bottom:10px; border-bottom: 1px solid black">Date:</td>
        </tr>
    </table>
    <table class="hiddenTable">
        <tr>
            <td class="td" style="height:10px; border-top: 1px solid black;">Reviewed by GPSS</td>
            <td class="td" style="height:10px;  border-top: 1px solid black;">Recommended by</td>
            <td class="td" style="height:10px;  border-top: 1px solid black; border-right: 1px solid black;">Approved by</td>
        </tr>
        <tr>
            <td class="td2" style="height:10px;">(For Purchase Value above RM20k)</td>
            <td class="td2" style="height:10px;"></td>
            <td class="td2" style="height:10px; border-right:1px solid black;"></td>
        </tr>
        <tr>
            <td class="td2" style="height:50px;"></td>
            <td class="td2" style="height:50px;"></td>
            <td class="td2" style="height:50px; border-right:1px solid black;"></td>
        </tr>
        <tr>
            <td class="td2" style="">Name:</td>
            <td class="td2" style="">Name:</td>
            <td class="td2" style=" border-right: 1px solid black;">Name:</td>
        </tr>
        <tr>
            <td class="td2" style="border-bottom: 1px solid black; padding-bottom:10px;">Date:</td>
            <td class="td2" style="border-bottom: 1px solid black; padding-bottom:10px;">Date:</td>
            <td class="td2" style="border-right: 1px solid black; padding-bottom:10px; border-bottom: 1px solid black">Date:</td>
        </tr>
    </table>
</div>

@*<b>FORM B.2.1</b><br />
    ----------------------------------------------------------------------------------------------------------------------------------
    <b>PURCHASE REQUISITION</b>

    <table class="hiddenTable">
        <tr style="vertical-align: top;">
            <td class="td3"><b>POTENTIAL VENDOR</b></td>
            <td class="td3" style="width: 50px;"></td>
            <td class="td3"><b>REQUESTOR INFORMATIONS</b></td>
        </tr>
    </table>

        <table class="hiddenTable">
            <tr style="vertical-align: top;">
                <td class="td3">Company</td>
                <td class="td3" style="width: 10px;">:</td>
                <td class="td3" style="width: 160px;">@Model.ToCust</td>
                <td class="td3" style="width: 20px;"></td>
                <td class="td3">Company</td>
                <td class="td3" style="width: 10px;">:</td>
                <td class="td3" style="width: 160px;">@Model.IssueDate</td>
            </tr>
            <tr style="vertical-align: top;">
                <td class="td3">Contact PIC</td>
                <td class="td3" style="width: 10px;">:</td>
                <td class="td3" style="width: 160px;">@Model.Region</td>
                <td class="td3" style="width: 20px;"></td>
                <td class="td3">Name</td>
                <td class="td3" style="width: 10px;">:</td>
                <td class="td3" style="width: 160px;">@Model.TrackingNo</td>
            </tr>
            <tr style="vertical-align: top;">
                <td class="td3">Contact No</td>
                <td class="td3" style="width: 10px;">:</td>
                <td class="td3" style="width: 160px;">@Model.ContractNo</td>
                <td class="td3" style="width: 20px;"></td>
                <td class="td3">Designation</td>
                <td class="td3" style="width: 10px;">:</td>
                <td class="td3" style="width: 160px;">@Model.PONo</td>
            </tr>
            <tr style="vertical-align: top;">
                <td class="td3">Email</td>
                <td class="td3" style="width: 10px;">:</td>
                <td class="td3" style="width: 160px;">@Model.ContractName</td>
                <td class="td3" style="width: 20px;"></td>
                <td class="td3">Div/Dept/Unit</td>
                <td class="td3" style="width: 10px;">:</td>
                <td class="td3" style="width: 160px;">@Model.ContactPerson</td>
            </tr>
        </table>

        <table class="hiddenTable">
            <thead>
                <tr>
                    <th colspan="44" align="center" class="td"></th>
                </tr>
                <tr>
                    <th colspan="4" rowspan="1" class="td" align="center">Date Required</th>
                    <th colspan="11" rowspan="1" class="td" align="center">Description/Specification</th>
                    <th colspan="3" rowspan="1" class="td" align="center">Item code</th>
                    <th colspan="3" rowspan="1" class="td" align="center">Part No.</th>
                    <th colspan="4" rowspan="1" class="td" align="center">PO Ref No.</th>
                    <th colspan="3" rowspan="1" class="td" align="center">Quantity</th>
                    <th colspan="2" rowspan="1" class="td" align="center">UM</th>
                    <th colspan="4" rowspan="1" class="td" align="center">Unit Price (RM)</th>
                    <th colspan="3" rowspan="1" class="td" align="center">Total (RM)</th>
                    <th colspan="3" rowspan="1" class="td" align="center">GST 6%</th>
                    <th colspan="4" rowspan="1" class="td" align="center">Amount (RM)</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                <tr style="vertical-align: top;">
                    <td colspan="4" rowspan="1" class="td" align="center">@i</td>
                    <td colspan="11" rowspan="1" class="td" align="center">2423</td>
                    <td colspan="3" rowspan="1" class="td" align="center">fsdfs sfdfsdf</td>
                    <td colspan="3" rowspan="1" class="td" align="center">100</td>
                    <td colspan="4" rowspan="1" class="td" align="center">100</td>
                    <td colspan="3" rowspan="1" class="td" align="center">0</td>
                    <td colspan="2" rowspan="1" class="td" align="center">0</td>
                    <td colspan="4" rowspan="1" class="td" align="center">0</td>
                    <td colspan="3" rowspan="1" class="td" align="center">0</td>
                    <td colspan="3" rowspan="1" class="td" align="center">0</td>
                    <td colspan="4" rowspan="1" class="td" align="center">0</td>
                </tr>
                @foreach (var item in Model.DOFormListObj)
                    {
                        if (i == Model.DOFormListObj.Count)
                        {
                            <tr style="vertical-align: top;">
                                <td colspan="2" rowspan="1" class="td6" align="center">@i</td>
                                <td colspan="11" rowspan="1" class="td6" align="center">@item.MaterialNo</td>
                                <td colspan="11" rowspan="1" class="td6" align="center">@item.Description</td>
                                <td colspan="3" rowspan="1" class="td6" align="center">@item.DemandQty</td>
                                <td colspan="2" rowspan="1" class="td6" align="center">@item.DeliveredQty</td>
                                <td colspan="3" rowspan="1" class="td6" align="center">@item.DeliveryQty</td>
                                <td colspan="3" rowspan="1" class="td6" align="center">@item.OutstandingQty</td>
                            </tr>
                        }
                        else
                        {
                            <tr style="vertical-align: top;">
                                <td colspan="2" rowspan="1" class="td3" align="center">@i</td>
                                <td colspan="11" rowspan="1" class="td3" align="center">@item.MaterialNo</td>
                                <td colspan="11" rowspan="1" class="td3" align="center">@item.Description</td>
                                <td colspan="3" rowspan="1" class="td3" align="center">@item.DemandQty</td>
                                <td colspan="2" rowspan="1" class="td3" align="center">@item.DeliveredQty</td>
                                <td colspan="3" rowspan="1" class="td3" align="center">@item.DeliveryQty</td>
                                <td colspan="3" rowspan="1" class="td3" align="center">@item.OutstandingQty</td>
                            </tr>
                        @*}
                        i++;
                    }
            </tbody>
        </table>*@

