﻿@model Initiatives.Models.MainModel

<table class="table table-striped table-bordered table-hover wrapper" id="PRItemsTable">
    <thead>
        <tr>
            <th class="hidden">POId</th>
            <th class="hidden">ItemsId</th>
            <th class="all">PO No.</th>
            <th class="all">Material No.</th>
            <th class="all">Description</th>
            <th class="desktop">Remark</th>
            <th class="desktop">Required Date</th>
            <th class="desktop">Demand Quantity</th>
            <th class="desktop">Request Quantity</th>
            <th class="desktop">Outstanding Quantity</th>
            <th class="desktop">Unit Price (RM)</th>
            <th class="desktop">Total Price (RM)</th>
            <th class="desktop"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PRItemListObject != null)
        {
            int i = 0;
            foreach (var item in Model.PRItemListObject)
            {
                <tr class="ItemList">
                    <td class="hide never POId">@Html.DisplayFor(modelItem => item.POId)</td>
                    <td class="hide never ItemsId">@Html.DisplayFor(modelItem => item.ItemsId)</td>
                    <td class="all">@Html.DisplayFor(modelItem => item.PONo)</td>
                    <td class="all">@Html.DisplayFor(modelItem => item.MaterialNo)</td>
                    <td class="all">@Html.DisplayFor(modelItem => item.Description)</td>
                    <td class="desktop" style="width: 250px;">
                        <label class="textarea textarea-resizable">
                            @Html.TextAreaFor(modelItem => item.Remark, 3, 1, new { @id = "PRD_Remark4Desc" + i })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(modelItem => item.Remark, null, new { @class = "note-error color-red" })                        
                    </td>
                    <td class="desktop" style="max-width:100px;">
                        <label class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(modelItem => item.RequiredDate, "{0:dd/MM/yyyy}", new { id = "PRD_RequiredDate" + i, @class = "datepicker", @type = "text" })
                        </label>
                        @Html.ValidationMessageFor(modelItem => item.RequiredDate, null, new { @class = "note-error color-red" })
                    </td>
                    <td class="desktop" style="max-width:60px;">@Html.DisplayFor(modelItem => item.DemandQuantity)</td>
                    <td class="desktop" style="max-width:60px;">
                        <label class="input">
                            @Html.TextBoxFor(modelItem => item.RequestedQuantity, new { @id = "PRD_RequestedQuantity", @type = "text", @class = "RequestedQuantity" })
                        </label>
                            @Html.ValidationMessageFor(modelItem => item.RequestedQuantity, null, new { @class = "note-error color-red" })
                    </td>
                    <td class="desktop outstanding" style="max-width:60px;">@Html.DisplayFor(modelItem => item.OutstandingQuantity)</td>
                    <td class="desktop unitprice">
                        <label class="input">
                            @Html.TextBoxFor(modelItem => item.UnitPrice, new { @id = "PRD_UnitPrice", @type = "text", @class= "UnitPrice" })
                        </label>
                        @Html.ValidationMessageFor(modelItem => item.UnitPrice, null, new { @class = "note-error color-red" })
                    </td>
                    <td class="desktop unitprice">
                        <label class="input">
                            @Html.TextBoxFor(modelItem => item.TotalAmount, new { @id = "PRD_TotalPrice", @type = "text", @readonly = true })
                        </label>
                        @Html.ValidationMessageFor(modelItem => item.TotalAmount, null, new { @class = "note-error color-red" })
                    </td>
                    <td class="desktop"><button type="button" class="RemovePRItem btn-u btn-u-primary">Delete</button></td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>