﻿@model Initiatives.Models.MainModel
@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("ViewContract", "ContList")' + '#pr-1'">
        <i class="fa fa-tags"></i> Back
    </button>
    <!-- Tab v2 -->
    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <li class="navbar-height"><a href="#info-1" data-toggle="tab"><h4>Info</h4></a></li>
            <li class="navbar-height"><a href="#prdocmanagement-1" data-toggle="tab"><h4>Doc Management</h4></a></li>
            <li class="navbar-height"><a href="#prupdates-1" data-toggle="tab"><h4>Updates</h4></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in firstTab" id="info-1">
                @{ Html.RenderAction("PRDetails", "PRList", new { PRId = Model.PRId }); }
                @*this is info*@
            </div>
            <div class="tab-pane fade in" id="prdocmanagement-1">
                @{ Html.RenderAction("PRDocManagement", "PRList", new { PRId = Model.PRId }); }
                <div class="clearfix margin-bottom-20"></div>
            </div>
            <div class="tab-pane fade in" id="prupdates-1">
                @{ Html.RenderAction("PRUpdates", "PRList", new { PRId = Model.PRId }); }
            </div>
        </div>
    </div>
    <!-- End Tab v2 -->
</div>

@section scripts {
    <script type="text/javascript">
        var UrlPRDocUpload = "@Url.Action("PRDocUpload","PRList")";
        var UrlPRUpdates = "@Url.Action("PRUpdates","PRList")";
        var UrlPRDocManagement = "@Url.Action("PRDocManagement","PRList")";
        var UrlFileArchive = "@Url.Action("FileArchive", "PRList")";
        var UrlPRSendMessage = "@Url.Action("PRSendMessage", "PRList")";
        var UrlPRDetails = "@Url.Action("PRDetails", "PRList")";
        var UrlPRForm = "@Url.Action("PRForm", "PRList")";
    </script>
    @Scripts.Render("~/bundles/JSPages");
}