﻿@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }
@model Initiatives.Models.MainModel

<div id="newPO" class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("ViewContract", "ContList" )' + '#delivery-1'">
        <i class="fa fa-tags"></i> Back
    </button>
    <div id="CreateNewDO-1">
        <div class="clearfix margin-bottom-10"></div>
        @using (Html.BeginForm("CreateDO", "DOList", FormMethod.Post, new { @id = "CreateNewDO", @class = "sky-form" }))
        {
            <div class="panel panel-u margin-bottom-20">
                <div class="panel-heading margin-bottom-10">
                    <h3 class="panel-title"><i class="fa fa-user"></i> Create New Delivery Order</h3>
                </div>
                <div class="panel-body">
                    @Html.HiddenFor(m => m.OppContId)
                    <div class="shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                            <div class="row container-fluid">
                                <div class="container">
                                    <h4><b>Please tick PO Numbers</b></h4>
                                </div>
                                <div class="clearfix margin-bottom-10"></div>
                                <div class="margin-bottom-25">
                                    <button id="submitDOPO" type="button" class="btn-u btn-u-primary">Submit PO Number</button>
                                </div>
                                <div class="dataTable_wrapper">
                                    @{Html.RenderPartial("POTable", Model);}
                                </div>
                                <div class="clearfix margin-bottom-10"></div>
                                <div class="container">
                                    <h4><b>Please insert delivery quantity below. Delete row if not needed</b></h4>
                                </div>
                                <div class="clearfix margin-bottom-10"></div>
                                <div class="dataTable_wrapper" id="DOItemsTableDiv">
                                    @{Html.RenderPartial("DOItemsTable", Model);}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                            <div class="row">
                                <div class="container">
                                    <h4><b>Delivery Information</b></h4>
                                </div>
                                <div class="clearfix margin-bottom-10"></div>
                                <div class="col-md-6">
                                    <section>
                                        @Html.LabelFor(m => m.DODetailObject.DONo, "Delivery Order Number", new { @class = "col-lg-3 control-label" })
                                        @Html.TextBoxFor(m => m.DODetailObject.DONo, new { @id = "DOD_DONo", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.DODetailObject.DONo, null, new { @class = "note-error color-red" })
                                    </section>
                                    @*<section>
                                        <label for="name" class="col-lg-3 control-label">To Customer</label>
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.DODetailObject.CustId, (IEnumerable<SelectListItem>)ViewBag.CustCompany, new { @id = "DOD_CustCompany", @class = "form-control-static" })
                                        </label>
                                    </section>*@
                                    <section>
                                        <label for="name" class="col-lg-3 control-label">Branch Address</label>
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.DODetailObject.BranchId, (IEnumerable<SelectListItem>)ViewBag.CustBranchList, new { @id = "DOD_BranchAddress", @class = "form-control-static" })
                                        </label>
                                    </section>
                                    <section>
                                        <label for="DOD_IssueDate" class="col-lg-3 control-label">DO Issue Date</label>
                                        <label class="col-lg-offset-5 input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            @Html.TextBoxFor(m => m.DODetailObject.DOIssueDate, "{0:dd/MM/yyyy}", new { @id = "DOD_IssueDate", @class = "datepicker", @type = "text" })
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.DODetailObject.DOIssueDate, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(m => m.DODetailObject.TelNo, "Telephone Number", new { @class = "col-lg-3 control-label" })
                                        @Html.TextBoxFor(m => m.DODetailObject.TelNo, new { @id = "DOD_TelNo", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.DODetailObject.TelNo, null, new { @class = "note-error color-red" })
                                    </section>                                                                   
                                </div>
                                <div class="col-md-6">
                                    @*<section>
                                        @Html.LabelFor(m => m.DODetailObject.Region, "Region", new { @class = "col-lg-3 control-label" })
                                        @Html.TextBoxFor(m => m.DODetailObject.Region, new { @id = "DOD_Region", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.DODetailObject.Region, null, new { @class = "note-error color-red" })
                                    </section>*@  
                                    <section>
                                        @Html.LabelFor(m => m.DODetailObject.TrackingNo, "Tracking Number", new { @class = "col-lg-3 control-label" })
                                        @Html.TextBoxFor(m => m.DODetailObject.TrackingNo, new { @id = "DOD_TrackingNo", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.DODetailObject.TrackingNo, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(m => m.DODetailObject.ContactPerson, "Contact Person", new { @class = "col-lg-3 control-label" })
                                        @Html.TextBoxFor(m => m.DODetailObject.ContactPerson, new { @id = "DOD_ContactPerson", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.DODetailObject.ContactPerson, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(m => m.FileDescription, "File Description", new { @class = "col-lg-3 control-label" })
                                        @Html.TextBoxFor(m => m.FileDescription, new { @id = "DOD_FileDescription", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.FileDescription, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label class="col-lg-3 control-label">DO File Input</label>
                                        <label class="col-lg-7 input input-file" for="file">
                                            <div class="button">@Html.TextBoxFor(m => m.file, null, new { @name = "file", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="DOD_Files" type="text" readonly>
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.file, null, new { @class = "note-error color-red" })
                                    </section>
                                </div>
                                @*<div class="clearfix margin-bottom-20"></div>*@
                            </div>
                        </div>
                    </div>
                    <div class="row btn-FloatRight">
                        <button id="CreateDO" type="submit" class="btn-u btn-u-primary btn-FloatRight">Submit</button>
                        <label class="checkbox btn-FloatRight">
                            <input id="SendEmail" name="DODetailObject.SendEmail" checked="" type="checkbox">
                            @*@Html.CheckBoxFor(m => m.DODetailObject.SendEmail, new { @checked = "checked" })*@<i></i>Send Email
                        </label>                        
                    </div>
                    
                </div>
            </div>

            <div class="modal fade bs-example-modal-sm" id="CreateDOLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var UrlGetMaterialNo = "@Url.Action("GetMaterialNo","DOList")";
        var UrlCreateDO = "@Url.Action("CreateDO", "DOList")";
        var UrlViewContract = "@Url.Action("ViewContract", "ContList")";
        var UrlGetPOList = "@Url.Action("GetPOList","DOList")";   
    </script>    
    @Scripts.Render("~/bundles/JSPages");
}






