﻿@model Initiatives.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Html.BeginForm("DODetails", "DOList", FormMethod.Post, new { @id = "DODetails", @class = "sky-form", @enctype = "multipart/form-data" }))
{
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>General Information</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="col-md-6">
                    @Html.HiddenFor(m => m.CreateByUserId)
                    @Html.HiddenFor(m => m.OppContId)
                    @Html.HiddenFor(m => m.DOId)
                    @Html.HiddenFor(m => m.RoleId)
                    <div id="DOIds" class="hidden">@Model.DOId</div>@*use for jquery upload calling*@
                    <div id="DORoleId" class="hidden">@Model.RoleId</div>
                    <section>
                        @Html.LabelFor(m => m.DODetailObject.DONo, "Delivery Order Number", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.DODetailObject.DONo, new { @id = "DOD_DONo", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.DODetailObject.DONo, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="name" class="col-lg-3 control-label">Branch Address</label>
                        <label class="select">
                            @Html.DropDownListFor(m => m.DODetailObject.BranchId, (IEnumerable<SelectListItem>)ViewBag.CustBranchList, new { @id = "DOD_BranchAddress", @class = "form-control-static" })
                        </label>
                    </section>
                    <section>
                        <label for="DOD_IssueDate" class="col-lg-3 control-label">DO Issue Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.DODetailObject.DOIssueDate, "{0:dd/MM/yyyy}", new { @id = "DOD_IssueDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.DODetailObject.DOIssueDate, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        @Html.LabelFor(m => m.DODetailObject.TelNo, "Telephone Number", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.DODetailObject.TelNo, new { @id = "DOD_TelNo", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.DODetailObject.TelNo, null, new { @class = "note-error color-red" })
                    </section>  
                    <section>
                        @Html.LabelFor(m => m.DODetailObject.TrackingNo, "Tracking Number", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.DODetailObject.TrackingNo, new { @id = "DOD_TrackingNo", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.DODetailObject.TrackingNo, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                <div class="col-md-6">                    
                    <section>
                        @Html.LabelFor(m => m.DODetailObject.ContactPerson, "Contact Person", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.DODetailObject.ContactPerson, new { @id = "DOD_ContactPerson", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.DODetailObject.ContactPerson, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label class="col-lg-3 control-label">File Description</label>
                        <label class="col-lg-offset-5 textarea textarea-resizable">
                            @Html.TextAreaFor(m => m.FileDescription, 3, 1, new { @id = "DOD_FileDescription" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.FileDescription, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label class="col-lg-3 control-label">DO File Input</label>
                        <label class="col-lg-7 input input-file" for="file">
                            <div class="button">@Html.TextBoxFor(m => m.file, null, new { @name = "file", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="DOD_Files" type="text" readonly>
                        </label>
                        @Html.ValidationMessageFor(m => m.file, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="DOCompleteDate" class="col-lg-3 control-label">Complete Date</label>
                        @Html.TextBoxFor(m => m.DODetailObject.DOCompleteDate, new { @id = "DOCompleteDate", @class = "form-control", @type = "text", @readonly = true })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.DODetailObject.DOCompleteDate, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                @if (Model.RoleId == "R02" || Model.RoleId == "R04" || Model.RoleId == "R09" || Model.RoleId == "R06")
                {
                    <div class="row btn-FloatRight">
                        <button id="SaveDOtoPDF" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Print</button>
                        <button id="VerifyDODetails" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save</button>
                    </div>
                }
            </div>
        </div>
        <div class="clearfix margin-bottom-10"></div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row container-fluid">
                <div class="clearfix margin-bottom-10"></div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover wrapper" id="DOItemsTable">
                        <thead>
                            <tr>
                                <th class="all">PO No.</th>
                                <th class="desktop">Material No.</th>
                                <th class="all">Description</th>
                                <th class="desktop">Demand Quantity</th>
                                <th class="desktop">Delivery Quantity</th>
                                <th class="desktop">Delivered Quantity</th> 
                                <th class="desktop">Outstanding Quantity</th>                                          
                            </tr>
                        </thead>
                            @foreach (var item in Model.DOItemListObject)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PONo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaterialNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>  
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DemandQuantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeliveryQuantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeliveredQuantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OutstandingQuantity)
                                    </td>                                                                     
                                </tr>
                            }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap Modals With Forms -->
    <div class="modal fade" id="DODetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4">Are you sure the details  below are correct? If yes please attached the required document and click Save Changes below.</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                @Html.LabelFor(m => m.DODetailObject.DONo, "Delivery Order Number", new { @class = "col-lg-3 control-label" })
                                <input class="form-control" id="VDOD_DONo" type="text" readonly />
                            </section>
                            <section>
                                <label for="VDOD_BranchId" class="col-lg-3 control-label">Branch Address</label>
                                <input class="form-control" type="text" id="VDOD_BranchId" readonly />
                            </section>
                            <section>
                                <label for="VDOD_IssueDate" class="col-lg-3 control-label">DO Issue Date</label>
                                <input class="form-control" type="text" id="VDOD_IssueDate" readonly />
                            </section>
                            <section>
                                <label for="VDOD_TelNo" class="col-lg-3 control-label">Telephone Number</label>
                                <input class="form-control" type="text" id="VDOD_TelNo" readonly />
                            </section>
                        </div>
                        <div class="col-md-6">
                            <section>
                                <label for="VDOD_TrackingNo" class="col-lg-3 control-label">Tracking Number</label>
                                <input class="form-control" type="text" id="VDOD_TrackingNo" readonly />
                            </section>
                            <section>
                                <label for="VDOD_ContactPerson" class="col-lg-3 control-label">Contact Person</label>
                                <input class="form-control" type="text" id="VDOD_ContactPerson" readonly />
                            </section>
                            <section>
                                <label class="col-lg-3 control-label">File Description</label>
                                <label class="col-lg-offset-5 textarea textarea-resizable">
                                    <textarea cols="1" name="DODetailObject.Details_projectDescription" rows="3" id="VDOD_FileDescription" readonly disabled></textarea>
                                </label>
                            </section>
                            <section>
                                <label class="col-lg-3 control-label">DO File Input</label>
                                <input class="form-control" id="VDOD_File" type="text" readonly />
                            </section>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                    <button id="SubmitDODetails" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" id="DODetailsLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
        </div>
    </div>
}