﻿@model Initiatives.Models.DOFormModels
@{ Layout = "~/Views/Shared/_PdfLayout.cshtml"; }

<table>
    <tr>
        <td rowspan="4" class="td8" style="width: 120px;" align="center"><img src="@Context.Server.MapPath("~/Images/KUBtel.png")" width="150" height="50" /></td>
        <td rowspan="4" class="td8" style="width: 160px;" align="center">
            @*<b>KUB Telekomunikasi Sdn. Bhd (230021-D)</b> <br />
    Unit 30, Level G-4 Block 4, Laman Seri Business Park <br />
    Section 13, 40100 Shah alam, Selangor Darul Ehsan. <br />
    Tel: 03-55143800 (General/Pilot) Telefax: 03-55100141 (Operation) Telefax: 03-55100242 (General)
    <font color="red">www.kubtel.com</font><br/>*@<br/>
                    <h2 id="second">DELIVERY ORDER / PACKING LIST FORM</h2>
        </td>
        @*<td class="td3" style="width: 160px;">@Model.ToCust</td>
        <td class="td3" style="width: 20px;"></td>*@  
        <td class="td8 td4">Register No.</td>
        <td class="td8 td4" style="width: 100px;">KTL-FPL-01F</td>
    </tr>
    <tr>
        <td class="td8 td4">Revision No.</td>
        <td class="td8 td4" style="width: 100px;">00</td>
    </tr>
    <tr>
        <td class="td8 td4">Effective Date</td>
        <td class="td8 td4" style="width: 100px;">15/1/2018</td>
    </tr>
    <tr>
        <td class="td8" style="height:20px" >Page No.</td>
        <td class="td8" style="height:20px; width: 100px;">Page </td>
    </tr>
</table>

<table class="hiddenTable">
    <tr style="vertical-align: top;">
        <td class="td3">TO</td>
        <td class="td3" style="width: 10px;">:</td>
        <td class="td3" style="width: 160px;">@Model.ToCust</td>
        <td class="td3" style="width: 20px;"></td>
        <td class="td3">DATE</td>
        <td class="td3" style="width: 10px;">:</td>
        <td class="td3" style="width: 160px;">@Model.IssueDate</td>
    </tr>
    <tr style="vertical-align: top;">
        <td class="td3">TEL</td>
        <td class="td3" style="width: 10px;">:</td>
        <td class="td3" style="width: 160px;">@Model.TelephoneNo</td>
    </tr>
    <tr style="vertical-align: top;">
        <td class="td3">REGION</td>
        <td class="td3" style="width: 10px;">:</td>
        <td class="td3" style="width: 160px;">@Model.Region</td>
        <td class="td3" style="width: 20px;"></td>
        <td class="td3">TRACKING NO</td>
        <td class="td3" style="width: 10px;">:</td>
        <td class="td3" style="width: 160px;">@Model.TrackingNo</td>
    </tr>
    <tr style="vertical-align: top;">
        <td class="td3">CONTRACT NO</td>
        <td class="td3" style="width: 10px;">:</td>
        <td class="td3" style="width: 160px;">@Model.ContractNo</td>
        <td class="td3" style="width: 20px;"></td>
        <td class="td3">PO NO</td>
        <td class="td3" style="width: 10px;">:</td>
        <td class="td3" style="width: 160px;">@Model.PONo</td>
    </tr>
    <tr style="vertical-align: top;">
        <td class="td3">CONTRACT NAME</td>
        <td class="td3" style="width: 10px;">:</td>
        <td class="td3" style="width: 160px;">@Model.ContractName</td>
        <td class="td3" style="width: 20px;"></td>
        <td class="td3">CONTACT PERSON</td>
        <td class="td3" style="width: 10px;">:</td>
        <td class="td3" style="width: 160px;">@Model.ContactPerson</td>
    </tr>
    <tr style="vertical-align: top;">
        <td class="td3">D.O NO.</td>
        <td class="td3" style="width: 10px;">:</td>
        <td class="td3" style="width: 160px;">@Model.DONo</td>
        <td class="td3" style="width: 20px;"></td>
        <td class="td3">LORRY NO.</td>
        <td class="td3" style="width: 10px;">:</td>
    </tr>
</table>

<table class="hiddenTable">
    <thead>
        <tr>
            <th colspan="35" align="center" class="td3"></th>
        </tr>
        <tr>
            <th colspan="2" rowspan="1" class="td4" align="center">ITEM NO.</th>
            <th colspan="11" rowspan="1" class="td4" align="center">MATERIAL NO.</th>
            <th colspan="11" rowspan="1" class="td4" align="center">DESCRIPTION</th>
            <th colspan="3" rowspan="1" class="td4" align="center">DEMAND QTY</th>
            <th colspan="2" rowspan="1" class="td4" align="center">DELIVERED QTY</th>
            <th colspan="3" rowspan="1" class="td4" align="center">DELIVERY QTY</th>
            <th colspan="3" rowspan="1" class="td4" align="center">O/S QTY</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in Model.DOFormListObj)
            {
                if (i == Model.DOFormListObj.Count)
                {
                <tr style="vertical-align: top;">
                    <td colspan="2" rowspan="1" class="td6" align="center">@i</td>
                    <td colspan="11" rowspan="1" class="td6" align="center">@item.MaterialNo</td>
                    <td colspan="11" rowspan="1" class="td6" align="center">@item.Description</td>
                    <td colspan="3" rowspan="1" class="td6" align="center"></td>
                    <td colspan="2" rowspan="1" class="td6" align="center"></td>
                    <td colspan="3" rowspan="1" class="td6" align="center"><b>@item.DeliveryQty</b></td>
                    <td colspan="3" rowspan="1" class="td6" align="center"></td>
                </tr>
            }
            else
            {
                <tr style="vertical-align: top;">
                    <td colspan="2" rowspan="1" class="td3" align="center">@i</td>
                    <td colspan="11" rowspan="1" class="td3" align="center">@item.MaterialNo</td>
                    <td colspan="11" rowspan="1" class="td3" align="center">@item.Description</td>
                    <td colspan="3" rowspan="1" class="td3" align="center"></td>
                    <td colspan="2" rowspan="1" class="td3" align="center"></td>
                    <td colspan="3" rowspan="1" class="td3" align="center"><b>@item.DeliveryQty</b></td>
                    <td colspan="3" rowspan="1" class="td3" align="center"></td>
                </tr>
            }
            i++;
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="35" align="center" class="td7" style="padding-top:20px;">I/WE hereby acknowledge receiving of the above mentioned items(s) and accept the full responsibility for any loss/damage while in my posession.</th>
        </tr>
    </tfoot>
</table>

<div style="width:50%; float: left;">
    <table class="hiddenTable">
        <tr>
            <td class="td3" align="center">DELIVERED BY:</td>
        </tr>
        <tr>
            <td style="height:50px;"></td>
        </tr>
        <tr><td align="center">----------------------------------</td></tr>
        <tr>
            <td class="td3" align="center">SIGNATURE</td>
        </tr>
        <tr>
            <td style="height:70px;"></td>
        </tr>
        <tr><td align="center">----------------------------------</td></tr>
        <tr>
            <td class="td3" align="center">NAME &amp; DESIGNATION</td>
        </tr>
        <tr>
            <td style="height:30px;"></td>
        </tr>
        <tr><td align="center">----------------------------------</td></tr>
        <tr>
            <td class="td3" align="center">DATE: </td>
        </tr>
    </table>
</div>
<div style="width:80%; float:right;">
    <table class="hiddenTable">
        <tr>
            <td class="td3" align="center">GOODS CHECKED/RECEIVED BY:</td>
        </tr>
        <tr>
            <td style="height:50px;"></td>
        </tr>
        <tr><td align="center">----------------------------------</td></tr>
        <tr>
            <td class="td3" align="center">SIGNATURE</td>
        </tr>
        <tr>
            <td style="height:70px;"></td>
        </tr>
        <tr><td align="center">----------------------------------</td></tr>
        <tr>
            <td class="td3" align="center">NAME &amp; DESIGNATION</td>
        </tr>
        <tr>
            <td style="height:30px;"></td>
        </tr>
        <tr><td align="center">----------------------------------</td></tr>
        <tr>
            <td class="td3" align="center">DATE: </td>
        </tr>
    </table>
</div>
