﻿@model Initiatives.Models.MainModel

<table class="table table-striped table-bordered table-hover wrapper" id="DOItemsTable">
    <thead>
        <tr>
            <th class="hidden">POId</th>
            <th class="hidden">ItemsId</th>
            <th class="all">PO No.</th>
            <th class="all">Material No.</th>
            <th class="all">Description</th>
            <th class="desktop">Demand Quantity</th>
            <th class="desktop">Delivered Quantity</th>
            <th class="desktop">Delivery Quantity</th>
            <th class="desktop">Outstanding Quantity</th>
            <th class="desktop"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DOItemListObject != null)
        {
            foreach (var item in Model.DOItemListObject)
            {
                <tr class="ItemList">
                    <td class="hide never POId">@Html.DisplayFor(modelItem => item.POId)</td>
                    <td class="hide never ItemsId">@Html.DisplayFor(modelItem => item.ItemsId)</td>
                    <td class="all">@Html.DisplayFor(modelItem => item.PONo)</td>
                    <td class="all">@Html.DisplayFor(modelItem => item.MaterialNo)</td>
                    <td class="all">@Html.DisplayFor(modelItem => item.Description)</td>
                    <td class="desktop">@Html.DisplayFor(modelItem => item.DemandQuantity)</td>
                    <td class="desktop delivered">@Html.DisplayFor(modelItem => item.DeliveredQuantity)</td>
                    <td class="desktop">
                        @Html.TextBoxFor(modelItem => item.DeliveryQuantity, new { @id = "DOD_DeliveryQuantity", @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(modelItem => item.DeliveryQuantity, null, new { @class = "note-error color-red" })
                    </td>
                    <td class="desktop outstanding">@Html.DisplayFor(modelItem => item.OutstandingQuantity)</td>
                    <td class="desktop"><button type="button" class="RemoveDOItem btn-u btn-u-primary">Delete</button></td>
                </tr>
            }
        }        
    </tbody>
</table>