﻿@model Initiatives.Models.MainModel
@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("ViewContract", "ContList")' +  '#delivery-1'">
        <i class="fa fa-tags"></i> Back
    </button>
    <!-- Tab v2 -->
    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <li class="navbar-height"><a href="#info-1" data-toggle="tab"><h4>Info</h4></a></li>
            <li class="navbar-height"><a href="#DODocManagement-1" data-toggle="tab"><h4>Doc Management</h4></a></li>
            <li class="navbar-height"><a href="#DOUpdates-1" data-toggle="tab"><h4>Updates</h4></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in firstTab" id="info-1" >
                @{ Html.RenderAction("DODetails", "DOList", new { DOId = Model.DOId }); }
                @*this is info*@
            </div>
            <div class="tab-pane fade in" id="DODocManagement-1">
                @{ Html.RenderAction("DODocManagement", "DOList", new { DOId = Model.DOId }); }
                <div class="clearfix margin-bottom-20"></div>
            </div>
            <div class="tab-pane fade in" id="DOUpdates-1">
                @{ Html.RenderAction("DOUpdates", "DOList", new { DOId = Model.DOId }); }
            </div>
        </div>
    </div>
    <!-- End Tab v2 -->
</div>

@section scripts {
    <script type="text/javascript">
        var UrlDODocUpload = "@Url.Action("DODocUpload","DOList")";
        var UrlDOUpdates = "@Url.Action("DOUpdates","DOList")";
        var UrlDODocManagement = "@Url.Action("DODocManagement","DOList")";
        var UrlFileArchive = "@Url.Action("FileArchive","DOList")";
        var UrlDOSendMessage = "@Url.Action("DOSendMessage", "DOList")";
        var UrlDODetails = "@Url.Action("DODetails", "DOList")";
        var UrlDOForm = "@Url.Action("DOForm","DOLIst")";
    </script>
    @Scripts.Render("~/bundles/JSPages");
}