﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        body {
            font-family:arial;
            font-size:8pt;
            padding:0;
            margin:0; 
            /*width: 100%;*/ 
        }

        .td {
            font-family: Calibri;
            width: 100%;
            font-size: 10px;
            padding: 4px 7px 2px 4px;
            border-left: 1px solid black;
            /*border-bottom: 1px solid black;*/
            /*text-align:center;*/
        }

        .td2 {
            font-family: Calibri;
            font-size: 10px;
            padding: 4px 7px 2px 4px;
            border-left: 1px solid black;
            border-bottom: 0px solid black;
        }

        .td5 {
            font-family: Calibri;
            font-size: 8px;
            padding: 4px 7px 2px 4px;
            text-align: right;
            width: 40%;
            padding-left: 70px;
            padding-top: -20px;
        }

        .td6 {
            padding-top: -20px;
        }

        a {
            color: #0000FF
        }

            a:hover {
                text-decoration: underline
            }

        table {
            border-collapse: collapse;
            table-layout: fixed
        }

        table, .hiddenTable {
            border: 0px;
            width: 100%;
            border-spacing: 0px;
            margin-bottom: 5px;
            font-size: 8px;
            font-family: Calibri;
        }

        .t {
            font-family: Calibri;
            font-size: 8pt;
            text-align: left;
            vertical-align: middle;
            width: 100%;
        }

        .r1 {
            font-weight: bold
        }

        .c1_1 {
            font-weight: normal
        }

        .c1_2 {
            text-align: center;            
        }

        .c1_13 {
            font-size: 8pt;
            font-weight: normal;
            vertical-align: bottom
        }

        .r2 {
            font-size: 8pt;
            font-weight: bold
        }

        .c2_12 {
            border-top: 1px solid #000000
        }

        .c2_13 {
            border-bottom: 1px solid #000000
        }

        .c3_1 {
            border-top: 1px dotted #000000!important;
        }

        .c4_1 {
            border-top: 2px solid #000000;
            border-left: 2px solid #000000
        }

        .c4_2 {
            border-top: 2px solid #000000
        }

        .c4_15 {
            border-top: 2px solid #000000;
            border-right: 2px solid #000000
        }

        .c5_1 {
            border-left: 2px solid #000000
        }

        .c5_15 {
            border-right: 2px solid #000000
        }

        .c6_10 {
            vertical-align: bottom
        }

        .c6_12 {
            font-size: 8pt;
            /*vertical-align: bottom*/
        }

        .c6_15 {
            font-size: 8pt;
            /*vertical-align: bottom;*/
            border-right: 2px solid #000000
        }

        .c7_11 {
            vertical-align: bottom;
            border-top: 1px solid #000000
        }

        .c7_12 {
            font-size: 8pt;
            vertical-align: bottom;
            border-top: 1px solid #000000
        }

        .c9_2 {
            vertical-align: middle;
            border-top: 1px solid #000000
        }

        .c9_8 {
            vertical-align: middle
        }

        .c9_10 {
            font-size: 8pt
        }

        .c9_12 {
            font-size: 8pt;
            border-top: 1px solid #000000
        }

        .r11 {
            font-weight: bold;
            background-color: #D9D9D9;
            text-align: center
        }

        .c11_2 {
            border-top: 2px solid #000000;
            border-left: 1px solid #000000;
        }

        .c11_3 {
            border-top: 2px solid #000000;
            border-left: 1px solid #000000;
            text-align: left;
            padding-left: 10px;
        }

        .c11_15 {
            border-top: 2px solid #000000;
            border-left: 2px solid #000000;
            border-right: 2px solid #000000
        }

        .c12_14 {
            border-left: 1px solid #000000
        }

        .c12_15 {
            border-left: 2px solid #000000;
            border-right: 2px solid #000000
        }

        .c13_11 {
            text-align: left;
            border-top: 2px solid #000000;
            border-left: 1px solid #000000
        }

        .c14_1 {
            border-top: 1px dotted #000000;
            border-left: 2px solid #000000
        }

        .c14_2 {
            text-align: left;
            vertical-align: bottom;
            border-top: 1px dotted #000000;
            border-left: 1px solid #000000
        }

        .c14_7 {
            border-top: 1px dotted #000000;
            border-left: 1px solid #000000
        }

        .c14_11 {
            text-align: left;
            border-top: 1px dotted #000000;
            border-left: 1px solid #000000
        }

        .c14_15 {
            border-top: 1px dotted #000000;
            border-left: 2px solid #000000;
            border-right: 2px solid #000000
        }

        .c15_2 {
            vertical-align: bottom;
            border-top: 1px dotted #000000;
            border-left: 1px solid #000000
        }

        .c15_7 {
            text-align: center;
            vertical-align: top;
            border-top: 1px dotted #000000;
            border-left: 1px solid #000000
        }

        .c15_12 {
            text-align: right;
            border-top: 1px dotted #000000;
            border-left: 1px solid #000000
        }

        .c17_7 {
            text-align: center;
            border-top: 1px dotted #000000;
            border-left: 1px solid #000000
        }

        .c18_2 {
            font-style: italic;
            vertical-align: bottom;
            border-top: 1px dotted #000000;
            border-left: 1px solid #000000
        }

        .c19_3 {
            vertical-align: bottom;
            border-top: 1px dotted #000000
        }

        .c23_8 {
            vertical-align: top;
            border-top: 1px dotted #000000;
            border-left: 1px solid #000000
        }

        .c27_15 {
            text-align: center;
            border-top: 1px dotted #000000;
            border-left: 2px solid #000000;
            border-right: 2px solid #000000
        }

        .c32_1 {
            text-align: left;
            border-top: 1px dotted #000000;
            border-left: 2px solid #000000
        }

        .c33_1 {
            font-weight: bold;
            border-top: 2px solid #000000
        }

        .c33_12 {
            font-size: 8pt;
            vertical-align: bottom;
            border-top: 2px solid #000000
        }

        .c33_13 {
            font-weight: bold;
            text-align: center;
            border-top: 2px solid #000000
        }

        .c33_15 {
            font-weight: bold;
            text-align: center;
            border-top: 2px solid #000000;
            border-left: 2px solid #000000;
            border-right: 2px solid #000000
        }

        .c34_12 {
            font-weight: bold;
            text-align: center
        }

        .c34_15 {
            font-size: 10pt;
            font-weight: bold;
            border-top: 2px solid #000000
        }

        .r35 {
            color: #FF0000;
            font-size: 6pt;
            background-color: #FFFF00;
            text-align: center
        }

        .c35_1 {
            border-top: 1px solid #000000;
            border-left: 1px solid #000000
        }

        .c35_14 {
            border-top: 1px solid #000000;
            border-left: 1px solid #000000;
            border-right: 1px solid #000000
        }

        .c38_2 {
            border-top: 1px solid #000000;
            border-left: 2px solid #000000
        }

        .c38_10 {
            text-align: center;
            border-top: 1px solid #000000;
            border-left: 1px solid #000000
        }

        .c38_15 {
            border-top: 1px solid #000000;
            border-right: 1px solid #000000
        }

        .r42 {
            font-size: 8pt;
            font-weight: bold
        }

        .c42_1 {
            font-size: 8pt;
            font-weight: normal
        }

        .c42_2 {
            font-size: 8pt;
            font-weight: normal;
            text-align: right;
            /*vertical-align: bottom*/
        }

        .r43 {
            font-size: 8pt
        }

        .c43_1 {
            font-size: 8pt
        }

        .c44_1 {
            font-weight: bold;
            font-style: italic
        }
    </style>
</head>
<body>
    <table style="margin-top:-20px;">
        <tr>
            <td width="25%"></td>
            <td class="td5">
                <b>KUB MALAYSIA BERHAD (6022-D)</b> <br />
                Level 8-11, Unit 1, Capital 3, Oasis Square, Ara Damansara, <br />
                Jalan PJU 1A/7A, 47301 Petaling Jaya, Selangor <br />
                Tel: 603-76809600 Fax: 603-76809610 <font color="red">www.kub.com</font>
            </td>
            <td class="td6">
                <img src="@Context.Server.MapPath("~/Images/kub.png")" width="100" height="33" />
            </td>
        </tr>
    </table>
    @RenderBody()
</body>

</html>