﻿<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>Login | KUBTel Opportunity &amp; Contract Management</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="~/Content/header-default.css">
    <link rel="stylesheet" href="~/Content/blocks.css" />
    <link rel="stylesheet" href="~/Content/app.css" />
    <link rel="stylesheet" href="~/Content/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/line-icons.css">
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.css">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="~/Content/page_log_reg_v1.css">

    <!-- CSS Customization -->
    @*<link rel="stylesheet" href="~/Content/custom.css">*@
</head>

<body>
    @RenderBody()

    @Scripts.Render("~/bundles/JSGlobalCompulsory")
    @Scripts.Render("~/bundles/JSImplementingPlugins")
    @RenderSection("scripts", required: false)

    <!--[if lt IE 9]>
        <script src="~/Scripts/respond.js"></script>
        <script src="~/Scripts/html5shiv.js"></script>
        <script src="~/Scripts/placeholder-IE-fixes.js"></script>
    <![endif]-->
    <!-- JS Customization -->
    <!-- JS Page Level -->
    <script type="text/javascript" src="~/Scripts/Page/app.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
        });
    </script>
</body>
</html>
