﻿<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>KUBTel Opportunity Management Home</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/dataTables.bootstrap.css">
    <link rel="stylesheet" href="~/Content/dataTables.responsive.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="~/Content/header-default.css">
    <link rel="stylesheet" href="~/Content/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/Content/animate.css">
    <link href="~/Content/blocks.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/line-icons.css">
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/Content/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css">
    <link rel="stylesheet" href="~/Content/sky-forms.css">
    <link rel="stylesheet" href="~/Content/custom-sky-forms.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/Content/custom.css">
</head>

    <body class="header-fixed">
        <div class="wrapper">
            <div class="header">
                <div class="container">
                    <img class="logo" href="#" src="~/Images/logo.gif" style="width:auto; float:left;" alt="Logo">
                    <div class="welcome-user">Welcome @Session["FullName"] !</div>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <li><a href="~/Home/Dashboard">Home</a></li>
                            <li><a href="~/OppoList/OpportunityList">Opportunity List</a></li>
                            <li><a href="~/ConPOList/ContractList">Contract List</a></li>                                              
                            <li><a href="~/Home/UserList">User List</a></li>
                            <li><a href="~/Home/CustomerList">Customer List</a></li>                           
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    View Profile
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="~/Home/ViewProfile">Edit Profile</a></li> 
                                    <li><a href="~/Home/Logout">Logout</a></li>
                                </ul>
                            </li>                                                                               
                        </ul>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>
            <!-- JS Global Compulsory -->
            @*<script type="text/javascript" src="~/Scripts/jquery.js"></script>*@
            @*<script type="text/javascript" src="~/Scripts/jquery-migrate.js"></script>*@
            @*<script src="~/Scripts/jquery-2.1.4.min.js"></script>*@
            @Scripts.Render("~/bundles/JSGlobalCompulsory")
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/jqueryui")          
            @Scripts.Render("~/bundles/JSImplementingPlugins")
            @Scripts.Render("~/bundles/JSCustom")
            <!-- JS Implementing Plugins -->
            @*<script type="text/javascript" src="~/Scripts/jquery-appear.js"></script>
            <script type="text/javascript" src="~/Scripts/jquery.parallax.js"></script>
            <script type="text/javascript" src="~/Scripts/waypoints.js"></script>
            <script type="text/javascript" src="~/Scripts/jquery.counterup.js"></script>
            <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
            <script type="text/javascript" src="~/Scripts/owl.carousel.js"></script>
            <script type="text/javascript" src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>*@
            <!-- JS Customization -->
            @*<script type="text/javascript" src="~/Scripts/main.js"></script>*@
            @*<script type="text/javascript" src="~/Scripts/custom.js"></script>*@
            <!-- JS Page Level -->
            @*<script type="text/javascript" src="~/Scripts/Page/app.js"></script>*@
            @*<script type="text/javascript" src="~/Scripts/Page/fancy-box.js"></script>
            <script type="text/javascript" src="~/Scripts/datepicker.js"></script>
            @*<script type="text/javascript" src="~/Scripts/Page/progress-bar.js"></script>
            <script type="text/javascript" src="~/Scripts/Page/owl-carousel.js"></script>*@
            <script type="text/javascript">
                jQuery(document).ready(function () {
                    App.init();
                    //App.initCounter();
                    //App.initParallaxBg();
                    //App.initScrollBar();
                    //FancyBox.initFancybox();
                    App.initAnimateDropdown();
                    //Datepicker.initDatepicker();
                });
            </script>

            <!--[if lt IE 9]>
            <script src="~/Scripts/respond.js"></script>
            <script src="~/Scripts/html5shiv.js"></script>
            <script src="~/Scripts/placeholder-IE-fixes.js"></script>
        <![endif]-->
            @RenderSection("scripts", required: false)
</body>

</html>
