﻿<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>KUBTel Opportunity &amp; Contract Management Home</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link href="~/Content/dataTables.checkboxes.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/dataTables.bootstrap.css">
    <link rel="stylesheet" href="~/Content/dataTables.responsive.css">
    <link href="~/Content/buttons.dataTables.css" rel="stylesheet" />

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="~/Content/header-default.css">
    <link rel="stylesheet" href="~/Content/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/Content/animate.css">
    <link href="~/Content/blocks.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/line-icons.css">
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/Content/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css">
    <link rel="stylesheet" href="~/Content/sky-forms.css">
    <link rel="stylesheet" href="~/Content/custom-sky-forms.css">
    <link href="~/Content/shortcode_timeline2.css" rel="stylesheet" />

    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/Content/custom.css">
</head>

<body class="header-fixed">
    <div class="wrapper">
        <div class="header">
            <div class="container">
                <img class="logo" href="#" src="~/Images/logo.gif" style="width:auto; float:left;" alt="Logo">
                <div class="welcome-user">Welcome @Session["FullName"] !</div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li><a href="~/Home/Dashboard">Home</a></li>
                        @if (Session["RoleId"].ToString() == "R03" || Session["RoleId"].ToString() == "R02" || Session["RoleId"].ToString() == "R10")
                        {
                            <li><a href="~/OppoList/OpportunityList">Opportunity List</a></li>
                        }
                        @if (Session["RoleId"].ToString() != "R03")
                        {
                            <li><a href="~/ContList/ContractList">Contract List</a></li>
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    Listings
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/ContList/ContractList">Contract</a></li>
                                    @*<li><a href="#">RFOC</a></li>*@
                                    <li><a href="~/POList/AllPOList">PO</a></li>
                                    @*<li><a href="~/TNIList/TNIList">TNI</a></li>*@
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    Add New
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/ContList/CreateContract">Contract</a></li>
                                    @*<li><a href="#">RFOC</a></li>*@
                                    <li><a href="~/POList/CreateAllPO">PO</a></li>
                                    @*<li><a href="~/TNIList/CreateTNI">TNI</a></li>*@
                                </ul>
                            </li>
                        }                                                                                   
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Directory
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Home/UserList">User</a></li>
                                <li><a href="~/Home/CustomerList">Customer</a></li>
                                <li><a href="~/Home/PartNoList">Part No./Material No.</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                My Profile
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="~/Home/ViewProfile">My Profile</a></li>
                                @*<li><a href="~/Home/Tasks">Tasks</a></li>*@
                                <li><a href="~/Home/Logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    <!-- JS Global Compulsory -->
    @*<script type="text/javascript" src="~/Scripts/jquery.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/jquery-migrate.js"></script>*@
    @*<script src="~/Scripts/jquery-2.1.4.min.js"></script>*@
    @Scripts.Render("~/bundles/JSGlobalCompulsory")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/JSImplementingPlugins")
    @Scripts.Render("~/bundles/JSCustom")
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            App.initCounter();
        });
    </script>

    <!--[if lt IE 9]>
        <script src="~/Scripts/respond.js"></script>
        <script src="~/Scripts/html5shiv.js"></script>
        <script src="~/Scripts/placeholder-IE-fixes.js"></script>
    <![endif]-->
    @RenderSection("scripts", required: false)
</body>
</html>
