﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        html {
            font-family: Arial;
        }

        h1, #original {
            text-align: center;
            margin-bottom: 0px;
        }

        h1, #second {
            text-align: center;
            margin-bottom: 25px;
        }

        h2, #original {
            text-align: center;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        h3, #second {
            text-align: center;
            margin-bottom: 15px;
        }

        h2, #third {
            text-align: center;
            margin-bottom: 35px;
        }

        table, .hiddenTable {
            border: 0px;
            width: 100%;
            border-spacing: 0px;
            margin-bottom: 25px;
            font-size: 13px;
        }

        table, .firstTable {
            border: 1px solid black;
            width: 100%;
            border-spacing: 0px;
            margin-bottom: 50px;
            font-size: 13px;
        }

        table, #secondTable {
            border: 2px solid black;
            border-spacing: 0px;
            margin-bottom: 25px;
            font-size: 13px;
        }

        table, #thirdTable {
            border: 2px solid black;
            border-spacing: 0px;
            margin-bottom: 25px;
            font-size: 13px;
        }

        .td {
            width: 100%;
            font-size: 13px;
            padding: 5px 7px 5px 4px;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            /*text-align:center;*/
        }

        .td2 {
            font-size: 13px;
            padding: 4px 7px 2px 4px;
            border-left: 1px solid black;
            border-bottom: 0px solid black;
        }

        .td3 {
            font-size: 13px;
            padding: 4px 7px 2px 4px;
        }

        .td4 {
            font-size: 13px;
            padding: 4px 7px 2px 4px;
            border-bottom: 1px solid black;
        }

        .td5 {
            font-size: x-small;
            padding: 4px 7px 2px 4px;
            text-align: left;
        }

        .td6 {
            font-size: 13px;
            padding: 4px 7px 100px 4px;
            border-bottom: 1px solid black;
        }

        .td7 {
            font-size: x-small;
            padding: 4px 7px 2px 4px;
        }

        .td8 {
            font-size: 13px;
            padding: 4px 7px 2px 4px;
            border-left: 1px solid black;
        }
    </style>

</head>
<body>
        <table class="hiddenTable">
            <tr>
                @*<td width="25%"></td>*@
                <td class="td5">
                    <b>KUB Telekomunikasi Sdn. Bhd (230021-D)</b> <br />
                    Level 9 & 10, Unit 1, Capital 3, Oasis Square, Ara Damansara,
                    Jalan PJU 1A/7A, 47301 Petaling Jaya, Selangor Darul Ehsan. <br />
                    Tel: 03-76236400 (General/Pilot) Telefax: 03-76230116 <font color="red">www.kubtel.com</font>
                </td>
                @*<td>
                    <img src="@Context.Server.MapPath("~/Images/KUBtel.png")" width="150" height="50" />
                </td>*@
            </tr>
        </table>
    @RenderBody()
</body>

</html>