﻿<html>
<head>
    <title>PO Management</title>
</head>
<body>
    You got new notification from @Model.FromName
    <br /><br />
    New Message: @Model.Content
    <br /><br />
    <b>@Model.POFlow</b>
    <br /><br />
    From Customer: @Model.CustName
    <br />
    Contract Name: @Model.ContractName
    <br />
    Contract Description: @Model.Description
    <br />
    PO Number: @Model.PONo
    <br />
    PO Description: @Model.PODescription
    <br />
    <br />
    Please click <a href="@Model.BackLink">here</a> for more details.
    <br />
    Notes: Please <b>login to the OCM first</b> before click the link.
    <br /><br /><br />
    <b>Disclaimer</b>
    <br /><br />
    <p>
        This e-mail and any files transmitted with it is confidential and intended solely for the use of the individual or entity to whom it is addressed. If you are not the intended recipient, or the person responsible for delivering the e-mail, be advised that you have received this e-mail and any files transmitted with it in error and that any use, dissemination, forwarding, printing or copying of this e-mail and any files transmitted with it is strictly prohibited. If you have received this e-mail and any files transmitted with it in error, please advise the sender immediately by reply e-mail and delete this message.
    </p>
    <br />
</body>
</html>
