﻿@model Initiatives.Models.MainModel

<table class="table table-striped table-bordered table-hover wrapper" id="POItemsTable">
    <thead>
        <tr>
            @if (Model.POItemListObject != null)
            {
                <th class="hide"></th>
            }
            <th class="all">Material No.</th>
            <th class="all">Description</th>
            <th class="all">Delivery Date</th>
            <th class="desktop">Quantity</th>
            <th class="desktop">UoM</th>
            <th class="desktop">Unit Price</th>
            <th class="desktop">Total Price</th>
            @if (Model.POItemListObject == null || Model.POItemListObject.Count == 0)
            {
                <th class="desktop"></th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model.POItemListObject != null)
        {
            int i = 0;
            foreach (var item in Model.POItemListObject)
            {
                var ItemsId = "ItemsId" + i; var Description = "Description" + i; var Quantity = "Quantity" + i; var UoM = "UoM" + i; var UnitPrice = "UnitPrice" + i; var TotalPrice = "TotalPrice" + i;
                <tr>
                    <td class="hide"><input id="@ItemsId" class="form-control custom-filter desktop" type="text" name="ItemsId" value="@item.ItemsId" /></td>
                    <td>
                        <label class="select">
                            @Html.DropDownListFor(m => item.PartNo, new SelectList(ViewBag.MaterialNoList, "Value", "Text", item.PartNo), new { @id = "MaterialNo" + i, @class = "MaterialNo" })
                            @*@Html.DropDownList(item.MaterialNo, (IEnumerable<SelectListItem>)ViewBag.MaterialNoList, item.MaterialNo, new { @id = "MaterialNo1", @class = "MaterialNo" })*@
                        </label>
                        @*@Html.DisplayFor(modelItem => item.MaterialNo)*@
                    </td>
                    <td>
                        <input id="@Description" class="form-control custom-filter all" type="text" name="Description" value="@item.Description" readonly />
                        @*@Html.DisplayFor(modelItem => item.Description)*@
                    </td>
                    <td>
                        <label class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBox("DeliveryDate", item.DeliveryDate, new { @id = "DeliveryDate" + i, @class = "delivered datepicker", @type = "text" })
                        </label>
                        @Html.ValidationMessageFor(m => m.POItemsObject.DeliveryDate, null, new { @class = "note-error color-red" })
                        @*@Html.DisplayFor(modelItem => item.DeliveryDate)*@
                    </td>
                    <td>
                        <input id="@Quantity" class="form-control custom-filter desktop Quantity" type="text" value="@item.Quantity" name="Quantity" />
                        @*@Html.DisplayFor(modelItem => item.Quantity)*@
                    </td>
                    <td>
                        <input id="@UoM" class="form-control custom-filter desktop" type="text" value="@item.UoM" name="UoM" readonly />
                        @*@Html.DisplayFor(modelItem => item.UoM)*@
                    </td>
                    <td>
                        <input id="@UnitPrice" class="form-control custom-filter desktop UnitPrice" type="text" value="@item.UnitPrice" name="UnitPrice" @*readonly*@ />
                        @*@Html.DisplayFor(modelItem => item.UnitPrice)*@
                    </td>
                    <td>
                        <input id="@TotalPrice" class="form-control custom-filter desktop" type="text" value="@item.TotalPrice" name="TotalPrice" readonly />
                        @*@Html.DisplayFor(modelItem => item.TotalPrice)*@
                    </td>
                </tr>
                i++;
            }
        }
        else
        {
            <tr>
                @*<td class="hide"><input id="ItemsId1" class="form-control custom-filter desktop" type="text" name="ItemsId" /></td>*@
                <td>
                    <label class="select">
                        @Html.DropDownListFor(m => m.PartNoObject.partNo, (IEnumerable<SelectListItem>)ViewBag.MaterialNoList, "", new { @id = "MaterialNo1", @class = "MaterialNo" })
                    </label>
                </td>
                <td><input id="Description1" class="form-control custom-filter all" type="text" name="Description" readonly /></td>
                <td>
                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        @Html.TextBox("DeliveryDate", "", new { @id = "DeliveryDate1", @class = "delivered datepicker", @type = "text" })
                    </label>
                    @Html.ValidationMessageFor(m => m.POItemsObject.DeliveryDate, null, new { @class = "note-error color-red" })
                </td>
                <td><input id="Quantity1" class="form-control custom-filter desktop Quantity" type="text" name="Quantity" /></td>
                <td><input id="UoM1" class="form-control custom-filter desktop" type="text" name="UoM" readonly /></td>
                <td><input id="UnitPrice1" class="form-control custom-filter desktop UnitPrice" type="text" name="UnitPrice" @*readonly*@ /></td>
                <td><input id="TotalPrice1" class="form-control custom-filter desktop" type="text" name="TotalPrice" readonly /></td>
                <td><button type="button" class="RemovePOItem btn-u btn-u-primary">Delete</button></td>
            </tr>
        }
    </tbody>
</table>