﻿@model Initiatives.Models.MainModel

<table class="table table-striped table-bordered table-hover wrapper" id="POTable">
    <thead>
        <tr>
            <th><input name="select_all" value="1" type="checkbox"></th>
            @*<th class="hidden"></th>*@
            <th class="all">PO No.</th>
            <th class="all">PO Issue Date</th>
            <th class="all">Total Amount</th>
            <th class="desktop">PO Status</th>
            <th class="desktop">Last Activity</th>
            <th class="desktop">Last Activity Date</th>
        </tr>
    </thead>
    @if (Model.POListObject != null)
    {
        foreach (var item in Model.POListObject)
        {
            <tr class="POList">
                <td class="all checkbox-padding POId">@Html.DisplayFor(modelItem => item.POId)</td>
                @*<td class="hide never">@Html.DisplayFor(modelItem => item.POId)</td>*@
                <td class="all">@Html.DisplayFor(modelItem => item.PONo)</td>
                <td class="all">@Html.DisplayFor(modelItem => item.POIssueDate)</td>
                <td class="desktop">@Html.DisplayFor(modelItem => item.TotalAmount)</td>
                <td class="desktop">@Html.DisplayFor(modelItem => item.Status)</td>               
                <td class="desktop">@Html.DisplayFor(modelItem => item.LastActivity)</td>
                <td class="desktop">@Html.DisplayFor(modelItem => item.LastActivityDate)</td>
            </tr>
        }
    }
    <tfoot>
        <tr>
            <th></th>
            @*<th class="hidden"></th>*@
            <th class="all">PO No.</th>
            <th class="all">PO Issue Date</th>
            <th class="all">Total Amount</th>
            <th class="desktop">PO Status</th>
            <th class="desktop">Last Activity</th>
            <th class="desktop">Last Activity Date</th>
        </tr>
    </tfoot>
</table>