﻿@model Initiatives.Models.MainModel
@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <div class="hide">
        <a data-ajax="true"
           data-ajax-method="Get"
           data-ajax-mode="replace"
           data-ajax-update="#result"
           class="btn-FloatRight"
           href="~/POList/POTabs" id="actionPO"></a>
        <a data-ajax="true"
           data-ajax-method="Get"
           data-ajax-mode="replace"
           data-ajax-update="#result"
           class="btn-FloatRight"
           href="~/POList/NewPO" id="aCreatePO"></a>
    </div>
    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <li class="active navbar-height"><a href="#POList-1" data-toggle="tab"><h4>Purchase Order List</h4></a></li>
            @*<li class="navbar-height"><a href="#bo-1" data-toggle="tab"><h4>Book Order</h4></a></li>*@
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="POList-1">
                @*<div id="result">*@
                <div class="margin-bottom-25 margin-top-20">
                    @if (Model.RoleId == "R04" || Model.RoleId == "R02")
                    {
                        <button id="bAddPO" type="button" class="btn-u btn-u-primary">Add New Purchase Order</button>
                    }
                </div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover wrapper hidden" id="PurchaseOrder">
                        <thead>
                            <tr>
                                <th class="never"></th>
                                <th class="never"></th>
                                <th class="all"></th>
                                <th class="all">PO No.</th>
                                <th class="all">PO Issue Date</th>
                                <th class="desktop">Total Amount</th>
                                <th class="desktop">Status</th>
                                <th class="desktop">Created By</th>
                                <th class="desktop">Last Activity</th>
                                <th class="desktop">Last Activity Date</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.POListObject)
                        {
                            <tr>
                                <td class=" hide never">@Html.DisplayFor(modelItem => item.POId)</td>
                                <td class=" hide never">@Html.DisplayFor(modelItem => item.ContId)</td>
                                <td class="all"></td>
                                <td class="all">@Html.DisplayFor(modelItem => item.PONo)</td>
                                <td class="all">@Html.DisplayFor(modelItem => item.POIssueDate)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.TotalAmount)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.Status)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.LastActivity)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.LastActivityDate)</td>
                            </tr>
                        }
                        <tfoot>
                            <tr>
                                <th class="never"></th>
                                <th class="never"></th>
                                <th class="all"></th>
                                <th class="all">PO No.</th>
                                <th class="all">PO Issue Date</th>
                                <th class="desktop">Total Amount</th>
                                <th class="desktop">Status</th>
                                <th class="desktop">Created By</th>
                                <th class="desktop">Last Activity</th>
                                <th class="desktop">Last Activity Date</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                @*</div>*@
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        var url = "@Url.Content("~/Images/greenalert.png")";
        $(document).ready(function () {
            $('#PurchaseOrder tfoot th').each(function () {
                //debugger;
                if ($(this)[0].textContent != "" && $(this)[0].textContent != "#") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form-control custom-filter" placeholder="Search" />');
                }
            });

            //var url = "";
            var POTable = $('#PurchaseOrder').DataTable({
                dom: '<"btn-FloatLeft"l><"btn-FloatRight"B>tip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                processing: false,
                paging: true,
                deferRender: true,
                bAutoWidth: false,
                aoColumnDefs: [{
                    aTargets: [2],
                    mRender: function (data, type, full) {
                        //debugger;
                        if (full.Status == "Red Alert") {
                            url = "@Url.Content("~/Images/redalert.png")";
                            return '<a class="infoButton" title="One of the process have been delayed! Click here for more info" href="#"><img src="' + url + '" /></a>';
                        } else if (full.Status == "Yellow Alert") {
                            url = "@Url.Content("~/Images/yellowalert.png")";
                            return '<a class="infoButton" title="Some process are close to due date! Click here for more info" href="#"><img src="' + url + '" /></a>';
                        } else {
                            url = "@Url.Content("~/Images/greenalert.png")";
                            return '<a class="infoButton" title="All process are on track. Click here for more info" href="#"><img src="' + url + '" /></a>';
                        }
                    
                    }
                }, {
                    sType: 'date-uk', aTargets: [4]
                }, 
                        {
                            sType: 'date-uk', aTargets: [9]
                        }],
                aaSorting: [9, "desc"],
                initComplete: function () {
                    var r = $('#PurchaseOrder tfoot tr');
                    r.find('th').each(function () {
                        //debugger;
                        $(this).css('padding', 8);
                    });
                    $('#PurchaseOrder thead').append(r);
                    $('#search_0').css('text-align', 'center');
                    $("#PurchaseOrder").removeClass("hidden");
                },
                responsive: {
                    breakpoints: [
                        { name: 'desktop', width: 1024 },
                        { name: 'tablet', width: 768 },
                        { name: 'phone', width: 480 }
                    ]
                }
            });

            POTable.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });

            $('#PurchaseOrder tbody').on('mouseover', 'tr td:nth-child(1)', function () {
                $(this).css('cursor', 'pointer');
            });

            $("#PurchaseOrder tbody").on("click", ".infoButton", function (e) {
                e.preventDefault();
                //debugger;
                if ($(this)[0].pathname == "@Url.Action("AllPOList", "POList")") {
                    //debugger;
                    var data = POTable.row($(this).parents('tr')).data();
                    if (data[0] != null) {
                        var POId = data[0];
                        var ContId = data[1];
                        $.ajax({
                            method: 'POST',
                            cache: false,
                            url: $("#actionPO").attr('href'),
                            data: { 'POId': POId, 'cId': ContId },
                            dataType: "json",
                            success: function (response) {
                                if (response.success) {
                                    //debugger;
                                    window.location = response.url;
                                };
                            }
                        });
                    } else { alert("Please contact administrator for supports")}
                }
            })

            $('#bAddPO').one('click', function (e) {
                e.preventDefault();
                //debugger;
                $.ajax({
                    method: 'POST',
                    cache: false,
                    url: $("#aCreatePO").attr('href'),
                    dataType: "json",
                    success: function (response) {
                        if (response.success) {
                            //debugger;
                            window.location = response.url;
                        };
                    }
                });
                $(this).prop('disabled', true);
            });
        });        
    </script>
}