﻿@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }
@model Initiatives.Models.MainModel

<div id="newPO" class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("ViewContract", "ContList" )' + '#po-1'">
        <i class="fa fa-tags"></i> Back
    </button>
    <div id="CreateNewPO-1">
        <div class="clearfix margin-bottom-10"></div>
        @using (Html.BeginForm("CreatePO", "POList", FormMethod.Post, new { @id = "CreateNewPO", @class = "sky-form" }))
        {
            <div class="panel panel-u margin-bottom-20">
                <div class="panel-heading margin-bottom-10">
                    <h3 class="panel-title"><i class="fa fa-user"></i> Create New Purchase Order</h3>
                </div>
                <div class="panel-body">
                    @Html.HiddenFor(m => m.OppContId)
                    @Html.HiddenFor(m => m.SaveSuccess)
                    <div id="POSS" class="hidden">@Model.SaveSuccess</div>
                    <div class="shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                            <div class="row">
                                <div class="container">
                                    <h4><b>General Information</b></h4>
                                </div>
                                <div class="clearfix margin-bottom-10"></div>
                                <div class="col-md-6">
                                    <section>
                                        @Html.LabelFor(m => m.POListDetail.Details_PONo, "Purchase Order Number", new { @class = "col-lg-3 control-label" })
                                        @Html.TextBoxFor(m => m.POListDetail.Details_PONo, new { @id = "PONo", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.POListDetail.Details_PONo, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="POIssueDate" class="col-lg-3 control-label">PO Issue Date</label>
                                        <label class="col-lg-offset-5 input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            @Html.TextBoxFor(m => m.POListDetail.Details_POIssueDate, "{0:dd/MM/yyyy}", new { @id = "POIssueDate", @class = "datepicker", @type = "text" })
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.POListDetail.Details_POIssueDate, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="Description" class="col-lg-3 control-label">Description</label>
                                        <label class="col-lg-offset-5 textarea textarea-resizable">
                                            @Html.TextAreaFor(m => m.POListDetail.Details_projectDescription, 3, 1, new { @id = "Description" })
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.POListDetail.Details_projectDescription, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="Details_totalPrice" class="col-lg-3 control-label">Total Price (RM)</label>
                                        @Html.TextBoxFor(m => m.POListDetail.Details_totalPrice, new { @id = "Details_totalPrice", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.POListDetail.Details_totalPrice, null, new { @class = "note-error color-red" })
                                    </section>
                                </div>
                                <div class="col-md-6">
                                    <section>
                                        <label for="Details_totalGST" class="col-lg-3 control-label">Total GST (RM)</label>
                                        @Html.TextBoxFor(m => m.POListDetail.Details_totalGST, new { @id = "Details_totalGST", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.POListDetail.Details_totalGST, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label class="col-lg-3 control-label">File Description</label>
                                        <label class="col-lg-offset-5 textarea textarea-resizable">
                                            @Html.TextAreaFor(m => m.FileDescription, 3, 1, new { @id = "POD_FileDescription" })
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.FileDescription, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label class="col-lg-3 control-label">File Input</label>
                                        <label class="col-lg-7 input input-file" for="file">
                                            <div class="button">@Html.TextBoxFor(m => m.file, null, new { @name = "file", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="CPO_Files" type="text" readonly>
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.file, null, new { @class = "note-error color-red" })
                                    </section>
                                </div>
                                @*<div class="clearfix margin-bottom-20"></div>*@
                            </div>
                        </div>
                    </div>
                    <div class="shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                            <div class="row container-fluid">
                                <div class="container">
                                    <h4><b>PO Items</b></h4>
                                    <div class="btn-FloatRight">
                                        <button type="submit" class="AddPOItem btn-SaveChanges btn-u btn-u-primary">Add PO Item</button>
                                    </div>
                                </div>
                                <div class="clearfix margin-bottom-10"></div>
                                <div class="dataTable_wrapper">
                                    @{Html.RenderPartial("POItemsTable", Model);}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row btn-FloatRight">
                        <button id="CreatePO" type="submit" class="btn-u btn-u-primary btn-FloatRight">Submit</button>
                        <label class="checkbox btn-FloatRight">
                            <input id="SendEmail" name="POListDetail.SendEmail" checked="" type="checkbox">
                            @*@Html.CheckBoxFor(m => m.DODetailObject.SendEmail, new { @checked = "checked" })*@<i></i>Send Email
                        </label>
                    </div>
                </div>
            </div>

            <div class="modal fade bs-example-modal-sm" id="CreatePOLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var UrlCreatePO = "@Url.Action("CreatePO", "POList")";
        var UrlViewContract = "@Url.Action("ViewContract", "ContList")";
        var UrlMaterialNoList = "@Url.Action("GetMaterialNoList", "POList")";
        var UrlGetMaterialNoInfo = "@Url.Action("GetMaterialNoInfo", "POList")";
    </script>
    @Scripts.Render("~/bundles/JSPages");
}






