﻿@model Initiatives.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Html.BeginForm("DeliveryInfo", "ContList", FormMethod.Post, new { @id = "DeliveryInfo", @class = "sky-form", @enctype = "multipart/form-data" }))
{
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>DO/UAT/COA/ATL/FCOA Info</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover wrapper" id="DeliveryListTable">
                        <thead>
                            <tr>
                                <th class="all">DO No.</th>
                                <th class="all">Material No.</th>
                                <th class="all">Description</th>
                                <th class="desktop">UOM</th>
                                <th class="desktop">Unit Price</th>
                                <th class="desktop">Total Price</th>
                                <th class="desktop">Delivery Date</th>
                                <th class="desktop">Delivered Date</th>
                                <th class="desktop">Delivery Quantity</th> 
                                <th class="desktop">Outstanding Quantity</th>                                                             
                            </tr>
                        </thead>
                        @foreach (var item in Model.POItemListObject)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DONo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaterialNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UoM)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeliveryDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeliveryQuantity)                                  
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeliveredQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OutstandingQuantity)
                                </td>                               
                            </tr>
                            }
                    </table>
                </div>
            </div>
        </div>
    </div>
}
@*<div class="col-md-6">
                @Html.HiddenFor(m => m.CreateByUserId)
                @Html.HiddenFor(m => m.OppContId)
                @Html.HiddenFor(m => m.POId)
                @Html.HiddenFor(m => m.RoleId)
                @Html.HiddenFor(m => m.SaveSuccess)
                <div id="POIds" class="hidden">@Model.POId</div>
                <div id="PORoleId" class="hidden">@Model.RoleId</div>
                <div id="POSS" class="hidden">@Model.SaveSuccess</div>
                <section>
                    <label for="DOInfo_DocReceivedDate" class="col-lg-3 control-label">Doc Received Date</label>
                    <label class="col-lg-offset-5 input">
                        <i class="icon-append fa fa-calendar"></i>
                        @Html.TextBoxFor(m => m.DeliveryInfoDetail.DOInfo_DocReceivedDate, "{0:dd/MM/yyyy}", new { @id = "DOInfo_DocReceivedDate", @class = "datepicker", @type = "text" })
                    </label>
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.DeliveryInfoDetail.DOInfo_DocReceivedDate, null, new { @class = "note-error color-red" })
                </section>
                <section>
                    <label for="DOInfo_ApprovedDate" class="col-lg-3 control-label">DO Approved Date</label>
                    <label class="col-lg-offset-5 input">
                        <i class="icon-append fa fa-calendar"></i>
                        @Html.TextBoxFor(m => m.DeliveryInfoDetail.DOInfo_ApprovedDate, "{0:dd/MM/yyyy}", new { @id = "DOInfo_ApprovedDate", @class = "datepicker", @type = "text" })
                    </label>
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.DeliveryInfoDetail.DOInfo_ApprovedDate, null, new { @class = "note-error color-red" })
                </section>
                <section>
                    <label for="DOInfo_DONo" class="col-lg-3 control-label">Delivery Order No.</label>
                    @Html.TextBoxFor(m => m.DeliveryInfoDetail.DOInfo_DONo, new { @id = "DOInfo_DONo", @class = "form-control", @type = "text" })
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.DeliveryInfoDetail.DOInfo_DONo, null, new { @class = "note-error color-red" })
                </section>
            </div>
            <div class="col-md-6">
                <section>
                    <label class="col-lg-3 control-label">Remark</label>
                    <label class="col-lg-offset-5 textarea textarea-resizable">
                        @Html.TextAreaFor(m => m.DeliveryInfoDetail.DOInfo_Remark, 4, 1, new { @id = "DOInfo_Remark" })
                    </label>
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.DeliveryInfoDetail.DOInfo_Remark, null, new { @class = "note-error color-red" })
                </section>
                <section>
                    <label for="DOInfo_CompleteDate" class="col-lg-3 control-label">Completion Date</label>
                    @Html.TextBoxFor(m => m.DeliveryInfoDetail.DOInfo_CompleteDate, new { @id = "DOInfo_CompleteDate", @class = "form-control", @type = "text", @readonly = true })
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.DeliveryInfoDetail.DOInfo_CompleteDate, null, new { @class = "note-error color-red" })
                </section>
            </div>
            <div class="clearfix margin-bottom-20"></div>
        </div>
    </div>
    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
        <div class="row">
            <div class="container">
                <h4><b>Evaluator &amp; Supplier Info</b></h4>
            </div>
            <div class="clearfix margin-bottom-10"></div>
            <div class="col-md-6">
                <section>
                    <label for="DOInfo_EI_Name" class="col-lg-3 control-label">Evaluator Name</label>
                    @Html.TextBoxFor(m => m.DeliveryInfoDetail.DOInfo_EI_Name, new { @id = "DOInfo_EI_Name", @class = "form-control", @type = "text" })
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.DeliveryInfoDetail.DOInfo_EI_Name, null, new { @class = "note-error color-red" })
                </section>
                <section>
                    <label for="DOInfo_EI_Position" class="col-lg-3 control-label">Evaluator Position</label>
                    @Html.TextBoxFor(m => m.DeliveryInfoDetail.DOInfo_EI_Position, new { @id = "DOInfo_EI_Position", @class = "form-control", @type = "text" })
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.DeliveryInfoDetail.DOInfo_EI_Position, null, new { @class = "note-error color-red" })
                </section>
                <section>
                    <label for="DOInfo_SI_Name" class="col-lg-3 control-label">Supplier Name</label>
                    @Html.TextBoxFor(m => m.DeliveryInfoDetail.DOInfo_SI_Name, new { @id = "DOInfo_SI_Name", @class = "form-control", @type = "text" })
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.DeliveryInfoDetail.DOInfo_SI_Name, null, new { @class = "note-error color-red" })
                </section>
            </div>
            <div class="col-md-6">
                <section>
                    <label for="DOInfo_SI_Position" class="col-lg-3 control-label">Supplier Position</label>
                    @Html.TextBoxFor(m => m.DeliveryInfoDetail.DOInfo_SI_Position, new { @id = "DOInfo_SI_Position", @class = "form-control", @type = "text" })
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.DeliveryInfoDetail.DOInfo_SI_Position, null, new { @class = "note-error color-red" })
                </section>
                <section>
                    <label for="DOInfo_FileDescription" class="col-lg-3 control-label">File Description</label>
                    @Html.TextBoxFor(m => m.FileDescription, new { @id = "DOInfo_FileDescription", @class = "form-control", @type = "text" })
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.FileDescription, null, new { @class = "note-error color-red" })
                </section>
                <section>
                    <label class="col-lg-3 control-label">File Input</label>
                    <label class="col-lg-7 input input-file" for="file">
                        <div class="button">@Html.TextBoxFor(m => m.file, null, new { @name = "file", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="DOInfo_Files" type="text" readonly>
                        @*<input type="file" name="Files" onchange="this.parentNode.nextSibling.value = this.value">Browse</div>
                    </label>
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.file, null, new { @class = "note-error color-red" })
                </section>
            </div>
                <div class="clearfix margin-bottom-20"></div>
                @if (Model.RoleId == "R02" || Model.RoleId == "R06" || Model.RoleId == "R08" || Model.RoleId == "R09")
                {
                    <div class="row btn-FloatRight">
                        <button id="VerifyDeliveryInfo" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                    </div>
                }*@

        <!-- Bootstrap Modals With Forms -->
@*<div class="modal fade" id="DOModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4">Are you sure the details  below are correct? If yes please attached the required document and click Save Changes below.</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                <label for="VDOInfo_DocReceivedDate" class="col-lg-3 control-label">Doc Received Date</label>
                                <input class="form-control" id="VDOInfo_DocReceivedDate" type="text" readonly />
                            </section>
                            <section>
                                <label for="VDOInfo_ApprovedDate" class="col-lg-3 control-label">Approved Date</label>
                                <input class="form-control" id="VDOInfo_ApprovedDate" type="text" readonly />
                            </section>
                            <section>
                                <label for="VDOInfo_DONo" class="col-lg-3 control-label">Delivery Order No.</label>
                                <input class="form-control" type="text" id="VDOInfo_DONo" readonly />
                            </section>
                            <section>
                                <label class="col-lg-3 control-label">Remark</label>
                                <label class="col-lg-offset-5 textarea textarea-resizable">
                                    <textarea cols="1" name="VDOInfo_Remark" rows="4" id="VDOInfo_Remark" readonly disabled></textarea>
                                </label>
                            </section>
                        </div>
                        <div class="col-md-6">
                            <section>
                                <label for="VDOInfo_EI_Name" class="col-lg-3 control-label">Evaluator Name</label>
                                <input class="form-control" type="text" id="VDOInfo_EI_Name" readonly />
                            </section>
                            <section>
                                <label for="VDOInfo_EI_Position" class="col-lg-3 control-label">Evaluator Position</label>
                                <input class="form-control" type="text" id="VDOInfo_EI_Position" readonly />
                            </section>
                            <section>
                                <label for="VDOInfo_SI_Name" class="col-lg-3 control-label">Supplier Name</label>
                                <input class="form-control" type="text" id="VDOInfo_SI_Name" readonly />
                            </section>
                            <section>
                                <label for="VDOInfo_SI_Position" class="col-lg-3 control-label">Supplier Position</label>
                                <input class="form-control" type="text" id="VDOInfo_SI_Position" readonly />
                            </section>
                            <section>
                                <label for="VDOInfo_FileDescription" class="col-lg-3 control-label">File Description</label>
                                <input class="form-control" id="VDOInfo_FileDescription" type="text" readonly />
                            </section>
                            <section>
                                <label class="col-lg-3 control-label">File Input</label>
                                <input class="form-control" id="VDOInfo_Files" type="text" readonly />
                            </section>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                    <button id="SubmitDeliveryInfo" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bootstrap Modals With Forms -->
    <div class="modal fade bs-example-modal-sm" id="DOLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
        </div>
    </div>*@