﻿@model Initiatives.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Html.BeginForm("FinancePhase", "POList", FormMethod.Post, new { @id = "FinancePhase", @class = "sky-form", @enctype = "multipart/form-data" }))
{
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>Finance Phase Information</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="col-md-6">
                    @Html.HiddenFor(m => m.CreateByUserId)
                    @Html.HiddenFor(m => m.OppContId)
                    @Html.HiddenFor(m => m.POId)
                    @Html.HiddenFor(m => m.RoleId)
                    @Html.HiddenFor(m => m.SaveSuccess)
                    <div id="POIds" class="hidden">@Model.POId</div>@*use for jquery upload calling*@
                    <div id="PORoleId" class="hidden">@Model.RoleId</div>
                    <div id="POSS" class="hidden">@Model.SaveSuccess</div>
                    <section>
                        <label for="FP_DocReceivedDate" class="col-lg-3 control-label">Doc Received Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.FPDetail.FP_DocReceivedDate, "{0:dd/MM/yyyy}", new { @id = "FP_DocReceivedDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.FPDetail.FP_DocReceivedDate, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="FP_TypeOfDoc" class="col-lg-3 control-label">Type Of Doc</label>
                        @Html.TextBoxFor(m => m.FPDetail.FP_TypeOfDoc, new { @id = "FP_TypeOfDoc", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.FPDetail.FP_TypeOfDoc, null, new { @class = "note-error color-red" })
                    </section>
                    @*<section>
                        <label for="IOIssueDate" class="col-lg-3 control-label">I/O Issue Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.PRInfoDetail.PRInfo_IOIssueDate, "{0:dd/MM/yyyy}", new { @id = "IOIssueDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRInfoDetail.PRInfo_IOIssueDate, null, new { @class = "note-error color-red" })
                    </section>*@
                    @*<section>
                        <label for="PRFIssueDate" class="col-lg-3 control-label">PFR Issue Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.PRInfoDetail.PRInfo_PRFIssueDate, "{0:dd/MM/yyyy}", new { @id = "PRFIssueDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRInfoDetail.PRInfo_PRFIssueDate, null, new { @class = "note-error color-red" })
                    </section>*@
                    <section>
                        <label class="col-lg-3 control-label">Remark</label>
                        <label class="col-lg-offset-5 textarea textarea-resizable">
                            @Html.TextAreaFor(m => m.FPDetail.FP_Remark, 3, 1, new { @id = "FP_Remark" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.FPDetail.FP_Remark, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                <div class="col-md-6">       
                    <section>
                        <label for="FP_CompleteDate" class="col-lg-3 control-label">Completion Date</label>
                        @Html.TextBoxFor(m => m.FPDetail.FP_CompleteDate, new { @id = "FP_CompleteDate", @class = "form-control", @type = "text", @readonly = true })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.FPDetail.FP_CompleteDate, null, new { @class = "note-error color-red" })
                    </section>            
                    <section>
                        <label for="FPInfo_FileDescription" class="col-lg-3 control-label">File Description</label>
                        @Html.TextBoxFor(m => m.FileDescription, new { @id = "FPInfo_FileDescription", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.FileDescription, null, new { @class = "note-error color-red" })
                    </section>                    
                    <section>
                        <label class="col-lg-3 control-label">File Input</label>
                        <label class="col-lg-7 input input-file" for="file">
                            <div class="button">@Html.TextBoxFor(m => m.file, null, new { @name = "file", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="FPInfo_Files" type="text" readonly>
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.file, null, new { @class = "note-error color-red" })
                    </section>
                </div>
            </div>
            @if (Model.RoleId == "R02" || Model.RoleId == "R05")
            {
                <div class="row btn-FloatRight">
                    <button id="VerifyFPInfo" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            }
        </div>
    </div>
    <!-- Bootstrap Modals With Forms -->
    <div class="modal fade" id="FPInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4">Are you sure the details  below are correct? If yes please attached the required document and click Save Changes below.</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                <label for="VFP_DocReceivedDate" class="col-lg-3 control-label">Doc Received Date</label>
                                <input class="form-control" id="VFP_DocReceivedDate" type="text" readonly />
                            </section>
                            <section>
                                <label for="VFP_TypeOfDoc" class="col-lg-3 control-label">Type Of Doc</label>
                                <input class="form-control" id="VFP_TypeOfDoc" type="text" readonly />
                            </section>
                            @*<section>
                                <label for="PRInfo_IOIssueDate" class="col-lg-3 control-label">I/O Issue Date</label>
                                <input class="form-control" type="text" id="VIOIssueDate" readonly />
                            </section>
                            <section>
                                <label for="PRInfo_PRFIssueDate" class="col-lg-3 control-label">PFR Issue Date</label>
                                <input class="form-control" type="text" id="VPRFIssueDate" readonly />
                            </section>*@
                            <section>
                                <label class="col-lg-3 control-label">Remark</label>
                                <label class="col-lg-offset-5 textarea textarea-resizable">
                                    <textarea cols="1" name="VFP_Remark" rows="3" id="VFP_Remark" readonly disabled></textarea>
                                </label>
                            </section>
                        </div>
                        <div class="col-md-6">                                                  
                            @*<section>
                                <label for="PRInfo_VendorName" class="col-lg-3 control-label">Vendor Name</label>
                                <input class="form-control" id="VVendorName" type="text" readonly />
                            </section>*@
                            <section>
                                <label for="VFPInfo_FileDescription" class="col-lg-3 control-label">File Description</label>
                                <input class="form-control" id="VFPInfo_FileDescription" type="text" readonly />
                            </section>
                            <section>
                                <label class="col-lg-3 control-label">File Input</label>
                                <input class="form-control" id="VFPInfo_Files" type="text" readonly />
                            </section>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                    <button id="SubmitFPInfo" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
	<!-- End Bootstrap Modals With Forms -->
    <div class="modal fade bs-example-modal-sm" id="FPLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
        </div>
    </div>
}