﻿@model KubtelHelpdesk.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Html.BeginForm("InvFromVendor", "ContList", FormMethod.Post, new { @id = "InvFromVendor", @class = "sky-form", @enctype = "multipart/form-data" }))
{
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>Invoices From Suppliers</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="col-md-6">
                    @Html.HiddenFor(m => m.InvFromVendorDetail.ModifyById)
                    @Html.HiddenFor(m => m.OppContId)
                    @Html.HiddenFor(m => m.POId)
                    @Html.HiddenFor(m => m.RoleId)
                    @Html.HiddenFor(m => m.SaveSuccess)
                    <div id="POIds" class="hidden">@Model.POId</div>@*use for jquery upload calling*@
                    <div id="PORoleId" class="hidden">@Model.RoleId</div>
                    <div id="POSS" class="hidden">@Model.SaveSuccess</div>
                    <section>
                        <label for="FromVendor_ReceivedDate" class="col-lg-3 control-label">Received Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.InvFromVendorDetail.FromVendor_ReceivedDate, "{0:dd/MM/yyyy}", new { @id = "FromVendor_ReceivedDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.InvFromVendorDetail.FromVendor_ReceivedDate, null, new { @class = "note-error color-red" })
                    </section>                   
                    <section>
                        <label for="FromVendor_InvoiceNo" class="col-lg-3 control-label">Invoice No.</label>
                        @Html.TextBoxFor(m => m.InvFromVendorDetail.FromVendor_InvoiceNo, new { @id = "FromVendor_InvoiceNo", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.InvFromVendorDetail.FromVendor_InvoiceNo, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="FromVendor_InvoiceDate" class="col-lg-3 control-label">Invoice Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.InvFromVendorDetail.FromVendor_InvoiceDate, "{0:dd/MM/yyyy}", new { @id = "FromVendor_InvoiceDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.InvFromVendorDetail.FromVendor_InvoiceDate, null, new { @class = "note-error color-red" })
                    </section>                                                   
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="FromVendor_Amount" class="col-lg-3 control-label">Invoice Amount (RM)</label>
                        @Html.TextBoxFor(m => m.InvFromVendorDetail.FromVendor_Amount, String.Format("{0:N2}", Model.InvFromVendorDetail.FromVendor_Amount), new { @id = "FromVendor_Amount", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.InvFromVendorDetail.FromVendor_Amount, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label class="col-lg-3 control-label">Remark</label>
                        <label class="col-lg-offset-5 textarea textarea-resizable">
                            @Html.TextAreaFor(m => m.InvFromVendorDetail.FromVendor_Remark, 4, 1, new { @id = "FromVendor_Remark" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.FileDescription, null, new { @class = "note-error color-red" })
                    </section>                
                </div>
                <div class="clearfix margin-bottom-20"></div>
            </div>
        </div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>Payment Particulars</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="col-md-6">
                    <section>
                        <label for="FromVendor_PaymentDate" class="col-lg-3 control-label">Payment Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.InvFromVendorDetail.FromVendor_PaymentDate, "{0:dd/MM/yyyy}", new { @id = "FromVendor_PaymentDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.InvFromVendorDetail.FromVendor_PaymentDate, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="FromVendor_ChequeNo" class="col-lg-3 control-label">Cheque No.</label>
                        @Html.TextBoxFor(m => m.InvFromVendorDetail.FromVendor_ChequeNo, new { @id = "FromVendor_ChequeNo", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.InvFromVendorDetail.FromVendor_ChequeNo, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="FromVendor_ChequeDate" class="col-lg-3 control-label">Cheque Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.InvFromVendorDetail.FromVendor_ChequeDate, "{0:dd/MM/yyyy}", new { @id = "FromVendor_ChequeDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.InvFromVendorDetail.FromVendor_ChequeDate, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="FromVendor_FileDescription" class="col-lg-3 control-label">File Description</label>
                        @Html.TextBoxFor(m => m.FileDescription, new { @id = "FromVendor_FileDescription", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.FileDescription, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label class="col-lg-3 control-label">File Input</label>
                        <label class="col-lg-7 input input-file" for="file">
                            <div class="button">@Html.TextBoxFor(m => m.file, null, new { @name = "file", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="FromVendor_Files" type="text" readonly>
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.file, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                <div class="clearfix margin-bottom-20"></div>
            </div>
            @if (Model.RoleId == "R02" || Model.RoleId == "R05")
            {
                <div class="row btn-FloatRight">
                    <button id="VerifyInvFromVendor" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            }
        </div>
    </div>
    <div class="modal fade" id="InvFromVendorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4">Are you sure the details  below are correct? If yes please attached the required document and click Save Changes below.</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                <label for="VFromVendor_ReceivedDate" class="col-lg-3 control-label">Received Date</label>
                                <input class="form-control" id="VFromVendor_ReceivedDate" type="text" readonly />
                            </section>
                            <section>
                                <label for="VFromVendor_InvoiceNo" class="col-lg-3 control-label">Invoice No.</label>
                                <input class="form-control" type="text" id="VFromVendor_InvoiceNo" readonly />
                            </section>
                            <section>
                                <label for="VFromVendor_InvoiceDate" class="col-lg-3 control-label">Invoice Date</label>
                                <input class="form-control" type="text" id="VFromVendor_InvoiceDate" readonly />
                            </section>
                            <section>
                                <label for="VFromVendor_Amount" class="col-lg-3 control-label">Invoice Amount (RM)</label>
                                <input class="form-control" type="text" id="VFromVendor_Amount" readonly />
                            </section>     
                            <section>
                                <label for="VFromVendor_PaymentDate" class="col-lg-3 control-label">Payment Date</label>
                                <input class="form-control" type="text" id="VFromVendor_PaymentDate" readonly />
                            </section>  
                            <section>
                                <label for="VFromVendor_ChequeNo" class="col-lg-3 control-label">Cheque No.</label>
                                <input class="form-control" type="text" id="VFromVendor_ChequeNo" readonly />
                            </section>                      
                        </div>
                        <div class="col-md-6">
                            @*<section>
        <label for="VFromVendor_ExpectedDate" class="col-lg-3 control-label">Expected Date</label>
        <input class="form-control" id="VFromVendor_ExpectedDate" type="text" readonly />
    </section>*@
                            <section>
                                <label for="VFromVendor_ChequeDate" class="col-lg-3 control-label">Cheque Date</label>
                                <input class="form-control" type="text" id="VFromVendor_ChequeDate" readonly />
                            </section>
                            <section>
                                <label class="col-lg-3 control-label">Remark</label>
                                <label class="col-lg-offset-5 textarea textarea-resizable">
                                    <textarea cols="1" name="VFromVendor_Remark" rows="4" id="VFromVendor_Remark" readonly disabled></textarea>
                                </label>
                            </section>
                            <section>
                                <label for="VFromVendor_FileDescription" class="col-lg-3 control-label">File Description</label>
                                <input class="form-control" id="VFromVendor_FileDescription" type="text" readonly />
                            </section>                      
                            <section>
                                <label class="col-lg-3 control-label">File Input</label>
                                <input class="form-control" id="VFromVendor_Files" type="text" readonly />
                            </section>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                    <button id="SubmitInvFromVendor" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
	<!-- End Bootstrap Modals With Forms -->
    <div class="modal fade bs-example-modal-sm" id="InvFromVendorLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
        </div>
    </div>
}