﻿@model KubtelHelpdesk.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Html.BeginForm("InvToCustomer", "ContList", FormMethod.Post, new { @id = "InvToCustomer", @class = "sky-form", @enctype = "multipart/form-data" }))
{
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>Invoices To Customer</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="col-md-6">
                    @Html.HiddenFor(m => m.InvToCustDetail.ModifyById)
                    @Html.HiddenFor(m => m.OppContId)
                    @Html.HiddenFor(m => m.POId)
                    @Html.HiddenFor(m => m.RoleId)
                    @Html.HiddenFor(m => m.SaveSuccess)
                    <div id="POIds" class="hidden">@Model.POId</div>@*use for jquery upload calling*@
                    <div id="PORoleId" class="hidden">@Model.RoleId</div>
                    <div id="POSS" class="hidden">@Model.SaveSuccess</div>
                    <section>
                        <label for="ToCust_PreparedDate" class="col-lg-3 control-label">Prepared Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.InvToCustDetail.ToCust_PreparedDate , "{0:dd/MM/yyyy}", new { @id = "ToCust_PreparedDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.InvToCustDetail.ToCust_PreparedDate, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="ToCust_CompleteDate" class="col-lg-3 control-label">Completion Date</label>
                        @Html.TextBoxFor(m => m.InvToCustDetail.ToCust_CompleteDate, new { @id = "ToCust_CompleteDate", @class = "form-control", @type = "text", @readonly = true })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.InvToCustDetail.ToCust_CompleteDate, null, new { @class = "note-error color-red" })
                    </section>                                   
                </div>
                <div class="col-md-6">       
                    <section>
                        <label class="col-lg-3 control-label">Remark</label>
                        <label class="col-lg-offset-5 textarea textarea-resizable">
                            @Html.TextAreaFor(m => m.InvToCustDetail.ToCust_Remark, 4, 1, new { @id = "ToCust_Remark" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.InvToCustDetail.ToCust_Remark, null, new { @class = "note-error color-red" })
                    </section>              
                </div>
                <div class="clearfix margin-bottom-20"></div>
            </div>
        </div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>Invoices Information</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="col-md-6">
                    <section>
                        <label for="ToCust_InvoiceDate" class="col-lg-3 control-label">Invoice Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.InvToCustDetail.ToCust_InvoiceDate, "{0:dd/MM/yyyy}", new { @id = "ToCust_InvoiceDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.InvToCustDetail.ToCust_InvoiceDate, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="ToCust_InvoiceNo" class="col-lg-3 control-label">Invoice No.</label>
                        @Html.TextBoxFor(m => m.InvToCustDetail.ToCust_InvoiceNo, new { @id = "ToCust_InvoiceNo", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.InvToCustDetail.ToCust_InvoiceNo, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="ToCust_Amount" class="col-lg-3 control-label">Invoice Amount (RM)</label>
                        @Html.TextBoxFor(m => m.InvToCustDetail.ToCust_Amount, String.Format("{0:N2}", Model.InvToCustDetail.ToCust_Amount), new { @id = "ToCust_Amount", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.InvToCustDetail.ToCust_Amount, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="ToCust_FileDescription" class="col-lg-3 control-label">File Description</label>
                        @Html.TextBoxFor(m => m.FileDescription, new { @id = "ToCust_FileDescription", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.FileDescription, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label class="col-lg-3 control-label">File Input</label>
                        <label class="col-lg-7 input input-file" for="file">
                            <div class="button">@Html.TextBoxFor(m => m.file, null, new { @name = "file", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="ToCust_Files" type="text" readonly>
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.file, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                <div class="clearfix margin-bottom-20"></div>
            </div>
            @if (Model.RoleId == "R02" || Model.RoleId == "R05")
            {
                <div class="row btn-FloatRight">
                    <button id="VerifyInvToCust" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            }
        </div>

    </div>
    <div class="modal fade" id="InvToCustModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4">Are you sure the details  below are correct? If yes please attached the required document and click Save Changes below.</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                <label for="VToCust_PreparedDate" class="col-lg-3 control-label">Prepared Date</label>
                                <input class="form-control" id="VToCust_PreparedDate" type="text" readonly />
                            </section>
                            @*<section>
                                <label for="VToCust_InvoiceNo" class="col-lg-3 control-label">Invoice No.</label>
                                <input class="form-control" type="text" id="VToCust_InvoiceNo" readonly />
                            </section>
                            <section>
                                <label for="VToCust_InvoiceDate" class="col-lg-3 control-label">Invoice Date</label>
                                <input class="form-control" type="text" id="VToCust_InvoiceDate" readonly />
                            </section>*@
                            <section>
                                <label class="col-lg-3 control-label">Remark</label>
                                <label class="col-lg-offset-5 textarea textarea-resizable">
                                    <textarea cols="1" name="" rows="3" id="VToCust_Remark" readonly disabled></textarea>
                                </label>
                            </section> 
                            <section>
                                <label for="VToCust_InvoiceDate" class="col-lg-3 control-label">Invoice Date</label>
                                <input class="form-control" id="VToCust_InvoiceDate" type="text" readonly />
                            </section>                          
                        </div>
                        <div class="col-md-6">                      
                            <section>
                                <label for="VToCust_InvoiceNo" class="col-lg-3 control-label">Invoice No.</label>
                                <input class="form-control" id="VToCust_InvoiceNo" type="text" readonly />
                            </section>
                            <section>
                                <label for="VToCust_Amount" class="col-lg-3 control-label">Invoice Amount (RM)</label>
                                <input class="form-control" id="VToCust_Amount" type="text" readonly />
                            </section>
                            <section>
                                <label for="VToCust_FileDescription" class="col-lg-3 control-label">File Description</label>
                                <input class="form-control" id="VToCust_FileDescription" type="text" readonly />
                            </section>                         
                            <section>
                                <label class="col-lg-3 control-label">File Input</label>
                                <input class="form-control" id="VToCust_Files" type="text" readonly />
                            </section>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                    <button id="SubmitInvToCust" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
	<!-- End Bootstrap Modals With Forms -->
    <div class="modal fade bs-example-modal-sm" id="InvToCustLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
        </div>
    </div>
}