﻿@model Initiatives.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Html.BeginForm("IOInfo", "POList", FormMethod.Post, new { @id = "IOInfo", @class = "sky-form", @enctype = "multipart/form-data" }))
{
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>Internal Order Information</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover wrapper" id="IOListTable">
                        <thead>
                            <tr>
                                <th class="all">IO No.</th>
                                <th class="all">Material No.</th>
                                <th class="all">Description</th>
                                <th class="desktop">UOM</th>
                                <th class="desktop">Unit Price</th>
                                <th class="desktop">Total Price</th>
                                <th class="desktop">Issue Date</th>
                                <th class="desktop">Demand Quantity</th>
                                <th class="desktop">Ordered Quantity</th>
                                <th class="desktop">Outstanding Quantity</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.POItemListObject)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IONo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaterialNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UoM)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IssueDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RequestedQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OutstandingQuantity)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@*<div class="shadow-wrapper">
    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
        <div class="row">
            <div class="container">
                <h4><b>Internal Order Information</b></h4>
            </div>
            <div class="clearfix margin-bottom-10"></div>
            <div class="col-md-6">
                @Html.HiddenFor(m => m.CreateByUserId)
                @Html.HiddenFor(m => m.OppContId)
                @Html.HiddenFor(m => m.POId)
                @Html.HiddenFor(m => m.RoleId)
                @Html.HiddenFor(m => m.SaveSuccess)
                <div id="POIds" class="hidden">@Model.POId</div>
                <div id="PORoleId" class="hidden">@Model.RoleId</div>
                <div id="POSS" class="hidden">@Model.SaveSuccess</div>
                <section>
                    <label for="IOInfo_POReceivedDate" class="col-lg-3 control-label">PO Received Date</label>
                    <label class="col-lg-offset-5 input">
                        <i class="icon-append fa fa-calendar"></i>
                        @Html.TextBoxFor(m => m.IOInfoDetail.IOInfo_POReceivedDate, "{0:dd/MM/yyyy}", new { @id = "IOInfo_POReceivedDate", @class = "datepicker", @type = "text" })
                    </label>
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.IOInfoDetail.IOInfo_POReceivedDate, null, new { @class = "note-error color-red" })
                </section>
                <section>
                    <label for="IOInfo_IOIssueDate" class="col-lg-3 control-label">I/O Issued Date</label>
                    <label class="col-lg-offset-5 input">
                        <i class="icon-append fa fa-calendar"></i>
                        @Html.TextBoxFor(m => m.IOInfoDetail.IOInfo_IOIssueDate, "{0:dd/MM/yyyy}", new { @id = "IOInfo_IOIssueDate", @class = "datepicker", @type = "text" })
                    </label>
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.IOInfoDetail.IOInfo_IOIssueDate, null, new { @class = "note-error color-red" })
                </section>
                <section>
                    <label for="IOInfo_RefNo" class="col-lg-3 control-label">IO No.</label>
                    @Html.TextBoxFor(m => m.IOInfoDetail.IOInfo_RefNo, new { @id = "IOInfo_RefNo", @class = "form-control", @type = "text" })
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.IOInfoDetail.IOInfo_RefNo, null, new { @class = "note-error color-red" })
                </section>
                <section>
                        <label for="PRFIssueDate" class="col-lg-3 control-label">PFR Issue Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.IOInfoDetail.PRInfo_PRFIssueDate, "{0:dd/MM/yyyy}", new { @id = "PRFIssueDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.IOInfoDetail.PRInfo_PRFIssueDate, null, new { @class = "note-error color-red" })
                    </section>
                <section>
                    <label class="col-lg-3 control-label">Remark</label>
                    <label class="col-lg-offset-5 textarea textarea-resizable">
                        @Html.TextAreaFor(m => m.IOInfoDetail.IOInfo_Remark, 3, 1, new { @id = "IOInfo_Remark" })
                    </label>
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.IOInfoDetail.IOInfo_Remark, null, new { @class = "note-error color-red" })
                </section>
            </div>
            <div class="col-md-6">
                <section>
                        <label for="IOInfo_VendorName" class="col-lg-3 control-label">Vendor Name</label>
                        @Html.TextBoxFor(m => m.IOInfoDetail.IOInfo_VendorName, new { @id = "IOInfo_VendorName", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.IOInfoDetail.IOInfo_VendorName, null, new { @class = "note-error color-red" })
                    </section>
                <section>
                    <label for="IOInfo_CompleteDate" class="col-lg-3 control-label">I/O Completion Date</label>
                    @Html.TextBoxFor(m => m.IOInfoDetail.IOInfo_CompleteDate, new { @id = "IOInfo_CompleteDate", @class = "form-control", @type = "text", @readonly = true })
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.IOInfoDetail.IOInfo_CompleteDate, null, new { @class = "note-error color-red" })
                </section>
                <section>
                    <label for="IOInfo_FileDescription" class="col-lg-3 control-label">File Description</label>
                    @Html.TextBoxFor(m => m.FileDescription, new { @id = "IOInfo_FileDescription", @class = "form-control", @type = "text" })
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.FileDescription, null, new { @class = "note-error color-red" })
                </section>
                <section>
                    <label class="col-lg-3 control-label">File Input</label>
                    <label class="col-lg-7 input input-file" for="file">
                        <div class="button">@Html.TextBoxFor(m => m.file, null, new { @name = "file", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="IOInfo_Files" type="text" readonly>
                    </label>
                    <label class="col-lg-3 control-label"></label>
                    @Html.ValidationMessageFor(m => m.file, null, new { @class = "note-error color-red" })
                </section>
            </div>
        </div>
        @if (Model.RoleId == "R02" || Model.RoleId == "R06" || Model.RoleId == "R08")
            {
            <div class="row btn-FloatRight">
                <button id="VerifyIOInfo" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
            </div>
        }
    </div>
</div>
<!-- Bootstrap Modals With Forms -->
<div class="modal fade" id="IOInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel4">Are you sure the details  below are correct? If yes please attached the required document and click Save Changes below.</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <section>
                            <label for="VIOInfo_POReceivedDate" class="col-lg-3 control-label">PO Received Date</label>
                            <input class="form-control" id="VIOInfo_POReceivedDate" type="text" readonly />
                        </section>
                        <section>
                            <label for="VIOInfo_IOIssueDate" class="col-lg-3 control-label">I/O Issued Date</label>
                            <input class="form-control" type="text" id="VIOInfo_IOIssueDate" readonly />
                        </section>
                        <section>
                            <label class="col-lg-3 control-label">Remark</label>
                            <label class="col-lg-offset-5 textarea textarea-resizable">
                                <textarea cols="1" name="VIOInfo_Remark" rows="3" id="VIOInfo_Remark" readonly disabled></textarea>
                            </label>
                        </section>
                    </div>
                    <div class="col-md-6">
                        <section>
                            <label for="VIOInfo_RefNo" class="col-lg-3 control-label">IO No.</label>
                            <input class="form-control" id="VIOInfo_RefNo" type="text" readonly />
                        </section>
                        <section>
                            <label for="VIOInfo_FileDescription" class="col-lg-3 control-label">File Description</label>
                            <input class="form-control" id="VIOInfo_FileDescription" type="text" readonly />
                        </section>
                        <section>
                            <label class="col-lg-3 control-label">File Input</label>
                            <input class="form-control" id="VIOInfo_Files" type="text" readonly />
                        </section>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                <button id="SubmitIOInfo" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- End Bootstrap Modals With Forms -->
<div class="modal fade bs-example-modal-sm" id="IOInfoLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
    </div>
</div>*@