﻿@model Initiatives.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Html.BeginForm("PO2Supplier", "POList", FormMethod.Post, new { @id = "PO2Supplier", @class = "sky-form", @enctype = "multipart/form-data" }))
{
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>Purchase Order to Vendor/Suppliers</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="col-md-6">
                    @Html.HiddenFor(m => m.CreateByUserId)
                    @Html.HiddenFor(m => m.OppContId)
                    @Html.HiddenFor(m => m.POId)
                    @Html.HiddenFor(m => m.RoleId)
                    @Html.HiddenFor(m => m.SaveSuccess)
                    <div id="POIds" class="hidden">@Model.POId</div>@*use for jquery upload calling*@
                    <div id="PORoleId" class="hidden">@Model.RoleId</div>
                    <div id="POSS" class="hidden">@Model.SaveSuccess</div>
                    <section>
                        <label for="VS_DocReceivedDate" class="col-lg-3 control-label">Doc Received Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.PO2SupplierDetail.VS_DocReceivedDate, "{0:dd/MM/yyyy}", new { @id = "VS_DocReceivedDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PO2SupplierDetail.VS_DocReceivedDate, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="VS_TypeOfDoc" class="col-lg-3 control-label">Type of Doc</label>
                        @Html.TextBoxFor(m => m.PO2SupplierDetail.VS_TypeOfDoc, new { @id = "VS_TypeOfDoc", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PO2SupplierDetail.VS_TypeOfDoc, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="VS_POIssueDate" class="col-lg-3 control-label">PO Date Issued</label>
                        @Html.TextBoxFor(m => m.PO2SupplierDetail.VS_POIssueDate, new { @id = "VS_POIssueDate", @class = "form-control", @type = "text", @readonly = true })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PO2SupplierDetail.VS_POIssueDate, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label class="col-lg-3 control-label">Remarks</label>
                        <label class="col-lg-offset-5 textarea textarea-resizable">
                            @Html.TextAreaFor(m => m.PO2SupplierDetail.VS_Remarks, 4, 1, new { @id = "VS_Remarks" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PO2SupplierDetail.VS_Remarks, null, new { @class = "note-error color-red" })
                    </section>                                            
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="VS_PONo" class="col-lg-3 control-label">Purchase Order No.</label>
                        @Html.TextBoxFor(m => m.PO2SupplierDetail.VS_PONo, new { @id = "VS_PONo", @class = "form-control", @type = "text", @readonly = true })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PO2SupplierDetail.VS_PONo, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="VS_AwardDate" class="col-lg-3 control-label">Award Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.PO2SupplierDetail.VS_AwardDate, "{0:dd/MM/yyyy}", new { @id = "VS_AwardDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PO2SupplierDetail.VS_AwardDate, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="VS_POAmount" class="col-lg-3 control-label">Purchase Order Amount (RM)</label>
                        @Html.TextBoxFor(m => m.PO2SupplierDetail.VS_POAmount, String.Format("{0:N2}", Model.PO2SupplierDetail.VS_POAmount), new { @id = "VS_POAmount", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PO2SupplierDetail.VS_POAmount, null, new { @class = "note-error color-red" })
                    </section>    
                    <section>
                        <label for="VS_TotalGST" class="col-lg-3 control-label">Total GST (RM)</label>
                        @Html.TextBoxFor(m => m.PO2SupplierDetail.VS_TotalGST, String.Format("{0:N2}", Model.PO2SupplierDetail.VS_TotalGST), new { @id = "VS_TotalGST", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PO2SupplierDetail.VS_TotalGST, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="VS_CompleteDate" class="col-lg-3 control-label">Completion Date</label>
                        @Html.TextBoxFor(m => m.PO2SupplierDetail.VS_CompleteDate, new { @id = "VS_CompleteDate", @class = "form-control", @type = "text", @readonly = true })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PO2SupplierDetail.VS_CompleteDate, null, new { @class = "note-error color-red" })
                    </section>     
                </div>
            </div>
        </div>
        <div class="clearfix margin-bottom-20"></div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>Supplier Information</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="col-md-6">
                    <section>
                        <label for="VS_CompanyName" class="col-lg-3 control-label">Company Name</label>
                        @Html.TextBoxFor(m => m.PO2SupplierDetail.VS_CompanyName, new { @id = "VS_CompanyName", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PO2SupplierDetail.VS_CompanyName, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="VS_ContactPerson" class="col-lg-3 control-label">Contact Person</label>
                        @Html.TextBoxFor(m => m.PO2SupplierDetail.VS_ContactPerson, new { @id = "VS_ContactPerson", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PO2SupplierDetail.VS_ContactPerson, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="VS_TelephoneNo" class="col-lg-3 control-label">Telephone No.</label>
                        @Html.TextBoxFor(m => m.PO2SupplierDetail.VS_TelephoneNo, new { @id = "VS_TelephoneNo", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PO2SupplierDetail.VS_TelephoneNo, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="VS_FileDescription" class="col-lg-3 control-label">File Description</label>
                        @Html.TextBoxFor(m => m.FileDescription, new { @id = "VS_FileDescription", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.FileDescription, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label class="col-lg-3 control-label">File Input</label>
                        <label class="col-lg-7 input input-file" for="file">
                            <div class="button">@Html.TextBoxFor(m => m.file, null, new { @name = "file", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="VS_Files" type="text" readonly>
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.file, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                <div class="clearfix margin-bottom-20"></div>
            </div>
            @if (Model.RoleId == "R02" || Model.RoleId == "R07")
            {
                <div class="row btn-FloatRight">
                    <button id="VerifyVS" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            }
        </div>
    </div>
    <!-- Bootstrap Modals With Forms -->
    <div class="modal fade" id="VSModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4">Are you sure the details  below are correct? If yes please attached the required document and click Save Changes below.</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                <label for="VVS_DocReceivedDate" class="col-lg-3 control-label">Doc Received Date</label>
                                <input class="form-control" id="VVS_DocReceivedDate" type="text" readonly />
                            </section>
                            <section>
                                <label for="VVS_TypeOfDoc" class="col-lg-3 control-label">Type of Doc</label>
                                <input class="form-control" id="VVS_TypeOfDoc" type="text" readonly />
                            </section>                           
                            <section>
                                <label class="col-lg-3 control-label">Remarks</label>
                                <label class="col-lg-offset-5 textarea textarea-resizable">
                                    <textarea cols="1" name="" rows="3" id="VVS_Remarks" readonly disabled></textarea>
                                </label>
                            </section>    
                            <section>
                                <label for="VVS_AwardDate" class="col-lg-3 control-label">Award Date</label>
                                <input class="form-control" type="text" id="VVS_AwardDate" readonly />
                            </section>                                                
                        </div>
                        <div class="col-md-6">
                            <section>
                                <label for="VVS_POAmount" class="col-lg-3 control-label">Purchase Order Amount (RM)</label>
                                <input class="form-control" type="text" id="VVS_POAmount" readonly />
                            </section>
                            <section>
                                <label for="VVS_TotalGST" class="col-lg-3 control-label">Total GST (RM)</label>
                                <input class="form-control" id="VVS_TotalGST" type="text" readonly />
                            </section>
                            <section>
                                <label for="VVS_ContactPerson" class="col-lg-3 control-label">Contact Person</label>
                                <input class="form-control" id="VVS_ContactPerson" type="text" readonly />
                            </section>
                            <section>
                                <label for="VVS_TelephoneNo" class="col-lg-3 control-label">Telephone No.</label>
                                <input class="form-control" id="VVS_TelephoneNo" type="text" readonly />
                            </section>                        
                            <section>
                                <label for="VVS_FileDescription" class="col-lg-3 control-label">File Description</label>
                                <input class="form-control" id="VVS_FileDescription" type="text" readonly />
                            </section>
                            <section>
                                <label class="col-lg-3 control-label">File Input</label>
                                <input class="form-control" id="VVS_Files" type="text" readonly />
                            </section>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                    <button id="SubmitVS" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
	<!-- End Bootstrap Modals With Forms -->
    <div class="modal fade bs-example-modal-sm" id="VSLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
        </div>
    </div>
}