﻿@model Initiatives.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Html.BeginForm("PODetails", "POList", FormMethod.Post, new { @id = "PODetails", @class = "sky-form", @enctype = "multipart/form-data" }))
{
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>General Information</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="col-md-6">
                    @Html.HiddenFor(m => m.CreateByUserId)
                    @Html.HiddenFor(m => m.OppContId)
                    @Html.HiddenFor(m => m.POId)
                    @Html.HiddenFor(m => m.RoleId)
                    @Html.HiddenFor(m => m.SaveSuccess)
                    <div id="POIds" class="hidden">@Model.POId</div>@*use for jquery upload calling*@
                    <div id="PORoleId" class="hidden">@Model.RoleId</div>
                    <div id="POSS" class="hidden">@Model.SaveSuccess</div>
                    <section>
                        @Html.LabelFor(m => m.POListDetail.Details_PONo, "Purchase Order Number", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.POListDetail.Details_PONo, new { @id = "POD_PONo", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.POListDetail.Details_PONo, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="POD_IssueDate" class="col-lg-3 control-label">PO Issue Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.POListDetail.Details_POIssueDate, "{0:dd/MM/yyyy}", new { @id = "POD_IssueDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.POListDetail.Details_POIssueDate, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="POD_Description" class="col-lg-3 control-label">Description</label>
                        <label class="col-lg-offset-5 textarea textarea-resizable">
                            @Html.TextAreaFor(m => m.POListDetail.Details_projectDescription, 3, 1, new { @id = "POD_Description" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.POListDetail.Details_projectDescription, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="POD_TotalPrice" class="col-lg-3 control-label">Total Price (RM)</label>
                        @Html.TextBoxFor(m => m.POListDetail.Details_totalPrice, String.Format("{0:N2}", Model.POListDetail.Details_totalPrice), new { @id = "POD_TotalPrice", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.POListDetail.Details_totalPrice, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="POD_TotalGST" class="col-lg-3 control-label">Total GST (RM)</label>
                        @Html.TextBoxFor(m => m.POListDetail.Details_totalGST, String.Format("{0:N2}", Model.POListDetail.Details_totalGST), new { @id = "POD_TotalGST", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.POListDetail.Details_totalGST, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label class="col-lg-3 control-label">File Description</label>
                        <label class="col-lg-offset-5 textarea textarea-resizable">
                            @Html.TextAreaFor(m => m.FileDescription, 3, 1, new { @id = "POD_FileDescription" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.FileDescription, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label class="col-lg-3 control-label">File Input</label>
                        <label class="col-lg-7 input input-file" for="file">
                            <div class="button">@Html.TextBoxFor(m => m.file, null, new { @name = "file", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="POD_Files" type="text" readonly>
                        </label>
                        @Html.ValidationMessageFor(m => m.file, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="Status" class="col-lg-3 control-label">Status</label>
                        @Html.TextBoxFor(m => m.POListDetail.Status, new { @id = "Status", @class = "form-control", @type = "text", @readonly = true })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.POListDetail.Status, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                @if (Model.RoleId == "R02" || Model.RoleId == "R04" || Model.RoleId == "R09")
                {
                    <div class="row btn-FloatRight">
                        <button id="VerifyPODetails" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                    </div>
                }
            </div>
        </div>
        <div class="clearfix margin-bottom-10"></div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row container-fluid">
                <div class="container">
                    <h4><b>PO Items</b></h4>
                    @if (Model.POItemListObject.Count == 0)
                    {
                        <div class="btn-FloatRight">
                            <button type="button" class="AddPOItem btn-SaveChanges btn-u btn-u-primary">Add PO Item</button>
                        </div>
                    }
                </div>
                <div class="clearfix margin-bottom-10"></div>

                <div class="dataTable_wrapper">
                    @{Html.RenderPartial("POItemsTable", Model);}
                </div>
                @if (Model.RoleId == "R02" || Model.RoleId == "R04" || Model.RoleId == "R09")
                {
                    if (Model.POItemListObject.Count == 0)
                    {
                    <div class="row btn-FloatRight">
                        <button id="CreatePO" type="submit" class="SubmitPOItemDetails btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                    </div>
                    }
                    else
                    {
                        <div class="row btn-FloatRight">
                            <button id="UpdatePO" type="submit" class="SubmitPOItemDetails btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                        </div>
                    }
                }
            </div>
        </div>
        @*<div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                <div class="row container-fluid">
                    <h4>PO Process Flow Tracking Table</h4>
                    <div class="clearfix margin-bottom-10"></div>
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover wrapper" id="POTrackingTable">
                            <thead>
                                <tr>
                                    <th class="all">Process Flow Name</th>
                                    <th class="all">Start Flow Date</th>
                                    <th class="all">End Flow Date</th>
                                    <th class="desktop">Remark</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.POTrackingTable)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.ProcessFlowName)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartFlowDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndFlowDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Remark)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>*@
    </div>
    <!-- Bootstrap Modals With Forms -->
    <div class="modal fade" id="PODetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4">Are you sure the details  below are correct? If yes please attached the required document and click Save Changes below.</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                @Html.LabelFor(m => m.POListDetail.Details_PONo, "Purchase Order Number", new { @class = "col-lg-3 control-label" })
                                <input class="form-control" id="VPOD_PONo" type="text" readonly />
                            </section>
                            <section>
                                <label for="VPOD_IssueDate" class="col-lg-3 control-label">PO Issue Date</label>
                                <input class="form-control" type="text" id="VPOD_IssueDate" readonly />
                            </section>
                            <section>
                                <label for="VPOD_Description" class="col-lg-3 control-label">Description</label>
                                <label class="col-lg-offset-5 textarea textarea-resizable">
                                    <textarea cols="1" name="POListDetail.Details_projectDescription" rows="3" id="VPOD_Description" readonly disabled></textarea>
                                </label>
                            </section>
                            <section>
                                <label for="VPOD_TotalPrice" class="col-lg-3 control-label">Total Price (RM)</label>
                                <input class="form-control" type="text" id="VPOD_TotalPrice" readonly />
                            </section>
                        </div>
                        <div class="col-md-6">
                            <section>
                                <label for="VPOD_TotalGST" class="col-lg-3 control-label">Total GST (RM)</label>
                                <input class="form-control" type="text" id="VPOD_TotalGST" readonly />
                            </section>
                            <section>
                                <label class="col-lg-3 control-label">File Description</label>
                                <label class="col-lg-offset-5 textarea textarea-resizable">
                                    <textarea cols="1" name="POListDetail.Details_projectDescription" rows="3" id="VPOD_FileDescription" readonly disabled></textarea>
                                </label>
                            </section>
                            <section>
                                <label class="col-lg-3 control-label">File Input</label>
                                <input class="form-control" id="VPOD_File" type="text" readonly />
                            </section>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                    <button id="SubmitPODetails" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
	<!-- End Bootstrap Modals With Forms -->
    <div class="modal fade" id="POItemsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4">Please insert the PO Items here</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                @Html.LabelFor(m => m.POItemsObject.MaterialNo, "Material no.", new { @class = "col-lg-3 control-label" })
                                @Html.TextBoxFor(m => m.POItemsObject.MaterialNo, new { @id = "MaterialNo", @class = "form-control", @type = "text" })
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.POItemsObject.MaterialNo, null, new { @class = "note-error color-red" })
                            </section>
                            <section>
                                <label for="POItem_Description" class="col-lg-3 control-label">Description</label>
                                <label class="col-lg-offset-5 textarea textarea-resizable">
                                    @Html.TextAreaFor(m => m.POItemsObject.Description, 3, 1, new { @id = "POItem_Description" })
                                </label>
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.POItemsObject.Description, null, new { @class = "note-error color-red" })
                            </section>
                            <section>
                                <label for="PODeliveryDate" class="col-lg-3 control-label">Delivery Date</label>
                                <label class="col-lg-offset-5 input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    @Html.TextBoxFor(m => m.POItemsObject.DeliveryDate, "{0:dd/MM/yyyy}", new { @id = "POIDeliveryDate", @class = "datepicker", @type = "text" })
                                </label>
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.POItemsObject.DeliveryDate, null, new { @class = "note-error color-red" })
                            </section>
                        </div>
                        <div class="col-md-6">
                            <section>
                                @Html.LabelFor(m => m.POItemsObject.Quantity, "Quantity", new { @class = "col-lg-3 control-label" })
                                @Html.TextBoxFor(m => m.POItemsObject.Quantity, new { @id = "Quantity", @class = "form-control", @type = "text" })
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.POItemsObject.Quantity, null, new { @class = "note-error color-red" })
                            </section>
                            <section>
                                @Html.LabelFor(m => m.POItemsObject.UoM, "Unit of Material", new { @class = "col-lg-3 control-label" })
                                @Html.TextBoxFor(m => m.POItemsObject.UoM, new { @id = "UoM", @class = "form-control", @type = "text" })
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.POItemsObject.UoM, null, new { @class = "note-error color-red" })
                            </section>
                            <section>
                                @Html.LabelFor(m => m.POItemsObject.UnitPrice, "Unit Price", new { @class = "col-lg-3 control-label" })
                                @Html.TextBoxFor(m => m.POItemsObject.UnitPrice, new { @id = "UnitPrice", @class = "form-control", @type = "text" })
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.POItemsObject.UnitPrice, null, new { @class = "note-error color-red" })
                            </section>
                            <section>
                                @Html.LabelFor(m => m.POItemsObject.TotalPrice, "Total Price", new { @class = "col-lg-3 control-label" })
                                @Html.TextBoxFor(m => m.POItemsObject.TotalPrice, new { @id = "TotalPrice", @class = "form-control", @type = "text" })
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.POItemsObject.TotalPrice, null, new { @class = "note-error color-red" })
                            </section>
                        </div>
                    </div>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                        <button id="SubmitPOItemDetails" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" id="PODetailsLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
        </div>
    </div>
}