﻿@model Initiatives.Models.MainModel

<div class="clearfix margin-bottom-20"></div>
<div class=" custom-wrap">
    <div class="row container-fluid">
        <h4>PO Document(s)</h4>
        <div class="clearfix margin-bottom-10"></div>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover wrapper" id="PODocList">
                <thead>
                    <tr>
                        <th class="never">#</th>
                        <th class="all">File Name</th>
                        <th class="all">Upload By</th>
                        <th class="desktop">Description</th>
                        <th class="desktop">Upload Date</th>
                        <th class="desktop">Action</th>
                    </tr>
                </thead>

                @foreach (var item in Model.PODocListObject)
                {
                    string filename = item.FileName.Replace("\\", ",");
                    string filename1 = filename.Split(',')[filename.Split(',').Length - 1].ToString();
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.fileEntryId)</td>
                        <td>
                            @Html.DisplayFor(modelItem => filename1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadUserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadDate)
                        </td>
                        <td>
                            @Html.ActionLink("Download", "Filedownload", new { id = item.fileEntryId })<a id="@item.fileEntryId"></a> |
                            <a class="ArchiveFile" id="@item.fileEntryId" href="#">Archive</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="clearfix margin-bottom-20"></div>
    <div class="row container-fluid">
        <h4>Archive(s)</h4>
        <div class="clearfix margin-bottom-10"></div>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover wrapper archive" id="POArchive">
                <thead>
                    <tr>
                        <th class="never">#</th>
                        <th class="all">File Name</th>
                        <th class="all">Upload By</th>
                        <th class="desktop">Description</th>
                        <th class="desktop">Upload Date</th>
                        <th class="desktop">Action</th>
                    </tr>
                </thead>

                @foreach (var item in Model.FileArchiveModel)
                {
                    string filename = item.FileName.Replace("\\", ",");
                    string filename1 = filename.Split(',')[filename.Split(',').Length - 1].ToString();
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.fileEntryId)</td>
                        <td>
                            @Html.DisplayFor(modelItem => filename1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadUserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadDate)
                        </td>
                        <td>
                            @Html.ActionLink("Download", "Filedownload", new { id = item.fileEntryId })<a id="@item.fileEntryId"></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
@*<div class="row container-fluid">
        <h4>PO Details Info Documents</h4>
        <div class="clearfix margin-bottom-10"></div>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover wrapper display" id="PODetailInfoDoc">
                <thead>
                    <tr>
                        <th class="never">#</th>
                        <th class="all">File Name</th>
                        <th class="all">Upload By</th>
                        <th class="desktop">Description</th>
                        <th class="desktop">Upload Date</th>
                        <th class="desktop">Action</th>
                    </tr>
                </thead>
                @foreach (var item in Model.UploadPODetailInfo)
                {
                    string filename = item.FileName.Replace("\\", ",");
                    string filename1 = filename.Split(',')[filename.Split(',').Length - 1].ToString();
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.fileEntryId)</td>
                        <td>
                            @Html.DisplayFor(modelItem => filename1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadUserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadDate)
                        </td>
                        <td>
                            @Html.ActionLink("Download", "Filedownload", new { id = item.fileEntryId }) |
                            <a class="ArchiveFile" id="@item.fileEntryId" href="#">Archive</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="clearfix margin-bottom-20"></div>
    <div class="row container-fluid">
        <h4>IO Info Documents</h4>
        <div class="clearfix margin-bottom-10"></div>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover wrapper display" id="POIOInfoDoc">
                <thead>
                    <tr>
                        <th class="never">#</th>
                        <th class="all">File Name</th>
                        <th class="all">Upload By</th>
                        <th class="desktop">Description</th>
                        <th class="desktop">Upload Date</th>
                        <th class="desktop">Action</th>
                    </tr>
                </thead>
                @foreach (var item in Model.UploadPOIOInfo)
                {
                    string filename = item.FileName.Replace("\\", ",");
                    string filename1 = filename.Split(',')[filename.Split(',').Length - 1].ToString();
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.fileEntryId)</td>
                        <td>
                            @Html.DisplayFor(modelItem => filename1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadUserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadDate)
                        </td>
                        <td>
                            @Html.ActionLink("Download", "Filedownload", new { id = item.fileEntryId }) |
                            <a class="ArchiveFile" id="@item.fileEntryId" href="#">Archive</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="clearfix margin-bottom-20"></div>
    <div class="row container-fluid">
        <h4>PR Info Documents</h4>
        <div class="clearfix margin-bottom-10"></div>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover wrapper display" id="POPRInfoDoc">
                <thead>
                    <tr>
                        <th class="never">#</th>
                        <th class="all">File Name</th>
                        <th class="all">Upload By</th>
                        <th class="desktop">Description</th>
                        <th class="desktop">Upload Date</th>
                        <th class="desktop">Action</th>
                    </tr>
                </thead>
                @foreach (var item in Model.UploadPOPRInfo)
                {
                    string filename = item.FileName.Replace("\\", ",");
                    string filename1 = filename.Split(',')[filename.Split(',').Length - 1].ToString();
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.fileEntryId)</td>
                        <td>
                            @Html.DisplayFor(modelItem => filename1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadUserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadDate)
                        </td>
                        <td>
                            @Html.ActionLink("Download", "Filedownload", new { id = item.fileEntryId }) |
                            <a class="ArchiveFile" id="@item.fileEntryId" href="#">Archive</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="clearfix margin-bottom-20"></div>
    <div class="row container-fluid">
        <h4>Procurement Process Info Documents</h4>
        <div class="clearfix margin-bottom-10"></div>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover wrapper display" id="POPDInfoDoc">
                <thead>
                    <tr>
                        <th class="never">#</th>
                        <th class="all">File Name</th>
                        <th class="all">Upload By</th>
                        <th class="desktop">Description</th>
                        <th class="desktop">Upload Date</th>
                        <th class="desktop">Action</th>
                    </tr>
                </thead>
                @foreach (var item in Model.UploadPOPPInfo)
                {
                    string filename = item.FileName.Replace("\\", ",");
                    string filename1 = filename.Split(',')[filename.Split(',').Length - 1].ToString();
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.fileEntryId)</td>
                        <td>
                            @Html.DisplayFor(modelItem => filename1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadUserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadDate)
                        </td>
                        <td>
                            @Html.ActionLink("Download", "Filedownload", new { id = item.fileEntryId }) |
                            <a class="ArchiveFile" id="@item.fileEntryId" href="#">Archive</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="clearfix margin-bottom-20"></div>
    <div class="row container-fluid">
        <h4>Finance Process Info Documents</h4>
        <div class="clearfix margin-bottom-10"></div>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover wrapper display" id="POFDInfoDoc">
                <thead>
                    <tr>
                        <th class="never">#</th>
                        <th class="all">File Name</th>
                        <th class="all">Upload By</th>
                        <th class="desktop">Description</th>
                        <th class="desktop">Upload Date</th>
                        <th class="desktop">Action</th>
                    </tr>
                </thead>
                @foreach (var item in Model.UploadPOFPInfo)
                {
                    string filename = item.FileName.Replace("\\", ",");
                    string filename1 = filename.Split(',')[filename.Split(',').Length - 1].ToString();
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.fileEntryId)</td>
                        <td>
                            @Html.DisplayFor(modelItem => filename1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadUserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadDate)
                        </td>
                        <td>
                            @Html.ActionLink("Download", "Filedownload", new { id = item.fileEntryId }) |
                            <a class="ArchiveFile" id="@item.fileEntryId" href="#">Archive</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="clearfix margin-bottom-20"></div>
    <div class="row container-fluid">
        <h4>CEO Office Documents</h4>
        <div class="clearfix margin-bottom-10"></div>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover wrapper display" id="POCEOOInfoDoc">
                <thead>
                    <tr>
                        <th class="never">#</th>
                        <th class="all">File Name</th>
                        <th class="all">Upload By</th>
                        <th class="desktop">Description</th>
                        <th class="desktop">Upload Date</th>
                        <th class="desktop">Action</th>
                    </tr>
                </thead>
                @foreach (var item in Model.UploadPOCEOOInfo)
                {
                    string filename = item.FileName.Replace("\\", ",");
                    string filename1 = filename.Split(',')[filename.Split(',').Length - 1].ToString();
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.fileEntryId)</td>
                        <td>
                            @Html.DisplayFor(modelItem => filename1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadUserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadDate)
                        </td>
                        <td>
                            @Html.ActionLink("Download", "Filedownload", new { id = item.fileEntryId }) |
                            <a class="ArchiveFile" id="@item.fileEntryId" href="#">Archive</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="clearfix margin-bottom-20"></div>
    <div class="row container-fluid">
        <h4>PO To Vendor Documents</h4>
        <div class="clearfix margin-bottom-10"></div>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover wrapper display" id="PO2SupplierDoc">
                <thead>
                    <tr>
                        <th class="never">#</th>
                        <th class="all">File Name</th>
                        <th class="all">Upload By</th>
                        <th class="desktop">Description</th>
                        <th class="desktop">Upload Date</th>
                        <th class="desktop">Action</th>
                    </tr>
                </thead>
                @foreach (var item in Model.UploadPOPO2Supplier)
                {
                    string filename = item.FileName.Replace("\\", ",");
                    string filename1 = filename.Split(',')[filename.Split(',').Length - 1].ToString();
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.fileEntryId)</td>
                        <td>
                            @Html.DisplayFor(modelItem => filename1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadUserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadDate)
                        </td>
                        <td>
                            @Html.ActionLink("Download", "Filedownload", new { id = item.fileEntryId }) |
                            <a class="ArchiveFile" id="@item.fileEntryId" href="#">Archive</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="clearfix margin-bottom-20"></div>
    @*<div class="row container-fluid">
        <h4>PO Delivery Info Documents</h4>
        <div class="clearfix margin-bottom-10"></div>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover wrapper display" id="PODeliveryInfoDoc">
                <thead>
                    <tr>
                        <th class="never">#</th>
                        <th class="all">File Name</th>
                        <th class="all">Upload By</th>
                        <th class="desktop">Description</th>
                        <th class="desktop">Upload Date</th>
                        <th class="desktop">Action</th>
                    </tr>
                </thead>
                @foreach (var item in Model.UploadPODeliveryInfo)
                {
                    string filename = item.FileName.Replace("\\", ",");
                    string filename1 = filename.Split(',')[filename.Split(',').Length - 1].ToString();
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.fileEntryId)</td>
                        <td>
                            @Html.DisplayFor(modelItem => filename1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadUserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadDate)
                        </td>
                        <td>
                            @Html.ActionLink("Download", "Filedownload", new { id = item.fileEntryId }) |
                            <a class="ArchiveFile" id="@item.fileEntryId" href="#">Archive</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="clearfix margin-bottom-20"></div>*@
@*<div class="clearfix margin-bottom-20"></div>
    <div class="row container-fluid">
        <h4>Invoice From Vendor Documents</h4>
        <div class="clearfix margin-bottom-10"></div>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover wrapper display" id="POInvFromVendorDoc">
                <thead>
                    <tr>
                        <th class="never">#</th>
                        <th class="all">File Name</th>
                        <th class="all">Upload By</th>
                        <th class="desktop">Description</th>
                        <th class="desktop">Upload Date</th>
                        <th class="desktop">Action</th>
                    </tr>
                </thead>
                @foreach (var item in Model.UploadPOInvFromVendor)
                {
                    string filename = item.FileName.Replace("\\", ",");
                    string filename1 = filename.Split(',')[filename.Split(',').Length - 1].ToString();
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.fileEntryId)</td>
                        <td>
                            @Html.DisplayFor(modelItem => filename1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadUserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadDate)
                        </td>
                        <td>
                            @Html.ActionLink("Download", "Filedownload", new { id = item.fileEntryId }) |
                            <a class="ArchiveFile" id="@item.fileEntryId" href="#">Archive</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="clearfix margin-bottom-20"></div>
    <div class="row container-fluid">
        <h4>Invoice To Customer Documents</h4>
        <div class="clearfix margin-bottom-10"></div>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover wrapper display" id="POInvToCustDoc">
                <thead>
                    <tr>
                        <th class="never">#</th>
                        <th class="all">File Name</th>
                        <th class="all">Upload By</th>
                        <th class="desktop">Description</th>
                        <th class="desktop">Upload Date</th>
                        <th class="desktop">Action</th>
                    </tr>
                </thead>
                @foreach (var item in Model.UploadPOInvToCust)
                {
                    string filename = item.FileName.Replace("\\", ",");
                    string filename1 = filename.Split(',')[filename.Split(',').Length - 1].ToString();
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.fileEntryId)</td>
                        <td>
                            @Html.DisplayFor(modelItem => filename1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadUserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uploadDate)
                        </td>
                        <td>
                            @Html.ActionLink("Download", "Filedownload", new { id = item.fileEntryId }) |
                            <a class="ArchiveFile" id="@item.fileEntryId" href="#">Archive</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>*@


