﻿@model Initiatives.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Html.BeginForm("PRInfo", "POList", FormMethod.Post, new { @id = "PRInfo", @class = "sky-form", @enctype = "multipart/form-data" }))
{
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>Purchase Requisition Information</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover wrapper" id="PRListTable">
                        <thead>
                            <tr>
                                <th class="all">PR No.</th>
                                <th class="all">Material No.</th>
                                <th class="all">Description</th>
                                <th class="desktop">UOM</th>
                                <th class="desktop">Unit Price</th>
                                <th class="desktop">Total Price</th>
                                <th class="desktop">Issue Date</th>
                                <th class="desktop">Demand Quantity</th>
                                <th class="desktop">Ordered Quantity</th>
                                <th class="desktop">Outstanding Quantity</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.POItemListObject)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PRNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaterialNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UoM)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IssueDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RequestedQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OutstandingQuantity)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@*<div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>Purchase Request Information</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="col-md-6">
                    @Html.HiddenFor(m => m.CreateByUserId)
                    @Html.HiddenFor(m => m.OppContId)
                    @Html.HiddenFor(m => m.POId)
                    @Html.HiddenFor(m => m.RoleId)
                    @Html.HiddenFor(m => m.SaveSuccess)
                    <div id="POIds" class="hidden">@Model.POId</div>
                    <div id="PORoleId" class="hidden">@Model.RoleId</div>
                    <div id="POSS" class="hidden">@Model.SaveSuccess</div>
                    <section>
                        <label for="PRInfo_IOReceivedDate" class="col-lg-3 control-label">IO Received Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.PRInfoDetail.PRInfo_IOReceivedDate, "{0:dd/MM/yyyy}", new { @id = "PRInfo_IOReceivedDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRInfoDetail.PRInfo_IOReceivedDate, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="PRInfo_PRNo" class="col-lg-3 control-label">PR No.</label>
                        @Html.TextBoxFor(m => m.PRInfoDetail.PRInfo_PRNo, new { @id = "PRInfo_PRNo", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRInfoDetail.PRInfo_PRNo, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label class="col-lg-3 control-label">Remark</label>
                        <label class="col-lg-offset-5 textarea textarea-resizable">
                            @Html.TextAreaFor(m => m.PRInfoDetail.PRInfo_Remark, 3, 1, new { @id = "PRInfo_Remark" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRInfoDetail.PRInfo_Remark, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="PRInfo_CompleteDate" class="col-lg-3 control-label">PR Completion Date</label>
                        @Html.TextBoxFor(m => m.PRInfoDetail.PRInfo_CompleteDate, new { @id = "PRInfo_CompleteDate", @class = "form-control", @type = "text", @readonly = true })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PRInfoDetail.PRInfo_CompleteDate, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="PRInfo_FileDescription" class="col-lg-3 control-label">File Description</label>
                        @Html.TextBoxFor(m => m.FileDescription, new { @id = "IOInfo_FileDescription", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.FileDescription, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label class="col-lg-3 control-label">File Input</label>
                        <label class="col-lg-7 input input-file" for="file">
                            <div class="button">@Html.TextBoxFor(m => m.file, null, new { @name = "file", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="PRInfo_Files" type="text" readonly>
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.file, null, new { @class = "note-error color-red" })
                    </section>
                </div>
            </div>
            @if (Model.RoleId == "R02" || Model.RoleId == "R06" || Model.RoleId == "R08")
            {
                <div class="row btn-FloatRight">
                    <button id="VerifyPRInfo" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            }
        </div>
    </div>*@
<!-- Bootstrap Modals With Forms -->
@*<div class="modal fade" id="PRInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4">Are you sure the details  below are correct? If yes please attached the required document and click Save Changes below.</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                <label for="VPRInfo_IOReceivedDate" class="col-lg-3 control-label">IO Received Date</label>
                                <input class="form-control" id="VPRInfo_IOReceivedDate" type="text" readonly />
                            </section>
                            <section>
                                <label class="col-lg-3 control-label">Remark</label>
                                <label class="col-lg-offset-5 textarea textarea-resizable">
                                    <textarea cols="1" name="VPRInfo_Remark" rows="3" id="VPRInfo_Remark" readonly disabled></textarea>
                                </label>
                            </section>
                        </div>
                        <div class="col-md-6">
                            <section>
                                <label for="VPRInfo_PRNo" class="col-lg-3 control-label">PR No.</label>
                                <input class="form-control" type="text" id="VPRInfo_PRNo" readonly />
                            </section>
                            <section>
                                <label for="VPRInfo_FileDescription" class="col-lg-3 control-label">File Description</label>
                                <input class="form-control" id="VPRInfo_FileDescription" type="text" readonly />
                            </section>
                            <section>
                                <label class="col-lg-3 control-label">File Input</label>
                                <input class="form-control" id="VPRInfo_Files" type="text" readonly />
                            </section>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                    <button id="SubmitPRInfo" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>*@
<!-- End Bootstrap Modals With Forms -->
@*<div class="modal fade bs-example-modal-sm" id="PRInfoLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
    </div>
</div>*@