﻿@model Initiatives.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Html.BeginForm("ProcurementPhase", "POList", FormMethod.Post, new { @id = "ProcurementPhase", @class = "sky-form", @enctype = "multipart/form-data" }))
{
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>Procurement Phase Information</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="col-md-6">
                    @Html.HiddenFor(m => m.CreateByUserId)
                    @Html.HiddenFor(m => m.OppContId)
                    @Html.HiddenFor(m => m.POId)
                    @Html.HiddenFor(m => m.RoleId)
                    @Html.HiddenFor(m => m.SaveSuccess)
                    <div id="POIds" class="hidden">@Model.POId</div>@*use for jquery upload calling*@
                    <div id="PORoleId" class="hidden">@Model.RoleId</div>
                    <div id="POSS" class="hidden">@Model.SaveSuccess</div>
                    <section>
                        <label for="PP_DocReceivedDate" class="col-lg-3 control-label">Doc Receive Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.PPDetail.PP_DocReceivedDate, "{0:dd/MM/yyyy}", new { @id = "PP_DocReceivedDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PPDetail.PP_DocReceivedDate, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="PP_PONo" class="col-lg-3 control-label">New PO No.</label>
                        @Html.TextBoxFor(m => m.PPDetail.PP_PONo, new { @id = "PP_PONo", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PPDetail.PP_PONo, null, new { @class = "note-error color-red" })
                    </section>                    
                    @*<section>
                            <label for="PRFIssueDate" class="col-lg-3 control-label">PFR Issue Date</label>
                            <label class="col-lg-offset-5 input">
                                <i class="icon-append fa fa-calendar"></i>
                                @Html.TextBoxFor(m => m.PRInfoDetail.PRInfo_PRFIssueDate, "{0:dd/MM/yyyy}", new { @id = "PRFIssueDate", @class = "datepicker", @type = "text" })
                            </label>
                            <label class="col-lg-3 control-label"></label>
                            @Html.ValidationMessageFor(m => m.PRInfoDetail.PRInfo_PRFIssueDate, null, new { @class = "note-error color-red" })
                        </section>*@
                    <section>
                        <label class="col-lg-3 control-label">Remark</label>
                        <label class="col-lg-offset-5 textarea textarea-resizable">
                            @Html.TextAreaFor(m => m.PPDetail.PP_Remark, 3, 1, new { @id = "PP_Remark" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PPDetail.PP_Remark, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                <div class="col-md-6">          
                    <section>
                        <label for="PP_TypeOfDoc" class="col-lg-3 control-label">Type of Doc</label>
                        @Html.TextBoxFor(m => m.PPDetail.PP_TypeOfDoc, new { @id = "PP_TypeOfDoc", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PPDetail.PP_TypeOfDoc, null, new { @class = "note-error color-red" })
                    </section>                   
                    <section>
                        <label for="PP_CompleteDate" class="col-lg-3 control-label">Completion Date</label>
                        @Html.TextBoxFor(m => m.PPDetail.PP_CompleteDate, new { @id = "PP_CompleteDate", @class = "form-control", @type = "text", @readonly = true })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.PPDetail.PP_CompleteDate, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="PPInfo_FileDescription" class="col-lg-3 control-label">File Description</label>
                        @Html.TextBoxFor(m => m.FileDescription, new { @id = "PPInfo_FileDescription", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.FileDescription, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label class="col-lg-3 control-label">File Input</label>
                        <label class="col-lg-7 input input-file" for="file">
                            <div class="button">@Html.TextBoxFor(m => m.file, null, new { @name = "file", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="PPInfo_Files" type="text" readonly>
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.file, null, new { @class = "note-error color-red" })
                    </section>
                </div>
            </div>
            @if (Model.RoleId == "R02" || Model.RoleId == "R07")
            {
                <div class="row btn-FloatRight">
                    <button id="VerifyPPInfo" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            }
        </div>
    </div>
    <!-- Bootstrap Modals With Forms -->
    <div class="modal fade" id="PPInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4">Are you sure the details  below are correct? If yes please attached the required document and click Save Changes below.</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                <label for="VPP_DocReceivedDate" class="col-lg-3 control-label">Doc Received Date</label>
                                <input class="form-control" id="VPP_DocReceivedDate" type="text" readonly />
                            </section>
                            <section>
                                <label for="VPP_PONo" class="col-lg-3 control-label">PO No.</label>
                                <input class="form-control" type="text" id="VPP_PONo" readonly />
                            </section>
                            @*<section>
                                <label for="PRInfo_PRFIssueDate" class="col-lg-3 control-label">PFR Issue Date</label>
                                <input class="form-control" type="text" id="VPRFIssueDate" readonly />
                            </section>*@
                            <section>
                                <label class="col-lg-3 control-label">Remark</label>
                                <label class="col-lg-offset-5 textarea textarea-resizable">
                                    <textarea cols="1" name="VPP_Remark" rows="3" id="VPP_Remark" readonly disabled></textarea>
                                </label>
                            </section>
                        </div>
                        <div class="col-md-6">
                            <section>
                                <label for="VPP_TypeOfDoc" class="col-lg-3 control-label">Type Of Doc</label>
                                <input class="form-control" id="VPP_TypeOfDoc" type="text" readonly />
                            </section>
                            <section>
                                <label for="VPPInfo_FileDescription" class="col-lg-3 control-label">File Description</label>
                                <input class="form-control" id="VPPInfo_FileDescription" type="text" readonly />
                            </section>
                            <section>
                                <label class="col-lg-3 control-label">File Input</label>
                                <input class="form-control" id="VPPInfo_Files" type="text" readonly />
                            </section>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                    <button id="SubmitPPInfo" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
	<!-- End Bootstrap Modals With Forms -->
    <div class="modal fade bs-example-modal-sm" id="PPLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
        </div>
    </div>
}