﻿@model KubtelHelpdesk.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Html.BeginForm("CreatePO", "POList", FormMethod.Post, new { @id = "CreateNewPO", @class = "sky-form" }))
{

    <div class="panel panel-u margin-bottom-20">
        <div class="panel-heading margin-bottom-10">
            <h3 class="panel-title"><i class="fa fa-user"></i> Create New Purchase Order</h3>
        </div>
        <div class="panel-body">
            @Html.HiddenFor(m => m.SaveSuccess)
            <div id="POSS" class="hidden">@Model.SaveSuccess</div>
            <div class="shadow-wrapper">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                    <div class="row">
                        <div class="container">
                            <h4><b>General Information</b></h4>
                        </div>
                        <div class="clearfix margin-bottom-10"></div>
                        <div class="col-md-6">
                            <section>
                                @Html.LabelFor(m => m.POListDetail.Details_PONo, "Purchase Order Number", new { @class = "col-lg-3 control-label" })
                                @Html.TextBoxFor(m => m.POListDetail.Details_PONo, new { @id = "PONo", @class = "form-control", @type = "text" })
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.POListDetail.Details_PONo, null, new { @class = "note-error color-red" })
                            </section>
                            <section>
                                <label for="POIssueDate" class="col-lg-3 control-label">PO Issue Date</label>
                                <label class="col-lg-offset-5 input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    @Html.TextBoxFor(m => m.POListDetail.Details_POIssueDate, "{0:dd/MM/yyyy}", new { @id = "POIssueDate", @class = "datepicker", @type = "text" })
                                </label>
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.POListDetail.Details_POIssueDate, null, new { @class = "note-error color-red" })
                            </section>
                            <section>
                                <label for="Description" class="col-lg-3 control-label">Description</label>
                                <label class="col-lg-offset-5 textarea textarea-resizable">
                                    @Html.TextAreaFor(m => m.POListDetail.Details_projectDescription, 3, 1, new { @id = "Description" })
                                </label>
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.POListDetail.Details_projectDescription, null, new { @class = "note-error color-red" })
                            </section>    
                            <section>
                                <label for="Details_totalPrice" class="col-lg-3 control-label">Total Price (RM)</label>
                                @Html.TextBoxFor(m => m.POListDetail.Details_totalPrice, new { @id = "Details_totalPrice", @class = "form-control", @type = "text" })
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.POListDetail.Details_totalPrice, null, new { @class = "note-error color-red" })
                            </section> 
                        </div>
                        <div class="col-md-6">
                            <section>
                                <label for="Details_totalGST" class="col-lg-3 control-label">Total GST (RM)</label>
                                @Html.TextBoxFor(m => m.POListDetail.Details_totalGST, new { @id = "Details_totalGST", @class = "form-control", @type = "text" })
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.POListDetail.Details_totalGST, null, new { @class = "note-error color-red" })
                            </section>
                            <section>
                                <label class="col-lg-3 control-label">File Description</label>
                                <label class="col-lg-offset-5 textarea textarea-resizable">
                                    @Html.TextAreaFor(m => m.FileDescription, 3, 1, new { @id = "POD_FileDescription" })
                                </label>
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.FileDescription, null, new { @class = "note-error color-red" })
                            </section>
                            <section>
                                <label class="col-lg-3 control-label">File Input</label>
                                <label class="col-lg-7 input input-file" for="file">
                                    <div class="button">@Html.TextBoxFor(m => m.file, null, new { @name = "file", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="CPO_Files" type="text" readonly>
                                </label>
                                <label class="col-lg-3 control-label"></label>
                                @Html.ValidationMessageFor(m => m.file, null, new { @class = "note-error color-red" })
                            </section>
                        </div>
                        @*<div class="clearfix margin-bottom-20"></div>*@
                    </div>
                </div>
            </div>
            <div class="shadow-wrapper">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                    <div class="row container-fluid">
                        <div class="container">
                            <h4><b>PO Items</b></h4>
                            <div class="btn-FloatRight">
                                <button id="AddPOItem" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Add PO Item</button>
                            </div>
                        </div>
                        <div class="clearfix margin-bottom-10"></div>
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover wrapper" id="POItemsTable">
                                <thead>
                                    <tr>
                                        <th class="all">Material No.</th>
                                        <th class="all">Description</th>
                                        <th class="all">Delivery Date</th>
                                        <th class="desktop">Quantity</th>
                                        <th class="desktop">UoM</th>
                                        <th class="desktop">Unit Price</th>
                                        <th class="desktop">Total Price</th>
                                        <th class="desktop"></th>
                                    </tr>
                                </thead>
                                    <tr>
                                        <td><input class="form-control form-control-doc all" type="text" name="MaterialNo" /></td>
                                        <td><input class="form-control form-control-doc all" type="text" name="Description" /></td>
                                        <td><input class="form-control form-control-doc all" type="text" name="DeliveryDate" placeholder="dd/MM/YYYY" /></td>
                                        <td><input class="form-control form-control-doc desktop" type="text" name="Quantity" /></td>
                                        <td><input class="form-control form-control-doc desktop" type="text" name="UoM" /></td>
                                        <td><input class="form-control form-control-doc desktop" type="text" name="UnitPrice" /></td>
                                        <td><input class="form-control form-control-doc desktop" type="text" name="TotalPrice" /></td>
                                        <td><a class="btn btn-link DeleteItem">Delete Item</a></td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <button id="CreatePO" type="submit" class="btn-u btn-u-primary btn-FloatRight">Submit</button>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" id="CreatePOLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
        </div>
    </div>
}