﻿@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }
@model Initiatives.Models.MainModel

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("ViewContract", "ContList")' +  '#po-1'">
        <i class="fa fa-tags"></i> Back
    </button>
    <!-- Tab v2 -->
    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <li class="navbar-height"><a href="#PODetails-1" data-toggle="tab"><h4>Details Info</h4></a></li>
            <li class="navbar-height"><a href="#IOInfo-1" data-toggle="tab"><h4>IO Info</h4></a></li>
            <li class="navbar-height"><a href="#PRInfo-1" data-toggle="tab"><h4>PR Info</h4></a></li>
            @*<li class="navbar-height"><a href="#ProcurementPhase-1" data-toggle="tab"><h4>Procurement &amp; Finance</h4></a></li>
    <li class="navbar-height"><a href="#FinancePhase-1" data-toggle="tab"><h4>Finance</h4></a></li>
            <li class="navbar-height"><a href="#CEOOffice-1" data-toggle="tab"><h4>CEO Office</h4></a></li>
            <li class="navbar-height"><a href="#PO2Supplier-1" data-toggle="tab"><h4>Vendor/Supplier</h4></a></li>*@
            <li class="navbar-height"><a href="#DeliveryInfo-1" data-toggle="tab"><h4>Delivery Info</h4></a></li>
            @*<li class="navbar-height"><a href="#IFS-1" data-toggle="tab"><h4>Invoice From Suppliers</h4></a></li>
                <li class="navbar-height"><a href="#ITC-1" data-toggle="tab"><h4>Invoice To Customer</h4></a></li>*@
            <li class="navbar-height"><a href="#PODocManagement-1" data-toggle="tab"><h4>Doc Management</h4></a></li>            
            <li class="navbar-height"><a href="#POQuestionAnswer-1" data-toggle="tab"><h4>Updates</h4></a></li>
        </ul>
        <div class="tab-content">
            @*<div class="tab-pane fade in active" id="info-1">
                </div>*@
            <div class="tab-pane fade in firstTab" id="PODetails-1">
                @{ Html.RenderAction("PODetails", "POList", new { PoId = Model.POId }); }
            </div>
            <div class="tab-pane fade in" id="IOInfo-1">
                @{ Html.RenderAction("IOInfo", "POList"); }
            </div>
            <div class="tab-pane fade in" id="PRInfo-1">
                @{ Html.RenderAction("PRInfo", "POList"); }
            </div>
            @*<div class="tab-pane fade in" id="ProcurementPhase-1">
        @{ Html.RenderAction("ProcurementPhase", "POList"); }
    </div>
    <div class="tab-pane fade in" id="FinancePhase-1">
            @{ Html.RenderAction("FinancePhase", "POList"); }
        </div>
            <div class="tab-pane fade in" id="CEOOffice-1">
                @{ Html.RenderAction("CEOOffice", "POList"); }
            </div>
            <div class="tab-pane fade in" id="PO2Supplier-1">
                @{ Html.RenderAction("PO2Supplier", "POList"); }
            </div>*@
            <div class="tab-pane fade in" id="DeliveryInfo-1">
                @{ Html.RenderAction("DeliveryInfo", "POList"); }
            </div>
            @*<div class="tab-pane fade in" id="IFS-1">
                    @{ Html.RenderAction("InvFromVendor", "POList"); }
                </div>
                <div class="tab-pane fade in" id="ITC-1">
                    @{ Html.RenderAction("InvToCustomer", "POList"); }
                </div>*@
            <div class="tab-pane fade in" id="PODocManagement-1">
                @{ Html.RenderAction("PODocManagement", "POList", new { PoId = Model.POId }); }
            </div>            
            <div class="tab-pane fade in" id="POQuestionAnswer-1">
                @{ Html.RenderAction("POQuestionAnswer", "POList", new { PoId = Model.POId }); }
            </div>
        </div>
    </div>
    <!-- End Tab v2 -->
</div>

@section scripts {
    <script type="text/javascript">
        var UrlViewPO = "@Url.Action("ViewPO", "POList")";
        var UrlIOInfo = "@Url.Action("IOInfo", "POList")";
        var UrlPRInfo = "@Url.Action("PRInfo", "POList")";
        @*var UrlProcurementPhase = "@Url.Action("ProcurementPhase", "POList")";
        var UrlFinancePhase = "@Url.Action("FinancePhase", "POList")";
        var UrlCEOOffice = "@Url.Action("CEOOffice", "POList")";*@
        var UrlDeliveryInfo = "@Url.Action("DeliveryInfo", "POList")";
        @*var UrlInvFromVendor = "@Url.Action("InvFromVendor", "POList")";
        var UrlInvToCustomer = "@Url.Action("InvToCustomer", "POList")";
        var UrlPO2Supplier = "@Url.Action("PO2Supplier", "POList")";*@
        var UrlPODetails = "@Url.Action("PODetails", "POList")";
        var UrlPODocManagement = "@Url.Action("PODocManagement","POList")";
        var UrlPODocUpload = "@Url.Action("PODocUpload","POList")";
        var UrlPOFileArchive = "@Url.Action("FileArchive","POList")";
        var UrlPOItemDetails = "@Url.Action("POItemDetails", "POList")";
        var UrlPOSendMessage = "@Url.Action("POSendMessage", "POList")";
        var UrlPOQuestionAnswer = "@Url.Action("POQuestionAnswer", "POList")";
        var UrlMaterialNoList = "@Url.Action("GetMaterialNoList", "POList")";
        var UrlGetMaterialNoInfo = "@Url.Action("GetMaterialNoInfo", "POList")";
    </script>
    @Scripts.Render("~/bundles/JSPages");
}