﻿@model Initiatives.Models.MainModel
@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <div class="hide">
        <a data-ajax="true"
           data-ajax-method="Get"
           data-ajax-mode="replace"
           data-ajax-update="#result"
           class="btn-FloatRight"
           href="~/ContList/ViewContractTabs" id="actionContract"></a>
    </div>
    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <li class="navbar-height"><a href="#contractList-1" data-toggle="tab"><h4>Contract List</h4></a></li>
            @if (Model.RoleId == "R02" || Model.RoleId == "R08" || Model.RoleId == "R09")
            {
                <li class="navbar-height"><a href="#Inventory-1" data-toggle="tab"><h4>Inventory List</h4></a></li>
            }
        </ul>
        <div class="tab-content">
            <div class="firstTab tab-pane fade in" id="contractList-1">
                @*<div id="result">*@
                <div class="margin-bottom-25 margin-top-20">
                    @if (Model.RoleId == "R02" || Model.RoleId == "R04")
                    {
                        <button id="bAddContract" type="button" class="btn-u btn-u-primary" onclick="location.href = '@Url.Action("CreateContract", "ContList")'">Add New Contract</button>
                    }
                </div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover wrapper hidden" id="Contract">
                        <thead>
                            <tr>
                                <th class="never"></th>
                                <th class="all"></th>
                                <th class="all">Cust</th>
                                <th class="all">Contract Name</th>
                                <th class="desktop">Contract Type</th>
                                <th class="desktop">Contract No.</th>
                                <th class="desktop">Description</th>
                                <th class="desktop">Assign To</th>
                                <th class="desktop">Contract Value</th>
                                <th class="desktop">Start Date</th>
                                <th class="desktop">End Date</th>
                                <th class="desktop">Last Activity</th>
                                <th class="desktop">Last Activity Date</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.ContListObject)
                        {
                            <tr>
                                <td class=" hide never">@Html.DisplayFor(modelItem => item.Id)</td>
                                <td class="all"></td>
                                <td class="all">@Html.DisplayFor(modelItem => item.Customer)</td>
                                <td class="all">@Html.DisplayFor(modelItem => item.ContractName)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.ContractType)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.ContractNo)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.Description)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.AssignTo)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.ContractValue)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.StartDate)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.EndDate)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.LastActivity)</td>
                                <td class="desktop">@Html.DisplayFor(modelItem => item.LastActivityDate)</td>
                            </tr>
                        }
                        @*<tfoot>
                            <tr>
                                <th class="never"></th>
                                <th class="all"></th>
                                <th class="all">Cust</th>
                                <th class="all">Contract Name</th>
                                <th class="desktop">Contract Type</th>
                                <th class="desktop">Contract No.</th>
                                <th class="desktop">Description</th>
                                <th class="desktop">Assign To</th>
                                <th class="desktop">Contract Value</th>
                                <th class="desktop">Start Date</th>
                                <th class="desktop">End Date</th>
                                <th class="desktop">Last Activity</th>
                                <th class="desktop">Last Activity Date</th>
                            </tr>
                        </tfoot>*@
                    </table>
                </div>
                @*</div>*@
            </div>
            @if (Model.RoleId == "R02" || Model.RoleId == "R08" || Model.RoleId == "R09")
            {
                <div class="tab-pane fade in" id="Inventory-1">
                    @{ Html.RenderAction("Index", "Inventory", new { OppContId = Model.OppContId }); }
                </div>
            }
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        var UrlGreenalert = "@Url.Content("~/Images/greenalert.png")";
        var UrlOpportunityList = "@Url.Action("OpportunityList", "OppoList")";
        var UrlContractList = "@Url.Action("ContractList", "ContList")";
        var UrlUserList = "@Url.Action("UserList", "Home")";
        var UrlCustomerList = "@Url.Action("CustomerList", "Home")";
        var UrlPartNoDetails = "@Url.Action("ViewPartNo", "Home")";
    </script>
    @Scripts.Render("~/bundles/JSPages");
}