﻿@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }
@model Initiatives.Models.MainModel

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("ContractList", "ContList")'">
        <i class="fa fa-tags"></i> Back
    </button>
    <div class="panel panel-u margin-bottom-20">
        <div class="panel-heading margin-bottom-10">
            <h3 class="panel-title"><i class="fa fa-user"></i> Create New Contract</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("CreateContract", "ContList", FormMethod.Post, new { @id = "sky-form", @class = "sky-form" }))
            {
                <div class="shadow-wrapper">
                    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                        <div class="row">
                            <div class="container">
                                <h4><b>General Information</b></h4>
                            </div>
                            <div class="clearfix margin-bottom-10"></div>
                            <div class="col-md-6">
                                <section>
                                    <label for="name" class="col-lg-3 control-label">Customer Name</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.OppoListDetail.CustId, (IEnumerable<SelectListItem>)ViewBag.Customerlist, new { @id = "CustomerName", @class = "form-control-static" })
                                    </label>
                                </section>
                                <section>
                                    <label for="type" class="col-lg-3 control-label">Contract Type</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.OppoListDetail.OppoTypeId, (IEnumerable<SelectListItem>)ViewBag.OppoTypeList, new { @id = "ContractType", @class = "form-control-static" })
                                    </label>
                                </section>
                                <section>
                                    <label for="type" class="col-lg-3 control-label">Contract Category</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.OppoListDetail.CatId, (IEnumerable<SelectListItem>)ViewBag.CategoryList, new { @id = "ContractCategory", @class = "form-control-static" })
                                    </label>
                                </section>
                                <section>
                                    @Html.LabelFor(m => m.OppoListDetail.OpportunityName, "Contract Name", new { @class = "col-lg-3 control-label" })
                                    @Html.TextBoxFor(m => m.OppoListDetail.OpportunityName, new { @id = "ContractName", @class = "form-control", @type = "text" })                                    
                                    <label class="col-lg-3 control-label"></label>@Html.ValidationMessageFor(m => m.OppoListDetail.OpportunityName, null, new { @class = "note-error color-red" })                        
                                </section>
                                <section>
                                    <label for="Description" class="col-lg-3 control-label">Description</label>
                                    <label class="col-lg-offset-5 textarea textarea-resizable">
                                        @Html.TextAreaFor(m => m.OppoListDetail.Description, 3, 1, new { @id = "Description" })                                        
                                    </label>
                                    <label class="col-lg-3 control-label"></label>       
                                    @Html.ValidationMessageFor(m => m.OppoListDetail.Description, null, new { @class = "note-error color-red" })                             
                                </section>
                            </div>
                            <div class="col-md-6">
                                <section>
                                    <label for="userName" class="col-lg-3 control-label">Assign To</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.OppoListDetail.AccManagerId, (IEnumerable<SelectListItem>)ViewBag.Managerlist, new { @id = "AssignTo", @class = "form-control-static" })
                                    </label>
                                </section>
                                <section>
                                    <label for="OpportunityValue" class="col-lg-3 control-label">Contract Value</label>
                                    @Html.TextBoxFor(m => m.OppoListDetail.OpportunityValue, new { @id = "ContractValue", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label>  
                                    @Html.ValidationMessageFor(m => m.OppoListDetail.OpportunityValue, null, new { @class = "note-error color-red" })
                                </section>
                                @*<section>
                                    <label for="BudgetaryRevenue" class="col-lg-3 control-label">Budgetary Revenue</label>
                                    @Html.TextBoxFor(m => m.OppoListDetail.BudgetaryRevenue, new { @id = "BudgetaryRevenue", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label>  
                                    @Html.ValidationMessageFor(m => m.OppoListDetail.BudgetaryRevenue, null, new { @class = "note-error color-red" })
                                </section>*@
                                <section>
                                    @Html.LabelFor(m => m.OppoListDetail.ContractNo, "Contract Number", new { @class = "col-lg-3 control-label" })
                                    @Html.TextBoxFor(m => m.OppoListDetail.ContractNo, new { @id = "ContractNo", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label> 
                                    @Html.ValidationMessageFor(m => m.OppoListDetail.ContractNo, null, new { @class = "note-error color-red" })                                                  
                                </section>
                                <section>
                                    <label for="StartDate" class="col-lg-3 control-label">Start Date</label>
                                    <label class="col-lg-offset-5 input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        @*<input name="ProposalDueDate" id="ProposalDueDate" class="datepicker" type="text" placeholder="@ViewData["ProposalDueDate"]" />*@
                                        @Html.TextBoxFor(m => m.OppoListDetail.StartDate, "{0:dd/MM/yyyy}", new { @id = "StartDate", @class = "datepicker", @type = "text" })
                                        
                                    </label>
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.OppoListDetail.StartDate, null, new { @class = "note-error color-red" })                            
                                </section>
                                <section>
                                    <label for="EndDate" class="col-lg-3 control-label">End Date</label>
                                    <label class="col-lg-offset-5 input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        @*<input name="ProposalDueDate" id="ProposalDueDate" class="datepicker" type="text" placeholder="@ViewData["ProposalDueDate"]" />*@
                                        @Html.TextBoxFor(m => m.OppoListDetail.EndDate, "{0:dd/MM/yyyy}", new { @id = "EndDate", @class = "datepicker", @type = "text" })
                                        
                                    </label>  
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.OppoListDetail.EndDate, null, new { @class = "note-error color-red" })
                                </section>
                            </div>
                            <div class="clearfix margin-bottom-20"></div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn-u btn-u-primary btn-FloatRight">Submit</button>
            }
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //debugger;
            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }

                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });

            $(".datepicker").datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-angle-left"></i>',
                nextText: '<i class="fa fa-angle-right"></i>'
            });
        });
    </script>
}