﻿@model Initiatives.Models.MainModel

@using (Ajax.BeginForm("DeliveryList", "ContList", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "delivery-1" }, new { @id = "DOListing", @class = "sky-form" }))
{
    <div class="container-fluid">
        <div id="RoleIds" class="hidden">@Model.RoleId</div>
        <div class="row">
            <div class="clearfix margin-bottom-10"></div>
            <div class="margin-bottom-25">
                @if (Model.RoleId == "R06" || Model.RoleId == "R02" || Model.RoleId == "R09")
                {
                    <button id="bAddDO" type="button" class="btn-u btn-u-primary">Add New Delivery Order</button>
                }
            </div>
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover wrapper" id="DOTable">
                    <thead>
                        <tr>
                            <th class="never"></th>
                            <th class="all"></th>
                            <th class="all">Delivery Order No.</th>
                            <th class="all">DO Issue Date</th>
                            <th class="desktop">Delivery Quantity</th>
                            <th class="desktop">PO No.</th>
                            <th class="desktop">Last Activity</th>
                            <th class="desktop">Last Activity Date</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.DOListObject)
                        {
                    <tr>
                        <td class="hide never">@Html.DisplayFor(modelItem => item.DOId)</td>
                        <td class="all"></td>
                        <td class="all">@Html.DisplayFor(modelItem => item.DONo)</td>
                        <td class="all">@Html.DisplayFor(modelItem => item.DOIssueDate)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.DeliveryQuantity)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.PONo)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.LastActivity)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.LastActivityDate)</td>
                    </tr>
                        }
                    <tfoot>
                        <tr>
                            <th class="never"></th>
                            <th class="all"></th>
                            <th class="all">Delivery Order No.</th>
                            <th class="all">DO Issue Date</th>
                            <th class="desktop">Delivery Quantity</th>
                            <th class="desktop">PO No.</th>
                            <th class="desktop">Last Activity</th>
                            <th class="desktop">Last Activity Date</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="clearfix margin-bottom-10"></div>
        </div>
    </div>
}
