﻿@model Initiatives.Models.MainModel

@using (Ajax.BeginForm("IOList", "ContList", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "io-1" }, new { @id = "IOListing", @class = "sky-form" }))
{
    <div class="container-fluid">
        <div id="RoleIds" class="hidden">@Model.RoleId</div>
        <div class="row">
            <div class="clearfix margin-bottom-10"></div>
            <div class="margin-bottom-25">
                @if (Model.RoleId == "R06" || Model.RoleId == "R02" || Model.RoleId == "R08" || Model.RoleId == "R09")
                {
                    <button id="bAddIO" type="button" class="btn-u btn-u-primary">Add New Internal Order</button>
                }
            </div>
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover wrapper" id="IOTable">
                    <thead>
                        <tr>
                            <th class="never"></th>
                            <th class="all"></th>
                            <th class="all">Internal Order No.</th>
                            <th class="all">IO Issue Date</th>
                            <th class="desktop">PO No.</th>
                            <th class="desktop">Last Activity</th>
                            <th class="desktop">Last Activity Date</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.IOListObject)
                    {
                        <tr>
                            <td class="hide never">@Html.DisplayFor(modelItem => item.IOId)</td>
                            <td class="all"></td>
                            <td class="all">@Html.DisplayFor(modelItem => item.IONo)</td>
                            <td class="all">@Html.DisplayFor(modelItem => item.IOIssueDate)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.PONo)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.LastActivity)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.LastActivityDate)</td>
                        </tr>
                    }
                    <tfoot>
                        <tr>
                            <th class="never"></th>
                            <th class="all"></th>
                            <th class="all">Internal Order No.</th>
                            <th class="all">IO Issue Date</th>
                            <th class="desktop">PO No.</th>
                            <th class="desktop">Last Activity</th>
                            <th class="desktop">Last Activity Date</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="clearfix margin-bottom-10"></div>
        </div>
    </div>
}
