﻿@model Initiatives.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Ajax.BeginForm("PertinentInfo", "ContList", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "info-1" }, new { @id = "sky-form", @class = "sky-form" }))
{
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>General Information</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="col-md-6">
                    @Html.HiddenFor(m => m.CreateByUserId)
                    @Html.HiddenFor(m => m.RoleId)
                    @Html.HiddenFor(m => m.OppContId)
                    <div id="ContractIds" class="hidden">@Model.OppContId</div>@*use for jquery upload calling*@
                    <div id="RoleIds" class="hidden">@Model.RoleId</div>
                    <section>
                        <label for="name" class="col-lg-3 control-label">Customer Name</label>
                        <label class="select">
                            @Html.DropDownListFor(m => m.OppoListDetail.CustId, (IEnumerable<SelectListItem>)ViewBag.Customerlist, new { @id = "CustomerName", @class = "form-control-static" })
                        </label>
                    </section>
                    <section>
                        <label for="type" class="col-lg-3 control-label">Contract Type</label>
                        <label class="select">
                            @Html.DropDownListFor(m => m.OppoListDetail.OppoTypeId, (IEnumerable<SelectListItem>)ViewBag.OppoTypeList, new { @id = "ContractType", @class = "form-control-static" })
                        </label>
                    </section>
                    <section>
                        <label for="type" class="col-lg-3 control-label">Contract Category</label>
                        <label class="select">
                            @Html.DropDownListFor(m => m.OppoListDetail.CatId, (IEnumerable<SelectListItem>)ViewBag.CategoryList, new { @id = "ContractCategory", @class = "form-control-static" })
                        </label>
                    </section>
                    <section>
                        @Html.LabelFor(m => m.OppoListDetail.OpportunityName, "Contract Name", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.OppoListDetail.OpportunityName, new { @id = "ContractName", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.OppoListDetail.OpportunityName, null, new { @class = "note-error color-red" })                                             
                    </section>
                    <section>
                        <label for="Description" class="col-lg-3 control-label">Description</label>
                        <label class="col-lg-offset-5 textarea textarea-resizable">
                            @Html.TextAreaFor(m => m.OppoListDetail.Description, 4, 1, new { @id = "Description" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.OppoListDetail.Description, null, new { @class = "note-error color-red" })                      
                    </section>                   
                </div>
                <div class="col-md-6">                    
                    <section>
                        <label for="userName" class="col-lg-3 control-label">Assign To</label>
                        <label class="select">
                            @Html.DropDownListFor(m => m.OppoListDetail.AccManagerId, (IEnumerable<SelectListItem>)ViewBag.Managerlist, new { @id = "AssignTo", @class = "form-control-static" })
                        </label>                   
                    </section>
                    <section>
                        <label for="OpportunityValue" class="col-lg-3 control-label">Contract Value (RM)</label>
                        @Html.TextBoxFor(m => m.OppoListDetail.OpportunityValue, String.Format("{0:N2}", Model.OppoListDetail.OpportunityValue), new { @id = "ContractValue", @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(m => m.OppoListDetail.OpportunityValue, null, new { @class = "note-error color-red" })
                    </section>
                    @*<section>
                        <label for="BudgetaryRevenue" class="col-lg-3 control-label">Budgetary Revenue (RM)</label>
                        @Html.TextBoxFor(m => m.OppoListDetail.BudgetaryRevenue, String.Format("{0:N2}", Model.OppoListDetail.BudgetaryRevenue), new { @id = "BudgetaryRevenue", @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(m => m.OppoListDetail.BudgetaryRevenue, null, new { @class = "note-error color-red" })
                    </section>*@    
                    <section>
                        @Html.LabelFor(m => m.OppoListDetail.ContractNo, "Contract Number", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.OppoListDetail.ContractNo, new { @id = "ContractNo", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.OppoListDetail.ContractNo, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="StartDate" class="col-lg-3 control-label">Start Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.OppoListDetail.StartDate, "{0:dd/MM/yyyy}", new { @id = "StartDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.OppoListDetail.StartDate, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="EndDate" class="col-lg-3 control-label">End Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.OppoListDetail.EndDate, "{0:dd/MM/yyyy}", new { @id = "EndDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.OppoListDetail.EndDate, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                <div class="clearfix"></div>
            </div>
            @if (Model.RoleId == "R02" || Model.objCanEdit.canEdits == true)
            {
            <div class="row btn-FloatRight">
                <button type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
            </div>
            }
        </div>
    </div>
    if (Model.SaveSuccess == true)
    {
        <script>
            //debugger;
            $.ajax({
                type: "POST",
                url: "@Url.Action("QuestionAnswer", "ContList")",
                data: { uid: $("#UserIds")[0].textContent, contractId: $("#ContractIds")[0].textContent, roleid: $("#RoleIds")[0].textContent },
                cache: false,
                success: function (data) {
                    //debugger;
                    $("#qna-1").html(data);
                }
            });
            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }

                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });
            $(".datepicker").datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-angle-left"></i>',
                nextText: '<i class="fa fa-angle-right"></i>'
            });
            alert("Save Success!");
        </script>
    }
}

