﻿@model Initiatives.Models.MainModel

@using (Html.BeginForm("POexpected", "ContList", FormMethod.Post, new { @id = "POExpected", @class = "sky-form" }))
{
    <div class="clearfix margin-bottom-10"></div>
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>PO Expected from AM</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="col-md-6">
                    @Html.Hidden("UserId", Session["UserId"].ToString())
                    @Html.Hidden("RoleId", Model.RoleId)
                    @Html.Hidden("OppContId", Session["ContractId"].ToString())
                    <section>
                        <label for="SelectedYear" class="col-lg-5 control-label">Please insert PO expected year (eg. 2016) :</label>
                        @*<input id="SelectedYear" class="form-control form-control-poe" type="text" />*@
                        @Html.TextBoxFor(m => m.POExpectedObj.SelectedYear, new { @id = "SelectedYear", @class = "form-control form-control-poe", @type = "text" })
                        @Html.ValidationMessageFor(m => m.POExpectedObj.SelectedYear, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label for="ExpectedPO" class="col-lg-5 control-label">Please insert your expected PO amount (RM) :</label>
                        @*<input id="ExpectedPO" class="form-control" type="text" />*@
                        @Html.TextBoxFor(m => m.POExpectedObj.ExpectedPO, new { @id = "ExpectedPO", @class = "form-control form-control-poe", @type = "text" })
                        @Html.ValidationMessageFor(m => m.POExpectedObj.ExpectedPO, null, new { @class = "note-error color-red" })
                    </section>
                </div>
            </div>
            @if (Model.RoleId == "R02" || Model.RoleId == "R03")
            {
                <div class="row btn-FloatRight padding-right">
                    <button id="SubmitPOExpected" class="btn-SaveChanges btn-u btn-u-primary" type="submit">Save changes</button>
                </div>
            }
        </div>
    </div>
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover wrapper" id="POETable">
                            <thead>
                                <tr>
                                    <th class="all">Year</th>
                                    <th class="all">Total Price (RM)</th>
                                    <th class="all">Total GST (RM)</th>
                                    <th class="desktop">Expected Amount (RM)</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.POExpectedListObject)
                            {
                                <tr>                                 
                                    <td class="all">@Html.DisplayFor(modelItem => item.Year)</td>
                                    <td class="all">@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                                    <td class="desktop">@Html.DisplayFor(modelItem => item.TotalGST)</td>
                                    <td class="desktop">@Html.DisplayFor(modelItem => item.ExpectedAmount)</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}