﻿@model Initiatives.Models.MainModel

@using (Ajax.BeginForm("POList", "ContList", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "po-1" }, new { @id = "sky-form", @class = "sky-form" }))
{
    <div class="container-fluid">
        <div id="RoleIds" class="hidden">@Model.RoleId</div>
        <div class="row">
            <div class="clearfix margin-bottom-10"></div>
            <div class="margin-bottom-25">
                @if (Model.RoleId == "R04" || Model.RoleId == "R02" || Model.RoleId == "R09")
                {
                    <button id="bAddPO" type="button" class="btn-u btn-u-primary">Add New Purchase Order</button>
                }
            </div>
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover wrapper" id="PurchaseOrder">
                    <thead>
                        <tr>
                            <th class="never"></th>
                            <th class="all"></th>
                            <th class="all">PO No.</th>
                            <th class="all">Description</th>
                            <th class="desktop">PO Issue Date</th>
                            <th class="desktop">Total Amount</th>
                            <th class="desktop">Status</th>
                            <th class="desktop">Created By</th>
                            <th class="desktop">Last Activity</th>
                            <th class="desktop">Last Activity Date</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.POListObject)
                    {
                    <tr>
                        <td class="hide never">@Html.DisplayFor(modelItem => item.POId)</td>
                        <td class="all"></td>
                        <td class="all">@Html.DisplayFor(modelItem => item.PONo)</td>
                        <td class="all">@Html.DisplayFor(modelItem => item.Description)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.POIssueDate)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.TotalAmount)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.Status)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.LastActivity)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.LastActivityDate)</td>
                    </tr>
                    }
                    <tfoot>
                        <tr>
                            <th class="never"></th>
                            <th class="all"></th>
                            <th class="all">PO No.</th>
                            <th class="all">Description</th>
                            <th class="desktop">PO Issue Date</th>
                            <th class="desktop">Total Amount</th>
                            <th class="desktop">Status</th>
                            <th class="desktop">Created By</th>
                            <th class="desktop">Last Activity</th>
                            <th class="desktop">Last Activity Date</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--End Basic Table-->
        </div>
    </div>
}
