﻿@model Initiatives.Models.MainModel

@using (Ajax.BeginForm("POReport", "ContList", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "POReport-1" }, new { @id = "POReport", @class = "sky-form" }))
{
    <div class="container-fluid">
        <div id="RoleIds" class="hidden">@Model.RoleId</div>
        <div class="row">
            <div class="clearfix margin-bottom-10"></div>
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover wrapper" id="POReportTable">
                    <thead>
                        <tr>
                            @*<th class="never"></th>*@
                            <th class="all">Material No.</th>
                            @*<th class="all">Branch Address</th>*@
                            <th class="all">Description</th>
                            <th class="desktop">Qntty</th>
                            <th class="desktop">Cust. PO Date</th>
                            <th class="desktop">Cust. PO No.</th>
                            <th class="desktop">Unit Price</th>
                            <th class="desktop">Total Price</th>
                            <th class="desktop">Total GST</th>
                            <th class="desktop">Total PO Amount</th>
                            <th class="desktop">Expected Dlvry Date</th>
                            <th class="desktop">IO No</th>
                            <th class="desktop">IO Date</th>
                            <th class="desktop">PR Date</th>
                            <th class="desktop">PR No</th>
                            <th class="desktop">Vendor Name</th>
                            <th class="desktop">DO Date</th>
                            <th class="desktop">DO No</th>
                            <th class="desktop">Delivery Quantity</th>
                            <th class="desktop">Delivered Quantity</th>
                            <th class="desktop">Status</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.POReportListObject)
                    {
                    <tr>
                        @*<td class="hide never"></td>*@
                        <td class="all">@Html.DisplayFor(modelItem => item.MaterialNo)</td>
                        @*<td class="all">@Html.DisplayFor(modelItem => item.BranchAddress)</td>*@
                        <td class="all">@Html.DisplayFor(modelItem => item.Description)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.Quantity)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.POIssueDate)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.PONo)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.TotalGST)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.TotalPOAmount)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.DeliveryDate)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.IONo)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.IOIssuedate)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.PRIssuedate)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.PRNo)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.CustName)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.DOIssueDate)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.DONo)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.DeliveryQuantity)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.DeliveredQuantity)</td>
                        <td class="desktop">@Html.DisplayFor(modelItem => item.Status)</td>
                    </tr>
                    }
                    @*<tfoot>
                        <tr>
                            <th class="all">Material No.</th>
                            <th class="all">Description</th>
                            <th class="desktop">Quantity</th>
                            <th class="desktop">PO Issue Date</th>
                            <th class="desktop">PO No.</th>
                            <th class="desktop">Unit Price</th>
                            <th class="desktop">Total Price</th>
                            <th class="desktop">Total GST</th>
                            <th class="desktop">Total PO Amount (RM)</th>
                            <th class="desktop">Delivery Date</th>
                            <th class="desktop">IO Issue Date</th>
                            <th class="desktop">PR Issue Date</th>
                            <th class="desktop">PR No</th>
                            <th class="desktop">Name</th>
                            <th class="desktop">DO Issue Date</th>
                            <th class="desktop">DO No</th>
                            <th class="desktop">Delivered Quantity</th>
                            <th class="desktop">Status</th>
                        </tr>
                    </tfoot>*@
                </table>
            </div>
            <div class="clearfix margin-bottom-10"></div>
        </div>
    </div>
}