﻿@model Initiatives.Models.MainModel

@using (Ajax.BeginForm("PRList", "ContList", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "pr-1" }, new { @id = "PRListing", @class = "sky-form" }))
{
    <div class="container-fluid">      
        <div id="RoleIds" class="hidden">@Model.RoleId</div>
        <div class="row">
            <div class="clearfix margin-bottom-10"></div>
            <div class="margin-bottom-25">
                @if (Model.RoleId == "R06" || Model.RoleId == "R02" || Model.RoleId == "R08" || Model.RoleId == "R09")
                {
                    <button id="bAddPR" type="button" class="btn-u btn-u-primary">Add New Purchase Requisition</button>
                }
            </div>
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover wrapper" id="PRTable">
                    <thead>
                        <tr>
                            <th class="never"></th>
                            <th class="all"></th>
                            <th class="all">PR No.</th>
                            <th class="all">PR Issue Date</th>
                            <th class="desktop">Budgeted Amount</th>
                            <th class="desktop">Budgeted Balance</th>
                            <th class="desktop">Total Price + GST</th>
                            <th class="desktop">PO No.</th>
                            <th class="desktop">Last Activity</th>
                            <th class="desktop">Last Activity Date</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.PRListObject)
                    {
                        <tr>
                            <td class="hide never">@Html.DisplayFor(modelItem => item.PRId)</td>
                            <td class="all"></td>
                            <td class="all">@Html.DisplayFor(modelItem => item.PRNo)</td>
                            <td class="all">@Html.DisplayFor(modelItem => item.PRIssueDate)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.BudgetedAmount)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.BudgetBalance)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.PONo)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.LastActivity)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.LastActivityDate)</td>
                        </tr>
                    }
                    <tfoot>
                        <tr>
                            <th class="never"></th>
                            <th class="all"></th>
                            <th class="all">PR No.</th>
                            <th class="all">PR Issue Date</th>
                            <th class="desktop">Budgeted Amount</th>
                            <th class="desktop">Budgeted Balance</th>
                            <th class="desktop">Total Price + GST</th>
                            <th class="desktop">PO No.</th>
                            <th class="desktop">Last Activity</th>
                            <th class="desktop">Last Activity Date</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--End Basic Table-->
        </div>
    </div>
}
