﻿@model Initiatives.Models.MainModel

<div class="row custom-wrap">
    @using (Html.BeginForm("AddTeamMember", "ContList", FormMethod.Post, new { @id = "TeamMember", @class = "sky-form" }))
    {
        <div class="col-md-8 shadow-wrapper">
            <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                <h4><b>Existing Member</b></h4>
                <div class="clearfix margin-bottom-20"></div>
                <!--Table Striped-->
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover wrapper" id="newMember">
                        <thead>
                            <tr>
                                <th rowspan="2" class="hide">#</th>
                                <th rowspan="2" class="all">Name</th>
                                <th rowspan="2" class="all">Remark</th>
                                <th rowspan="1" colspan="2" class="desktop PermissionBorder">Permission</th>
                            </tr>
                            <tr>
                                <th colspan="1" class="desktop" rowspan=" 1">Review</th>
                                <th colspan="1" class="desktop" rowspan="1">Editor</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TeamMemberList)
                            {
                                string canView = "";
                                string canEdit = "";
                                if (item.canView == true) { canView = "checked"; }
                                if (item.canEdit == true) { canEdit = "checked"; }
                                <tr class="permission">
                                    <td class="hide never">@Html.DisplayFor(modelItem => item.UserId)</td>
                                    <td class="all">@item.UserName</td>
                                    <td class="all">@Html.TextBox("Remark", item.Remark, new { @id = "Remark", @class = "form-control custom-filter subpermission", @type = "text" })</td>
                                    <td class="desktop">
                                        <div>
                                            <label class="checkbox">
                                                <input class="subpermission" name="canView" type="checkbox" @canView>
                                                @*@Html.CheckBox("checkbox")*@
                                                @*@Html.CheckBoxFor(x => TeamMemberList.canView)*@
                                                <i class="cb-alignment"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="desktop">
                                        <div>
                                            <label class="checkbox">
                                                <input class="subpermission" name="canEdit" type="checkbox" @canEdit>
                                                @*@Html.CheckBoxFor(x => TeamMemberList.canEdit)*@
                                                <i class="cb-alignment"></i>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!--End Table Striped-->
                @if (Model.RoleId == "R02" || Model.ViewEdit.canEdit == true)
                {
                    <div class="clearfix margin-bottom-20"></div>
                    <div class="row btn-FloatRight">
                        <button type="button" id="SubmitContPermission" class="btn-u btn-u-primary">Submit Changes</button>
                    </div>
                }

            </div>
            <div class="clearfix margin-bottom-20"></div>
        </div>
        if (Model.RoleId == "R02" || Model.ViewEdit.canEdit == true)
        {
            <div class="col-md-4 shadow-wrapper">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                    <h4><b>Add New Team Member</b></h4>
                    <p>
                        @*<label for="AddTeamMember" class="col-lg-3 control-label">Select new member: </label>*@
                        @*<select class="form-control">
                                <option>Saiful</option>
                                <option>Alia</option>
                                <option>Azimah</option>
                                <option>Sasha</option>
                            </select>*@
                        @Html.Hidden("UserId")
                        <div class="clearfix margin-bottom-20"></div>
                        <label class="select">
                            @Html.DropDownList("AccManagerId", (IEnumerable<SelectListItem>)ViewBag.TeamMemberList, "Please select new member here", new { @id = "TeamMemberList" })
                        </label>
                    </p>
                    <div class="clearfix margin-bottom-20"></div>
                    <div class="row btn-FloatRight">
                        <button type="button" id="SubmitContNewMember" class="btn-u btn-u-primary">Submit New Member</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 shadow-wrapper">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                    <h4><b>Remove Team Member</b></h4>
                    <p>
                        @*<label for="AddTeamMember" class="col-lg-3 control-label">Select new member: </label>*@
                        @*<select class="form-control">
                                <option>Saiful</option>
                                <option>Alia</option>
                                <option>Azimah</option>
                                <option>Sasha</option>
                            </select>*@
                        @Html.Hidden("UserId")
                        <div class="clearfix margin-bottom-20"></div>
                        <label class="select">
                            @Html.DropDownList("AccManagerId", (IEnumerable<SelectListItem>)ViewBag.TeamMemberRemoveList, "Please select team member here", new { @id = "TeamMemberRemoveList" })
                        </label>
                    </p>
                    <div class="clearfix margin-bottom-20"></div>
                    <div class="row btn-FloatRight">
                        <button type="button" id="SubmitContRemoveMember" class="btn-u btn-u-primary">Remove Team Member</button>
                    </div>
                </div>
            </div>
        }
    }
    <div class="clearfix margin-bottom-20"></div>
</div>