﻿@model Initiatives.Models.MainModel

@using (Ajax.BeginForm("TNIList", "TNIList", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "po-1" }, new { @id = "sky-form", @class = "sky-form" }))
{
    <div class="container-fluid">
        <div class="hide">
            <a data-ajax="true"
               data-ajax-method="Get"
               data-ajax-mode="replace"
               data-ajax-update="#result"
               class="btn-FloatRight"
               href="~/TNIList/TNITabs" id="actionTNI"></a>
            <a data-ajax="true"
               data-ajax-method="Get"
               data-ajax-mode="replace"
               data-ajax-update="#result"
               class="btn-FloatRight"
               href="~/TNIList/NewTNI" id="aCreateTNI"></a>
        </div>
        <div id="RoleIds" class="hidden">@Model.RoleId</div>
        <div class="row">
            <div class="clearfix margin-bottom-10"></div>
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover wrapper" id="TnITable">
                    <thead>
                        <tr>
                            <th class="never"></th>
                            <th class="all"></th>
                            <th class="all">T&amp;I No.</th>
                            <th class="all">T&amp;I Date</th>
                            <th class="desktop">T&amp;I Time</th>
                            <th class="desktop">Description</th>
                            <th class="desktop">Date of Acceptance</th>
                            <th class="desktop">Type Of Request</th>
                            <th class="desktop">Payment Status</th>
                            <th class="desktop">Withdraw</th>
                        </tr>
                    </thead>
                    @*@foreach (var item in Model.TNIListObject)
                    {
                        <tr>
                            <td class="hide never">@Html.DisplayFor(modelItem => item.TnIId)</td>
                            <td class="all"></td>
                            <td class="all">@Html.DisplayFor(modelItem => item.TnINo)</td>
                            <td class="all">@Html.DisplayFor(modelItem => item.TestDate)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.StartTime) - @Html.DisplayFor(modelItem => item.EndTime)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.Description)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.AcceptanceDate)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.Status)</td>
                            <td class="desktop">@Html.ActionLink("Withdraw", "WithdrawTnI", new { id = item.TnIId })</td>
                        </tr>
                    }*@
                    <tfoot>
                        <tr>
                            <th class="never"></th>
                            <th class="all"></th>
                            <th class="all">T&amp;I No.</th>
                            <th class="all">T&amp;I Date</th>
                            <th class="desktop">T&amp;I Time</th>
                            <th class="desktop">Description</th>
                            <th class="desktop">Date of Acceptance</th>
                            <th class="desktop">Type Of Request</th>
                            <th class="desktop">Payment Status</th>
                            <th class="desktop">Withdraw</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="clearfix margin-bottom-10"></div>
            @if (Model.RoleId == "R04" || Model.RoleId == "R02")
            {
                <button id="bAddTNI" type="button" class="btn-u btn-u-primary btn-FloatRight">New</button>
            }
        </div>
    </div>
}
