﻿@model Initiatives.Models.MainModel
@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("ContractList", "ContList")'">
        <i class="fa fa-tags"></i> Back
    </button>
    <!-- Tab v2 -->
    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <li class="navbar-height"><a href="#info-1" data-toggle="tab"><h4>Info</h4></a></li>
            <li class="navbar-height"><a href="#po-1" data-toggle="tab"><h4>Purchase Order</h4></a></li>
            <li class="navbar-height"><a href="#poexpected-1" data-toggle="tab"><h4>PO Expected</h4></a></li>
            <li class="navbar-height"><a href="#io-1" data-toggle="tab"><h4>Internal Order</h4></a></li>
            @*<li class="navbar-height"><a href="#tni-1" data-toggle="tab"><h4>Testing &amp; Inspection</h4></a></li>*@
            <li class="navbar-height"><a href="#pr-1" data-toggle="tab"><h4>Purchase Requisition</h4></a></li>
            <li class="navbar-height"><a href="#delivery-1" data-toggle="tab"><h4>Delivery Order</h4></a></li>
            @if (Model.RoleId == "R02" || Model.RoleId == "R08" || Model.RoleId == "R09")
            {
                <li class="navbar-height"><a href="#POReport-1" data-toggle="tab"><h4>PO Reports</h4></a></li>
            }
            <li class="navbar-height"><a href="#teammember-1" data-toggle="tab"><h4>Team Member</h4></a></li>
            @*<li class="navbar-height"><a href="#docmanagement-1" data-toggle="tab"><h4>Doc Management</h4></a></li>
        <li class="navbar-height"><a href="#qna-1" data-toggle="tab"><h4>Updates</h4></a></li>*@
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in firstTab" id="info-1">
                @{ Html.RenderAction("PertinentInfo", "ContList", new { OppContId = Model.OppContId }); }
            </div>
            <div class="tab-pane fade in" id="po-1">
                @{ Html.RenderAction("POList", "ContList", new { OppContId = Model.OppContId }); }
            </div>
            <div class="tab-pane fade in" id="poexpected-1">
                @{ Html.RenderAction("POExpected", "ContList", new { OppContId = Model.OppContId }); }
            </div>
            @*<div class="tab-pane fade in" id="tni-1">
            @{ Html.RenderAction("TNIList", "ContList", new { OppContId = Model.OppContId }); }
        </div>*@
            <div class="tab-pane fade in" id="io-1">
                @{ Html.RenderAction("IOList", "ContList", new { OppContId = Model.OppContId }); }
            </div>
            <div class="tab-pane fade in" id="pr-1">
                @{ Html.RenderAction("PRList", "ContList", new { OppContId = Model.OppContId }); }
            </div>
            <div class="tab-pane fade in" id="delivery-1">
                @{ Html.RenderAction("DeliveryList", "ContList", new { OppContId = Model.OppContId }); }
            </div>
            @if (Model.RoleId == "R02" || Model.RoleId == "R08" || Model.RoleId == "R09")
            {
                <div class="tab-pane fade in" id="POReport-1">
                    @{ Html.RenderAction("POReport", "ContList", new { OppContId = Model.OppContId }); }
                </div>
            }
            <div class="tab-pane fade in" id="teammember-1">
                @{ Html.RenderAction("TeamMember", "ContList", new { OppContId = Model.OppContId }); }
            </div>
            @*<div class="tab-pane fade in" id="docmanagement-1">
            @{ Html.RenderAction("DocManagement", "ContList", new { OppContId = Model.OppContId }); }
            <div class="clearfix margin-bottom-20"></div>
        </div>
        <div class="tab-pane fade in" id="qna-1">
            @{ Html.RenderAction("QuestionAnswer", "ContList", new { OppContId = Model.OppContId }); }
        </div>*@
        </div>
    </div>
    <!-- End Tab v2 -->
</div>

@section scripts {
    <script type="text/javascript">
        var UrlTeamPermission = "@Url.Action("TeamPermission", "OppoList")";
        var UrlTeamMember = "@Url.Action("TeamMember", "ContList")";
        var UrlAddTeamMember = "@Url.Action("AddTeamMember", "ContList")";
        var UrlRemoveTeamMember = "@Url.Action("RemoveTeamMember", "ContList")";
        var UrlQuestionAnswer = "@Url.Action("QuestionAnswer", "ContList")";
        var UrlPOExpected = "@Url.Action("POExpected", "ContList")";
        var UrlGreenalert = "@Url.Content("~/Images/greenalert.png")";
        var UrlRedalert = "@Url.Content("~/Images/redalert.png")";
        var UrlYellowalert = "@Url.Content("~/Images/yellowalert.png")";
        var UrlTnIList = "@Url.Action("TnIList", "ContList")";
        var UrlPOTabs = "@Url.Action("POTabs", "POList")";
        var UrlIOTabs = "@Url.Action("IOTabs", "IOList")";
        var UrlPRTabs = "@Url.Action("PRTabs", "PRList")";
        var UrlDOTabs = "@Url.Action("DOTabs", "DOList")";
        var UrlNewPO = "@Url.Action("NewPO", "POList")";
        var UrlNewIO = "@Url.Action("NewIO", "IOList")";
        var UrlNewPR = "@Url.Action("NewPR", "PRList")";
        var UrlNewDO = "@Url.Action("NewDO", "DOList")";
        var UrlPartNoDetails = "@Url.Action("ViewPartNo", "Home")";
    </script>
    @Scripts.Render("~/bundles/JSPages");
}


