﻿@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }
@model Initiatives.Models.InventoryDetailInfo

<div id="newPO" class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button id="btn-BackAddNewStock" class="btn-u btn-success margin-bottom-25" type="button">
        <i class="fa fa-tags"></i> Back
    </button>
    <div id="CreateNewPO-1">
        <div class="clearfix margin-bottom-10"></div>
        @using (Html.BeginForm("AddNewStock", "POList", FormMethod.Post, new { @id = "AddNewStockForm", @class = "sky-form" }))
        {
            <div class="panel panel-u margin-bottom-20">
                <div class="panel-heading margin-bottom-10">
                    <h3 class="panel-title"><i class="fa fa-user"></i> Add New Stock</h3>
                </div>
                <div class="panel-body">
                    <div class="shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                            <div class="row">
                                <div class="container">
                                    <h4><b>General Information</b></h4>
                                </div>
                                <div class="clearfix margin-bottom-10"></div>
                                <div class="col-md-6">
                                    <section>
                                        <label for="MaterialCode" class="col-lg-3 control-label">Material Code</label>
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.PartNo, (IEnumerable<SelectListItem>)ViewBag.MaterialNolist, "Please select material no here", new { @id = "NewStockMaterialCode", @class = "form-control-static" })
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.PartNo, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="MaterialDescription" class="col-lg-3 control-label">Material Description</label>
                                        @Html.TextBoxFor(m => m.MaterialDesc, new { @id = "MaterialDescription", @class = "form-control", @type = "text", @disabled = "disabled" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.MaterialDesc, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="ReceivedDate" class="col-lg-3 control-label">Received Date</label>
                                        <label class="col-lg-offset-5 input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            @Html.TextBoxFor(m => m.ReceivedDate, "{0:dd/MM/yyyy}", new { @id = "ReceivedDate", @class = "datepicker", @type = "text" })
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.ReceivedDate, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="QuantityReceived" class="col-lg-3 control-label">Quantity Received</label>
                                        @Html.TextBoxFor(m => m.QuantityReceived, new { @id = "QuantityReceived", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.QuantityReceived, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="UOM" class="col-lg-3 control-label">Unit of Material</label>
                                        @Html.TextBoxFor(m => m.UOM, new { @id = "UOM", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.UOM, null, new { @class = "note-error color-red" })
                                    </section>
                                </div>
                                <div class="col-md-6">
                                    <section>
                                        <label for="UnitPrice" class="col-lg-3 control-label">Unit Price</label>
                                        @Html.TextBoxFor(m => m.UnitPrice, new { @id = "UnitPrice", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.UnitPrice, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="ItemType" class="col-lg-3 control-label">Item Type</label>
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.ItemTypeId, (IEnumerable<SelectListItem>)ViewBag.ItemTypelist, "Please select item type here", new { @id = "ItemType", @class = "form-control-static" })
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.ItemTypeId, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="Supplier" class="col-lg-3 control-label">Supplier</label>
                                        @Html.TextBoxFor(m => m.Supplier, new { @id = "Supplier", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.Supplier, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="PurchasePONo" class="col-lg-3 control-label">Purchase PO No.</label>
                                        @Html.TextBoxFor(m => m.PurchasePONo, new { @id = "PurchasePONo", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.PurchasePONo, null, new { @class = "note-error color-red" })
                                    </section>
                                </div>
                                @*<div class="clearfix margin-bottom-20"></div>*@
                            </div>
                        </div>
                    </div>
                    <button id="btn-SubmitNewStock" type="submit" class="btn-u btn-u-primary btn-FloatRight">Submit</button>
                </div>
            </div>

            <div class="modal fade bs-example-modal-sm" id="AddNewStockLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var UrlSubmitNewStock = "@Url.Action("AddNewStock", "Inventory")";
        var UrlProjectInfo = "@Url.Action("GetProjectInfo", "Inventory")";
        var UrlPartNoInfo = "@Url.Action("GetPartNoInfo", "Inventory")";
        var UrlContractList = "@Url.Action("ContractList", "ContList" )";
    </script>
    @Scripts.Render("~/bundles/JSPages");
}






