﻿@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }
@model Initiatives.Models.InventoryDetailInfo

<div id="AddNewReq" class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button id="btn-BackDo" class="btn-u btn-success margin-bottom-25" type="button">
        <i class="fa fa-tags"></i> Back
    </button>
    <div id="CreateNewPO-1">
        <div class="clearfix margin-bottom-10"></div>
        @using (Html.BeginForm("AddNewReq", "Inventory", FormMethod.Post, new { @id = "AddNewReqForm", @class = "sky-form" }))
        {
            <div class="panel panel-u margin-bottom-20">
                <div class="panel-heading margin-bottom-10">
                    <h3 class="panel-title"><i class="fa fa-user"></i> Add New Request</h3>
                </div>
                <div class="panel-body">
                    <div class="shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                            <div class="row">
                                <div class="container">
                                    <h4><b>General Information</b></h4>
                                </div>
                                <div class="clearfix margin-bottom-10"></div>
                                <div class="col-md-6">
                                    <section>
                                        <label for="MaterialCode" class="col-lg-3 control-label">Material Code</label>
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.PartNo, (IEnumerable<SelectListItem>)ViewBag.MaterialNolist, "Please select material no here", new { @id = "NewReqMaterialCode", @class = "form-control-static" })
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.PartNo, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="MaterialDescription" class="col-lg-3 control-label">Material Description</label>
                                        @Html.TextBoxFor(m => m.MaterialDesc, new { @id = "MaterialDescription", @class = "form-control", @type = "text", @disabled = "disabled" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.MaterialDesc, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="AvailableQuantity" class="col-lg-3 control-label">Available Quantity</label>
                                        @Html.TextBoxFor(m => m.AvailableQuantity, new { @id = "AvailableQuantity", @class = "form-control", @type = "text", @disabled = "disabled" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.AvailableQuantity, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="RequestQuantity" class="col-lg-3 control-label">Request Quantity</label>
                                        @Html.TextBoxFor(m => m.RequestQuantity, new { @id = "RequestQuantity", @class = "form-control", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.RequestQuantity, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="Project" class="col-lg-3 control-label">Project</label>
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.ProjectId, (IEnumerable<SelectListItem>)ViewBag.Project,"Please select project here", new { @id = "Project", @class = "form-control-static" })
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.ProjectId, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="ProjectPONo" class="col-lg-3 control-label">Project PO No.</label>
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.POId, (IEnumerable<SelectListItem>)ViewBag.ProjectPONo, "Please select PO no here", new { @id = "ProjectPONo", @class = "form-control-static" })
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.POId, null, new { @class = "note-error color-red" })
                                    </section>
                                </div>
                                <div class="col-md-6">                                   
                                    <section>
                                        <label for="OutDate" class="col-lg-3 control-label">Out Date</label>
                                        <label class="col-lg-offset-5 input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            @Html.TextBoxFor(m => m.OutDate, "{0:dd/MM/yyyy}", new { @id = "OutDate", @class = "datepicker", @type = "text" })
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.OutDate, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="DeliveryOrderNo" class="col-lg-3 control-label">Delivery Order No.</label>
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.DOId, (IEnumerable<SelectListItem>)ViewBag.DeliveryOrderNo, "Please select DO no here", new { @id = "DeliveryOrderNo", @class = "form-control-static" })
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.DOId, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="Status" class="col-lg-3 control-label">Status</label>
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.StatusId, (IEnumerable<SelectListItem>)ViewBag.Status, "Please select status here", new { @id = "Status", @class = "form-control-static" })
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.StatusId, null, new { @class = "note-error color-red" })
                                    </section>
                                    <section>
                                        <label for="Remark" class="col-lg-3 control-label">Remark</label>
                                        <label class="col-lg-offset-5 textarea textarea-resizable">
                                            @Html.TextAreaFor(m => m.Remark, 3, 1, new { @id = "Remark" })
                                        </label>
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.Remark, null, new { @class = "note-error color-red" })
                                    </section>
                                </div>
                                @*<div class="clearfix margin-bottom-20"></div>*@
                            </div>
                        </div>
                    </div>
                    <button id="btn-SubmitNewReq" type="button" class="btn-u btn-u-primary btn-FloatRight">Submit</button>
                </div>
            </div>

            <div class="modal fade bs-example-modal-sm" id="AddNewRequestLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var UrlSubmitNewReq = "@Url.Action("AddNewReq", "Inventory")";
        var UrlProjectInfo = "@Url.Action("GetProjectInfo", "Inventory")";
        var UrlPartNoInfo = "@Url.Action("GetPartNoInfo", "Inventory")";
        var UrlContractList = "@Url.Action("ContractList", "ContList" )";
    </script>
    @Scripts.Render("~/bundles/JSPages");
}






