﻿@model Initiatives.Models.MainModel

@using (Ajax.BeginForm("Index", "Inventory", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace }, new { @class = "sky-form" }))
{
    <div class="container-fluid">
        <div id="RoleIds" class="hidden">@Model.RoleId</div>
        @Html.HiddenFor(m => m.OppContId)
        <div class="row">
            <div class="clearfix margin-bottom-10"></div>
            <div class="margin-bottom-25">
                @*@if (Model.RoleId == "R04" || Model.RoleId == "R02" || Model.RoleId == "R09")
                {*@
                    <button id="bAddNewReq" onclick="location.href = '@Url.Action("AddNewReq","Inventory")'" type="button" class="btn-u btn-u-primary">Add New Request</button>
                    <button id="bAddNewStock" onclick="location.href = '@Url.Action("AddNewStock","Inventory")'" type="button" class="btn-u btn-u-primary">Add New Stock</button>
                @*}*@
            </div>
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover wrapper" id="InventorySummaryTable">
                    <thead>
                        <tr>
                            <th class="never"></th>
                            @*<th class="all"></th>*@
                            <th class="all">Material Code</th>
                            <th class="all">Material Description</th>
                            <th class="desktop">Available Balance</th>
                            <th class="desktop">Balance Reserved</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.InventoryListTable)
                    {
                        <tr id="clickHere">
                            <td class="hide never">@Html.DisplayFor(modelItem => item.PartNo)</td>
                            @*<td class="all"></td>*@
                            <td class="all">@Html.DisplayFor(modelItem => item.MaterialCode)</td>
                            <td class="all">@Html.DisplayFor(modelItem => item.MaterialDesc)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.AvailableBalance)</td>
                            <td class="desktop">@Html.DisplayFor(modelItem => item.BalanceReserved)</td>
                        </tr>
                    }
                </table>
            </div>
            <!--End Basic Table-->
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        var InventorySummaryTable;
        var URLInvInfo = "@Url.Action("InventoryInfo","Inventory")";
        var UrlCheckInvDetails = "@Url.Action("CheckInvInfo","Inventory")"
    </script>
    @Scripts.Render("~/bundles/JSPages");
}