﻿@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }
@model Initiatives.Models.MainModel

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("ContractList", "ContList")' +  '#Inventory-1'">
        <i class="fa fa-tags"></i> Back
    </button>

    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="container-fluid">
                <div class="row">

                    <h2><b>Inventory Stock In Information</b></h2>

                    <h4><b>Material No.</b> : @Model.InvInListTable[0].MaterialCode</h4>
                    <h4><b>Material Description</b> :  @Model.InvInListTable[0].MaterialDesc</h4>

                    <div class="clearfix margin-bottom-10"></div>
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover wrapper" id="InvInTable">
                            <thead>
                                <tr>
                                    <th class="hide"></th>
                                    <th class="all">Received Date</th>
                                    <th class="all">Quantity Received</th>
                                    <th class="all">UoM</th>
                                    <th class="desktop">UnitPrice</th>
                                    <th class="desktop">Item Type</th>
                                    <th class="desktop">Supplier</th>
                                    <th class="desktop">PurchasePONo</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                @foreach (var item in Model.InvInListTable)
                                {
                                    <tr>
                                        <td class="hide">@Html.DisplayFor(x => item.PartNo)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ReceivedDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.QuantityReceived)</td>
                                        <td>@Html.DisplayFor(modelItem => item.UOM)</td>
                                        <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ItemType)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Supplier)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PurchasePONo)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix margin-bottom-10"></div>
        <div class="shadow-wrapper">
            <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                <div class="container-fluid">
                    <div class="row">

                        <h2><b>Inventory Stock Out Information</b></h2>
                        <h4><b>Material No.</b> : @Model.InvInListTable[0].MaterialCode</h4>
                        <h4><b>Material Description</b> :  @Model.InvInListTable[0].MaterialDesc</h4>

                        <div class="clearfix margin-bottom-10"></div>
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover wrapper" id="InvOutTable">
                                <thead>
                                    <tr>
                                        <th class="hide"></th>
                                        <th class="all">Request Quantity</th>
                                        <th class="all">Project</th>
                                        <th class="all">Project PO No</th>
                                        <th class="desktop">Request By</th>
                                        <th class="desktop">Out Date</th>
                                        <th class="desktop">Delivery Order No</th>
                                        <th class="desktop">Status</th>
                                        <th class="desktop">Remark</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.InvOutListTable)
                                    {
                                        <tr>
                                            <td class="hide">@Html.DisplayFor(modelItem => item.PartNo)</td>
                                            <td>@Html.DisplayFor(modelItem => item.RequestQuantity)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Project)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ProjectPONo)</td>
                                            <td>@Html.DisplayFor(modelItem => item.RequestBy)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OutDate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DeliveryOrderNo)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Remark)</td>
                                        </tr>
                                    }
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var InvInTable; var InvOutTable;
    </script>
    @Scripts.Render("~/bundles/JSPages");
}