﻿@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }
@model Initiatives.Models.MainModel

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("ContractList", "ContList")'">
        <i class="fa fa-tags"></i> Back
    </button>
    <div class="panel panel-u margin-bottom-20">
        <div class="panel-heading margin-bottom-10">
            <h3 class="panel-title"><i class="fa fa-user"></i>Add New TNI</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("CreateTNI", "TNIList", FormMethod.Post, new { @id = "sky-form", @class = "sky-form" }))
            {
                <div class="shadow-wrapper">
                    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                        <div class="row">
                            <div class="container">
                                <h4><b>General Informations</b></h4>
                            </div>
                            <div class="clearfix margin-bottom-10"></div>
                            <div class="col-md-6">
                                <section>
                                    <label for="name" class="col-lg-3 control-label">Contract No.</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.OppoListDetail.CustId, (IEnumerable<SelectListItem>)ViewBag.Customerlist, new { @id = "Customer", @class = "form-control-static" })
                                    </label>
                                </section>
                                <section>
                                    @Html.LabelFor(m => m.OppoListDetail.OpportunityName, "Supplier Name", new { @class = "col-lg-3 control-label" })
                                    @Html.TextBoxFor(m => m.OppoListDetail.OpportunityName, new { @id = "SupplierName", @class = "form-control", @type = "text" })
                                    <label class="col-lg-3 control-label"></label>@Html.ValidationMessageFor(m => m.OppoListDetail.OpportunityName, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="TestingDate" class="col-lg-3 control-label">Testing Date</label>
                                    <label class="col-lg-offset-5 input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        @*<input name="ProposalDueDate" id="ProposalDueDate" class="datepicker" type="text" placeholder="@ViewData["ProposalDueDate"]" />*@
                                        @Html.TextBoxFor(m => m.OppoListDetail.StartDate, "{0:dd/MM/yyyy}", new { @id = "TestingDate", @class = "datepicker", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.OppoListDetail.StartDate, null, new { @class = "note-error color-red" })
                                    </label>
                                </section>
                                <section>
                                    <label for="ProductDescription" class="col-lg-3 control-label">Product Description</label>
                                    <label class="col-lg-offset-5 textarea textarea-resizable">
                                        @Html.TextAreaFor(m => m.OppoListDetail.Description, 3, 1, new { @id = "ProductDescription" })
                                    </label>
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.OppoListDetail.Description, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label for="DateOfAcceptance" class="col-lg-3 control-label">Date of Acceptance</label>
                                    <label class="col-lg-offset-5 input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        @Html.TextBoxFor(m => m.OppoListDetail.StartDate, "{0:dd/MM/yyyy}", new { @id = "DateOfAcceptance", @class = "datepicker", @type = "text" })
                                        <label class="col-lg-3 control-label"></label>
                                        @Html.ValidationMessageFor(m => m.OppoListDetail.StartDate, null, new { @class = "note-error color-red" })
                                    </label>
                                </section>
                            </div>
                            <div class="col-md-6">
                                <section>
                                    <label class="col-lg-3 control-label">File Description</label>
                                    <label class="col-lg-offset-5 textarea textarea-resizable">
                                        @Html.TextAreaFor(m => m.FileDescription, 3, 1, new { @id = "POD_FileDescription" })
                                    </label>
                                    <label class="col-lg-3 control-label"></label>
                                    @Html.ValidationMessageFor(m => m.FileDescription, null, new { @class = "note-error color-red" })
                                </section>
                                <section>
                                    <label class="col-lg-3 control-label">Acceptance Certificate Slip</label>
                                    <label class="col-lg-7 input input-file" for="file">
                                        <div class="button">@Html.TextBoxFor(m => m.file, null, new { @name = "file", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="TNI_Files" type="text" readonly>
                                    </label>
                                    @Html.ValidationMessageFor(m => m.file, null, new { @class = "note-error color-red" })
                                </section>
                            </div>
                            @if (Model.RoleId == "R02" || Model.RoleId == "R04" || Model.RoleId == "R09")
                            {
                                <div class="row btn-FloatRight">
                                    <button id="VerifyPODetails" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Save changes</button>
                                </div>
                            }
                            <div class="clearfix margin-bottom-20"></div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn-u btn-u-primary btn-FloatRight">Submit</button>
            }
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //debugger;
            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }

                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });

            $(".datepicker").datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-angle-left"></i>',
                nextText: '<i class="fa fa-angle-right"></i>'
            });
        });
    </script>
}