﻿@model Initiatives.Models.MainModel

<div class="clearfix margin-bottom-10"></div>
@using (Html.BeginForm("Invitation", "TNIList", FormMethod.Post, new { @id = "Invitation", @class = "sky-form", @enctype = "multipart/form-data" }))
{
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="container">
                    <h4><b>Invitation Details</b></h4>
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="col-md-6">
                    @Html.HiddenFor(m => m.CreateByUserId)
                    @Html.HiddenFor(m => m.OppContId)
                    @Html.HiddenFor(m => m.POId)
                    @Html.HiddenFor(m => m.RoleId)
                    <section>
                        @Html.LabelFor(m => m.TNIDetailObject.TnINo, "T&I  Number", new { @class = "col-lg-3 control-label" })
                        @Html.TextBoxFor(m => m.TNIDetailObject.TnINo, new { @id = "TnINo", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.TNIDetailObject.TnINo, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="TNI_TestDate" class="col-lg-3 control-label">T&amp;I Date</label>
                        <label class="col-lg-offset-5 input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.TNIDetailObject.TestDate, "{0:dd/MM/yyyy}", new { @id = "TNI_TestDate", @class = "datepicker", @type = "text" })
                        </label>
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.TNIDetailObject.TestDate, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="TNI_Time" class="col-lg-3 control-label">T&amp;I Time</label>
                        @Html.TextBoxFor(m => m.TNIDetailObject.StartTime, new { @id = "TNI_StartTime", @class = "form-control", @type = "text" }) - 
                        @Html.TextBoxFor(m => m.TNIDetailObject.EndTime, new { @id = "TNI_EndTime", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.TNIDetailObject.StartTime, null, new { @class = "note-error color-red" })
                        @Html.ValidationMessageFor(m => m.TNIDetailObject.EndTime, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="TNI_Venue" class="col-lg-3 control-label">T&amp;I Venue</label>
                        @Html.TextBoxFor(m => m.TNIDetailObject.Venue, new { @id = "TNI_Venue", @class = "form-control", @type = "text" })
                        <label class="col-lg-3 control-label"></label>
                        @Html.ValidationMessageFor(m => m.TNIDetailObject.Venue, null, new { @class = "note-error color-red" })
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <label class="col-lg-3 control-label">Internal Check List</label>
                        <label class="col-lg-7 input input-file" for="IntCheckList">
                            <div class="button">@Html.TextBoxFor(m => m.IntCheckList, null, new { @name = "IntCheckList", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="IntCheckList_Files" type="text" readonly>
                        </label>
                        @Html.ValidationMessageFor(m => m.IntCheckList, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label class="col-lg-3 control-label">Invitation Letter</label>
                        <label class="col-lg-7 input input-file" for="InviLetter">
                            <div class="button">@Html.TextBoxFor(m => m.InviLetter, null, new { @name = "InviLetter", @type = "file", @onchange = "this.parentNode.nextSibling.value = this.value" }) Browse</div><input class="width-83" id="InviLetter_Files" type="text" readonly>
                        </label>
                        @Html.ValidationMessageFor(m => m.InviLetter, null, new { @class = "note-error color-red" })
                    </section>
                    <section>
                        <label for="userName" class="col-lg-3 control-label">Assign To</label>
                        <label class="select">
                            @Html.DropDownListFor(m => m.OppoListDetail.AccManagerId, (IEnumerable<SelectListItem>)ViewBag.Managerlist, new { @id = "AssignTo", @class = "form-control-static" })
                        </label>
                    </section>
                </div>
            </div>
        </div>
        <div class="clearfix margin-bottom-10"></div>
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row container-fluid">
                <div class="container">
                    <h4><b>PO Items</b></h4>
                    @if (Model.POItemListObject.Count == 0)
                    {
                        <div class="btn-FloatRight">
                            <button id="AddPOItem" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Add PO Item</button>
                        </div>
                    }
                </div>
                <div class="clearfix margin-bottom-10"></div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover wrapper" id="POItems4TnITable">
                        <thead>
                            <tr>
                                <th class="all">PO No.</th>
                                <th class="all">Material No.</th>
                                <th class="all">Description</th>
                                <th class="desktop">Quantity</th>
                                @if (Model.POItemListObject.Count == 0)
                                {
                                    <th class="desktop"></th>
                                }
                            </tr>
                        </thead>
                        @if (Model.POItemListObject.Count != 0)
                        {
                            foreach (var item in Model.POItemListObject)
                            {
                                <tr>
                                    <td>
                                        <label class="select">
                                            @Html.DropDownListFor(m => item.POId, (IEnumerable<SelectListItem>)ViewBag.PONoList, new { @id = "PONolist", @class = "form-control-static" })
                                        </label>
                                    </td>
                                    <td>
                                        <label class="select">
                                            @Html.DropDownListFor(m => item.ItemsId, (IEnumerable<SelectListItem>)ViewBag.MaterialNoList, new { @id = "MaterialNoList", @class = "form-control-static" })
                                        </label>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.POItemsObject.POId, (IEnumerable<SelectListItem>)ViewBag.PONoList, new { @id = "PONolist", @class = "form-control-static" })
                                    </label>
                                </td>
                                <td>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.POItemsObject.MaterialNo, (IEnumerable<SelectListItem>)ViewBag.MaterialNoList, new { @id = "MaterialNoList", @class = "form-control-static" })
                                    </label>
                                </td>
                                <td>
                                    @Html.DisplayFor(m => m.POItemsObject.Description)
                                </td>
                                <td>
                                    <input class="form-control form-control-doc desktop" type="text" name="Quantity" />
                                </td>
                                <td></td>
                                <td></td>
                                @*<td><button id="AddPOItem" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Add</button></td>*@
                                <td><button id="RemovePOItem" type="submit" class="btn-u btn-u-primary">Delete</button></td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix margin-bottom-10"></div>
        @if (Model.RoleId == "R02" || Model.RoleId == "R04" || Model.RoleId == "R09")
        {
            <div class="row btn-FloatRight">
                <button id="SubmitInvitation" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Submit</button>
            </div>
        }
        @if (Model.RoleId == "R02" || Model.RoleId == "R04" || Model.RoleId == "R09")
        {
            <div class="row btn-FloatRight">
                <button id="AcceptInvitation" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Accept</button>
                <button id="RejectInvitation" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Reject</button>
            </div>
        }
    </div>
    <div class="modal fade bs-example-modal-sm" id="PODetailsLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <img class="img-responsive" src="~/Images/ajax_loader.gif" alt="Loading ..." />
        </div>
    </div>
    <div class="modal fade" id="AcceptInviModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        Please enter the following
                        <section>
                            <label for="userName" class="col-lg-3 control-label">Assign To</label>
                            <label class="select">
                                @Html.DropDownListFor(m => m.OppoListDetail.AccManagerId, (IEnumerable<SelectListItem>)ViewBag.Managerlist, new { @id = "AssignTo", @class = "form-control-static" })
                            </label>
                        </section>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                    <button id="SubmitAcceptInvi" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="RejectInviModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        Please enter the following
                        <section>
                            <label for="userName" class="col-lg-3 control-label">Assign To</label>
                            <label class="select">
                                @Html.DropDownListFor(m => m.OppoListDetail.AccManagerId, (IEnumerable<SelectListItem>)ViewBag.Managerlist, new { @id = "AssignTo", @class = "form-control-static" })
                            </label>
                        </section>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                    <button id="SubmitAcceptInvi" type="submit" class="btn-SaveChanges btn-u btn-u-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
}