﻿@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }
@model Initiatives.Models.MainModel

<div class="container-fluid">
    <div class="clearfix margin-bottom-30"></div>
    <button class="btn-u btn-success margin-bottom-25" type="button" onclick="location.href = '@Url.Action("ViewContract", "ContList")'">
        <i class="fa fa-tags"></i> Back
    </button>
    <!-- Tab v2 -->
    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <li class="active navbar-height"><a href="#Invitation-1" data-toggle="tab"><h4>Invitation</h4></a></li>
            <li class="navbar-height"><a href="#Result-1" data-toggle="tab"><h4>Result</h4></a></li>
            <li class="navbar-height"><a href="#Comply-1" data-toggle="tab"><h4>Comply</h4></a></li>
            <li class="navbar-height"><a href="#Improvement-1" data-toggle="tab"><h4>Improvement</h4></a></li>
            <li class="navbar-height"><a href="#NonComply-1" data-toggle="tab"><h4>Non Comply</h4></a></li>
        </ul>
        <div class="tab-content">
            @*<div class="tab-pane fade in active" id="info-1">
                </div>*@
            <div class="tab-pane fade in active" id="Invitation-1">
                @{ Html.RenderAction("Invitation", "TNIList", new { PoId = Model.POId }); }
            </div>
            <div class="tab-pane fade in" id="Result-1">
                @{ Html.RenderAction("Result", "TNIList"); }
            </div>
            <div class="tab-pane fade in" id="Comply-1">
                @{ Html.RenderAction("Comply", "TNIList"); }
            </div>
            <div class="tab-pane fade in" id="Improvement-1">
                @{ Html.RenderAction("Improvement", "TNIList"); }
            </div>
            <div class="tab-pane fade in" id="NonComply-1">
                @{ Html.RenderAction("NonComply", "TNIList"); }
            </div>
        </div>
    </div>
    <!-- End Tab v2 -->
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}