/* Add here all your css styles (customizations) */

/*.modal-dialog {
    width: 1024px;
}*/
body {
    font-size: 10px !important;
    overflow-y: scroll !important;
}

.header .navbar-nav > li > a {
    font-size: 12px !important;
}

.welcome-user {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}
.custom-wrap {
    min-height: 420px;
}

.btn-u {
    font-size: 11px !important;
}

.cursor {
    cursor: pointer;
}

.sky-form .progress {
    float:none !important;
}

.header-fixed .header.header-fixed-shrink {
    height: 50px;
}

.tag-box {
    border:solid 1px #eee;
    padding-bottom: 40px !important;
}

.tag-box-1 {
    padding-bottom: 0px!important;
}

.modal {
    z-index: 9999;
}

.header-fixed .header.header-fixed-shrink {
    z-index: 9998;
}

@media (min-width: 1450px) {
  .container {
    width: 1400px !important;
  }
}

@media (min-width: 1740px) {
  .container {
    width: 1693px;
  }
}

@media (min-width: 768px) {
    .header-v7 .navbar-default {
        width: 200px;
    }

    .content-side-right {
        margin-left: 200px;
    }

    .form-control.custom-filter {
        width: 100% !important;
        font-size: 10px !important;
    }
}

.sky-form .button {
    opacity: 1;
    font-weight: 400;
}

.form-control-doc .form-control-poe {
    width: 100%;
}

@media (min-width: 1200px) {
    .col-lg-1 {
        width: 12%;
    }

    .form-control {
        width: 63% !important;
        font-size: 10px !important;
    }

    .form-control-poe  {
        width: 55% !important;
        font-size: 10px !important;
    }

    .form-control-doc {
        width: 88%  !important;
        font-size: 10px !important;
    }

    .col-lg-3 {
        width: 37% !important;
    }

    .col-lg-offset-5 {
        margin-left: 37% !important;
    }

    .col-lg-offset-13 {
        margin-left: 37% !important;
        margin-right: 37%;
    }

    .col-lg-7 {
        width: 63%;
        right: 15px;
        margin-bottom:5px;
      }

    .width-83 {
        width: 83% !important;
    }
}

label {
    font-weight: normal !important;
}

.min-width {
    min-width: 100px;
}

.btn-FloatRight {
    float: right;
    padding-right: 30px;
}

.padding-right {
    padding-right: 40px;
}

.btn-FloatLeft {
    float: left;
}

#btn-SaveChanges {
    margin-right: 15px;
}

.PermissionBorder {
    border-bottom-style: solid;
    border-bottom-color: #ddd;
    border-bottom-width: 1px;
}

.sky-form {
    border: none;
    font-size: 10px;
}

    .sky-form .input input, .sky-form .select select, .sky-form .textarea textarea {
        font-size: 10px;
    }

    .sky-form .radio, .sky-form .checkbox {
        font-size: 10px;
    }

.form-control-static {
    width: 63% !important;
}

.form-control-popup {
    width: 40% !important;
}

.panel-height {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.activityReport-height {
    max-height: 1600px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 10px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

h4, .h4 {
    font-size: 12px !important;
    line-height: 10px;
}

.checkbox-padding {
    padding-right: 18px !important;
    padding-left: 18px !important;
}

@media (min-width: 768px) {
    .cb-alignment {
        top: 2px !important;
        margin-left: 22px;
    }
    .modal-dialog {
        width: 900px;
        margin: 30px auto;
    }
}

@media (max-width: 767px) {
    .cb-alignment {
        top: 2px !important;
        margin-left: 14px;
    }

    .form-control {
        width: 100% !important;
        font-size: 10px !important;
    }

    .form-control-static {
        width: 100% !important;
    }
}

/*.tab-v2 .nav-tabs li.active a {
    padding-top: 9px !important;
    padding-left: 16px !important;
    padding-bottom: 9px !important;
    padding-right: 16px !important;
}

table.table-bordered thead th, table.table-bordered thead td {
    border-left-width: 0 !important;
    border-top-width: 0 !important;
}

table.table-bordered tbody td {
    border-left-width: 0 !important;
    border-bottom-width: 0 !important;
}*/

/*.elfinder .elfinder-button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.elfinder-button-search input {
box-sizing: content-box;
}

.elfinder-cwd input { color: black;}

.elfinder-navbar, .elfinder-quicklook-navbar {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}

@media (max-width: 480px) {
    .elfinder .elfinder-navbar {
        width: 150px;
    }
}*/
